[2018-03-24 00:08] Necromant1k opened #2 "unable to wrap own views"
Stuck with one problem.
So basically we want to wrap our components with `<OTSession>` like we do with `<View>`.
But, when we will do that - our components just disappear.

[2018-03-24 00:27] msach22 commented on #2
@Necromant1k can you show me a sample of the style you're applying so I can check this out on my end. Will test out your PR as well :)

[2018-03-24 06:50] Necromant1k commented on #2
@msach22 probably i want just pass `flex: 1` to OTSession view.

`<OTSession>
   <View>
      <Text>Hello</Text>
   </View>
</OTSession>
`

So in this case ^ you unable to see `Hello` text. But when u will pass `flex` to your `OTSession` View u will be able.

And also nice to have style property on container. My case very common, but sometimes we want to pass some styles to this container view

[2018-03-27 16:59] Necromant1k opened #7 "postinstall doesn't work"
[code]

[2018-03-27 17:05] Necromant1k opened #8 "As a user i can't connect from phone to already existing stream"
As a user when i'm connectin to already existing stream i don't see any subscribers there even though if they are there

[2018-03-27 17:49] msach22 commented on #7
@Necromant1k ahh I see, this post install script should only run when the package is being downloaded as a dependency in a project so the PR that you've added will not resolve this. It will break when developers try to add it to their react native project.

[2018-03-27 18:04] msach22 commented on #7
@Necromant1k the temporary solution would be to comment out `postInstall` locally so you can have the proper development environment until we have a solution.

[2018-03-28 18:19] dancherb commented on #7
@msach22 @Necromant1k how can we get around npm install not working for this package - download as a ZIP from GitHub and manually transfer?

[2018-03-28 18:22] msach22 commented on #7
@dancherb you should be able to download this as an npm package in you react native project without any issues. For contribution purposes, when you clone this repo, comment out the `postInstall` script in the `package.json` file of this package and run `npm install` again.

[2018-03-29 14:17] dancherb commented on #7
@msach22 the package breaks for me on npm install, just when trying to use it for a react native project. there's a similar postinstall error - will edit with more details when I get home

[2018-03-29 16:10] dancherb commented on #7
here's what I get on npm install (with or without --save flag). RN v0.51 and node v8.9.4:

[code]

[2018-03-29 23:34] msach22 commented on #2
fixed with: https://github.com/opentok/opentok-react-native/pull/10

[2018-03-29 23:34] #2 closed

[2018-03-29 23:40] msach22 commented on #7
@dancherb thanks for this. Are you using a react native project created with `react-native init` or `create-react-native-app`? Please keep in mind that you need to create the app using `react-native init` because we need to use custom native modules.

[2018-03-30 08:48] dancherb commented on #7
@msach22 thanks for the reply - I'm using `react-native init`. I just ran `react-native init opentoktest` immediately followed by `npm install --save opentok-react-native` and had the same error (could you confirm this works on your end?):

[code]

[2018-03-30 17:28] msach22 commented on #7
@dancherb thanks for providing me with the logs. I can't seem to reproduce this on my end, but I'm also on a Mac instead of a Windows machine. As far as I know, you cannot do ios development on the windows machine so I'm curious to see if you have an ios folder inside your react native project.

Please let me know!

[2018-03-30 18:56] dancherb commented on #7
@msach22 my usual workflow is to do the core dev on Windows, and then switch to a Mac to do iOS-specific tweaking.

I just tried npm install-ing on the mac and it went through all good. I've never come across a package that is mac-exclusive, though - is the package itself able to run only on iOS devices and not Android, or is there something in the postinstall script that breaks depending on the O

[2018-03-30 19:41] msach22 commented on #7
@dancherb Glad to hear that it's working. The intention was not to make it mac-exclusive so I'll definitely patch this up to work on both windows and mac. The post install script essentially adds the iOS native modules to the ios folder of your project so you can then add them to your project. What I can do is not run the post install script at all and then have the developer get the contents from

[2018-04-06 19:06] dtaborda opened #11 "`disconnectSession` method of the OTSession class, return `Unknown error`"
I can see that the `error` variable on the `handleError` is not defined in the following code:

[code]

I thinks the correct solution is:

[code]

[2018-04-07 00:11] th317erd commented on #7
Just trying to be helpful here: `../../../package.json` is a bad way to try and get the (main?) modules `package.json` (and isn't using Microsoft friendly path separators). Why is it trying to access `package.json` anyhow? Is it to get the library version? You might just consider passing needed information via arguments to the `postInstall` script. If you are trying to access the module's own `pac

[2018-04-09 15:26] msach22 commented on #7
@th317erd Agreed, I'm working on improving the installation process for both iOS and Android. With the next patch release, I will be removing the `postInstall` script and updating the documentation so the developers can refer to the iOS bindings manually in the node modules. Ideally, we would want to use `react-native link` to link the iOS project.

[2018-04-09 18:36] th317erd commented on #7
Sounds good @msach22. Let me know if you need help with this or have any questions as I am quite familiar with all of this.

[2018-04-09 22:43] msach22 commented on #11
@dtaborda Thanks for the PR, this will be going out in the `0.3.5` release

[2018-04-09 22:43] #11 closed

[2018-04-09 22:55] msach22 commented on #7
@th317erd @Necromant1k I've removed the `postInstall` script and will work to use `react-native link` to our advantage. Please feel free to send up a PR if it's something that you'd like to do :)

I am closing this issue b/c I've removed the post Install script completely.

[2018-04-09 22:56] #7 closed

[2018-04-10 15:41] msach22 opened #14 "Signaling Issue - Android"
When you receive a `signal` without a `type`, the app crashes because the app attempts to log a string, but fails because it's `null`

[2018-04-10 15:47] msach22 commented on #14
Fix: #15

[2018-04-10 17:08] msach22 commented on #14
fixed with: 0.3.6

[2018-04-10 17:08] #14 closed

[2018-04-11 18:50] sunweiyang opened #16 "Request for unified 'react-native link` package setup for both iOS and Android"
This `opentok-react-native` package has rather manual setup steps for iOS, and only uses `react-native link` for Android.

The common practice now is to use `react-native link` for efficient package setup, with optional manual steps to replace `react-native link` when problems arise.

[2018-04-11 18:59] msach22 commented on #16
@sunweiyang Agreed! It's on our ToDo list to get it working for iOS as well!

[2018-04-12 13:46] steverob opened #17 "Include of non-modular header inside framework OpenTok"
I'm trying to compile a ReactNative project with the OpenTok pod on iPhone 6 and the build is failing with these issues:

![skitch 1](https://user-images.githubusercontent.com/1220480/38681093-8d947dd0-3e85-11e8-92d1-ce3524a18458.png)

Version -   `OpenTok (2.13.0)`
xCode  - `9.4`
ReactNative - `0.52`

Tried the solutions here - https://forums.developer.apple.com/thread/23554 but to no avail. :(

[2018-04-12 17:30] msach22 commented on #17
@SteveMcFarlin just to verify, have you followed the iOS instructions and added the OpenTok SDK via Cocoapods and manually add the OpenTok React Native iOS files into the project?

[2018-04-12 17:32] steverob commented on #17
Yes all those steps have been completed :(

--
Regards
Steve Robinson

[2018-04-12 17:44] msach22 commented on #17
Thanks @steverob. I have a couple more questions if you don't mind:

- Can you verify that you created a Bridging-Header for your app?
- In your Build Settings, what is the Swift Compiler Language set to?
- Are you using the `.xcodeworkspace` file? This is required because you are using CocoaPods for the iOS SDK.

[2018-04-12 18:03] steverob commented on #17
Hey @msach22 THanks!!

1. Yes, Bridging Header has been created
2. Swift Version 3

From project file
[code]

3. Yes I'm opening the `.xcodeworkspace`

Thanks

[2018-04-12 18:24] msach22 commented on #17
@steverob Thanks for this! Can you set the `SWIFT_VERSION` to 4.0? Also, could you share the Bridging Header contents?

[2018-04-12 18:43] steverob commented on #17
@msach22  will try to update the `SWIFT_VERSION`.

Bridging Header:

[code]

[2018-04-12 19:40] jonathanwmaddison opened #18 "Console Error (OTSessionErrorDomain error 1113) when Unmounting OT Components"
Thanks for this awesome new library! Very clean and so far I have it working on iOS.

I noticed on iOS that I receive an error anytime I unmount the Video component which contains the OTSession, Publisher and Subscriber components.

I don't have any significant event handlers or anything that I think would be causing an issue.
This is the specific error message that's logged in my React Native Deb

[2018-04-12 19:44] jonathanwmaddison commented on #18
From the OT docs this is what domain error 1113 refers to:

https://tokbox.com/developer/sdks/ios/reference/Constants/OTSessionErrorCode.html

[2018-04-12 20:43] msach22 commented on #18
@jonathanwmaddison Thanks for reporting this! Looking at the error, it looks like the session gets disconnected first and then the publisher trying to unpublish, but since there is no session, the unpublish fails. You should unmount the `OTPublisher` before unmounting the `OTSession` component.

Regardless, we can implement a check in the native code to see if the session is still connected or not

[2018-04-12 20:43] msach22 opened #19 "Calling `setState` in componentWillUnmount lifecycle in OTSession component"
This is a no-no.

[2018-04-12 22:42] msach22 commented on #19
fixed with #20

[2018-04-12 22:42] #19 closed

[2018-04-12 22:44] msach22 commented on #18
@jonathanwmaddison #22 should take care of this for you!

[2018-04-12 22:45] msach22 commented on #17
@steverob can you please add the following to your `Bridging-Header` file?

`#import <OpenTok/OpenTok.h>`

This should expose the OpenTok iOS SDK to Swift. Please let me know if this fixes it.

[2018-04-12 23:51] msach22 commented on #18
Just released `v0.4.0` which includes the feature that checks for session connection on both iOS and Android and patch for the `setState` that **was** called in `componentWillUnMount` of `OTSession`

[2018-04-12 23:51] #18 closed

[2018-04-13 01:36] msach22 opened #23 "Screen Sharing for both iOS and Android"

[2018-04-13 01:37] msach22 commented on #23
Currently in Progress

[2018-04-13 16:03] jonathanwmaddison commented on #18
@msach22 thank you! 🏅 💯

[2018-04-16 18:12] msach22 opened #24 "ForceDisconnect Teardown Issue"
When a React Native endpoint is forceDisconnected, the library does not tear down the pub/sub views properly

[2018-04-16 18:19] msach22 opened #25 "OTPublisher Component"
https://github.com/opentok/opentok-react-native/blob/master/src/OTPublisher.js#L65
Should be `handleError(publishError);` instead of `handleError(error);`

[2018-04-16 18:50] msach22 commented on #24
Work In Progress

[2018-04-16 18:51] msach22 commented on #25
Will be fixed in 0.4.1

[2018-04-16 20:59] msach22 opened #27 "OT.destroyPublisher method"
The destroyPublisher method doesn't complete the callback if the publisher is undefined. There is also a race condition where the publisher is not removed if the session has been destroyed.

[2018-04-16 22:07] msach22 commented on #24
I've been contemplating this more and leaning towards the developer unmounting the component when `streamDestroyed` event fires for the publisher instead of tearing down the publisher view automatically because the `componentWillIUnmount` lifecycle of `OTPublisher` destroys the publisher view.

[2018-04-16 22:07] #24 closed

[2018-04-16 22:08] msach22 commented on #27
the fix will be going out in 0.4.1

[2018-04-17 20:32] jonathanwmaddison commented on #17
@msach22 I had a similar issue that only occurred after not working on my project for a few days (which had been working flawlessly). When I loaded it today, xcode complained about this. Adding `#import <OpenTok/OpenTok.h>` to Bridging-Header solved this for me.

[2018-04-17 20:55] steverob commented on #17
Cool. This should be documented

--
Regards
Steve Robinson

[2018-04-17 20:57] msach22 commented on #17
@jonathanwmaddison @steverob Yes, I figured that would've been it. I'll put up a PR updating the library and add it to the 0.4.1 release. Thanks for pointing this out!

I'll keep this issue open until the release goes out so people have it for reference.

[2018-04-18 19:49] msach22 opened #32 "Camera Position change while publishing"
As of now, you can only set the camera position when initializing the publisher. However, since the OpenTok iOS and Android SDKs allow cameras to be toggled, the `OTPublisher` component should watch for `cameraPosition` property changes similar to `publishAudio` and `publishVideo`.

[2018-04-18 22:18] msach22 opened #33 "[README] - Camera Resolution"
The OpenTok React Native Wrapper supports the following resolutions:

- "352x288"
- "640x480"
- "1280x720"

But, the readme has a typo which states: - "320x240"

[2018-04-19 03:14] ythecombinator opened #36 "Runtime error on iOS"
Hello 😃

I've followed all the steps described [here](https://github.com/opentok/opentok-react-native#ios-installation) and watched the [specific videocast for react native](https://tokbox.com/developer/building-with-opentok/#episode-2). Turns out that I tested the base components here and they led me to a runtime error on iOS:

<img width="1392" alt="captura de tela 2018-04-18 as 23 16 39" src="h

[2018-04-19 03:27] msach22 commented on #33
Released in 0.4.1

[2018-04-19 03:27] #33 closed

[2018-04-19 03:27] msach22 commented on #27
Released in 0.4.1

[2018-04-19 03:27] #27 closed

[2018-04-19 03:27] msach22 commented on #25
Released in 0.4.1

[2018-04-19 03:27] #25 closed

[2018-04-19 03:27] msach22 commented on #17
Released in 0.4.1

[2018-04-19 03:27] #17 closed

[2018-04-19 04:10] ythecombinator commented on #36
Damn! Should've payed more attention to the Xcode log; sorry man.

Anyway, don't you think that it'd be nice to have this added to the iOS installation guide? I myself had never made a native iOS app that required media like camera/microphone so it'd take a little time for me to figure this out.

Btw, thanks for the great and fast feedback 😄

[2018-04-19 04:15] msach22 commented on #36
@ythecombinator Happy to help! I agree with you, I'll file an issue to add it to the README.

I won't get to the PR until tomorrow morning so feel free to send up a PR if you'd like :)

[2018-04-19 04:15] msach22 opened #37 "[README] Add Camera & Microphone permissions info under iOS and Android installation"

[2018-04-19 04:16] #36 closed

[2018-04-19 04:17] msach22 commented on #36
Here's the link to the README issue btw: https://github.com/opentok/opentok-react-native/issues/37

[2018-04-19 04:35] ythecombinator commented on #37
Hey, I was puzzling here and I think that someone will have an issue similar to #36 on Android as well if they don't ask for permissions.

I am no Android developer but searching around I think about adding this to **iOS** section:

___

To enable camera usage and microphone usage you will need to add the following entries to your `Info.plist` file:

[code]

___

And this to **Android**'s one:

__

[2018-04-19 04:37] msach22 commented on #37
@ythecombinator The iOS part looks great! As for Android, we are requesting the permissions using React Native here https://github.com/opentok/opentok-react-native/blob/master/src/OT.js#L7

[2018-04-19 04:46] msach22 commented on #37
As far as I know, the camera and microphone permissions for Android API Level 23 (Android 6.0) are classified as dangerous permissions so they need to be asked during runtime, which is what we are doing.

As for the older Android devices, the items you suggested for `AndroidManifest.xml` work, except I believe that we need to set `android:required` to `true` for the following:
[code]

Let me know

[2018-04-19 04:49] ythecombinator commented on #37
Oh, great! I admit I hadn't read your source to check this 😆

Btw, just opened the PR #38. Tried to follow the guidelines but if you find something to improve, I'll be happy to do so.

[2018-04-19 04:50] ythecombinator commented on #37
Oh, just got your last comment. I'll update the Android section then.

[2018-04-19 04:52] ythecombinator commented on #37
@msach22 as I mentioned, I'm not quite sure about the Android part since I found it googling around, tbh. If you think that's okay, I'll update the Android section then.

[2018-04-19 05:29] ythecombinator commented on #37
Updated #38. Feel free to review :)

[2018-04-19 17:46] msach22 commented on #37
@ythecombinator the PR is great! The update will be going out with 0.4.2

[2018-04-19 22:26] #37 closed

[2018-04-19 22:50] msach22 commented on #32
released in 0.5.0

[2018-04-19 22:50] #32 closed

[2018-04-20 21:39] TerrenceTang opened #42 "Set the subscribeToVideo of OTSubscriber is false, but still to subscribe stream"
I set OTSubscriber which value of subscribeToVideo is false, but it still to play video.

[2018-04-20 21:40] msach22 commented on #42
Thanks for reporting this, @TerrenceTang ! As of now, the library does not support `subscribeToVideo` or `subscribeToAudio`, but we can totally add that in the next release!

[2018-04-20 21:43] msach22 commented on #42
I just saw that the READMe has the `subscribeToVideo` and `subscribeToAudio` which is an issue. I will add this feature ASAP!

[2018-04-21 00:00] msach22 commented on #42
@TerrenceTang could you please let me know which platform you're using? iOS or Android? Could you also share what your `OTSubscriber` component looks like?

[2018-04-21 02:09] TerrenceTang commented on #42
Thank you for your response.  I am using in  Android platform.
The example code is in below.
[code]

[2018-04-21 02:28] msach22 commented on #42
@TerrenceTang Thanks for sharing me your code. It looks like there is a bug on the Android end: https://github.com/opentok/opentok-react-native/blob/master/android/src/main/java/com/opentokreactnative/OTSessionManager.java#L144

This should be
[code]

If you're up for it, please send a PR, if not I'm happy to patch this on Monday!

[2018-04-21 19:46] msach22 commented on #42
@TerrenceTang Are you changing this in the `node_modules` or in your Android studio project? If you change it in the `node_modules`, you have to re-link the library by running: `react-native link opentok-react-native`.

I tested this out and it's now working as expected.

[2018-04-23 20:41] ythecombinator opened #44 "Unhandled JS Exception: error is not defined"
I've been struggling with this error:

<img width="500" alt="captura de tela 2018-04-23 as 17 21 07" src="https://user-images.githubusercontent.com/2644563/39151146-c0f0c8da-471a-11e8-9579-82dc400cda5d.png">

Which results in this being print on the simulator:

<img width="200" alt="captura de tela 2018-04-23 as 15 35 07" src="https://user-images.githubusercontent.com/2644563/39150544-0e10a830-471

[2018-04-23 20:46] msach22 commented on #44
@ythecombinator Could you please let me know which version of the library you're using? There was an issue with the `OTPublisher` component where the `error` parameter was being used, but it should've been `pulbishError`. If you use v0.4.1, the error should be handled correctly.

[2018-04-23 21:05] ythecombinator commented on #44
Just checked my `package.json` file and it is `v0.4.0`–had installed about one week ago. Updated to `v0.5.0` and the error seems to be gone. I'll keep testing here and, if necessary, I reopen this.

Btw, sorry for opening another one; it's just that searching the issues I couldn't find any related–now I found #25–perhaps a more expressive title would help.

Thanks for the great support and quick f

[2018-04-23 21:05] #44 closed

[2018-04-23 21:07] msach22 commented on #44
@ythecombinator Happy to help! I'm glad to hear that it's working as expected and I'll definitely work on better issue titles :)

[2018-04-23 23:02] #42 closed

[2018-04-23 23:06] msach22 commented on #42
Please use `v0.5.1` for the fix!

[2018-04-24 01:11] renanpupin opened #46 "Network test"
Is it possible to expose the functionality of connection testing between clients from native SDKs?

[2018-04-24 20:49] msach22 commented on #46
@renanpupin Could you please elaborate more on what you mean by connection testing? This library allows you to listen to all events such as the `audioNetworkStats` and the `videoNetworkStats`.

[2018-04-24 21:11] renanpupin commented on #46
Exactly what I need. Thanks.

[2018-04-24 21:18] msach22 commented on #46
Happy to help @renanpupin!
I will create another issue where I will list out all of the events that you can listen to :)

[2018-04-24 21:18] #46 closed

[2018-04-24 21:18] msach22 opened #47 "Create a list of all events this library supports"
Create documentation on all of the events this library supports

[2018-04-24 21:35] renanpupin commented on #46
Maybe we can specify this at documentation.
Thanks again.

[2018-04-24 21:47] msach22 commented on #46
@renanpupin Yup, exactly! I will add them as docs

[2018-04-24 23:01] ythecombinator opened #48 "Unspecific OTSessionErrorDomain error code range"
### A bit of context

In my app we have the concept of roles which is applied for constraining sessions between certain roles. For example:

- **Admins** have a list of all users and admins which they can use to enter a `1:1` room with a specific *regular use* or another *admin*.
- **Regular Users** have just an option where they can opt in use to enter a `1:1` room with an **admin**.

### The pro

[2018-04-25 04:56] rogerarce opened #49 "OT undefined error"
Having trouble today (cause yesterday this was working).
I'm not sure what's causing the error but this issue exists both on android emulator and android device.

![image](https://user-images.githubusercontent.com/37185501/39226883-d515e1a6-4887-11e8-865f-14a5dc716814.png)

and my package.json file

![image](https://user-images.githubusercontent.com/37185501/39227347-bba26dc2-488a-11e8-815a-1e1c90

[2018-04-25 05:16] msach22 commented on #49
@rogerarce Could you please confirm that you followed the Android instructions? You need to use `react-native link opentok-react-native` so you can link the Android Native Modules.

Could you please also share your code implementation?

[2018-04-25 05:24] msach22 commented on #49
@rogerarce Thanks for sharing, the code looks great. Could you please share your project and app `build.gradle` files.

[2018-04-25 05:33] rogerarce commented on #49
![image](https://user-images.githubusercontent.com/37185501/39227757-0b47124a-488d-11e8-8253-2850dd1288f9.png)

my project is at bitbucket sorry, this is quite strange cause yesterday this was working fine

[2018-04-25 05:34] msach22 commented on #49
No problem @rogerarce. The project's build.gradle looks great, but can you also share the app module's `build.gradle`?

[2018-04-25 05:35] rogerarce commented on #49
@msach22 I'm sorry where can I locate that?

[2018-04-25 05:55] msach22 commented on #49
You should be able to see it in Android Studio under `Gradle Scripts`

The highlighted one: https://cl.ly/2p0z3v1G3T2D

[2018-04-25 05:58] rogerarce commented on #49
I'm not using Android Studio actually.

[2018-04-25 14:25] renanpupin commented on #47
@msach22 could you check if videoNetworkStats event is working properly?
![captura de tela 2018-04-25 as 11 24 49](https://user-images.githubusercontent.com/8743530/39252136-5c100086-487b-11e8-9a82-964ea4c5043e.png)

[2018-04-25 14:27] renanpupin commented on #47
I have check on iOS and android, on android the videoNetworkStats works perfect, but on iOS it is not working.

[2018-04-25 21:57] msach22 opened #50 "videoNetworkStats on iOS is not showing the video network stats"
![Issue](https://user-images.githubusercontent.com/8743530/39252136-5c100086-487b-11e8-9a82-964ea4c5043e.png)

Thanks @renanpupin for reporting

[2018-04-25 21:58] msach22 commented on #47
@renanpupin Since this issue is not about the docs, I've created a separate issue: https://github.com/opentok/opentok-react-native/issues/50

[2018-04-25 22:56] msach22 commented on #49
@rogerarce Is your app built with `create-react-native-app` or `react-native init` ?
Please keep in mind that this library will not work with apps built with `create-react-native-app`.
If it's built with `react-native init`, could you please re-run `react-native link opentok-react-native` to verify that the native modules have been linked.

[2018-04-25 23:59] msach22 commented on #50
@renanpupin The fix should be going out in the 0.5.2 release

[2018-04-26 00:12] msach22 commented on #50
This has been fixed and released. Please use  `v0.5.2`.

[2018-04-26 00:12] #50 closed

[2018-04-26 01:25] rogerarce commented on #49
@msach22  Yeah I've created my react native with `react-native init`. Okay sure I'll paste the result here. Thanks man for quick response, really appreciate it.

[2018-04-26 01:27] rogerarce commented on #49
I've actually link this before but still here's the result

![image](https://user-images.githubusercontent.com/37185501/39280809-fb00bcae-4933-11e8-81b3-4e4c4aca5ee3.png)

[2018-04-26 02:57] rogerarce commented on #49
@msach22 Hi I think the problem was the client token I was using has expired on stale or something which was causing the issue thanks closing the ticket!

[2018-04-26 02:57] #49 closed

[2018-04-26 03:26] msach22 commented on #49
Happy to hear that it's working! Let me know if you have any questions!

[2018-04-26 06:35] ythecombinator opened #55 "[feature request] Select audio stream source"
In most video/voice messaging apps out there we have an option to select where we want the audio to come from–e.g. `Built-in microphone`, `Bluetooth device` etc.

I admit I haven't thought about the implementation details yet, tbh. But initially I think of:

This would be quite helpful:

- I could check `getAvailableAudioSources().length` to know wether to show a swap option or not
- The metadata

[2018-04-26 13:54] renanpupin commented on #50
I tested and approved that it is now working on iOS.
Thanks.

[2018-04-26 13:55] renanpupin opened #56 "iOS app crashs when reload on simulator"
After start a call and try to refresh the simulator, the app crashs. I think is something related with application context.
On android it is not happening.

[2018-04-27 18:11] msach22 commented on #56
Thanks for reporting this @renanpupin! If you have a fix, please open up a PR, if not, I will investigate further!

[2018-04-27 18:12] msach22 commented on #16
@ASerga Thanks for reporting this! I'll investigate into this and see what we can do!

[2018-04-27 23:04] ythecombinator commented on #56
Haven't seen that issue here before, @msach22. Perhaps I was mistaken and this is really on the lib's side.

[2018-04-28 22:51] msach22 commented on #48
@ythecombinator You can find information about the errors and error codes here:

iOS: https://tokbox.com/developer/sdks/ios/reference/Constants/OTSessionErrorCode.html
Android: https://tokbox.com/developer/sdks/android/reference/com/opentok/android/OpentokError.ErrorCode.html

[2018-05-01 16:51] msach22 commented on #48
@ythecombinator I'm going to close this issue because the error descriptions and codes are available on TokBox's website! Unfortunately, I'm unable to reproduce the 1:1 issue that you're having on my end.

Please re-open with more findings and replication steps if possible! Thanks!

[2018-05-01 16:51] #48 closed

[2018-05-01 19:09] ythecombinator commented on #48
@msach22, did you have time to look at the report I sent this weekend?

It makes sense closing this since I pointed to errors codes themselves but the issue still happens: should I change both titles and description focusing on the black screen part itself and reopen this one? Or open another one? I mean... I really think it's important to keep track as an issue because:

1. It's something crucial

[2018-05-02 18:08] renanpupin commented on #56
To simulate that bug, you must reload the simulator while the video is active.
I will ask a native mobile developer from my team to have a look at OpenTok context. I have seen this issue in another projects, if I am not mistaken, it is related with library context while RN uses Live Reload.

[2018-05-02 20:14] snobear opened #58 "Does opentok-react-native work with Expo?"
Hi, I'm looking to build an app with `create-react-native` which uses Expo, but I'm reading that Expo [does not have support for WebRTC](https://docs.expo.io/versions/latest/introduction/why-not-expo.html).

I only have experience developing w/ Opentok SDKs on desktop, but I'm assuming the WebRTC protocol is still used under the hood on mobile as well. But before I completely rule out using Expo,

[2018-05-02 20:55] renanpupin opened #59 "Subscriber reconnect event"
Is there a way to track when Subscriber reconnect after a disconnection?

[2018-05-02 20:58] renanpupin commented on #59
Subscriber has 2 listeners: connected and disconnected.
The connected listener is executed when starts, but after a disconnection it does not execute anymore.

[2018-05-02 21:19] snobear commented on #58
OK cool thanks for confirming, and for your work on this @msach22 !

[2018-05-02 21:19] #58 closed

[2018-05-02 22:47] msach22 commented on #58
No problem, @snobear! It should work if you eject the app :D

[2018-05-02 23:14] msach22 commented on #59
@renanpupin Unfortuantely, you cannot use the event listeners to see if it's the same subscriber after disconnection and reconnection events because when a user is disconnected and then reconnects, they are given a new connection ID. However, you can generate a UUID and add that as a part of the token data and map that to connectionIds when the user connects to the session. This way when a `connec

[2018-05-02 23:14] msach22 commented on #59
I'm closing this issue because it's not an issue with the library. Let me know if you have any questions!

[2018-05-02 23:14] #59 closed

[2018-05-03 13:01] renanpupin commented on #59
@msach22 I have listeners for all events of session, subscriber and publisher. However when I disconnect from one side and reconnect after, the only event that executes is "disconnected" from Subscriber and the "connectionCreated" event does not execute.
So I still think it is a bug with the library.
Thanks.

[2018-05-03 15:20] renanpupin opened #60 "Session does not fully disconnect after component is dismounted"
Apparently the native application context or the javascript thread are not being reset after the video call scene is dismounted. After opening, exiting, and re-entering a call, the events from the previous session keeps executing.

Steps to simulate the error.

1. Open a call
2. Set listeners for Session, Publisher, and Subscriber and print with the random number.
3. Exit call screen
4. Start the

[2018-05-03 15:52] msach22 commented on #60
@renanpupin Just to verify, you are unmounting the `OTSession` component when you exit the call screen and the native events are still firing?

[2018-05-03 17:41] renanpupin commented on #60
Exactly, the listeners are not removed when the session component is closed.

[2018-05-03 18:40] renanpupin commented on #60
We have removeNativeEvent function at OT.js .
https://github.com/opentok/opentok-react-native/blob/26f67941ceb955eda800d97e06ea0972d1770bf6/src/OT.js#L42-L48

At componentWillMount from session, we have setNativeEvents.
https://github.com/opentok/opentok-react-native/blob/26f67941ceb955eda800d97e06ea0972d1770bf6/src/OTSession.js#L18

But at componentWillUnmount, there is a call for disconnectSessi

[2018-05-03 19:54] msach22 commented on #60
@renanpupin yup that's exactly what we need to do. Something very similar to this: https://github.com/opentok/opentok-react-native/blob/master/src/OTPublisher.js#L59

Thanks for catching this btw! If you're up for it, please send a PR, if not, I can push this change in `0.6.0`.

[2018-05-03 20:05] renanpupin commented on #59
@msach22 on javascript web sdk, the events is executing normally.

[2018-05-08 23:01] msach22 opened #64 "OTSubscriber events are not fully removed when the component is unmounted"

[2018-05-09 04:42] msach22 commented on #55
@ythecombinator The only way to achieve this is on iOS is to use CallKit. I believe that's how Messenger & WhatsApp do it. Something like this: https://github.com/opentok/CallKit but for React Native.
There is a [react-native-callkit](https://www.npmjs.com/package/react-native-callkit) package,  but I've never used it. Have you tried it out before?

[2018-05-09 04:42] msach22 commented on #64
WIP: This should go out with `0.6.0`

[2018-05-09 11:34] ythecombinator opened #65 "OTSubscriber renders to a black box"
### Description

<img src="https://user-images.githubusercontent.com/2644563/39812272-5cc41cbe-5362-11e8-84f6-4894e26ed1f7.jpeg" width="300">

My point here is related to *Device B - OTSubscriber*: you can see *Device A - OTPublisher* is working properly and capturing my camera but the image in *Device B - OTSubscriber* is black. The audio is okay, tho–and this is what puzzles me.

This hasn't hap

[2018-05-09 20:28] msach22 commented on #56
@renanpupin This should be fixed in 0.6.0

[2018-05-10 22:47] #60 closed

[2018-05-10 22:51] msach22 commented on #64
fixed with `0.6.0`

[2018-05-10 22:51] #64 closed

[2018-05-10 22:51] msach22 commented on #56
fixed with `0.6.0`

[2018-05-10 22:51] #56 closed

[2018-05-10 22:52] msach22 commented on #47
added with `0.6.0`

[2018-05-10 22:52] #47 closed

[2018-05-10 22:52] msach22 commented on #23
added in `0.6.0`

[2018-05-10 22:52] #23 closed

[2018-05-11 22:54] msach22 commented on #16
@sunweiyang @ASerga Just wanted to update you folks that this is a WIP and should go out with `0.7.0`

[2018-05-14 04:01] msach22 opened #69 "Move OpenTok Labs Banner under the repo title for SEO"

[2018-05-14 04:01] msach22 commented on #65
@ythecombinator Are you still seeing this with the latest release?

[2018-05-14 06:43] rossenv opened #70 "Cannot build for Android (v0.6.1)"
Hi,
I'm with v0.6.1 and follow installation instructions but cannot build a simple app for Android, which is created with react-native init. The errors are in OTSessionManager.java
`/Projects/testOpenTok/node_modules/opentok-react-native/android/src/main/java/com/opentokreactnative/OTSessionManager.java
Error:(102, 13) error: cannot find symbol class View
Error:(127, 9) error: cannot find symbol v

[2018-05-14 12:15] steverob opened #73 "OTScreenCapturer Unresolved"
I'm seeing this issue on `master` version of this project when building with Xcode.

![screen shot 2018-05-14 at 5 44 45 pm](https://user-images.githubusercontent.com/1220480/39996887-a18cad44-579e-11e8-84ee-66f394289c4f.png)

`Use of unresolved identifier 'OTScreenCapturer`

Any solutions for the same?

[2018-05-14 16:19] msach22 commented on #70
Released with `0.6.2`. Thanks for reporting @rossenv !

[2018-05-14 16:19] #70 closed

[2018-05-14 16:19] msach22 commented on #69
Fixed with `0.6.2`

[2018-05-14 16:19] #69 closed

[2018-05-14 16:20] msach22 commented on #73
@steverob Thanks for reporting it and submitting a PR! Released with `0.6.2`

[2018-05-14 16:20] #73 closed

[2018-05-14 17:26] renanpupin opened #76 "Build 0.6.2 failing on iOS"
** BUILD FAILED **

The following build commands failed:

	CompileSwift normal x86_64 /Users/.../node_modules/opentok-react-native/ios/OTSessionManager.swift
	CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(2 failures)

[2018-05-14 17:30] msach22 commented on #76
@renanpupin have you added the `OTScreenCapturer.swift` file to your iOS project?

[2018-05-14 18:00] renanpupin commented on #76
** BUILD SUCCEEDED **
Thank you.

[2018-05-14 18:00] #76 closed

[2018-05-14 19:20] msach22 commented on #76
Happy to help @renanpupin !

[2018-05-15 10:36] rossenv opened #77 "Android app crash"
Hi, I'm facing the following problem with Android device. When build dev app (android studio or react-native run-andriod) the app builds and installs normally. When I try to open my view containing session, publisher and subscriber the app asks for permissions. Without touching alerts the app crashes with "Unfortunately, APP has stopped". After restarting the app everything is ok.
This is my opent

[2018-05-15 11:05] steverob commented on #73
thanks :)

[2018-05-15 11:22] steverob opened #78 "streamCreated is not a supported event type [iOS]"
Hi, I'm getting this exception (dismissible) when listening to the `streamCreated` event.

![img_0392](https://user-images.githubusercontent.com/1220480/40053681-d453741c-585f-11e8-94be-5cb15944aea3.png)

I'm guessing this is because the [publisher ID prefixed event name](https://github.com/opentok/opentok-react-native/blob/master/ios/OTSessionManager.swift#L367) is not part of the declared `suppo

[2018-05-15 14:51] msach22 commented on #78
@steverob Thanks for pointing this out! It looks like all publisher events will be unsupported because of a bug. I'll try to push a patch out by EOD (PST).

[2018-05-15 16:14] steverob commented on #78
Yeah makes sense. Thanks a lot. That would be helpful.

--
Regards
Steve Robinson

[2018-05-15 21:16] msach22 commented on #77
@rossenv Could you please share the JS and Android logs that you're seeing when the app crashes? Please also share the following:
 - OpenTok React Native version
 - React Native version

[2018-05-16 06:34] rossenv commented on #77
@msach22 Hi, here some more info:

**"react": "16.3.1"**
**"react-native": "0.55.3"**
**"opentok-react-native": "^0.6.2"**

and my Logcat:

[code]

[2018-05-16 17:07] msach22 commented on #77
@rossenv I just created a fresh application and used the `0.6.2` package and can't seem to reproduce this error. Can you please share the following?
- Device & API Level
- Sample code that you're using

[2018-05-16 22:22] #78 closed, assigned to nobody

[2018-05-16 22:25] msach22 commented on #78
@steverob released with `0.6.3`

[2018-05-17 04:12] steverob commented on #78
Thanks!

--
Regards
Steve Robinson

[2018-05-18 20:13] jonathanwmaddison opened #84 "[feature request] Give option to display opentok's default placeholder when video muted"
I believe the OpenTok js sdk provides a default placeholder. It would be nice to have this in React Native as well, so when video is muted a placeholder image is displayed instead:

<img width="153" alt="screen shot 2018-05-18 at 4 13 01 pm" src="https://user-images.githubusercontent.com/22892848/40255780-5cedd8c8-5ab6-11e8-971e-86d9071ae471.png">

I am looking into a solution, and if it seems ext

[2018-05-19 03:11] ShugaSvc opened #85 "Android crashes when unmounting OTSession"
Hi,

We are encountering a crash whenever a View containing OTSession unmounts really fast.

E.g. Start a Session then click the Android back really fast to unmount the View, the crash does not trigger a RN error but instead crashes the APP with the following ADB log:

05-18 23:08:48.656   518   534 W ActivityManager: Activity pause timeout for ActivityRecord{19b46e0 u0 com.uecareapp/.MainActivity

[2018-05-21 19:20] mbouxin opened #86 "IOS crashes with EXC_BAD_ACCESS when unmounting using streamDestroyed events"
I face an error while unmounting OTSession, OTPublisher and OTSuscriber at the same time.

The streamDestroyed event called for the destroyed publisher causes a call in prepareJSEventData that raises the EXC_BAD_ACCESS at line:
    streamInfo["connectionId"] = stream.connection.connectionId;

Simply commenting this line solves my problem.

[2018-05-23 08:48] akandaurov opened #87 "Yellow warnings on IOS in react-native 0.55"
There are 3 yellow warnings in IOS simulator saying:
"Module **OTSubscriberSwift/OTSessionManager/OTPublisherSwift** requires main queue setup since it overrides `init` but does not implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of."

[2018-05-23 12:02] mbouxin opened #88 "Request for suscribeToAudio and subscribeToVideo evolution"
It would be great to be able to change the flags subscribeToAudio and subscribeToVideo on the OTSubscriber.

The idea would be to call subscribeToAudio for every streams in the OTSubscriber with the provided bool value.

I already developed it for my needs and can open a pull request if you want.

[2018-05-23 18:27] msach22 commented on #87
@akandaurov Thanks for reporting this! We will update these files in one of our future releases.

[2018-05-23 18:27] msach22 commented on #86
@mbouxin Thanks for reporting this. Could you please let me know which version of the library you're seeing this in?

[2018-05-25 16:08] msach22 opened #89 "Conditional rendering of the OTPublisher component does not work after the OTSession component has initially rendered"
If you render the `OTSession` component and then choose to publish at a later time, the `OTPublisher` component initializes the publisher, but fails to publish because it's waiting for the `sessionConnected` event which has already fired.
[code]

[2018-05-25 21:51] #89 closed

[2018-05-28 14:49] renanpupin opened #92 "Attempt to invoke virtual method 'void android.widget.FrameLayout.removeAllViews()' on a null object reference"
RN 0.51
OT RN 0.6.4

java.lang.NullPointerException: Attempt to invoke virtual method 'void android.widget.FrameLayout.removeAllViews()' on a null object reference
    at com.opentokreactnative.OTSessionManager$2.run(OTSessionManager.java:281)
    at android.os.Handler.handleCallback(Handler.java:739)
    at android.os.Handler.dispatchMessage(Handler.java:95)
    at android.os.Looper.loop(Looper.j

[2018-05-28 17:49] snobear opened #93 "Xcode doesn't prompt option to create bridging header during iOS install"
Hi,
I was following the [iOS installation steps](https://github.com/opentok/opentok-react-native#ios-installation), but after adding the opentok files to my app in step 8 I was not automatically prompted to create a bridging header file (step 9). The files appear to have been added (they are visible on the project menu to the left), but I did not get the modal and don't see where else to add it.

[2018-05-28 17:57] snobear commented on #93
Annnd of course once I figured it out right after this post :).  From Finder, I dragged the files under my project under the left hand menu, and then it prompted me to create the bridging header.

I believe the issue is you need to make sure you first select/highlight the project in the project menu on the left-hand side before doing `File` > `Add files to MyProject`. Otherwise, it just adds files

[2018-05-28 17:57] #93 closed

[2018-05-28 21:03] renanpupin opened #94 "EXC_BAD_ACCESS: Attempted to dereference garbage pointer 0x47d6cbec8."
Error while finishing the videocall in production.
------------------------------------------------------------------------------------------
OS Version: iOS 11.3.1 (15E302)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP at 0x000000047d6cbec8
Crashed Thread: 0

Application Specific Information:
Attempted to dereference garbage pointer 0x47d6cbec8.

Thread 0

[2018-05-29 06:29] mbouxin opened #96 "connection and stream creationTime are lost in the react native Bridge"
This is due to the fact that NSDate cannot be sent to the javascript.

I solved this issue by sending a Number of millisecond since 1970 like this:
https://gist.github.com/mbouxin/369597bce6b0653d9c9fcfceb7527a93

[2018-05-29 06:31] mbouxin commented on #86
I met this using:
- react native 0.55
- opentok-react-native 0.6.3
- opentok 2.14

[2018-05-29 06:45] mbouxin commented on #86
Sorry, I tried to reproduce it and I can't anymore... Maybe there was another error in my app that triggered this. If I reproduce it, i will submit it again.

[2018-05-29 06:45] #86 closed

[2018-05-29 11:28] rossenv commented on #77
Device: Galaxy J5
[code]

[code]
[code]

[2018-05-29 15:31] msach22 commented on #92
@renanpupin Can you please share when this happens and additional details that can help me reproduce this?

[2018-05-29 15:37] renanpupin commented on #92
Looking at my logs, it is happening after my componentWillUnmount executes.

Not sure about how it is happening, because my error tracker got it from my production app.
Anyway I will try to put more information here:

NullPointerExceptioncom.opentokreactnative.OTSessionManager$2 in run

Family | XT1033
-- | --
Model | XT1033 (LPBS23.13-56-2)
Architecture | armeabi-v7a
Battery Level | 82%
Orientati

[2018-05-29 15:38] msach22 commented on #92
Thanks @renanpupin! I will check this out and update you on my findings as well.

[2018-05-29 23:55] msach22 commented on #92
@renanpupin I'm adding a null check before `removeAllViews` gets called. This should go out with the `0.6.5` release

[2018-05-30 00:34] msach22 commented on #94
@renanpupin Thanks for reporting this. Can you tell me how often this is happening and when it's happening?

[2018-05-30 00:36] msach22 commented on #92
This is a duplicate of this: https://github.com/opentok/opentok-react-native/issues/85

Closing this issue

[2018-05-30 00:36] #92 closed

[2018-05-30 00:37] msach22 commented on #65
@ythecombinator Closing this issue due to inactivity. Please re-open if this still persists.

[2018-05-30 00:37] #65 closed

[2018-05-30 00:50] msach22 commented on #85
This should go out with the `0.6.5` release.

[2018-05-30 00:52] msach22 commented on #77
@rossenv Could you please update to the `0.6.4` package and see if this still happens? Please also make sure to `Invalidate Caches/Restart` in your Android Studio.

- Manik

[2018-05-30 13:10] emin93 commented on #16
Usually I'm not fanboying things, but this time: A BIG thank you! I was so close to giving up on integrating audio / video chat in my app before I stumbled upon OpenTok. Everything just worked flawlessly! Great documentation and clean integration.

As soon as the iOS setup works with `react-native link` as well, it will be the perfect module! 😃

P.S. GitHub needs an appreciation page for repositor

[2018-05-30 16:20] msach22 commented on #85
@jclalala `0.6.5` has been released! Please let me know if you have any questions!

[2018-05-30 16:20] #85 closed

[2018-05-30 21:34] msach22 commented on #16
Thanks for the kind words @emin93!

I've opened a PR for the `react-native link` installation, but it still requires you to create an empty swift file in your iOS project to avoid a compiling error. If anyone else has a solution, please feel free to share!

[2018-05-30 22:10] sunweiyang commented on #16
@msach22 Thanks again! And perhaps this might give some insight:
https://github.com/rhdeck/react-native-swift

[2018-05-30 22:12] msach22 commented on #16
@sunweiyang Looks like this package is also creating an empty swift file: https://github.com/rhdeck/react-native-swift/blob/master/bin/postlink.js#L35

When you create a Swift file, XCode creates a `Objective-C Generated Interface Header Name` which is needed to import Swift into Objective-C.

[2018-05-30 22:15] msach22 commented on #16
Also mentions the need to add an empty file:
https://github.com/rhdeck/react-native-swift/blob/master/README.md#how-it-works

[2018-05-30 22:26] msach22 commented on #16
@sunweiyang In any case, I think I'm going to proceed with the empty swift file solution for now and improve as we can. I know it's not a optimal solution, but it is still a step forward because it allows you to use the library without having to use `use_frameworks`.

[2018-05-31 15:02] MaFranceschi commented on #16
Thanks for this improvement @msach22 ! I've taken the desition to migrate to this library from `react-native-opentok` and this changes will be very useful to me because I'm having some problems with others libraries with the `use_framework` flag.

[2018-05-31 15:36] msach22 commented on #94
@renanpupin any updates on this?

[2018-05-31 16:51] renanpupin commented on #94
That happened some times at our production app. I am not sure how this error occurred but I will put some additional information here.

console | Session connection destroyed! [object Object]
-- | --

exception | EXC_BAD_ACCESS: Attempted to dereference garbage pointer 0xff398bec8.
-- | --

Family | iOS
-- | --
Model | iPhone X (D221AP)
Architecture | arm64
Memory | Total: 2.7 GB / Free: 104.7 MB

[2018-05-31 17:47] msach22 commented on #94
@renanpupin Can you confirm that this is being caused by this library? Can you also provide more information as to the duration of the session or any similarities between the occurrences?

[2018-05-31 18:01] msach22 commented on #87
This should go out with `0.7.0`

[2018-05-31 20:38] msach22 commented on #96
@mbouxin Thanks for opening this issue. I think we should keep it as a string just like we're doing for Android. This way the data will be exactly the same regardless of the platform.

I've opened a PR for this fix. Should go out with `0.7.0`

[2018-05-31 20:56] msach22 commented on #77
@rossenv Unfortunately, I'm unable to reproduce this issue with the latest packages (`0.6.4`/`0.6.5`) so I'm going to close this issue. Please re-open if this issue still exists.

[2018-05-31 20:56] #77 closed

[2018-05-31 22:44] #87 closed

[2018-05-31 22:47] msach22 commented on #16
Released with `0.7.0`

[2018-05-31 22:47] #16 closed

[2018-05-31 22:47] msach22 commented on #96
Released with `0.7.0`

[2018-05-31 22:47] #96 closed

[2018-05-31 22:47] msach22 commented on #87
Released with `0.7.0`

[2018-06-01 11:12] Shashank2406 opened #107 "iOS build Issue"

[2018-06-01 11:20] #107 closed

[2018-06-03 14:39] gabrielbull opened #108 "iOS archive/build fails: library not found for -lOpenTokReactNative"
Happens on my project and a brand new project with only opentok-react-native installed.

[code]

Runs fine in the simulator but not on archive.

Currently fixed by going to _Taget -> Build Phases_ and adding `OpenTokReactNative` under __Target Dependencies__ and under __Link Binary With Libraries__ removing `libOpenTokReactNative.a` and re-adding it.

[2018-06-03 22:43] gabrielbull commented on #108
Yes, obviously installation is done as per the instructions. You can test this issue by doing an archive build on a project with this library installed.

[2018-06-04 13:18] coldcat-tw opened #109 "Several Subscriber's events are never fired"
I notice that several events of [`OTSubscriber`](https://github.com/opentok/opentok-react-native/blob/master/docs/OTSubscriber.md) are never fired, such as `videoDisabled` and `disconnected`.

It would be great to have these events fire correctly.

[2018-06-05 00:44] msach22 commented on #109
@coldcat-tw Thanks for sharing this, I'll investigate further and update you with my findings!

[2018-06-05 10:44] coldcat-tw commented on #109
Yeah it's happening for both iOS and Android.

 Looking forward to hearing from you. :)

[2018-06-05 16:20] msach22 commented on #108
Thanks for confirming @gabrielbull! I'm also able to reproduce the issue so I'm investigating a fix. Please let me know if you come across any other issues!

[2018-06-06 05:58] vigneshtrdirsprz opened #110 "Subscriber property change event"
Need a susbcriber property change event or in audiolevel updated need a subscriber's name so that when subscribing mulitple users can show the UI with the audio message for the particular user..

[2018-06-07 23:08] msach22 commented on #108
@gabrielbull After investigating further, it looks like the `react-native link` command is not linking it properly. To work around this, can you add the library as a dependency of your target under `Build Phases` of your target?

[2018-06-08 04:17] MaFranceschi commented on #108
I tried to run my react native application but I got the same problem to build it. I added the project as a dependecy just like you mentioned in the last comment but the problem remains. Please, can you tell me how to fix it? @msach22

![nativeerror](https://user-images.githubusercontent.com/6466697/41138652-be4357c4-6ab0-11e8-9d6a-ea6352fe8ac0.png)

[2018-06-08 05:00] gabrielbull commented on #108
@MaFranceschi Your issue is unrelated. A null native module means the library is not properly linked. Try react-native unlink and follow the installation instructions again.

[2018-06-08 15:31] msach22 commented on #108
@MaFranceschi Were you able to get it working after following the installation process? As @gabrielbull mentioned, this issue is tracking application archive failure. If you are still unable to get the native module on iOS, please create a new issue so we can track it separately 😄

[2018-06-08 15:31] msach22 commented on #108
@gabrielbull Were you able to add it as a target dependency and get it working?

[2018-06-08 17:51] gabrielbull commented on #108
Yes, that's what I did to get it working. As mentioned in my original issue comment:

[2018-06-08 19:29] MaFranceschi commented on #108
Thanks @gabrielbull @msach22 I followed the steps that you told me before and it works for me. I'd to add the project as a target dependency at the Build phases and everything is on rails. :tada:

[2018-06-09 21:41] yfaber commented on #94
I found the same problem. It is happening only in the calls with iphone X.

I will try to provide more information about the threads that my error report library provided.

<img width="467" alt="screen shot 2018-06-09 at 6 38 52 pm" src="https://user-images.githubusercontent.com/12626761/41196366-a64c7c3a-6c14-11e8-9298-9c209731a245.png">

folly::Expected<long long, folly::ConversionCode> folly::d

[2018-06-11 13:05] renanpupin commented on #94
This problem is happening in our videocall screen with the newest opentok sdk and the iphone X device.

[2018-06-11 14:33] akandaurov commented on #108
Build fails for me as well when building for Generic IOS device and works when I select iPhone 8 for example. No way to make the Archive

[2018-06-11 15:10] msach22 commented on #94
@renanpupin @yfaber I'll try to duplicate this on my end and see what's going on!

@renanpupin When you say the newest SDK, do you mean the 2.14.0 version of the OpenTok SDK or the React Native SDK?

[2018-06-11 15:12] msach22 commented on #108
@gabrielbull Yes, I'm still trying to explore a fix. I don't believe it has to do with a Podfile, but I'll investigate and update this issue as soon as possible.

@akandaurov Thanks for letting us know! I'm sorry to hear that adding to the target dependency didn't work for you. We might have to revert back to adding the files manually if there is no workaround.

[2018-06-11 15:15] renanpupin commented on #94
@msach22 OT 2.14.0 RNOT 0.6.4 (0.7.1 is not published on NPM yet).

[2018-06-11 15:17] msach22 commented on #94
Thanks for confirming @renanpupin!

BTW, `0.7.1` was published 11 days ago so you should be able to see it: https://cl.ly/1M2V14353u1o

[2018-06-11 15:30] renanpupin commented on #94
Thanks to confirm @msach22.
I tried to upgrade OT to 0.7.1 but it was not updating to the latest version.
When I  run yarn upgrade opentok-react-native --latest it updated to the newest version.
I am not sure if that is a yarn bug or opentok-react-native 0.7.1 is marked as beta.
Can you confirm that?

[2018-06-11 16:24] msach22 commented on #94
@renanpupin Yea that doesn't sound right. I have not marked the `0.7.1` as a beta

[2018-06-11 19:19] renanpupin commented on #108
Same bug here after upgrading RNOT.
I tried to remove the library and link again but got the error:

error: no such file or directory:
libOpenTokReactNative.a
** ARCHIVE FAILED **

[2018-06-11 19:28] msach22 commented on #108
@renanpupin Yes, the workaround is mentioned here:
[code]

[2018-06-11 19:39] renanpupin commented on #108
@msach22 Thanks!

[2018-06-12 21:07] dtaborda commented on #94
@msach22
I have the same problem when I'm finishing the video call that was running in different emulators, sometimes I don't have a problem, but if you start and close the video call several times you should have the problem.

The steps to reproduce the problem:
* I start the video call and the application is waiting for the subscriber to connect

* click cancel video call button before the subsc

[2018-06-12 22:19] msach22 commented on #94
@dtaborda These are great logs and feedback! This looks like a lifecycle issue, we can implement a check to see if the session and connection are valid before we prepare the event data.

The code you shared looks like it's an older version of the library, are you using the latest one?

[2018-06-12 22:23] msach22 commented on #110
@vigneshtrdirsprz The `streamPropertyChange` event in the JS SDK does not check the audio level changes, it only checks for changes on `hasAudio`, `hasVideo`, `width`, and `height` changes.

I'm working on a PR that should add the `streamPropertyChange` event for this SDK

[2018-06-13 00:06] msach22 commented on #94
@dtaborda Could you try adding the following right after the `streamInfo` dictionary is intialized in the `prepareJSEventData` and see if you continue to see the problem?
```guard OTRN.sharedState.session != nil else { return streamInfo }```

[2018-06-13 03:30] MaFranceschi commented on #109
I made a PR for this issue based on your comment @msach22 :) the `videoDisabled` and the `disconnect` events work for me.

[2018-06-13 15:55] msach22 commented on #109
Thanks for the PR @MaFranceschi ! This should be going out with `0.8.0`

[2018-06-13 21:44] dtaborda commented on #94
@msach22
thanks for your answer, my code was old, I forgot to update the fork repo :( I updated the fork but I needed your recommendation to fix the error,
[code]
if you want I can do a PR with this fix, let me know.

I have an other observation about the functionality of finishing the videocall, if you can see the following screenshot:
when the videocall is finished, the function publisher stream

[2018-06-13 21:50] msach22 commented on #94
@dtaborda Did the line of code fix the bad access issue that was showing the zombie object? If so, please send a PR! Make sure to branch off the `0.8.0` branch because it will be going out with that release.

Great observation, could you please create a new issue with these details so we can track it separately?

[2018-06-14 02:59] snobear commented on #108
I was also getting `Native module cannot be null` when trying this new install method. I had to revert back to adding the files manually to Xcode per the [old README](https://github.com/opentok/opentok-react-native/blob/43b2a6bafaa58891b4bffea0374ba5e814e85b03/README.md).

[2018-06-14 23:38] msach22 commented on #94
@dtaborda @renanpupin Please let me know if `guard OTRN.sharedState.session != nil else { return streamInfo }` this resolves the issue. If so, I'll try to release it with `0.8.0`. If not, we can wait for `0.8.1`

[2018-06-14 23:41] msach22 commented on #108
@snobear Hmm, I'm not getting the `Native module cannot be null` error. Have you updated your Pod file to not use the `use_frameworks` flag?

Lastly, could you please share your `Link Binary with Libraries` section after you link the library using `react-native link opentok-react-native`?

[2018-06-15 01:19] snobear commented on #108
@msach22 here is my Podfile

[code]

Here is the `Link Binary with Libraries` section in Xcode after running `react-native link opentok-react-native`:

![Uploading Screen Shot 2018-06-14 at 9.16.47 PM.png…](link binary with libraries)

This looks strange to me: when I run `react-native link opentok-react-native` it only mentions Android:

[code]

is that expected?

[2018-06-15 07:56] steverob opened #113 "iOS Swift Compilation Issue"
Hi @msach22 :) I'm wondering if you can help me out with this

![screen shot 2018-06-15 at 1 23 00 pm](https://user-images.githubusercontent.com/1220480/41456836-502f8e34-709f-11e8-8237-265c58b68154.png)

During upgrade to latest version, I did `react-native link` for the package and removed all the previously manually added files.

Then I read in [this comment](https://github.com/opentok/opentok-

[2018-06-15 14:56] msach22 commented on #113
Hi @steverob, did you add an empty swift file to your project?

[2018-06-15 18:15] steverob commented on #113
Yes yes I have that

--
Regards
Steve Robinson

[2018-06-15 18:17] msach22 commented on #113
Thanks for letting me know! Could you please share a screenshot of your project structure?

[2018-06-15 19:56] matthewmazzuca commented on #113
temporary fix in Pods/gRPC-Core/Interface/gpr_types.h change the anonymous typedef to...

typedef enum gpr_clock_type{
  /** Monotonic clock. Epoch undefined. Always moves forwards. */
  GPR_CLOCK_MONOTONIC = 0,
  /** Realtime clock. May jump forwards or backwards. Settable by
     the system administrator. Has its epoch at 0:00:00 UTC 1 Jan 1970. */
  GPR_CLOCK_REALTIME,
  /** CPU cycle time obta

[2018-06-15 20:25] #109 closed, assigned to nobody

[2018-06-15 20:28] msach22 commented on #108
@snobear Thanks for sharing the Pod file and Libraries image. Could you please verify that you're using the `0.7.0` library version or newer?

If you're using `0.7.0` or higher, you should be seeing the linking comment about iOS as well.

[2018-06-18 13:30] snobear commented on #108
@msach22 how can I check which version of the library I have installed? I checked `Podfile.lock` but it doesn't specify a version number. Tried clicking around under  `ios/Pods/Opentok`, but no luck.

[2018-06-18 14:42] MaFranceschi commented on #108
You can see it using the `yarn list` or `npm list` command at your terminal in the root of your project. Also you can verify the version in the `package.json` of the library at the node_modules/opentok-react-native folder. @snobear

[2018-06-18 14:46] snobear commented on #108
Ah ok, thought you meant the Pod version of OT. Heres `opentok-react-native` per yarn list:

[code]

Looks like I'm not running `0.7.0`! I'll try a fresh build with the updated version and get back to you soon.

[2018-06-18 15:13] msach22 commented on #108
Thanks for helping out @MaFranceschi! @snobear We just released `0.8.0` last Friday so might want to upgrade to that one 😄

[2018-06-18 15:49] dtaborda commented on #94
hi, sorry for the delay, the code ``` guard OTRN.sharedState.session != nil else { return streamInfo } ``` resolved the issue for me, this code is in the new version: 0.8.0? or will I create a PR with this code?

I will create an issue about the observation, and also I did some test cases and I have an other observation too.

[2018-06-18 15:51] msach22 commented on #94
@dtaborda `0.8.0` does not include that fix. Let's work to push that out with `0.8.1` 😄

Thanks for your help!

[2018-06-18 15:54] dtaborda opened #115 "Publisher Stream Destroyed is sometime not called"
I have an other observation about the functionality of finishing the videocall, if you can see the following screenshot:
when the videocall is finished, the function publisher stream destroyed is called but some time not and publisher stream created is called without destroyed

<img width="839" alt="screen shot 2018-06-13 at 00 44 24" src="https://user-images.githubusercontent.com/882516/41379912-

[2018-06-18 16:30] dtaborda commented on #94
the PR and issue were created :D, let me know if they are ok

[2018-06-20 14:00] jeanregisser opened #117 "Why was Swift chosen for this wrapper module?"
Hi,

I noticed this wrapper is written in Swift.
The main problem with that is all people trying to integrate it into their React Native app will incur the cost of embedding the Swift runtime frameworks which is around 5MB.

From what I can tell the native OpenTok framework doesn't use Swift and works just fine in an ObjC only application.

I know Swift sounds cool and everything but for people wr

[2018-06-20 17:24] msach22 commented on #117
@jeanregisser We wrote the library in Swift because we wanted to leverage the benefits of Swift and we've also seen more traction from our open source community with our Swift samples as opposed to Objective-C.

As of now, we do not plan on rewriting the iOS bindings in Objective-C because we would like to focus on adding more features to the library.

[2018-06-20 18:16] steverob commented on #113
No. But not sure what fixed it

--
Regards
Steve Robinson

[2018-06-20 18:20] msach22 commented on #113
Hmm, that's interesting. I'm going to go ahead and close this issue, but please feel free to re-open if this happens again or you discover any relevant info!

[2018-06-20 18:20] #113 closed

[2018-06-22 15:06] samridhgupta opened #119 "Native Module cannot be null"
![simulator screen shot - iphone 6 - 2018-06-22 at 20 34 21](https://user-images.githubusercontent.com/13190192/41783929-c5191140-765b-11e8-8a20-fc93211ca04e.png)
Having issues on running the project and shows this error everytime the app initializes the OTSession object from the library.

On react-native : 0.55.4

[2018-06-22 15:35] msach22 commented on #119
@samridhgupta Can you confirm that you followed the installation process mentioned here:
https://github.com/opentok/opentok-react-native#ios-installation

[2018-06-22 18:37] #117 closed

[2018-06-25 06:01] samridhgupta commented on #119
Yes, I tried the same installation process and even tried with a new project, but still having the same issue.

[2018-06-27 01:46] sunweiyang opened #120 "Android Target API Level 26 required in August 2018"
The Play store has new requirements for August 2018: Android target API level 26 will be required.

Source:
https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

React Native is already putting plans in place to move to Android API 26:
facebook/react-native#18095

And some of us have already proactively moved to Android API 26 (myself included).
Will opento

[2018-06-27 06:43] sunweiyang commented on #119
I am also experiencing the same issue, and am also certain that I followed the iOS installation steps. I even included the last iOS advice to add OpenTokReactNative under Target Dependencies (although it didn't help).

[2018-06-27 08:08] jeanregisser opened #121 "Unable to size OTSubscriber without an explicit width / height and broken expectations"
It's currently impossible to size `<OTSubscriber />` without an explicit width / height.

The following example will not display anything:
[code]

The main reason is because the passed style is applied to the children instead of the container view:
[code]

Also note that it's impossible to apply any additional `ViewProps` to the rendered `<View>`.

One way to fix this is to apply the style to the

[2018-06-27 15:32] msach22 commented on #119
@samridhgupta @sunweiyang For the time being, could you folks use the older installation? https://github.com/opentok/opentok-react-native/tree/0.6.5#ios-installation

[2018-06-27 23:44] sunweiyang opened #122 "Android: How to overlap/overlay publisher view over subscriber view?"
We need to use `opentok-react-native` to create overlapping views on the same screen (publisher thumbnail over subscriber).

Here is an example screen of what we need:

![image](https://user-images.githubusercontent.com/12490625/42005408-02a5ee4a-7a29-11e8-84cf-84a530740ffd.png)

We've tried to use `position: absolute` styling, but this fails to render properly:
[code]

The straightforward non-ove

[2018-06-28 05:21] sunweiyang commented on #122
@jonathanwmaddison thanks, I can also confirm that absolute positioning of publisher works on iOS.

I've figured out that on Android, for a normal 2-user OpenTok session, the subscriber currently always be rendered on top of the publisher. I've observed that the publisher view instantiates and definitely exists for Android, but is simply covered up by the subscriber view. Unfortunately, defining `

[2018-06-28 23:10] TeruyaHaroldo opened #123 "clang: error: no such file or directory: '...libOpenTokReactNative.a'"
Remember this: **Can not build in physical device iPhone 5s but can build in the emulator.**

I did the following instructions in sequence:

``react-native init test``

Changed in the ``test``'s ``package.json`` the react-native version to ``0.51.0`` and did the ``yarn install``.

The ``package.json``:

[code]

Did: ``npm install opentok-react-native``

![1](https://user-images.githubusercontent.c

[2018-06-29 00:10] sunweiyang opened #124 "Cannot change subscribeToAudio status once <OTSubscriber> is instantiated"
After the views are rendered, changing the `subscribeToAudio` boolean through either `<OTSubscriber>`'s  `properties` or `streamProperties` props did not modify the audio subscription state.

We need to implement a "silence subscriber stream" toggle button while still allowing other sounds to play(sound effects, etc.), so dynamic `subscribeToAudio` is necessary. Is there currently any way to chang

[2018-07-02 15:28] msach22 commented on #121
@jeanregisser Thanks for reporting this, I'll investigate this further and update it as soon as possible.

Also, please keep in mind that you need to specify a width and height because the native view requires a width and height so the video can be rendered on the screen.

[2018-07-02 15:37] msach22 commented on #124
@sunweiyang Hmm, I can't seem to reproduce this. I render the `OTSubscriber` component with the initial properties using the `properties` prop and if I want to modify a stream property, I use the `streamProperties` component as shown here:
https://github.com/opentok/opentok-react-native/blob/master/docs/OTSubscriber.md

Could you please share your implementation?

[2018-07-02 17:13] msach22 commented on #94
The fix has been released with `0.8.1`. Thanks @dtaborda!

[2018-07-02 17:13] #94 closed

[2018-07-02 20:36] msach22 commented on #124
@sunweiyang Awesome! Please let me know what changes we can make to make the documentation more clear. We're always looking for feedback to improve our offerings!

[2018-07-03 21:31] HaroldoTeruya commented on #123
Updating.... In the emulator is not running too. Help!

[2018-07-03 21:34] msach22 commented on #123
@HaroldoTeruya Thanks for sharing your findings. Could you please share which `iOS` version the 5s device and similar are running? Are they running a minimum of iOS 9?

[2018-07-04 13:24] mbouxin opened #126 "Stream audio and video status consistency"
# Feature Request

**Description**

**Proposal**
Add hasVideo and a hasAudio to the android prepareStreamMap function

**Links / references**

[2018-07-04 14:18] mbouxin opened #127 "streamPropertyChanged causes crashes on android"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

I corrected this behavior by replacing  in onStreamVideoDimensionsChanged :

with

            else {
                oldVideoDimensions.putInt("height", -1);
                oldVideoDimensions.putInt("width", -1);
            }

**Relevant logs and/or

[2018-07-04 18:11] mbouxin opened #128 "Subscriber do not render when using streamProperties without style"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

For this the line of OTSubscriber

should be replaced by

[2018-07-05 07:24] jeanregisser opened #132 "Sending signals is unintuitive"
Hi,

I see the official way to send signals using the lib is rather unintuitive.
It requires you to update the `signal` prop on the `OTSession` component.
Hence you have to `setState` and re-render every time you want to send a new signal.
Also the error result is not exposed and simply logged.

For now I'm bypassing this using the following code:

[code]

It would be nice to officially expose thi

[2018-07-05 14:04] jonathanwmaddison commented on #122
@sunweiyang Have you found any way around this issue? I haven't dug into the native android implementation since Android is currently lower on our priority list.

[2018-07-05 16:48] HaroldoTeruya commented on #123
On Device iOS 10.3.3 is not running.
On emulator in any version and device is running.

And i tested they running on a minimum of iOS 9.

[2018-07-05 18:48] sunweiyang commented on #122
@jonathanwmaddison Since we also have limited development resources, for now we have simply fallen back on pure Android native (before we began using opentok-react-native). This is currently the main blocker for us from using opentok-react-native in Android. If/when this issue is resolved, we'll immediately update our Android codebase for opentok-react-native.

[2018-07-05 19:49] sunweiyang commented on #124
@msach22 Actually I am still unable to modify subscriber audio state using `streamProperties`. Are we still implementing it incorrectly?

To clarify, our subscriber works (both audio and video successfully subscribed and rendered), but we can't toggle the subscriber audio on/off.

Our constants for styles:
[code]

Our `constructor` (`this.subscriberEventHandlers` not shown but we have it defined):

[2018-07-07 04:48] rockyip commented on #122
Hi, I have the same issue as yours and I found a solution from the android SDK
[https://github.com/opentok/opentok-android-sdk-samples/issues/136#issuecomment-322218524](url)
Just apply the change to the method "initSession" in OTSessionManager.java

[2018-07-07 11:39] mbouxin commented on #124
When I first implemented this functionnality, I got a similar problem which was due to the fact that both my Publisher and Subscriber fired the streamCreated event (which is not the case for the javascript opentok API).

From what I read here, if you have a publisher, the streamId is not guaranteed to be the subscriber one.

My solution was to save the streamId of the publisher's streamCreated eve

[2018-07-09 16:12] msach22 commented on #126
@mbouxin Thanks for reporting this. I've added some comments on your PR 😄

[2018-07-09 16:12] msach22 commented on #127
@mbouxin Thanks for reporting this. I've added a comment on your PR.

[2018-07-09 16:22] msach22 commented on #123
@HaroldoTeruya Sorry for this blocker. I'm happy to set up a 30 minute chat and go over the issue. Can you send me an email at manik@tokbox.com so we can schedule a time?

[2018-07-09 16:42] msach22 commented on #126
The fix for this will be going out with `v0.8.2`.

[2018-07-09 16:42] msach22 commented on #127
The fix for this will be going out with `v0.8.2`.

[2018-07-09 16:43] msach22 commented on #122
@sunweiyang @jonathanwmaddison @rockyip Thanks for sharing your findings. I will check this out and get back to you all soon!

[2018-07-10 21:53] sunweiyang commented on #124
It's true that I have both a publisher and a subscriber during each session (and the publisher connects first). However, when I pipe my `this.state.streamProperties` to `console.log()`, I only see one `streamId` created. @mbouxin, are you suggesting that I should actually be seeing 2 `streamIds`?

If someone can provide a quick example for the recommended method of toggling subscriber's `subscribe

[2018-07-10 22:07] sunweiyang opened #133 "OpenTok can't recover from wifi <=> cellular switching"
# Bug Report

**Current behavior**
OpenTok connection does not recover when switching between wifi <=> cellular. During a session between 2 users (both with a publisher and subscriber), when one user switches from wifi to cellular network (or vice versa), both users experience pure black subscriber views.

**Steps to reproduce**
1. Start a normal 2-way OpenTok session between 2 users (each user ha

[2018-07-10 23:22] msach22 commented on #124
@sunweiyang Here's a quick sample on how to toggle audio using `subscribeToAudio` and `streamProperties` prop.

[code]

Please make sure to add the `apiKey`, `sessionId`, and `token` before you run the code.

[2018-07-10 23:23] msach22 commented on #119
@sunweiyang Thanks for sharing!

@samridhgupta Is this still an issue for you?

[2018-07-10 23:47] sunweiyang commented on #124
Thanks @msach22! When I first read @mbouxin's advice 3 days ago, I tried to do the following which didn't work:
[code]

But after your example today (using `Object.keys().map()` instead of a `for` loop), I implemented the following, which worked:
[code]
This solves my main original problem! But I'd still like to request a simpler JS implementation for toggling subscriber audio (and video) for futu

[2018-07-10 23:54] msach22 commented on #124
@sunweiyang I'm happy to hear that it's working for you.  I added the array was because of multiparty, but you could simply this example if you're only working with one subscriber.

I will close this issue and open up another issue on the `opentok-react-native-samples` repo for a samples on how to use this.

[2018-07-10 23:54] #124 closed

[2018-07-10 23:55] msach22 commented on #124
Here's the issue: https://github.com/opentok/opentok-react-native-samples/issues/11

[2018-07-11 16:45] msach22 commented on #123
@HaroldoTeruya Just pinging you for an update

[2018-07-11 16:46] msach22 commented on #119
@samridhgupta I'm closing this issue due to inactivity, please re-open if the issue still persists.

[2018-07-11 16:46] #119 closed

[2018-07-11 21:32] renanpupin commented on #123
Opentok not compiling in iPhone 5s (device and simulator).

[2018-07-12 21:27] #126 closed, assigned to nobody

[2018-07-13 12:18] emin93 commented on #108
Hi! Thank you for the great work and the frequent updates.

Currently I'm facing another issue when trying to archive:
[code]

When I remove the `libOpenTokReactNative.a` from `Link Binary With Libraries` the build succeeds. As soon as I add it again it fails with the above error. I already added OpenTokReactNative to the Target Dependencies.

[2018-07-17 10:24] steverob opened #135 "Structure of the error object"
Is there any documentation around the structure of the error object being passed into the `error` event handler? @msach22

[2018-07-17 14:50] akandaurov opened #136 "[BUG] OTSubscriber cannot be styled correctly"
# Bug Report

**Current behavior**
The OTSubscriber component is rendered inside an additional view and the styles are not applied correctly:

**Steps to reproduce**
Style OTSubscriber component to fill the screen, e.g. &lt;OTSubscriber style={{ flex: 1}} /&gt;

**What is the current *bug* behavior?**
The subscriber has 0 size and is not displayed

**What is the expected *correct* behavior?**
The

[2018-07-17 15:25] msach22 commented on #135
@steverob The error object should have an error code and a message. I just did a quick glance and it looks like this is not consistent throughout the different errors.

If you're interested, please send a PR, if not I can I try to release this with the next path.

[2018-07-17 15:42] msach22 commented on #133
@sunweiyang The OpenTok SDKs do have a reconnecting mechanism where they will fire the respective reconnecting events. You should be able to listen to the `sessionReconnecting` and `sessionReconnected` events to see when reconnecting began and completed.

[2018-07-17 18:46] steverob opened #137 "Attempt to invoke virtual method 'Session.getSessionId()' on a null object reference"
Getting this error on some of our Android devices -

[code]

@msach22  Hey any idea why this error happens? Thanks! :)

[2018-07-17 18:46] steverob commented on #135
@msach22 Ahhhhh!! That's a bummer. I'll see if we can contribute to this. Thanks man.

[2018-07-17 19:06] msach22 commented on #137
@steverob Do you have any steps on how I can reproduce this? The only time this should happen is if you call the `getSessionId()` method when the `Session` Object has not been created or has been destroyed.

[2018-07-17 20:38] msach22 commented on #136
@akandaurov Thanks for reporting this! This looks like a duplicate of https://github.com/opentok/opentok-react-native/issues/121 so I'm going to go ahead and close it. Please re-open if you believe it's not the same issue.

[2018-07-17 20:38] #136 closed

[2018-07-17 20:41] sunweiyang commented on #120
I've updated my React Native app to Android API level 26 -- this library seems to be working fine. I'll close this for now -- if we see problems, they should probably have their own dedicated issues.

[2018-07-17 20:41] #120 closed

[2018-07-17 20:48] msach22 commented on #120
@sunweiyang The library should not have any issues with moving to API Level 26. The OpenTok Android SDK supports API Level 16 and above.

[2018-07-18 01:03] snobear opened #138 ""SyntaxError: Unexpected end of input" when Pause on Exceptions is enabled in React Native Debugger"
# Bug Report

**Current behavior**
When using the React Native Debugger (http://localhost:8081/debugger-ui/ in Chrome) with `Pause on Exceptions` enabled, the debugger will pause due to an exception being thrown from Opentok RN.

**Steps to reproduce**

1. Install and run the [BasicVideoChat sample project](https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat). I spec

[2018-07-18 09:06] mbouxin commented on #108
I have the same issue than @emin93. I found a workaround which consist in going to the OpenTokReactNative xcodeproj settings and set Enable Bitcode to NO in the Build settings.

[2018-07-19 16:59] msach22 commented on #137
@steverob Any updates on this?

[2018-07-19 17:01] msach22 commented on #133
@sunweiyang You can use the `sessionReconnecting` and `sessionReconnected` events to display information to the end user about the connection changes.

I'm going to go ahead and close this issue, please re-open if these events are not working for you.

[2018-07-19 17:01] #133 closed

[2018-07-20 09:19] emin93 commented on #108
I can confirm the workaround works for me as well. Thank you @mbouxin. 🙂

[2018-07-22 08:05] steverob commented on #137
@msach22 Sorry man. Thanks for your reply. Its very intermittent and I'm unable to find out solidly when this happens. I'll close this for now. Thanks for your help! :)

[2018-07-22 08:05] #137 closed

[2018-07-22 08:08] steverob opened #139 "Changes to `subscribeToAudio` property is not applied dynamically"
Here's what I'm doing - I'm taking in a prop called `subscribeToAudio` and I'm using it to build a property object and I feed it into the `OTSubscriber` component. Something like this -

[code]

Now when this prop changes in the parent component, the changes propagate down but it does not seem to take any effect on the subscriber.

Do I need to do anything differently or is this not supported? Tha

[2018-07-22 08:35] steverob commented on #139
@msach22 quick glance [here ](https://github.com/opentok/opentok-react-native/blob/master/src/OTSubscriber.js#L31) tells me we're only checking for updates in the `streamProperties` prop. Am I correct?

[2018-07-22 09:18] steverob opened #140 "Portrait streaming and video resolution"
Hi @msach22, just need a clarification on portrait orientation streaming. I've set our resolution to be `1280x720`, but our app is set to stream video in Portrait orientation.

How does OpenTok handle this? Does it detect the orientation and rotate video or does it do a a center crop of the 720p frame?

Thanks!

[2018-07-22 09:20] SlZeroth opened #141 "suggestion that session be connected when the screen is off"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.
When using native, it is possible for user to continue the voice/video session even if they turn their screen off by pushing lock button. But now I am using opentok-react-native and I realize if I turn the screen off, the session is disconnected. I might rea

[2018-07-22 17:53] msach22 commented on #141
@SlZeroth Can you try out this solution and see if it works for you? https://stackoverflow.com/questions/51391291/opentok-ios-best-practice-to-start-a-video-chat-when-one-participant-has-the

You have to turn on the Background Mode capabilities before you build the app.

[2018-07-22 17:56] msach22 commented on #139
@steverob The `streamProperties` prop needs the `streamId` to know which stream to update. If you want to update all of the streams with the same properties, you can use the `properties` prop.

Here's some sample code on how to implement `streamProperties`: https://github.com/opentok/opentok-react-native/issues/124#issuecomment-403996366

I'm going to close this issue, but please re-open if the is

[2018-07-22 17:56] #139 closed

[2018-07-22 17:57] msach22 commented on #135
@steverob Let me know if you'll have time to get around to this, if not, I can try to get it out sometime this week 😄

[2018-07-22 17:58] msach22 commented on #135
@steverob Let me know if you have some time to get around to this, our team will be happy to send over a TokBox t-shirt as a small token of gratitude 😄

[2018-07-22 17:59] msach22 commented on #108
@mbouxin @emin93 does the bitcode change allow you to archive when using `react-native link opentok-react-native` ?

[2018-07-23 04:32] steverob commented on #139
@msach22 Got it. The code I pasted was a bit incorrect. I'm not using `streamProperties`. I just want to apply mute to the entire session on the subscriber end.

Changing properities only on the `properties` prop does not seem to work . Can you confirm please?

[2018-07-23 04:34] steverob opened #142 "NullPointerExceptioncom.opentokreactnative.OTSessionManager in disconnectSession"
When navigating away from a page that has an OT component that's still trying to establish a connection I get this exception and it crashes the app -

[code]

Can this be handled on the native side please? Or is there a better way to handle this from  our side?

Thanks @msach22

[2018-07-23 06:56] emin93 commented on #108
@msach22 It's really a workaround, because every time I change something in the project settings, it says that the signature has changed and then I have to re-compile with "Enable Bitcode" set to "YES". Then switch back to "Enable Bitcode" set to "NO" and then archive. It's a pretty unreliable workaround. 😕

[2018-07-23 15:43] msach22 commented on #139
@steverob Thanks for updating! Apologies for the confusion, but the `properties` prop is for used when we subscribe to streams. To update them, you would have to use the `streamProperties` props as I linked above.

[2018-07-23 17:19] msach22 commented on #142
@steverob We would need to change the code on line 205(https://github.com/opentok/opentok-react-native/blob/master/android/src/main/java/com/opentokreactnative/OTSessionManager.java#L205) to the following to make it work:

[code]

[2018-07-23 17:23] msach22 commented on #142
Fix: https://github.com/opentok/opentok-react-native/pull/143

This should go out with 0.8.3

[2018-07-24 04:04] steverob opened #144 "RuntimeException: Illegal callback invocation from native module."
@msach22 Ran into this native crash. Looks like some callback being fired onDisconnect. Any idea why this is crashing?

[code]

[2018-07-24 16:20] msach22 commented on #144
@steverob Can you share when this is happening? Any reproduction steps?

[2018-07-24 16:23] msach22 commented on #132
@jeanregisser Do you prefer exposing the signal method through the session ref? As for the error issue, we can fix that 😄

[2018-07-26 09:36] emin93 commented on #108
@msach22 Yes I get that, but sadly it doesn't always work and that's why I think it doesn't make sense to include that change/workaround in the lib.

I'll also try out some other things and write if i find out something new.

[2018-07-31 09:12] asatour commented on #122
Hello,
I managed to resolve this problem by using Modal (that I make visible only when the subscriber is connected)

[code]
[code]

[2018-07-31 09:13] asatour commented on #122
Hello,
I managed to resolve this problem by using Modal (that I make visible only when the subscriber is connected)

[code]

[2018-07-31 12:51] asatour commented on #122
You should draw the publisher again when the subscriber is viewed (so in two case: when the is connecting and when the subscriber is streaming
[code]

[2018-07-31 16:05] msach22 commented on #144
@steverob Any updates on the reproduction steps?

[2018-07-31 19:56] sunweiyang commented on #122
Thanks @asatour but my app needs a modal already for other purposes, and RN currently does not support multiple simultaneous modals:
https://github.com/facebook/react-native/issues/3445
https://react-native.canny.io/feature-requests/p/multiple-modal-components

A true solution for overlapping publisher still needs to be found that does not use modals.

[2018-07-31 20:06] asatour commented on #122
@sunweiyang
I'm sorry but I removed the modal solution, If you like at the response now, it's without modal
I just draw the OTPublisher in the first time and when I get stream from the subscriber, look at the line code:

`this.state.connection !== this.STATUS.CONNECTING || this.state.connection === this.STATUS.SUBSCRIBER_CONNECTED ?`

[2018-08-02 20:27] HaroldoTeruya commented on #108
I read all the comments and I tried everything, but I am getting always "Native module cannot be null".
The only work around to me is copy all the files and paste in my project.

[2018-08-05 21:53] sunweiyang opened #145 "For RN 0.56.0: Android SDK Build Tools revision (23.0.1) is too low"
On RN 0.56.0, when trying to build Android app, I see the following error output:

[code]

As of RN 0.56.0, the Android SDK versions used have been changed to the following:
[code]

[2018-08-06 16:54] msach22 commented on #145
@sunweiyang Thanks for letting us know! If you're up for it, please send a PR for the following file: https://github.com/opentok/opentok-react-native/blob/master/android/build.gradle

If not, I can get to it this week 😄

[2018-08-06 16:58] msach22 commented on #142
This fix has been released.

[2018-08-06 16:58] #142 closed

[2018-08-06 21:46] sunweiyang opened #147 "iOS production build/archive: Invalid bitcode signature issue"
In certain cases, iOS production build/archive can fail with the following error output:
[code]

After a lot of digging, I've found that in OpenTokReactNative.xcodeproj's Build Settings, `Enable Bitcode` is set to `YES`. Changing this value to `NO` solved this issue for me.

<img width="1091" alt="screen shot 2018-08-06 at 2 38 41 pm" src="https://user-images.githubusercontent.com/12490625/4374263

[2018-08-06 23:05] sunweiyang commented on #145
Created PR #148 -- reviews welcome.

[2018-08-06 23:48] msach22 commented on #147
@sunweiyang Thanks for reporting this. Unfortunately, we should not limit the application to only work after when `enable bitcode` is set to `No` because that would not allow the Application to go through the App thinning process.

I think I've discovered the fix for the library to work as expected:

Under `Build Settings` for the OpenTok React Native library target, go to `Strip Debug Symbols Dur

[2018-08-06 23:49] msach22 commented on #108
Hey Folks,

My sincere apologies for the delay, but I think I've discovered the fix for the library to work as expected:

Under `Build Settings` for the OpenTok React Native library target, go to `Strip Debug Symbols During Copy` and set Release to `Yes`. That should get the app to compile and archive as expected. You do not need to modify bit code settings for the app or the library.

Please let

[2018-08-06 23:50] msach22 commented on #108
@HaroldoTeruya Is this happening for a specific device on the simulator?

[2018-08-07 00:00] msach22 commented on #144
@steverob I'm closing this issue because it doesn't provide reproduction steps, but please feel free to re-open with reproduction steps as needed!

[2018-08-07 00:00] #144 closed

[2018-08-07 00:01] msach22 commented on #132
@jeanregisser Any thoughts on exposing via session ref?

[2018-08-07 00:04] HaroldoTeruya commented on #147
Thank you! I'll try this later and give a feedback.

[2018-08-07 00:07] HaroldoTeruya commented on #108
Thank you @msach22 for your efforts! I'll try this later and give a feedback for sure.

[2018-08-07 00:40] sunweiyang commented on #147
@msach22 thank you for the suggestion, but unfortunately setting `Strip Debug Symbols During Copy` as `Yes` did not fix the issue for me. So far, disabling bitcode is the only way that I can build my app for iOS.

[2018-08-07 04:09] sunweiyang commented on #147
@msach22 Actually my codebase was accidentally using opentok-react-native@0.8.0 instead of 0.8.3 (yarn issue unrelated to this library), and once I re-installed our npm packages, this issue is mysteriously gone without any changes. Thank you for bearing with me, and apologies for the run-around.

@HaroldoTeruya, are you still experiencing an issue similar to this? If so, try making sure that you'r

[2018-08-07 04:54] sunweiyang commented on #147
By the way, I found that if I set OpenTokReactNative.xcodeproj's build target to `9.0` (instead of the current repo's value of `11.2`), I'm able to build 0.8.0 as well.

@msach22, perhaps it's a good idea for the repo to have `9.0` as the target to prevent future build issues?

[2018-08-08 07:39] emin93 commented on #108
@msach22 No worries, I'm also on it, but currently I'm running out of ideas.

Yes, my app target has `Enable Bitcode` set to `Yes`.

[2018-08-09 18:14] Carlosp16 opened #150 "Lost reference to publisher camera"
After a time using the app in background or sometimes after a reconnect the publisher loss the reference to the camera. The audio still work for the publisher but the video is lost(Black screen). We don't received any errors in console. Any ideas to fix it?

[2018-08-13 21:02] msach22 commented on #150
@Carlosp16 This seems like a duplicate of the following: https://github.com/opentok/opentok-react-native/issues/141

Could you please check out the solution mentioned in the issue?

[2018-08-13 21:03] msach22 commented on #132
@jeanregisser I'm going to close this issue due to inactivity, please re-open if you would like to continue this 😄

[2018-08-13 21:03] #132 closed

[2018-08-14 18:34] evillemez commented on #150
I think this is distinct from #141

We have an issue that is somewhat difficult to reproduce where a user may put the app in the background for some time, then restore the app to foreground, but their video is gone.  It doesn't happen every time, sometimes the video comes back as expected.  When it does disappear, toggling the video on/off doesn't have any effect - both users just see a black feed

[2018-08-14 23:31] HaroldoTeruya commented on #147
Hi @sunweiyang and @msach22. It worked for me with the new version (0.8.3)!

Thank you @msach22 and @sunweiyang!

The following configurations is working for me:

I set the application target:
- `Enable Bitcode` to `Yes`;
- `Target Dependencies` the `OpenTokReactNative`;
- Added the `libOpenTokReactNative.a` in the `Link Binary With Libraries` ;

[2018-08-14 23:33] msach22 commented on #147
@HaroldoTeruya Glad to hear that it's working, which version of XCode are you using?

[2018-08-14 23:38] HaroldoTeruya commented on #147
I am using the `Version 9.4.1`.

[2018-08-15 09:57] nuttikung opened #151 "Cannot build android production due to "Execution failed for task ':opentok-react-native:verifyReleaseResources'.""
# Bug Report

**Current behavior**

"FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':opentok-react-native:verifyReleaseResources'.

**Steps to reproduce**

1. bundle js  via react native command.
2. cd android && ./gradlew assembleRelease
3. the error will be shown.

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *corre

[2018-08-15 12:06] wzup opened #152 "Multiple Xcode projects found, please specify one"
I follow your [iOS installation guide](https://github.com/opentok/opentok-react-native#ios-installation) and get:

Explain how to solve it.

I understand it is not your issue per se, but at lease you can explain how to solve it

[2018-08-15 13:12] wzup opened #153 "Cannot read property 'assetsPath' of null"
Linking throws

[code]

How to solve it?

Same error posted to RN github https://github.com/facebook/react-native/issues/18249

[2018-08-15 13:20] wzup opened #154 "<YourProjectName>.xcworkspace IS NOT a file"
You write

But it IS NOT a file. It is a directory.

![screen shot 2018-08-15 at 4 17 14 pm](https://user-images.githubusercontent.com/3880497/44150148-1df924d8-a0a7-11e8-9936-6c5ce1a160bd.png)

What file should I open then?

[2018-08-15 16:03] wzup opened #155 "'OpenTok/OpenTok.h' file not found"
When I try to build RN I get this error

Why? How to solve?

[2018-08-15 22:38] msach22 commented on #154
Thanks for reporting! This is a README typo that we can fix with the next release.

Please open the `.xcworkspace` contents with XCode to get started

[2018-08-15 22:40] msach22 commented on #153
@wzup This seems like an issue with `react-native`, I'm able to link as expected.

[2018-08-15 22:41] msach22 commented on #152
Hmm, could you please outline the steps and where you're getting this message?

[2018-08-15 22:43] msach22 commented on #155
Could you please confirm that you've successfully followed the iOS installation process? I'm not seeing this issue when I add the library.

Please share the version of `Xcode` and `React Native` that you're using.

[2018-08-15 22:44] msach22 commented on #147
@HaroldoTeruya The empty swift file is not needed if you already have another swift file in the project. This is added so we can add `Swift` for the Swift flags to be enabled for the library.

[2018-08-16 07:04] wzup commented on #155
Yes, I confirm, I followed all the steps.

1. I've intalled Cocoapods
[code]

2. I do `pod init`
[code]

3. I edit **Podfile** so now it looks like this:
[code]

4. Then I do `pod install`:
[code]

5. **I ignore this step. Because it is obscured.**

_After installing the iOS SDK, change into your root directory of your project._

This doesn't say anything particular on what to do. What _iOS SDK_?

[2018-08-16 07:06] wzup commented on #153
Do
[code]
Solution here https://github.com/facebook/react-native/issues/16774#issuecomment-385861242

[2018-08-16 07:06] #153 closed

[2018-08-16 07:07] wzup commented on #152
I had two projects in my `ios` folder. I deleted one I do not use anymore. And it works ok now.

[2018-08-16 07:07] #152 closed

[2018-08-16 13:44] HaroldoTeruya commented on #147
@msach22 Understood!

After the last update, we can build in any device and emulator now.

But for archive I needed to:
My project -> Target -> Build Phases -> Target Dependencies -> (add the OpenTokReactNative).
Making this, the process to archive my entire project took more time than the normal.

Is this an issue?

[2018-08-16 15:15] sunweiyang commented on #154
If you open .xcworkspace's parent directory in Finder, you can then double click the .xcworkspace's icon to open it in Xcode.

[2018-08-17 07:07] hero70312 opened #156 "subscriberScreen overlap publisherScreen"
We found some android device's publisherScreen disappear.
So we minify the subscriberScreen size, then we found that subscriberScreen overlap publisherScreen.

Left side mobile screen is android 8.0.
Right side mobile screen is iPhoneX

<img width="996" alt="screenshot" src="https://user-images.githubusercontent.com/14068699/44252545-14260a00-a22f-11e8-9404-7fba67676c02.png">

[2018-08-17 12:45] wzup commented on #155
@msach22
SO what's your answer? Do you know how to solve it?

[2018-08-17 15:07] cmedinadeveloper commented on #150
@msach22 Ticket #141 is not related to this issue, because I have "Background Mode" capability activated on Xcode. While you are on a call and App goes into background mode the session is not being destroyed, the real problem is when the App comes into foreground again, for some reason the publisher video feed is gone (black screen), I tried forcing the publisher component to render again based on

[2018-08-17 16:22] evillemez opened #157 "Not receiving expected streamDestroyed/connectionDestroyed events"
# Bug Report

**Current behavior**

When one side of a conversation loses connection, the expected stream/connection events aren't received by the other participants.

**Steps to reproduce**

1. Two parties connect to a session
2. One side puts their phone in airplane mode (to simulate connection loss)... or put the phone in a Faraday cage

I believe we have only tried this in iOS, will update if

[2018-08-17 16:26] evillemez commented on #157
I should say, we've considered using the session to send heartbeat signals, and triggering a notice to the user if a heartbeat isn't received within an expected timeframe.  But that feels like a hack that shouldn't be necessary, and we're not sure if would actually work as expected if the app is moved to the background.

[2018-08-17 19:50] msach22 commented on #155
@wzup It looks like you have the `use_frameworks!` flag enabled when you're installing the OpenTok iOS SDK. This flag should not be enabled so please comment out `use_frameworks!` like so `# use_frameworks!`.

Also, you have to run `react-native link opentok-react-native` from the root directory of your React Native project, not from the iOS folder. I will update the README and change `iOS SDK` to

[2018-08-21 07:28] hero70312 opened #158 "Android Error: attempt to invoke interface method 'booleancom.facebook.react.bridge.ReadableMap.getBoolean'"
We upgrade open-react-native version from v0.5.6 to v0.8.3, but we encounter an error in android.
How do I solve this problem?

Thank you!

<img width="517" alt="2018-08-21 3 22 55" src="https://user-images.githubusercontent.com/14068699/44386849-49479a80-a556-11e8-86e4-e9f3b3c9f459.png">

[2018-08-21 09:01] #158 closed

[2018-08-21 14:49] msach22 commented on #155
@wzup Hope the installation worked out for you. Could you please update the issue if it's working as expected?

[2018-08-21 15:19] wzup commented on #155
@msach22
Not yet. I didn't check it yet. Working on other task now then return to this issue and will write my update.
Thanks for follow up.

[2018-08-28 15:38] taikim8484 opened #159 "How can i switch between earpiece and speaker when subscriber to audio stream."
Is there anyway to change audio output (earpiece or speaker) when subscriber to audio stream.
Im making a voice call.

[2018-08-30 17:47] evillemez commented on #150
@msach22 Any pointers on where we could look?  Still haven't been able to figure this one out...

[2018-08-30 17:49] evillemez commented on #157
@msach22 I thought maybe we were just holding it wrong, but I think we ruled that out... It looks like we don't receive server webhook events either in the cases I described... so, not sure where to go from here.

[2018-09-03 02:00] msach22 commented on #155
@wzup I'm going to go ahead and close this issue due to inactivity. Please re-open with more details if the issue still persists.

[2018-09-03 02:00] #155 closed

[2018-09-03 02:09] msach22 commented on #151
@nuttikung Apologies for the delay in checking this out, are you seeing this issue with the latest release (0.8.3)?

[2018-09-03 02:11] msach22 commented on #156
@hero70312 Thanks for reporting this. Can you please share the stylesheets of how you're rendering the components?

[2018-09-03 02:12] msach22 commented on #150
@evillemez @cmedinadeveloper Apologies for the delay on this, will check this out and report my findings in the next few days!

[2018-09-03 03:28] wzup commented on #155
@msach22
Issue still persist. I had to switch over to another task since it's not that easy to include OpenTok into RN project. But will get back to the issue soon.

[2018-09-04 03:11] hero70312 commented on #156
Sure!

These are my stylesheets.

[code]

[code]

[code]

[2018-09-07 17:35] msach22 commented on #122
@sunweiyang Sorry for the delay on this, I'll add a PR to fix this and release hopefully by today!

[2018-09-07 17:48] msach22 commented on #156
@hero70312 I believe this is a duplicate of https://github.com/opentok/opentok-react-native/issues/122 which as been fixed and release with `v0.8.4`.

[2018-09-07 17:48] #156 closed

[2018-09-07 17:50] msach22 commented on #122
@sunweiyang @asatour @jonathanwmaddison @emin93 @sandrotiiago

This has been fixed and released with `v0.8.4`. Please let me know if you have any questions!

[2018-09-07 17:50] #122 closed

[2018-09-07 17:51] msach22 commented on #145
Thanks for the PR @sunweiyang! This has been released with `v0.8.4`

[2018-09-07 17:51] #145 closed

[2018-09-07 17:51] msach22 commented on #128
Thanks for the PR @mbouxin! This has been released with `v0.8.4`

[2018-09-07 17:51] #128 closed

[2018-09-07 17:56] msach22 commented on #122
BTW, this was my code that I used to test:
[code]

[2018-09-07 19:22] raulgrecio opened #162 "How to overlap subscriber view over publisher view"
I'm using v0.8.4
the controls and the subscriber are renderer under the publisher.

This is the opposite of issue #122

[code]

[2018-09-10 11:53] sathyapriya31 opened #163 "External audio file playback glitch when TokBox connects to a session"
In our app, we're playing an audio file using [React Native Sound library](https://github.com/zmxv/react-native-sound) (like a countdown music) while we are also mounting the OpenTok Subscriber component. What happens is, when the Subscriber fires the "connectionCreated" event, there is a massive glitch in the audio playback and then the entire volume is almost halved. I've tried disabling audio p

[2018-09-10 19:03] charlesoma opened #164 "Android app crashes when I try to launch video chat"
# Bug Report

**Current behavior**
My app is a detached expokit app. When I load the app and get to the video call in genymotion emulator, it crashes the app the first time and subsequent times it works. But when I build and download the apk on my mobile device and try to use the video chat, it crashes the app always. It never works on my phone

**Steps to reproduce**
I simply use the basic video

[2018-09-10 21:27] msach22 commented on #164
@charlesoma Can you please share that you've run `react-native link opentok-react-native` ?

I ran the latest package on an Android device and I'm not seeing any issues. Do you think it's an issue with the sample?

[2018-09-10 21:27] msach22 commented on #164
Please also share which Android device you're running this on.

[2018-09-11 07:53] charlesoma commented on #164
@msach22 Yes I have run `react-native link opentok-react-native`. I don't know if it's an issue with the sample. Everything seems okay with the sample. I have run this on Redmi 4x, Samsung J7, and Infinix hot 5. On all these devices I am getting the same behaviour.

[2018-09-11 08:38] charlesoma commented on #164
@msach22 I am now doing this exactly as it is in the sample and still getting the error where the whole app crashes. This is my code below

<img width="853" alt="screen shot 2018-09-11 at 9 35 17 am" src="https://user-images.githubusercontent.com/25100102/45348343-4b75a580-b5a6-11e8-9c2d-26774e870f0d.png">

[2018-09-11 17:05] charlesoma commented on #164
This is the error log I'm getting

`09-11 02:37:08.424 28547-28984/com.cchubnigeria.nimcure_caregiver E/BluetoothAdapter: Bluetooth binder is null
09-11 02:37:12.041 28547-28547/com.cchubnigeria.nimcure_caregiver E/unknown:ViewManager: Error while updating prop publisherId
    java.lang.reflect.InvocationTargetException
        at java.lang.reflect.Method.invoke(Native Method)
        at com.faceb

[2018-09-11 19:32] msach22 commented on #164
@charlesoma Thanks for sharing the logs. Could you please confirm that this is happening with the latest release (v0.8.4)?

[2018-09-11 21:05] msach22 commented on #121
@jeanregisser I'm going to close this issue because the fix has been released with `v0.8.4`. Please let me know if you have any questions!

[2018-09-11 21:05] #121 closed

[2018-09-12 08:35] charlesoma commented on #164
Yes latest version. How can I get this to work please?
<img width="393" alt="screen shot 2018-09-12 at 9 30 57 am" src="https://user-images.githubusercontent.com/25100102/45412668-2b5de900-b66f-11e8-9a50-ded449087ab1.png">

[2018-09-12 08:49] YYH123123 opened #166 "Errors in OTSessionManager on IOS"
I am developing an app using opentok sdk and it is quite working well.
But sometimes(not that much frequently tho) I got several error reports when users tried to enter the screen which uses opentok library.

These are reports on errors from firebase and they are callstack given by firebase when errors occur:
///
1
OTSessionManager.swift - 221st line
specialized OTSessionManager.prepareJSEventData

[2018-09-12 19:07] profburial opened #167 "New streams loading in incorrect order"
# Bug Report

**Current behavior**
When a new stream is loaded, the subscriber component shows the video stream from the first stream loaded instead of the newest stream. For example, if a subscriber is first streaming their camera, and then streams shares their screen, the user's camera stream is still being displayed instead of their screen.

**Steps to reproduce**

- Publish stream with user's

[2018-09-14 03:29] ConnorBarnhill opened #169 "Android overlays issue"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

[code]

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

<img src="https://user-images.githubusercontent.com/7959016/45527881-7aa53600-b7a3-11e8-9c8e-cd5562e2cba7.png" width="25%" height="25%">
<img src="https://user-images.githubusercontent.c

[2018-09-14 15:10] riourbana opened #170 "[Feature request] styling subscribers container View"
# Feature Request

**Description**
Styling the subscribers container View in the OTSubscriber component would be useful (e.g. adding padding, flex-direction, spacing in case of multiple subscribers).

**Proposal**
I would add an additional prop (something like _containerStyle_) to OTSubscriber.

[2018-09-17 16:42] evillemez commented on #150
@msach22 Hey, just checking in.  Did you have any luck uncovering anything related to this?  If there's any information we can provide, or something you would like us to try - please let us know and we'll do what we can.

[2018-09-17 18:33] jp7jp opened #171 "Native module cannot be null - Only in iPhone 5"
# Bug Report

**Current behavior**
* App crashes only in iPhone 5 (both simulator and real device running iOS 10.3).
* App runs normally on iPhone 6 or superior models with both iOS 10.3 and iOS 11.

**Steps to reproduce**
* Create new React Native project using "react-native init"
* Follow instructions to install OpenTok on React Native (https://github.com/opentok/opentok-react-native#ios-install

[2018-09-17 22:05] sunweiyang opened #172 "Picture-in-picture support for backgrounded Android app"
# Feature Request

**Description**
Android picture-in-picture (PIP) multi-window mode lets the user continue to have an OpenTok video chat pinned to a corner of the screen while navigating between different other apps.

![](https://developer.android.com/images/pip.gif)

**Proposal**
The `opentok-react-native` package's Android implementation can support picture-in-picture as an option. App backgro

[2018-09-17 22:39] msach22 commented on #164
@charlesoma I'm not sure why this is happening for you (this issue was for an older version of the sdk), but shouldn't exist now.

Can you please verify that you've linked the native modules on android with the current release?

[2018-09-18 15:26] renanpupin opened #173 "Support to audio output route ear/speaker"
It will be nice if we have audioOutputRoute property explicit at OTSubscriber object.

`
<OTSubscriber audioOutputRoute={"ear"} />
`

or

`
<OTSubscriber audioOutputRoute={"speaker"} />
`

[2018-09-19 15:54] msach22 commented on #150
@evillemez Could you please email me at manik@tokbox.com with a recent sessionId where this happens?
This will allow me to see if you are still sending video packets or not. I'm trying to see if the camera gets reclaimed but somehow it doesn't bubble up to the RN view.

You can also use [Inspector](https://tokbox.com/developer/tools/inspector/) to check out the video packets information

[2018-09-19 17:40] J-A-B-R commented on #162
We are facing the same proble with 0.8.4

We are developing a streaming app, so our use case is that the publisher should fill the screen and the subscriber/s overlap on top of it.

In iOS there is no problem, but in Android the publisher is always above the subscriber or any other component no matter what we try like putting OTSubscriber before OTPublisher, playing with *absolute* and *zIndex* or

[2018-09-19 17:45] evillemez commented on #150
@msach22 Yeah - we can create a session to reproduce and reach out to you over email. Thanks so much!

[2018-09-19 18:10] msach22 commented on #150
@evillemez Awesome, looking forward to it!

[2018-09-19 18:12] msach22 commented on #162
@J-A-B-R Sorry about breaking your app with the latest release 😞. I will see what I can do and propose a new API, something like onTop, or see if we can use zIndex value of the style prop to determine which stays on top.

[2018-09-19 18:32] J-A-B-R commented on #162
@msach22 I was suggesting *onTop* as a simple condition to choose to execute or not `setZOrderOnTop(true)`. But if you can implement it with *zIndex*, it would be great and even more consistent with the rest of RN :ok_hand:.

[2018-09-19 19:18] ConnorBarnhill commented on #169
@msach22 This might be a duplicate of https://github.com/opentok/opentok-react-native/issues/162

[2018-09-20 14:42] akandaurov commented on #162
Same issue for me as well - Publisher video is over everything. Worked fine before 0.8.4

[2018-09-20 14:57] matthewmazzuca commented on #171
This also happens on any IOS device running OS 10.3.3

[2018-09-22 00:44] sunweiyang opened #174 "Cannot set borderRadius style for OTSubscriber or OTPublisher"
# Bug Report

**Current behavior**
Styles generally work for OT* components, but the `borderRadius` style is ignored if specified. For example, opentok-react-native users cannot create circular publishers or subscribers like the following:

![profile1](https://user-images.githubusercontent.com/12490625/45911201-36c6b800-bdc5-11e8-8ce7-31986f9a865f.png)

**Steps to reproduce**
Use `borderRadius` st

[2018-09-23 17:09] J-A-B-R commented on #162
I've been digging a little into this problem in this slow Sunday and I have two suggestions for the z-index problem:

1. Use *TextureView* instead of *SurfaceView* as [supported by the OpenTok SDK](https://tokbox.com/developer/sdks/android/reference/com/opentok/android/Session.SessionOptions.html "SessionOptions"). The only caveats are, as far as I know, that the window must be hardware accelerate

[2018-09-24 15:04] selcute opened #175 "Android app crashes on session disconnected"
# Bug Report

**What is the current *bug* behavior?**
App crashes on session disconnected on Android when we force disconnect user from the session and he was also in this session before. It seems like the session isn't closing and doesn't clear its callbacks. The ```sessionConnected``` event fires every time user joins the session, but ```sessionDisconnected``` fires only when we force close the

[2018-09-26 16:12] akandaurov commented on #84
There should be support for any custom image

[2018-09-27 04:52] Artemnsk commented on #175
Maybe something similar **on iOS** but `sessionDisconnected` simply not executed?
That's what I did for testing. In my "root" _App.js_ file I set up native events like this:

[code]

.. And I commented `removeNativeEvents(...)` execution in `componentWillUnmount()` of `OTSession` component. Thus, `OT.disconnectSession()` still run but I do not remove event handlers any more to be 100% sure I execu

[2018-09-28 12:44] devsujith commented on #150
Any luck with this issue? Im facing the same one in SWIFT SDK for opentok. The publisher feed goes black sometimes when the app comes back to foreground.

[2018-09-28 13:41] cmedinadeveloper commented on #150
@devsujith No luck, this is still happening to us, we are not able to find a workaround

[2018-09-28 14:57] devsujith commented on #150
Are you facing this issue each time the app is backgrounded and comes back to foreground? Or is it the scenario when the session window is reconnected once and then followed by background and resume?

[2018-10-01 13:34] eashevchenko opened #177 "Share screen of all device"
Could i share screen of all device instead of share application screen ? Thanks !

[2018-10-08 21:22] msach22 commented on #177
@eashevchenko Unfortunately, this is not support by the OpenTok iOS or Android SDK so as of now, it's not possible to do this.

[2018-10-11 17:52] msach22 commented on #166
@YYH123123 Apologies for the delay here, can you share the device and iOS version? Please also provide any steps that will allow me to reproduce this issue on my end so I can investigate further.

[2018-10-11 21:20] askhat commented on #119
Got exactly same issue

[code]

[2018-10-11 22:47] Carlosp16 commented on #173
For now you can use IncallManager library for that.

[2018-10-22 11:15] hero70312 opened #178 "videoEnabled, videoDisabled issues"
In our project, we need to build a **three people** chat room.
We want to know each stream whether it has video or not.
If user close his video, we expect to show his avatar.
So we need to know which user disable or enable his video.

When I user OTSubscriber and write eventHandler : videoEnabled

[code]

Event is null object, when one of user disable his video.
Can you tell me how to do get the s

[2018-10-23 17:44] evillemez opened #179 "OTSubscriber audio/videoNetworkStats values"
Registering handlers for `OTSubscriber.audioNetworkStats` and `OTSubscriber.videoNetworkStats` received unexpected values in the event received.

When `OTPublisher.publishAudio`, or `OTPublisher.publishVideo` are `true`, the `OTSubscriber.audioNetworkStats` and `OTSubscriber.videoNetworkStats` methods receive events with varying values for the a/v bytes/packets received, and a/v packet loss, as ex

[2018-10-23 20:52] evillemez opened #180 "Detecting failure to publish stream"
Over the past week we've detected a large increase in one side of conversations failing to publish their stream.  The result is that both sides enter a session, but can't see/hear each other due to a failure to publish the stream.  Part of this could be connectivity problems we have no control over, but we're having a difficult time getting our app to detect and respond properly.

How do we detect

[2018-10-24 20:48] msach22 commented on #178
Let's keep this issue open until the fix has been implemented

[2018-10-25 15:29] msach22 commented on #180
@evillemez Thanks for opening an issue. I'm sorry to hear that you're seeing publish failures. You can set an `error` event listener for the `OTSession` component which should allow you to see the error code and message. You can then use the error code and messages to cross check it with the [iOS](https://tokbox.com/developer/sdks/ios/reference/) or [Android](https://tokbox.com/developer/sdks/andr

[2018-10-25 17:51] evillemez commented on #180
@msach22 Thanks - is there any documentation about the error object received there?  It could be that a lot of what we're expecting to see triggered in other methods are actually triggered by the error message instead.  Is it just `{"code": ...., "message": ....}`.

Are the error codes consistent across Android/iOS, or do we need to take into account platform differences here?

[2018-10-25 17:57] msach22 commented on #180
Good point, there is no documentation on the `error` object so we should probably add that.

Yes, that's how the error object should be. The codes will vary because these are two different platforms.

You can find the full list of when the errors are triggered:
https://tokbox.com/developer/sdks/ios/reference/Classes/OTError.html
https://tokbox.com/developer/sdks/android/reference/com/opentok/andro

[2018-10-26 14:03] riadhriadh commented on #123
i thenk  you hed manual delet  lib

[2018-10-26 22:33] msach22 commented on #180
Each component has their own `error` event and details about when they are dispatched can be found here in the docs: https://github.com/opentok/opentok-react-native/tree/master/docs

When simulating a network failure, the `connectionDestroyed` event will be dispatched (this is tied to `OTSession`). This event would also contain a reason of why the connection was destroyed i.e `clientDisconnected`,

[2018-10-29 01:07] hero70312 commented on #178
OK!

[2018-10-29 13:36] evillemez commented on #180
Hi @msach22 Thanks for that clarification.

I think our problem is that we're just not seeing the behavior we expect.  We've tried various approaches - logging both `connectionDestroyed` on the session, `disconnect` on the subscriber, and also the `error` events on all the components.

Our scenario is this: a publisher and a subscriber have successfully subscribed to each other's streams, so are i

[2018-10-29 14:38] evillemez commented on #150
Just a note that, for us, this seems to be an iOS only issue.  On Android the video continues if the app is in the background.  So switching back and forth doesn't seem to cause a problem.

[2018-10-29 20:47] msach22 commented on #171
@jp7jp @matthewmazzuca Apologies for the delay on this, the fix for this should be going out in v0.8.5

[2018-10-29 21:01] msach22 commented on #135
@steverob I am working on a patch for this, but you should be seeing an object like this:

[code]

The discrepancy I mentioned is internal so it's not something that you should be seeing - I will also update the docs to clarify the error object.

[2018-10-30 00:06] msach22 commented on #166
@YYH123123 Did you get a chance to see my previous message? Could you please provide any relevant information about the reproduction steps?

[2018-10-30 00:09] msach22 commented on #163
@sathyapriya31 Sorry for the delay in getting back to you. Could you try setting the `audioSource` to `false` when you create the publisher? Setting the `audioSource` property to `false` will not initialize the audio track. When you do this, you will not be able to add any audio to that publisher.

[2018-10-30 00:11] msach22 commented on #151
@nuttikung Are you still seeing this with the latest release (v0.8.4)?

[2018-10-30 00:12] msach22 commented on #115
@dtaborda Could you please check if this is still happening if you are using OpenTok iOS SDK 2.15.0?

You can use the 2.15.0 version by updating your Pod file

[2018-10-30 07:12] AbsohAbsoh opened #182 "OTSession fails to complete OT.connect"
# Bug Report

**Current behavior**
Using the simple tutorials to get a session running, the OTSession manager appears blank.
[code]
I've ensured the props are all there, and upon investigating the OTSession component the console log stops returning anything around the OT.connect helper function.

**Steps to reproduce**
Below is the createSession method with logging:
[code]

**What is the current *

[2018-10-30 18:05] msach22 commented on #182
@AbsohAbsoh Thanks for filing an issue. Can you please share if this is happening for iOS or Android? Which version of this library are you using?

[2018-11-02 03:44] zaidSimajji opened #183 "Cannot see the environment in React360 inside OTPublisher/ OTSubscriber"
# Bug Report

**Current behavior**
I'm trying to use opentok and react 360 together to create an app where user A and B can explore/ move around in  react 360 enviroment (using react native's webview) while seeing each other's screen using opentok. However the OTPublisher and OTSubscriber only shows a blank screen except the react 360's camera direction indicator. The camera's direction indicator

[2018-11-02 11:20] nimeshbhalani7 opened #184 "no such file or directory: /Library/Developer/Xcode/DerivedData/[project_name]-gqnxcdepkzfjroeibqodgvdtvvne/Build/Products/Debug-iphoneos/libOpenTokReactNative.a in react native opentok"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2018-11-02 16:20] msach22 commented on #184
@nimeshbhalani7 Thanks for reporting this. Can you confirm if you've tried the following:

[code]

[2018-11-03 19:13] msach22 commented on #182
@AbsohAbsoh Could you please check if your credentials are valid? I'm unable to reproduce the issue, the callback on the native layer always works for me regardless of being an error or no error

[2018-11-04 01:36] msach22 commented on #178
@hero70312 This should be released with `v0.9.0`

[2018-11-04 02:31] msach22 commented on #123
Hi folks, the next release, `0.9.0`, should be fix this because the target is being set to 9.0

[2018-11-04 02:42] #154 closed

[2018-11-04 02:43] msach22 commented on #135
This has been fixed and released of `v0.9.9`

[2018-11-04 02:43] #135 closed

[2018-11-04 02:44] msach22 commented on #123
This has been fixed and released of `v0.9.9`

[2018-11-04 02:44] #123 closed

[2018-11-04 02:44] msach22 commented on #178
This has been fixed and released of `v0.9.0`

[2018-11-04 02:44] #178 closed

[2018-11-04 02:46] msach22 commented on #164
@charlesoma Were you able to get this going? The `opentok-react-native` android code seems out of sync. Could you please try with a fresh project?

I'm going to go ahead and close the issue, but please feel free to re-open if it still persists.

[2018-11-04 02:46] #164 closed

[2018-11-04 02:49] msach22 commented on #166
@YYH123123 I'm going to go ahead and close this issue, but please feel free to re-open if it still persists.

[2018-11-04 02:49] #166 closed

[2018-11-05 08:56] hero70312 opened #190 "EventUtils Error"
I have upgrade to version 0.9.0
There was another issue occurred  when I am was testing the BasicVideoChat example.
I tried to open and close the camera.
set publish property:
[code]

I closed the camera of USER1 cause screen of USER2 got stuck.

I opened the camera of USER2 cause screen of USER2 got stuck

Then Xcode Indicate that there is a err in **EventUtils.swift -> prepareJSStreamEventData**

[2018-11-05 20:19] TeruyaHaroldo opened #191 "[Android] Implementing incoming call like WhatsApp and Skype."
Hello.

I am able to open an activity to show the hangup and accept buttons whenever there is an incoming call. But I have a problem when my keyguard is locked. Any ideas guys?

For example, in a Android device version 7 with keyguard locked. I am able to show the hangup interface but when I accept (and use the OpenTok functions...), my onPause MainActivity is called and the device is locked.

To

[2018-11-06 07:10] nimeshbhalani7 commented on #184
@msach22 It is working fine

[2018-11-06 11:46] podvipodvert commented on #171
I'm using 0.9.0 and I have this problem =( Help me please

[2018-11-06 12:43] TeruyaHaroldo commented on #191
I discovered that this happens only with my motorola G5+ 7.0.0. In other devices works perfectly. Someone know why?

[2018-11-06 12:59] TeruyaHaroldo commented on #191
Hey!
I upgraded the version to 0.9.0 and it is working perfectly!
I can receive an incoming call and open my application when the device is locked!

[2018-11-06 12:59] #191 closed

[2018-11-06 21:21] msach22 commented on #184
Happy to help! I'm going to go ahead and close the issue.

[2018-11-06 21:21] #184 closed

[2018-11-07 11:17] mbouxin opened #192 "Initial signal on session creation (v0.9)"
# Bug Report

**Current behavior**
On IOS I always get a message "OTRN JS: There was an error sending the signal ${error}" when creating a session. This is due to the fact that when I create my OTSession object I do not use the "signal" props. In this configuration, an empty signal {type: "", message: ""} is sent to the swift which do not send it and resolve with this error.

This does not happen

[2018-11-07 22:53] msach22 commented on #192
@mbouxin Thanks for reporting the issue! Please do propose a PR 😄

[2018-11-07 22:53] msach22 commented on #190
Thanks @hero70312! I will see if I can create an environment where I can reproduce this reliably - thanks for your patience.

[2018-11-08 03:31] zaidSimajji commented on #183
After some digging and testing with various websites, I noticed that OpenTok will not show anything that is in WebGL. According to people at React 360; the environment is also done in WebGL while the indicator is a normal HTML element, which would explain the situation I have.

Does anybody know if this is the case or perhaps there's a way to actually do this? I've tried searching about in Google

[2018-11-08 17:12] askhat opened #193 "[help needed] How to apply a style to a separate stream?"
I'm trying to build an app for multi-user conferencing. Any user may or may not have a priority over others, expressed with this user's stream being bigger. For example, a layout for 3+1 users may look like so:

[code]

With left tile allocated for the prioritized stream and the smaller tiles for the rest.

In the `opentok-react` it is easily achieved with iterating over streams array (which is ma

[2018-11-09 19:16] msach22 commented on #192
@mbouxin I believe this is a bug with the iOS 2.15.0 SDK. I will update you as soon as I have more info!

[2018-11-09 22:13] msach22 commented on #182
@AbsohAbsoh Can you please confirm if you're seeing this with v0.9.0?

[2018-11-09 23:29] #182 closed

[2018-11-10 00:35] msach22 commented on #171
@podvipodvert Could you please go try the following?

- Open project in Xcode
- Click Build Phases
- Under link `Link Binary with Libraries`, make sure that `OpenTokReactNative` is being required.

[2018-11-10 00:36] msach22 commented on #171
@jp7jp @matthewmazzuca This has been release with v0.9.0

[2018-11-10 00:37] msach22 commented on #147
Hi @TeruyaHaroldo @sunweiyang Apologies for the delay, this was released with v0.9.0 last week.

[2018-11-10 00:37] #147 closed

[2018-11-10 00:37] msach22 commented on #151
@nuttikung I'm going to go ahead and close this issue, please re-open if this still persist with the latest release.

[2018-11-10 00:37] #151 closed

[2018-11-10 00:39] msach22 commented on #163
@sathyapriya31 Could you please let me know if the comment above resolved your issue?

[2018-11-10 00:45] msach22 opened #194 "Add documentation about `streamPropertyChanged` event"
# Feature Request

**Description**

**Proposal**

**Links / references**

[2018-11-10 20:01] msach22 opened #195 "Add Signaling to a specific connection"
# Feature Request
Please give this issue a thumsup if you would like to see this feature implemented.
**Description**

As of now, you can only signal to everyone connected to a session. The OpenTok iOS and Android SDKs support the ability to signal to specific connections.

**Proposal**

We would need to keep a record of each connection attached to the `OTRN` singleton in the native layer such as:

[2018-11-12 16:47] msach22 commented on #150
@evillemez Yes, if you unmount and remount a publisher component, you will essentially remove the old publisher and create a new publisher.

[2018-11-12 16:47] msach22 commented on #192
@mbouxin For now, please use the 2.14 SDK on iOS. You can do this by changing the version number in the Podfile.

[2018-11-13 08:56] mbouxin commented on #192
@msach22 Thanks for the analysis !

[2018-11-13 09:09] mbouxin commented on #193
@askhat I did not do it yet but as I have also this feature to be developed by the beginning of 2019 I already thought a little about this.

As it is now, in opentok-react-native, you should:
 - listen to streamCreated and streamDestroyed event of the OTSession and save yourself a list of active streams
 - create as many OTSubscriber as active streams with the style props particularized

Obviously

[2018-11-14 13:39] TeruyaHaroldo opened #197 "Cannot find symbol MATRIX_SAVE_FLAG"
Hi. I having this issue when I am trying to run `react-native run-android`. I updated Android Gradle to `classpath 'com.android.tools.build:gradle:3.2.1'` and Android compileSdkVersion and buildToolsVersion 28.

[code]

[2018-11-15 04:34] zaidSimajji opened #198 "OpenTok seems to crash when videoSource is set to "screen""
**Current behavior**
OpenTok OTPublisher seems to crash/ freeze after interacting with the screen and "videoSource" is set to "screen". This seems to affect the app itself as well to a certain extent as my Back button no longer works as well (however some element on the screen seems to still be working).

**Steps to reproduce**
1. Set the OTPublisher's videoSource to 'screen'
2. Have a webview ima

[2018-11-15 13:37] selcute commented on #175
Still happening in v0.9

[2018-11-16 22:04] msach22 commented on #198
@zaidSimajji Thanks for reporting this, can you please share which package version this is happening with?

[2018-11-19 01:39] zaidSimajji commented on #198
@msach22 From my package.json:
"opentok-react-native": "^0.9.0",
 "react-native": "0.57.3",

[2018-11-19 11:31] anilkumar1505 commented on #119
i am facing same issue "Native module can not be null"

[2018-11-20 21:54] Taras-Tymchiy commented on #164
Had the same issue on detached expo app (v28).
The problem was that on some android devices the camera access permission dialog wasn't shown. Implementing PermissionAwareActivity interface in the MainActivity class (like here https://github.com/expo/expo/issues/784#issuecomment-338824333) worked for me

[2018-11-20 21:56] Taras-Tymchiy commented on #77
Had the same issue on detached expo app (v28).
The problem was that on some android devices the camera access permission dialog wasn't shown. Implementing PermissionAwareActivity interface in the MainActivity class (like here expo/expo#784 (comment)) worked for me

[2018-11-20 23:40] jgutierrez11 commented on #174
What I did is put the OTPublisher inside a View with overflow set to 'hidden', hope it helps

[2018-11-21 00:59] sunweiyang commented on #174
@jgutierrez11 Thanks; however this doesn't work on Android. This is probably related to #162.

[2018-11-21 06:50] rossenv commented on #77
Thanks @Taras-Tymchiy  I'll give it a try

[2018-11-25 10:58] erez-guesty commented on #119
+1

[2018-11-26 14:18] mbouxin opened #199 "Random crash on switch on and off video"
# Bug Report

Version :
 - opentok-react-native 0.9.0
 - opentok ios 2.15.0 and 2.15.1

**Current behavior**

**Steps to reproduce**

**Relevant logs and/or screenshots**
The code crashes randomly in prepareJSStreamEventData. The error indicates that the C memory associated to the OTStream can not be read.

The problem seems to be correlated to opentok-ios rather than opentok-react-native as repla

[2018-11-26 21:37] msach22 commented on #119
@askhat @anilkumar1505 Could you please confirm that you've run `react-native link opentok-react-native`?. Could you also please share a screenshot of `Link Binary with Libraries` under the `Build Phases` section?

[2018-11-27 08:42] msach22 commented on #199
@mbouxin Thanks for reporting this. Are you seeing this with iOS to iOS applications or iOS to any other OpenTok platform?

[2018-11-27 10:05] mbouxin commented on #199
@msach22 The app that crashes is always the iOS app but it crashes whatever the other opentok platform is (at least I just reproducted the bug with an android client and a web client)

The crashes are in prepareJSStreamEventData called by subscriberVideoEnabled and subscriberVideoDisabled delegates.

[2018-11-27 12:56] pedro-cerdera opened #201 "Random Session Stream Destroyed when call reconnect"
# Bug Report

Version:
opentok-react-native 0.9.0

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

[2018-11-27 17:31] renanpupin commented on #201
@msach22 this issue is happening in android and iOS.

[2018-11-27 18:19] renanpupin commented on #201
I am not sure if it is related to the issue, but both Session and Subscriber is mapping the same disconnect event in android.

<img width="1035" alt="captura de tela 2018-11-27 as 16 17 43" src="https://user-images.githubusercontent.com/8743530/49102493-1f41fa80-f260-11e8-9b1b-f705a35ea6ab.png">

[2018-11-28 08:07] msach22 commented on #201
@pedro-cerdera @renanpupin We have a reconnection bug that's been filed with the native team which is currently being tracked internally. I will update you as soon as we have more input.

[2018-11-28 08:09] msach22 commented on #199
This is a duplicate issue: https://github.com/opentok/opentok-react-native/issues/190

It looks like it's an issue with the native SDKs and it has been filed internally. I will update the original issue as I have more details.

[2018-11-28 08:09] #199 closed

[2018-11-28 08:09] msach22 commented on #190
@hero70312 @mbouxin This is an issue with the iOS SDK - I have filed it internally and will update this issue once we have a patch available.

[2018-11-28 08:11] msach22 commented on #192
@mbouxin We have released the patch for this issue in the native iOS SDK - please update your pod file to use `2.15.1`. I'm also going to release v0.9.1 which will have the updated readme along with the updated android sdk

[2018-11-28 10:39] mbouxin commented on #192
@msach22 Tested it: it works. Thanks !

[2018-11-28 10:39] #192 closed

[2018-11-28 11:06] renanpupin commented on #201
@msach22 thanks for the reply.
Please let me not ASAP when this fix is going to be released.
We have this bug in production that are causing some troubles to our clients.
Feel free to ask if you need some other informations.

[2018-11-30 18:05] mmubasher commented on #150
@evillemez Is there a way to detect if video is lost. On android if camera is taken away by any other app like whatsapp video call, video stream freezes for me too

[2018-11-30 19:07] pedro-cerdera opened #202 "NullPointerException crash on Android"
# Bug Report

Version:
opentok-react-native 0.9.0

**Current behavior**

**Steps to reproduce**

**Relevant logs and/or screenshots**
[code]

[2018-12-04 21:47] smakosh commented on #151
Hi @msach22 I'm still facing the same issue above, I'm using the last version `0.8.3`

[2018-12-06 17:53] renanpupin commented on #201
Any updates on this bug?

[2018-12-06 19:16] fatiago commented on #197
Hi @TeruyaHaroldo did you reach any solution?
Thanks

[2018-12-07 18:09] cmedinadeveloper opened #203 "Android crash - Error while updating property 'streamId' of a view managed by OTSubscriberViewManager"
![crash1](https://user-images.githubusercontent.com/33674559/49664817-5c10ad00-fa29-11e8-938b-4a4a4efb25bf.jpeg)
Got this crash on Android devices after remounting the session component if the user lost his internet connection, this happens 85% of our calls, any way to prevent or fix this since the default reconnecting method is not working properly?

[2018-12-10 21:26] ZakeryFyke opened #204 "OT Undefined Error"
I have a very simple implementation as follows:

        export default class VideoChatScreen extends React.Component{

        constructor(props){
            super(props);
            // I have real values here
            this.apiKey = '';
            this.sessionId = '';
            this.token = '';

        }

        render(){

            return(
                <View style={{ flex: 1, flex

[2018-12-11 02:35] msach22 commented on #204
@ZakeryFyke Have you linked the native modules? (`react-native link opentok-react-native`) Could you please share which platform (iOS/Android) this is happening for?

[2018-12-11 04:05] Artemnsk commented on #190
Hello gentlemen,
I have very similar issue: _randomly_ app crashes in prepareJSStreamEventData() function body. It happens for **subscriber** when **publisher** closes and reopens app.

![ot-error](https://user-images.githubusercontent.com/2211933/49777785-87024600-fd34-11e8-8bf5-2a2ae81d0b34.png)
- iOS OpenTok 2.15.0
- opentok-react-native 0.9.0

It is not related to explicit switching publishVid

[2018-12-11 17:03] ZakeryFyke commented on #204
@msach22 I have indeed run `react-native link opentok-react-native` at the top level of the project.

This is currently happening for Android using expo to build to my device, I do not have the ability to run on iOS at this time.

[2018-12-11 17:56] msach22 commented on #204
@ZakeryFyke Ah, unfortunately, this library does not support Expo because it uses custom native modules.

[2018-12-11 18:11] msach22 commented on #190
This issue will be fixed with v0.9.2 - we are planning to release a patch with the native SDKs (2.15.2) in the very near future.

[2018-12-11 19:08] msach22 commented on #150
@evillemez Have you tried using `AppState` and unmounting and remounting the `OTPublisher` component?

If you can see that the publisher changed from background mode to foreground and they are not sending any videoNetworkStats, you can unmount and remount to create a new publisher instance

One more question, is this happening on all iOS devices or just specific ones?

[2018-12-11 19:21] codvlpr opened #205 "[Android] Native Module doesn't link properly when using with react-native-navigation"
I'm trying to integrate opentok react native library in my react native app. I've started the app with react-native init and followed the installation process as per the README of this repo but still getting this error. I've tried to run my project on simulator and on a real device too but no luck.
![whatsapp image 2018-12-11 at 23 21 11](https://user-images.githubusercontent.com/7852344/49824444-

[2018-12-11 19:40] codvlpr commented on #205
Android as of now. Not tested on iOS.

[2018-12-12 01:07] msach22 commented on #205
@codvlpr Thanks for sharing. I'm unable to reproduce this issue:
I created a fresh new project using (`react-native init`) and linked the library (`react-native link opentok-react-native`).

Are you seeing this on a specific device or is there any other information that you can provide that will help me reproduce the issue?

[2018-12-12 06:43] codvlpr commented on #205
I'm using react-native-navigation and react-native-vector-icons in my project as external libraries.
Kindly review the sdk versions and all. If there's anything I'm missing here please let me know.
`
        buildToolsVersion = "27.0.3"
        minSdkVersion = 19
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion = "27.1.1"
`

[2018-12-12 16:41] ZakeryFyke commented on #204
I rebuilt the project without using Expo, and that fixed the issue. 😄

[2018-12-12 16:41] #204 closed

[2018-12-12 16:51] msach22 commented on #204
Happy to hear 😄

[2018-12-12 17:37] codvlpr commented on #205
Oh and I'm using ReactNative 0.57.7
Does react native version have anything to do with this library?

[2018-12-12 19:07] sunweiyang commented on #162
@msach22 Will this issue be addressed soon? Publisher is always rendered over everything else on Android, which makes overlays or overlaps on top of the publisher impossible.

[2018-12-13 19:39] msach22 commented on #205
@codvlpr Thanks for sharing. I created another fresh project using React Native 0.57.7 and added the latest version of this library and I'm unable to reproduce the issue.

[2018-12-13 19:39] msach22 commented on #205
Can you check and see if you're compiling the opentok-react-native android bindings with your Android project?

[2018-12-14 03:05] snobear opened #206 "Switching user from publisher to subscriber"
Hi, I'm building a broadcast one-to-many style app. At any given time, a user can become a "performer" aka publisher in Opentok terms, and everyone else a subscriber. There is a queue of performers, so once a performer is done, they become a subscriber and the next person in the queue becomes the sole performer.

The issue I'm having is that when a user goes from publisher to subscriber, there is

[2018-12-14 17:20] snobear commented on #206
From what I understand, the above code _should_ unmount `OTPublisher` and mount `OTSubscriber` if you were to toggle `this.state.isPerformer` from true to false. But after the toggle, the publisher-turned-subscriber  still seems to be publishing. Or at least the mic has stayed on and is causing audio feedback.

Let me know if you have any thoughts on this. I will see if I can provide a sample git

[2018-12-14 21:01] msach22 commented on #194
This has been updated with v0.9.2

[2018-12-14 21:01] #194 closed

[2018-12-14 21:02] msach22 commented on #190
This has been fixed and released with v0.9.2 - note that you have to upgrade to `2.15.2` SDK for this to work.

[2018-12-14 21:02] #190 closed

[2018-12-14 21:04] msach22 commented on #157
@evillemez I think it's safe to close this after our offline discussion. Please re-open if that's not the case.

The heartbeat signals is a good way to check if someone is still in the session or not. You can do this heartbeat check every 10 seconds

[2018-12-14 21:04] #157 closed

[2018-12-14 22:55] smakosh commented on #155
@msach22 on your webinar, you clearly enabled the `use_frameworks!` flag

[2018-12-14 23:09] msach22 commented on #155
@smakosh Yes, at the time of my webinar, the library used to require the `use_frameworks!` flag, but that's not the case anymore

[2018-12-14 23:14] smakosh commented on #155
Well I'm getting the same error above (yep I followed all the steps on the readme file).
I'm on macOS Mojave & using xcode 10

[2018-12-14 23:16] msach22 commented on #155
@smakosh Could you please share the the version of React Native that you're using?

[2018-12-14 23:16] msach22 commented on #151
@smakosh Are you still seeing this with v0.9.2?

[2018-12-14 23:18] smakosh commented on #155
`"react-native": "0.55.4"`

[2018-12-14 23:18] smakosh commented on #151
let me try to upgrade to that version

[2018-12-14 23:19] smakosh commented on #151
oh yes, still the same issue even after updating to the latest version `"opentok-react-native": "^0.9.2"`

[2018-12-14 23:42] msach22 commented on #151
Hmm, I just created a fresh react native project and added this library and am not having any issues building the application. Please make sure that you've created a Bridging Header, downloaded the OpenTok iOS SDK using CocoaPods without the `use_frameworks!` flag, and open the `.xcworkspace` file.

[2018-12-14 23:57] smakosh commented on #151
after a fresh reset, everything worked fine, thanks

[2018-12-15 00:07] msach22 commented on #164
@Taras-Tymchiy that's interesting because the permissions for Android are being handled via React Native and not the native layer. Maybe there is a bug for Android in React Native after you eject from Expo?

To prevent this, we can handle the permissions in the native layer. Please do let me know if that's needed for you

[2018-12-15 00:09] msach22 commented on #155
Addressed the issue in another conversation: https://github.com/opentok/opentok-react-native/issues/151#issuecomment-447513609

[2018-12-16 11:03] codvlpr commented on #205
Okay. I've identified the issue, If the react native app is using react-native-navigation package then the code structure for MainApplication.java will be changed so the `react-native link opentok-react-native` will import the OTPackage but will fail to actually include in the getPackages list. I had to manually add the package and everything was good to go. I know the issue but I don't how to fix

[2018-12-17 10:47] malkaShtibel opened #208 "How to get token data on streamCreated event? the event object doesn't include connection object (which holds the data), only connection id"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2018-12-17 17:38] msach22 opened #209 "Expose token data through the connection object"
# Feature Request

**Description**

As of now there is no way of exposing token data.

**Proposal**

We can expose the connection data via the connection object

**Links / references**

[2018-12-17 17:39] msach22 commented on #208
@malkaShtibel Thanks for pointing this out. I'm going to go ahead and create a feature request and close this issue because it's not using any of the issue templates.

#209

[2018-12-17 17:39] #208 closed

[2018-12-17 17:41] msach22 commented on #205
@codvlpr Thanks for updating me. I'm happy to hear that you were able to get it working, but I'm not sure why this is happening because this is automatically handled via `react-native link` (formerly known as `rnpm link`). This could be a bug with `react-native link` or the way we're defining `OTPackage`. I will investigate further and update you.

[2018-12-17 18:36] msach22 commented on #203
@cmedinadeveloper Could you replace
[code]
 in `OTSubscriberLayout.java` with the following to see if prevents the crash?
[code]

[2018-12-17 19:12] codvlpr opened #212 "How to place a view on top of OTPublisher component?"
I'm having a little difficulty while placing a view as on overlay on OTPublisher component. I have 4 control buttons in a view and I'm trying to place that view on top of OTPublisher.

This is the JSX:
`
<OTPublisher
          publishAudio={this.state.publisherIsAudible}
          publishVideo={this.state.publisherIsVisible}
          cameraPosition={this.state.publisherCameraPosition}
          s

[2018-12-17 20:15] msach22 commented on #209
This has been released with v0.9.3

[2018-12-17 20:15] #209 closed

[2018-12-18 01:18] msach22 commented on #162
@sunweiyang Yes, I will be checking this out this week

[2018-12-18 05:32] hero70312 opened #213 "Android SDK 2.15.2 Build Issue"
I had upgraded to v0.9.2.
There is no problem in building iOS app.
But when I tried to build android app. There was a problem show in my Android Studio.

Shown as follows

React Native Version: "0.53.0"

[2018-12-18 07:14] Artemnsk opened #214 "Publisher "mirror" parameter"
# Feature Request

**Description**
In original OpenTok docs as publisher during initPublisher() call you are able set *mirror* parameter. In opentok-react-native we can not set this parameter.
1. In my case it is important to make publisher see exactly the same video in his Publisher window as other users see in Subscriber window.
2. Why not to add it anyway as it is possible to do out of a box wi

[2018-12-18 13:27] malkaShtibel opened #215 "Control each subscriber separately and not only the list of subscribers"
# Feature Request

**Description**
 I need to get control on each subscriber component separately (subscriberView), so I can decide when to add each subscriber component to the screen, what style each subscriber will get etc.

**Proposal**

**Links / references**

[2018-12-18 16:37] msach22 commented on #215
This seems to be a duplicate of: https://github.com/opentok/opentok-react-native/issues/193

[2018-12-18 16:37] #215 closed

[2018-12-18 16:47] msach22 commented on #213
@hero70312 I just created a fresh project with React Native v0.53.0 and OpenTok React Native v0.9.2 and I was able to build without any issues.

Is that error that your sharing related to this library or just your Android project in general?

[2018-12-18 17:34] msach22 commented on #214
@Artemnsk Thanks for creating the feature request. Unfortunately, the native OpenTok iOS and Android SDKs currently do not support the mirror property so we would not be able to add that to this library until it's added in the native SDKs.

I have filed a feature request internally and will update this ticket when we make progress.

[2018-12-20 01:05] msach22 commented on #175
@selcute @Artemnsk I have a fix for the crash and the `sessionDisconnected` event - I will patch this by tomorrow.

[2018-12-20 20:43] snobear commented on #206
@msach22 in general, if I wanted to switch from a publisher to a subscriber in the same session, would I have to totally disconnect the current session as a publisher (with a publisher token) and reconnect as a subscriber (with a subscriber token)?

[2018-12-21 17:36] #175 closed

[2018-12-21 17:39] msach22 commented on #175
The fix for this has been released with v0.9.4

[2018-12-21 17:39] msach22 commented on #202
The fix for this has been released with v0.9.4

[2018-12-21 17:39] #202 closed

[2018-12-21 17:40] msach22 commented on #115
The fix for this has been released with v0.9.4

[2018-12-21 17:40] #115 closed

[2018-12-21 18:09] msach22 commented on #206
@snobear Apologies for the delay, you can pass in publisher event handlers to the `OTPublisher` component to know when the publisher stream has been destroyed:

[code]

You can then mount the subscriber component when you know the publisher stream has been destroyed. There was a bug in the library where the `streamDestroyed` event was not firing for the publisher, but this has been fixed as of `v0

[2018-12-21 18:11] msach22 commented on #206
You don't have to `disconnect` the client because then you would have to reconnect them to make them a subscriber. I recommend trying out the approach above - the unmounting of the publisher should unpublish the publisher.

if that doesn't work out, I'd love to get on a call with you and think of a better solution then having to disconnect and reconnect.

[2018-12-21 20:39] snobear commented on #206
Thanks for the reply. I’ve actually tried switching pub/sub type while still connected *and* by attempting to terminate the entire OTSession first then reconnecting as the new type, but neither works.

I added some logging statements in `src/OTPublisher.js` and can confirm the componentWillUnmount is properly called and the publisher destroy routine is called without error. But when attempting to

[2018-12-21 20:47] msach22 commented on #206
@snobear Thanks for the update. Are you using the [playground tool](https://tokbox.com/developer/tools/playground_doc/) as the remote person?

[2018-12-21 21:09] msach22 commented on #201
@renanpupin based on our conversation, this has been resolved with the latest patch of the OpenTok SDKs.

[2018-12-21 21:09] #201 closed

[2018-12-21 21:30] msach22 commented on #213
@hero70312 Any update on this?

[2018-12-21 21:32] msach22 commented on #180
@evillemez You should also be able to listen to `streamCreated`, `streamDestroyed`, and `error` for `OTPublisher` to see know when the stream started to publish, stopped publishing, or had an error.

Please let me know if that works for you.

[2018-12-21 21:54] snobear commented on #206
No I haven’t tried the playground tool, thanks for pointing me to that. I’ve been testing with a directly connected device and the iOS simulator in tandem.

[2018-12-21 21:55] msach22 commented on #206
Happy to share - the playground tool will make it easier to test because you can test all sorts of features (archiving, broadcasting, etc)

[2018-12-22 15:24] ArtemSerga opened #218 "Multiple sessions in parallel don't work"
# Bug Report

**Current behavior**
When you have connection to multiple sessions:
1. Signal will be sent to all sessions
2. Unmounting one of the `<OTSession />` disconnects all sessions

**Steps to reproduce**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**
Extra example with similar issue
http://blogs.quovantis.com/session-handling-with-opentok/
http://prntscr

[2018-12-22 20:46] renanpupin opened #219 "[BUG] com.opentokreactnative.utils.EventUtils.prepareJSSessionMap"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Relevant logs and/or screenshots**
<img width="1236" alt="captura de tela 2018-12-22 as 18 45 18" src="https://user-images.githubusercontent.com/8743530/50378457-c759a200-0619-11e9-9a45-cfd62461aec8.png">

[2018-12-24 06:01] malkaShtibel commented on #193
Can you provide a code example of creating a subscriber dynamically on streamCreated event?
I cannot understand how I am supposed to 'create as many OTSubscriber as active streams with the style props particularized'

[2018-12-24 07:36] msach22 commented on #218
@ArtemSerga Yes, this is a known limitation of this library. As of now, this library does not support multiple sessions, but we can go ahead and add it.

[2018-12-25 21:32] ArtemSerga opened #220 "App crash after receiving the signal from API"
# Bug Report

If a signal has been sent via API, but not a client, app will get a fatal error (both iOS, Android) while trying to get information about empty connection.

[2018-12-25 21:55] ArtemSerga commented on #218
Thanks @msach22 for an answer.
Currently it's a huge limitation for a successful usage of Opentok at the company I'm working.

There are two cases:
1. I need one common session for receiving a new message from any chatroom and one session per chatroom. The difficulties is that I need a common permanent session since app launch and I don't unmount it. I will try to switch between the sessions, but

[2018-12-26 03:50] hero70312 commented on #213
@msach22 After I updated my build.gradle version, I solve this problem.
Thank you!

[2018-12-27 04:37] msach22 commented on #213
Thanks for updating us! I'm going to go ahead and close this issue.

[2018-12-27 04:37] #213 closed

[2018-12-27 21:52] snobear commented on #206
Hi @msach22,

I was able to reproduce what I'm seeing with a simple example, as seen below. Perhaps my understanding or expectations of OT are incorrect, so please give it a shot and we can hop on a call if you'd like to go through it.

Add your settings to the `CHANGE ME` section. I specifically generated and used subscriber and publisher type tokens for `this.subscriberToken` and `this.publisher

[2018-12-28 21:01] snobear commented on #206
OK, I added some event handlers and just did some testing without any additional users, i.e. not using playground. When initializing the above example app as a subscriber, then switching to publisher,  I get the following OTPublisher `error`:

[code]

According to the [docs](https://tokbox.com/developer/guides/exception-handling/js/), error code **1500** is:

Even though the App.js component reren

[2018-12-28 21:21] snobear commented on #206
I just tested having all users initialize the app component with a publisher token, and this has the switching working successfully 👍.  **Any downside to using a publisher token for everyone?** In our application, anyone can become a publisher at any time, so I guess this is OK. I just figured having a user be a subscriber when they are not publishing anything is a safer method so we're not accide

[2019-01-02 09:37] ArtemSerga commented on #220
Great answer at `1 Jan 00:26`!
Happy New Year, colleague!
Thanks you for working hard to make Opentok better.

[2019-01-02 18:49] msach22 commented on #219
@renanpupin Could you please share the following information?

- Native SDK version
- OTRN version

[2019-01-02 18:51] msach22 commented on #203
@cmedinadeveloper Could you please let me know if the fix worked for you?

[2019-01-02 18:53] msach22 commented on #180
@evillemez Were you able to check the `streamCreated,`streamDestroyed`, and `error` events for the publisher to when the publisher started streaming, stopped, or had an error?

[2019-01-02 19:09] renanpupin commented on #219
- Native SDK version 2.15.2
- OTRN version 0.9.4

[2019-01-02 21:10] msach22 commented on #206
@snobear Thanks for the detailed sample app, reproduction steps, and what you tried. One key thing to note is that when you change the token from publisher to subscriber token, the library is not creating a new session with the updated token. Think of it as an instance that cannot change, the only way to change the token is to unmount the `OTSession` component and mount it again with the new token

[2019-01-02 21:11] msach22 commented on #219
Thanks @renanpupin. Do you know how often this is happening? It would be really helpful if you can provide info on when this is happening (i.e when the session is created, or the specific event that's being triggered that causes this).

[2019-01-03 20:59] msach22 commented on #179
@evillemez The subscriber network stats(`audioNetworkStats` and `videoNetworkStats`) are cumulative. This means that you can check the values of the data and compare them to the values of the event that was triggered before. If the delta is 0, you would see that no data was received.

[2019-01-03 20:59] #179 closed

[2019-01-03 21:37] msach22 commented on #108
@emin93 Sorry for dropping the ball on this one, were you able to get it resolved? Is this still an issue for you?

To the other folks, is there any new information that would help resolve this?

[2019-01-03 22:31] msach22 commented on #206
It was great chatting with you @snobear!

[2019-01-03 22:55] cassianomon commented on #151
How did you fresh reset?

[2019-01-03 23:04] msach22 commented on #151
@cassianomon I think by "fresh reset' - they mean creating a new application from scratch using `react-native init`.

[2019-01-03 23:06] cassianomon commented on #151
Oh I see, I am having the same error but with another package (react-native-facebook-login), not possible to go for a fresh start...
https://github.com/magus/react-native-facebook-login/issues/331

[2019-01-03 23:13] msach22 commented on #151
@cassianomon Ah, yea I'm not sure how it would work with the facebook login library - this is simply for this library.

[2019-01-03 23:38] smakosh commented on #151
I upgraded to the latest RN manually & what I meant by a fresh start is that I had to install the pods, create the bridge header etc...

[2019-01-03 23:39] cassianomon commented on #151
Ok Thanks!

[2019-01-04 01:47] renanpupin commented on #219
@msach22 looking at the logs, it seems that the exception is happening while/after the session is destroyed.

[2019-01-04 22:37] msach22 commented on #162
@sunweiyang  @J-A-B-R @akandaurov I've been investigating this and have a couple of questions for the community.

- If we were to use a prop such as `onTop`, what should happen when both `OTPublisher` and `OTSubscriber` are supplied with `onTop`?
- Should we only check the first one?

 I've tried to do use the `zIndex ` value and passing it in the and `setZ` and `setTranslationZ` methods, but that

[2019-01-05 02:08] snobear commented on #206
@msach22 great talking with you as well! Glad we hopped on a call, it was extremely helpful!

[2019-01-07 16:06] emin93 commented on #108
@msach22 Thanks for catching up and Happy New Year btw 😄

Unfortuntately I didn't get to resolve it and I'm also not working on that project anymore (I left the company, so I also don't have access to it).

[2019-01-09 10:16] podvipodvert commented on #197
any updates?

[2019-01-10 13:36] J-A-B-R commented on #162
@msach22 Hi and happy new year, as I understand it, a **SurfaceView** is not a real UI view. Instead of that, all the true views on the UI are rendered in a **SurfaceView** created by default by Android. Any other **SurfaceViews** you create are independent of this one. The only method to control the Z index of **SurfaceViews** is with `setZOrderOnTop` and `setZOrderMediaOverlay`. So there is a so

[2019-01-14 05:55] duenwaldd1 commented on #137
I'm getting the same error, not sure how to get around it. It says the error happens at OTSessionManager.java:307, going to find it now

[2019-01-14 06:10] duenwaldd1 commented on #137
Turned out to be a simple mistake, didn't put in the right apiKey

[2019-01-15 01:32] sunweiyang opened #223 "[iOS] Can't build iOS app after upgrading from opentok-react-native 0.8.4 to 0.9.4 (unresolved identifier "EventUtils" and "Utils")"
# Bug Report

**Current behavior**
After upgrading opentok-react-native from 0.8.4 to 0.9.4 (and making sure that OpenTok SDK is updated to 2.15.2), I am unable to build the app in Xcode 10. Have also investigated #190 as reference, but still was unable to successfully build iOS app. (Android builds properly and works fine.)

Screenshot:

![screen shot 2019-01-14 at 5 19 22 pm](https://user-images

[2019-01-18 06:14] karthinalliyappan opened #224 "Changes to `publishAudio` & `publishVideo` property is not working"
Here's what I'm doing - I'm taking in a prop called **publishAudio** and **publishVideo**,  I'm using it to build a property object and I feed it into the OTPublisher component. Something like this -

[code]

When this prop changes in the parent component, the changes propagate down but it does not seem to take any effect on the publisher.

Version:
` "react-native": "0.51.1"`
`"opentok-react-nati

[2019-01-18 15:20] msach22 commented on #220
@ArtemSerga The fix has been released with v0.9.5. Thanks for all your help!

[2019-01-18 15:20] #220 closed

[2019-01-18 15:22] msach22 commented on #218
@ArtemSerga Apologies for the delay on this - I don't have a timeline on this update yet, but I'd love to chat with you to see if I can help you out while we work on this. Could you please reach out at manik@tokbox.com

[2019-01-22 15:23] ASerga commented on #220
It works! Thanks a lot @msach22 and Opentok iOS SDK team.

One moment - doesn't forget to update Pods
[code]

[2019-01-22 16:12] msach22 commented on #220
@ArtemSerga Thanks! I also updated the readme so it reflects the change in using the iOS SDK 😄

[2019-01-22 16:39] xxsnakerxx commented on #162
Using `useTextureViews` works for me!!! Also fixes issues with border radius https://github.com/opentok/opentok-react-native/issues/174

https://github.com/opentok/opentok-android-sdk-samples/issues/136#issuecomment-322218524

[code]

[2019-01-24 18:52] msach22 commented on #223
@sunweiyang Hmm, I'm not sure why this is happening for you. I just followed your steps and was able to upgrade without any issues. Could you please verify that the `OpenTokReactNative.xcodeproj` files has a `Utils` folder after you upgrade? Something like this:
![](https://duaw26jehqd4r.cloudfront.net/items/0e2r462x053h0n3z1v2f/Image%202019-01-24%20at%2010.51.21%20AM.png)

[2019-01-24 18:54] msach22 commented on #203
@cmedinadeveloper Did you get a chance to check this out?

[2019-01-24 18:57] msach22 commented on #162
@xxsnakerxx Does this resolve the zIndex issue for you?

@J-A-B-R Thanks for your investigation! We can expose the `TextureView` option via the `properties` prop in `OTSession` component which would then allow the application to be have they way they want. What do you think?

[2019-01-24 18:59] xxsnakerxx commented on #162
@msach22 Yes, resolved, completely

[2019-01-24 18:59] msach22 commented on #162
@xxsnakerxx Were you using the following code on the JS end to test?
https://github.com/opentok/opentok-react-native/issues/162#issue-358183035

[2019-01-24 19:08] xxsnakerxx commented on #162
@msach22 No, but in my project, the code looks similar and without this fix fullscreen publisher did overlap subscribers.

[2019-01-27 01:54] tarunmehta-quovantis commented on #197
@podvipodvert @fatiago  any solution ?

[2019-01-27 09:01] fatiago commented on #197
@tarunmehta-quovantis I simple delete the 2 lines code where that flag appear.

[2019-01-28 02:53] tarunmehta-quovantis commented on #197
@fatiago , Will have to delete flag inside node_modules - > OtScreenCapture ?

[2019-01-28 22:45] msach22 commented on #224
@karthinalliyappan I'm going to go ahead and close this issue, please feel free to reopen if the issue still persist with the latest release.

[2019-01-28 22:45] #224 closed

[2019-01-28 22:46] msach22 commented on #223
@sunweiyang Did you have a chance to look at my previous comment?

[2019-01-28 22:47] msach22 commented on #162
@xxsnakerxx Unfortunately, this doesn't seem the resolve the issue that I'm having. I will keep you updated on my findings

[2019-01-28 22:48] msach22 commented on #218
@ArtemSerga I just wanted to update you that I've started to work on this, but this is going to be part of a big refactor on the native code so I can't promise a release date. I will update you as I progress.

[2019-01-29 06:46] abandisch opened #227 "[BUG] OTSubscriberView parent View container cannot be styled"
# Bug Report

**Current behavior**
In `src/OTSubscriber.js`, the `childrenWithStreams` array is currently wrapped inside a `<View>` component, with no way to apply styles to that `<View>` to manipulate the layout of the array of streams. For example, I'd like to add `{ flex: 1, flexDirection: 'row', flexWrap: 'wrap' }` style to the `<View>`.

This is how it currently is:
[code]

**Steps to reprodu

[2019-01-29 07:22] akandaurov commented on #162
Just roll back the fix you did for #122 and everything works fine. In order to put the publisher over subcriber before that fix it just should be wrapped in additional view with absolute position. I had to make my fork and roll back that fix because it broke everything for us - there is no way to put anything over the publisher.
I also had to make fixes to 100500 crashes on Android in my fork - bu

[2019-01-29 13:46] J-A-B-R commented on #162
@msach22 Exposing through `OTSession`'s `properties` prop seems like an excellent idea. To get the best of both worlds, it could be somthing like: `androidView: 'textureView' | 'surfaceViewPublisherOnTop' | 'surfaceViewPublisherOnMediaOverlay' | 'surfaceViewSubscriberOnTop' | 'surfaceViewSubscriberOnMediaOverlay'`. Verbose, I know, but it could state clearly the code intention.

At least, until yo

[2019-01-30 00:08] msach22 commented on #108
Is anyone still facing this issue?

[2019-01-31 07:58] tarunmehta-quovantis opened #228 "How to get events call back like client connected , disconnected and so on?"
I found a doc of OTSession for having various callback . I applied all these callback but receiving all the callback at once.

Is there any example with the callbacks ? Would help me see how I can apply in my code

[2019-01-31 17:24] ASerga commented on #218
It's great. Thanks a lot, @msach22
We almost release iOS and Android app with Opentok inside and I will be the first to try multiple sessions support.

[2019-02-01 05:07] andikare commented on #206
i am sorry, i have a question for that, i want to make app in android with react native 1 to many like a bigo app, example : publisher can make 1 room to start live streaming and other user  in other android can click and join to that room, the question is how we make the room with session id opentok ? or you have any idea for this ? thank you, sorry for my bad english i hope you understand what i

[2019-02-01 22:11] snobear commented on #206
@andikare the sample App.js I posted above ^ should get you started.

To get an API key you need to sign up on tokbox.com. Then you can create sessions and tokens from the toxbox.com account page for testing.

In my app, I have a session ID for each "room".  Users get new tokens whenever they join a room. As mentioned, you can generate session IDs and tokens via tokbox.com, but you'll eventually n

[2019-02-02 06:39] andikare commented on #206
@snobear Thank you sir, i was create and make session with node.js, i have question again,
Do subcriber tokens and publisher tokens have to be changed every time they enter the room or not?
and in https://tokbox.com/developer/guides/create-session/ it is token for subcriber or token publisher ?
because just show 1 token in there,

thank you

[2019-02-03 19:38] snobear commented on #206
You will want to reuse the session ID that you create for the room. For our application, we store the session ID along with the room data in our database. Users must connect to the same session ID, so its important that all users use and reference the same session ID. There is no relation for subscriber vs publisher when you are talking about session ID.

However, for subscriber and publisher toke

[2019-02-04 17:31] msach22 opened #229 "Improve documentation for OTSession component with eventHandlers"
The current documentation does not show how to use the `eventHandlers` prop

[2019-02-04 17:33] msach22 commented on #228
Answered here: https://stackoverflow.com/questions/54455675/in-opentok-react-native-how-to-get-various-events-information-like-client-connec/54521392#54521392

[2019-02-04 17:33] #228 closed

[2019-02-04 17:33] msach22 commented on #223
@sunweiyang I'm going to go ahead and close this issue, please feel free to re-open if you're still seeing this.

[2019-02-04 17:33] #223 closed

[2019-02-04 17:34] msach22 commented on #219
@renanpupin I'm currently working on a refactor for both iOS and Android which will tackle this issue and support multiple sessions. Please let me know if you have any questions.

[2019-02-06 00:43] msach22 opened #230 "Add support for Swift 4.2 for the iOS bindings"

[2019-02-06 00:44] msach22 commented on #230
This is currently a WIP along with the refactor of the iOS bindings in an effort to resolve some known issues and support multiple sessions

[2019-02-06 10:13] andikare commented on #206
thankyou sirr @snobear
i have session id with nodejs and look like this
{
    "apiKey": "******",
    "sessionId": "2_MX40NjI1Mzk3Mn5-MTU0OTQ0******",
    "token": "T1==cGFydG5lcl9pZD00NjI1Mzk3MiZzaWc9YjMwMjIxNTAzNjNkNzBkMTlhMDA1YjNhODhhMDA3NTQzNDQwMmI4ZTpzZXNzaW9uX2lkPTJfTVg0ME5qSTFNemszTW41LU1UVTBPVFEwTnpJek1UUTBOWDVVVVhrM1VtZzRTVlpTZEhObU9VUnVlVUZUUTA1RGIyaC1mZyZjcmVhdGVfdGltZT0xNTQ5NDQ3MjMyJm5

[2019-02-06 17:43] snobear commented on #206
Hi @andikare, I have no idea just looking at it. But don’t waste your time trying to figure it out; instead, you should just generate new tokens. You will specify publisher or subscriber when generating the token, so the token type is whatever you’ve requested. I believe “subscriber” is the default if you don’t explicitly specify the type.
I would recommend reading up on the docs linked above firs

[2019-02-07 05:40] andikare commented on #206
@snobear thank you sirr, i was trying to make that token to subcriber and publisher and still work , thank you for your answer , if i have the question again can i email you ?

thank you again, you are so kind 👍

[2019-02-07 17:35] evillemez opened #231 "Controlling audio volume"
# Feature Request

Add more ability to directly control parameters related to volume.

**Description**

We have many reports from users of our app that volume is too low in calls.  We can anecdotally tell the difference in testing just by comparing our app to other apps like Facetime or Hangouts, where the received audio is noticeably louder.

We don't know what the underlying issue is, but think

[2019-02-08 17:28] evillemez commented on #180
@msach22 Sorry for the delay. We're working on including more internal forensics in our app to get a better read on this, but it's not live yet.  We have it working in testing, but we can't consistently reproduce the failures we want to reproduce there, so it's hard to say.

We did add logic to remount the session/publisher/subscriber in cases where errors are triggered, but we can't actually tell

[2019-02-12 12:32] abdul-elah-js opened #232 "not publishing anything at all"
I'm using this library for the first time, following the installation steps to the letter and still having a problem in publishing the stream, what is wrong with my code, help is appreciated,

here is my audio call file

[code]

i tried running this code on two apps so i can establish the connection between them, but i keep getting all the `console.warn()` on the first load and nothing else

[2019-02-12 19:52] msach22 commented on #232
Thanks for filing the issue. I've gone ahead and answered here: https://stackoverflow.com/questions/54650343/opentok-react-native-not-publishing-anything/54656874#54656874

[2019-02-12 19:52] #232 closed

[2019-02-18 11:41] jyotigupta007 commented on #197
Hello, Anyone has found solution for this. As I am also facing the same issue.

[2019-02-18 11:44] tarunmehta-quovantis commented on #197
@jyoti you will have to comment that line and replace with canvas.save()

[2019-02-18 12:19] jyotigupta007 commented on #197
@tarunmehta-quovantis thanks for the help. it worked

[2019-02-19 12:15] mbouxin opened #233 "Error when sending initial signal on ios + RN 0.58"
# Bug Report

**Current behavior**

**Steps to reproduce**

The problem is related to the sendSignal arguments. In previous versions or react native, the errorHandler in the Map was filtered out of the first argument map. With RN 58, the errorHandler is not filtered out. As a consequence, the NSDictionary* cannot be casted to Dictionary<String,String> anymore.
A PR is coming with errorHandler filt

[2019-02-19 21:26] msach22 commented on #197
@TeruyaHaroldo Thanks for the fix - could you please make a PR with this change?

[2019-02-20 20:36] msach22 commented on #231
@evillemez Thanks for filing this issue. We don't have any API for mobile that allows you to set the volume for the subscriber. You would simply have to use the built in iOS controls (i.e the physical buttons).

[2019-02-21 05:56] sanddy-man opened #235 "iOS build failure with cocoapods 1.6.0"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

When I downgrade cocoapods to 1.5.3 build was successful.
Any ideas? How to use this library with 1.6.0
Xcode: 10.1
React Native: 0.57.8

[2019-02-22 00:43] smakosh commented on #151
So the issue is related to cocapods pre-release version that doesn't generate opentok headers inside the pod/headers folder

[2019-02-24 02:13] snobear opened #237 "[feature request] expose disableAudioProcessing publisher option"
# Feature Request

**Description**

When publishing high-quality audio streams, disabling audio processing is recommended per [Opentok docs](https://tokbox.com/developer/guides/audio-video/js/#audio-tuning).

For our use case, we have users performing live music, e.g. with an acoustic guitar. Even with the audioBitrate at the max of `128000`, we are still experiencing poor-sounding audio. Certain

[2019-02-24 02:16] snobear commented on #237
@msach22 I was going to start looking into this, but please let me know if there are limitations on the client side that would prevent this from being possible. I'm assuming audio processing is handled on the Tokbox servers, so we just need to have the option exposed in this RN lib to pass it along.

[2019-02-24 02:30] snobear commented on #237
On a related note, is it possible to confirm that our audioBitrate settings are being honored? I was looking through the [tokbox session inspector](https://tokbox.com/developer/tools/inspector/) logs, but I'm not seeing any logs on what settings are in place.

[2019-02-24 20:33] michaeldouglas commented on #235
+1

[2019-02-25 05:28] win05178 opened #238 "I need how to change voice audio"
Hello,I have problem about audio.
I need change audio output form speaker to earpiece but i don't know how to do.please help me.

Thank you.

Ps.
Sorry if my english language not good.

[2019-02-25 09:08] askhat commented on #238
Was not able to find according methods in neither of `.m` files. I assume it's supposed to regulate volume with physical buttons on device.

[2019-02-25 14:35] joelpiccoli opened #239 "Problems with subscriber in Android"
Hello everyone, I'm trying to implement the OpenTok Lib for react-native but I'm facing some issues that I can't figured it out yet.
First one, and I think the most important, is that I can't connect as a Subscriber to a session without crashing the App, that occurs only on android devices, and for that I can't see if it's working the connections between two phones.

What am I doing wrong?

**Curr

[2019-02-25 18:20] msach22 commented on #230
We will be releasing this before the multiple session support to give folks enough time to upgrade their applications.

[2019-02-25 18:31] #233 closed

[2019-02-25 18:34] msach22 commented on #229
This has been released with v0.9.6

[2019-02-25 18:34] #229 closed

[2019-02-25 18:35] msach22 commented on #230
This has been released with v0.9.6

[2019-02-25 18:35] #230 closed

[2019-02-25 18:35] msach22 commented on #197
This has been released with v0.9.6

[2019-02-25 18:35] #197 closed

[2019-02-25 21:09] msach22 commented on #239
@joelpiccoli Thanks for filing the issue - sorry to hear that your application is crashing. Could you please share the Android version and device that you're using? I'd be happy to try and reproduce this issue and get this resolved for you.

[2019-02-25 21:20] joelpiccoli commented on #239
hello @msach22 ! Thank you for your help!

[code]

I'm testing the App on the device running Android 6.0.

[2019-02-25 22:14] msach22 commented on #239
Thanks @joelpiccoli  - I just ran this on a simulator running Android 6.0 and I'm not observing a crash. Is there a specific device that you're using?

You may have already done this, but could you please clean your build and build again?

[2019-02-25 23:10] msach22 commented on #237
@snobear Thanks for filing the feature request. Unfortunately, there is no easy way of disabling the audio processing because it's not an API that we have for iOS or Android. We would have to write custom audio drivers for both iOS and Android to make this functionality possible.

As for the `audioBitrate`, can you please email me the sessionId so I can check out the audioBitrate settings for you?

[2019-02-26 00:15] joelpiccoli commented on #239
I've already did the clean process, I'm using a Moto G3 to test the application, but the same happens in emulator with android Oreo too...
I don't what's happening... ;/

[2019-02-26 12:20] joelpiccoli commented on #239
@msach22 I've created a new project, configured everything again and the subscriber keep crashing the app...

[2019-02-26 14:59] snobear commented on #237
@msach22 thanks for the reply. I sent you an email with the session ID.

We'll be doing some more testing on audio quality with various devices tonight to see how guitars and other instruments sound. Based on my experience with browser-based WebRTC libs in the past, we've had to disable noise cancellation and other audio processing. So, sounds like we will need to implement custom audio drivers fo

[2019-02-26 16:42] msach22 commented on #239
@joelpiccoli Please email me at manik[at]tokbox.com so we can set up a 1:1 debug session :)

[2019-02-26 16:45] msach22 commented on #237
@snobear Thanks for sharing the sessionId, I'll reply via email on that one shortly.

Yes, for Custom Audio Drivers we have to implement the low level audio functions. Unfortunately, there is no other way around it at this time. I'm happy to take a PR and get that added to main library as well where we can expose this via prop and the native layer can handle all of the custom audio work. We can al

[2019-02-26 20:36] joelpiccoli commented on #239
sure @msach22! Thanks a lot for the help! :D

[2019-02-27 00:20] msach22 commented on #235
Thanks for filing this issue - I'm also able to reproduce this using Cocoapods 1.6.0. I'll investigate further and update you folks on my findings.

[2019-02-27 10:51] julien-meichelbeck commented on #203
@msach22 Yes, adding this condition fixes the issue. Is it possible to release the fix ? Thank you.

[2019-02-27 18:03] joelpiccoli commented on #239
Actually, the problem was with a token that I was misconfusing the actually usage. Thanks a lot for @msach22 help and support!

[2019-02-27 18:03] #239 closed

[2019-02-27 18:19] msach22 commented on #239
Happy to help @joelpiccoli! Glad to hear that you're using the library!

[2019-03-05 00:05] msach22 commented on #172
@sunweiyang We should be able to add this in. Can you propose an API and how you would expect it to work? For example, should it be the publisher or the subscriber that we see when it goes into background mode. What happens when there are multiple subscribers?

[2019-03-05 00:57] msach22 commented on #198
@zaidSimajji Apologies for the delay on this, could you please confirm that you're seeing it with the latest release (v0.9.6)?

[2019-03-05 01:01] msach22 commented on #193
@askhat @malkaShtibel Have you tried  doing something like this:
https://github.com/opentok/opentok-react-native/issues/124#issuecomment-403996366

It shows an example of a button for each subscriber, but you can use the same concept for other styles.

[2019-03-05 17:42] msach22 commented on #219
@renanpupin I believe that latest release (v0.9.7) has resolved this issue. I'm going to close this out, but please re-open if it still persists.

[2019-03-05 17:42] #219 closed

[2019-03-05 17:43] msach22 commented on #203
I believe that latest release (v0.9.7) has resolved this issue. I'm going to close this out, but please re-open if it still persists.

[2019-03-05 17:43] #203 closed

[2019-03-05 20:29] smakosh commented on #235
@sanddy-man you will have to use a previous cocapods version to generate the pre-compiled opentok headers, save it somewhere then you can use your new cocapods version and simply drag & drop the opentok folder in `pods/headers/public` & `pods/headers/private`

[2019-03-06 08:18] zaidSimajji commented on #198
@msach22 Hi, I've tried updating to 0.9.6 but it seems to still be happening.

[2019-03-06 23:05] msach22 opened #246 "[iOS] Alternative installation process"
# Feature Request

At this time, this library only supports installation via Cocoapods. OpenTok allows you to manually download the iOS SDK and add it to your project. https://tokbox.com/developer/sdks/ios/

[2019-03-07 14:07] EscoCreeks commented on #235
@smakosh I tried your solution, it worked! But the build failed later with a fancy
`ld: symbol(s) not found for architecture ...` (I tried with a simulator and with a real device).
Do you have any suggestion on this one?

[2019-03-07 14:15] smakosh commented on #235
Alright you should edit your podfile, can you first share it here?

[2019-03-07 14:30] EscoCreeks commented on #235
[code]

[2019-03-07 15:24] EscoCreeks commented on #235
So I [added an empty swift file ](https://stackoverflow.com/a/50495316/10780147) and it worked like a charm.

[2019-03-07 15:47] smakosh commented on #235
Nice!

[2019-03-08 20:05] smakosh commented on #197
It's really frustrating the amount of issues I've ran into using your library.

[2019-03-08 20:09] steebchen commented on #197
@smakosh feel free to contribute to make it more robust

[2019-03-08 20:31] msach22 commented on #197
@smakosh Apologies if this library does not meet your standards, but I think it's important to note that this is an open source labs project that's not officially support by TokBox. It was developed to help React Native developers get started with real time video and we've seen many developers use it successfully. We welcome any and all contributions so if you think there are areas we can improve,

[2019-03-08 20:34] smakosh commented on #197
Sure, opening my first issue! (managed to solve others so far)

[2019-03-08 20:38] smakosh opened #247 "Pre-compiled headers don't get generated"
I'm having issues with the pre-compiled headers which don't get generated with cocoapods,

Here's my Podfile:

[code]

As temporary solution, I drag & drop a previous generated OpenTok folder on both public/private folders located in `/pods/Headers/`.

I'm using the latest opentok react native library & the latest react-native.

[2019-03-08 20:41] msach22 commented on #247
@smakosh Thanks for filing the issue - I believe this is a known issue and is related to using Cocoapods 1.6.0: https://github.com/opentok/opentok-react-native/issues/235

Could you confirm if you're using Cocoapods 1.6.0?

[2019-03-08 20:45] smakosh commented on #247
Yup, I confirm that

[2019-03-08 20:56] msach22 commented on #247
Thanks for confirming - I'm going to go ahead and close this issue because it's a duplicate of #235. Please track issue #235 for progress

[2019-03-08 20:56] #247 closed

[2019-03-13 06:41] urvashikharecha opened #248 "Attempt to invoke virtual method 'void com.opentok.android.v3.Session.resume()' on a null object reference"
I am getting this error!!!

 Attempt to invoke virtual method 'void com.opentok.android.v3.Session.resume()' on a null object reference

[2019-03-13 07:04] #248 closed

[2019-03-13 09:11] MoxeyGroup commented on #235
I am also getting same issue and this is a blocker for me. As per my knowledge, I will not be able to release on app on App Store if it is not built using latest XCode. I am new to OpenTok and I have got this code from previous developer, so please help if you have a solution.

[2019-03-13 20:02] sunweiyang commented on #223
I finally figured it out; posting what I did here so that others in the future who encounter this same issue can have an easier time.

For some reason, `opentok-react-native`'s npm module that I downloaded using `yarn install` had a different `ios/OpenTokReactNative.xcodeproj/project.pbxproj` file from that of this official repo. Yes @msach22, it unfortunately excluded the Utils directory.

What I

[2019-03-13 20:24] sunweiyang commented on #172
Here is a proposal: by default, the PIP would show the first subscriber (if it exists), and if no subscribers exist, then the first publisher (if it exists). Otherwise, developers can also manually choose which publisher or subscriber to show, via an optional prop.

If no stream exists, or if no publisher or subscriber exists, or if the optional prop is null, then PIP would not be enabled.

[2019-03-13 20:28] sunweiyang commented on #223
In the end, it was the result of a peculiarity in my specific RN app. The vast majority of developers upgrading this module world never encounter this issue.

[2019-03-13 20:50] misterpoloy commented on #151
This issue still exists, I'm using Xcode `10.1`
`pod 'OpenTok', '2.15.2'`
`"react-native": "0.57.4",` and
`"opentok-react-native": "0.9.4",`

Yes, I follow all the link and installation like [this](https://github.com/opentok/opentok-react-native/issues/155)
![Screen Shot 2019-03-13 at 2 48 52 PM](https://user-images.githubusercontent.com/22797958/54313516-24bd1980-459f-11e9-9da1-89ecab3af96f.png)

[2019-03-14 02:53] msach22 commented on #235
@MoxeyGroup Is it possible for you to use a different version of Cocoapods to compile the headers and then copy them over like so? https://github.com/opentok/opentok-react-native/issues/235#issuecomment-469845027

I know it's not an optimal solution, but unfortunately, I don't have the bandwidth the explore the fix right now. I am open to PRs and suggestions 😄

[2019-03-14 03:11] MoxeyGroup commented on #235
@msach22 - I would have loved to provide a PR but I am new to OpenTok so do not know much.

I am able to run my app using (Old Cocoapods+Xcode 9+iOS 11) but old cocoapods version does not work with Xcode 10 and iOS 12, so I cannot build it using iOS 12 SDK. This is concerning as:

"**Starting March 2019, all new apps and app updates for iPhone, including universal apps, will need to be built with

[2019-03-15 12:31] ajatib commented on #137
I have the same problem. I'm using <OTSession> with correct apikey, seesionId & token. When I'm in development mode with my device connected to my computer this works well, but when I make an apk and run it in the same device I get this error in the first attempt, but in the second I can run normally. Any help with this?

[2019-03-16 01:12] msach22 commented on #137
@ajatib Thanks for sharing - can you please confirm that this is happening with the latest release and which line is causing the crash? Please share the stack trace.

[2019-03-19 11:02] msach22 commented on #172
@sunweiyang Since PIP is not the default, I think it should be an opt in API.
[code]

[code]

This may get a bit confusing because what if you publish and also immediately subscribe then we would see some sort of. How about specifying explicitly which view you want to see in background mode?

[2019-03-19 20:35] sunweiyang commented on #172
@msach22 Yes, opt-in PIP and explicitly specifying the view to show in PIP both sound good, and is simpler.

[2019-03-21 12:43] Igorpollo commented on #23
Hi...Where can I find some docs or example of screen sharing?
Thanks

[2019-03-21 15:42] evillemez commented on #162
Is this addressed in the current `0.9.7` version by any chance?

I think we're running into similar issues where we want to switch which feed is full screen depending on the situation, but our UI isn't overlaying over the publisher, so no luck yet.

[2019-03-22 12:51] evillemez commented on #180
@msach22 Working on something related to this, a question came up.  I know the publisher/subscribers make multiple attempts internally to do their thing.  How much time goes by before the publisher or subscriber would call the error handler?  Is there a max time limit, like 30 seconds?

I'm reworking how connections get set up initially, and at the moment I'm giving both sides 30s to let the conne

[2019-03-23 05:48] bob76828 commented on #162
Same issue as @evillemez.
Does anyone can help us ?

[2019-03-26 13:54] Auggysg commented on #162
Hi I'm facing similar issue where I'm trying to add a full screen text component while in the call room but I can't overlap the publisher. I'm not sure where to find the TextureView option or the setZOrderOnTop options.

Any help would be much appreciated! Been trying to figure this out for a couple of days...

[2019-03-26 19:48] sunweiyang opened #249 "In-app OpenTok subscribed audio becomes too quiet after an incoming phone call"
# Bug Report

**Current behavior**
OpenTok behavior is normal until an incoming phone call. After answering the phone call during an OpenTok session, OpenTok subscribed audio volume is drastically reduced (almost inaudible). OpenTok audio volume will continue to be extremely quiet until the app is closed and relaunched. This issue is seen on both iOS and Android.

**Steps to reproduce**
1. Start a

[2019-03-27 19:05] evillemez commented on #249
@sunweiyang @msach22 We have this issue, or a similar one, as well.  The trigger for the behavior on our side might be different though, we haven't been able to determine consistent reproduction steps.

I know we've had the same symptom in cases that don't involve receiving an incoming call while using our app.  If your method reproduces the symptom consistently though, solving this case might add

[2019-03-27 19:06] evillemez commented on #231
Closing in favor of #249, which better describes the actual issue we're experiencing.

[2019-03-27 19:06] #231 closed

[2019-03-28 02:50] sunweiyang commented on #249
@evillemez Yes, confirming that after cranking the system volume up to its highest setting after a phone call, the audio still remains quiet.

[2019-03-28 15:18] evillemez commented on #249
@sunweiyang Interesting... it sounds like we have the same symptoms exactly.  We'll keep investigating on our end and see if we can come up with reproduction steps that are different... maybe that will help uncover the root cause.

@msach22 Do you have any ideas on what we should be looking into, or do you think this might be an issue at the native level?

[2019-03-28 16:04] sunweiyang opened #251 "The event.stream.hasAudio value in streamPropertyChanged does not change on Android"
# Bug Report

**Current behavior**
The `sessionEventHandler` for `streamPropertyChanged`, specifically the `event.stream.hasAudio` value, does not change properly on Android. It does work fine on iOS.

I haven't had a chance to test the other `streamPropertyChanged` values yet; unsure if it's an indicator of a larger `streamPropertyChanged` issue.

**Steps to reproduce**
Set up an OpenTok componen

[2019-03-29 15:10] evillemez commented on #249
@sunweiyang Another question - are you using any other sound-related libraries?  We're trying to investigate if there may be some conflict with other sound libraries we're using.  At the moment we're using these two for certain things:

* https://github.com/zmxv/react-native-sound
* https://github.com/react-native-webrtc/react-native-incall-manager

I know that's not directly related to the issue

[2019-03-29 16:55] sunweiyang commented on #249
We are only using react-native-audio-toolkit to briefly play a chime elsewhere in the app (definitely not using it during the OpenTok session), and react-native-system-setting to directly change the phone's system volume:
* https://github.com/react-native-community/react-native-audio-toolkit
* https://github.com/c19354837/react-native-system-setting

[2019-03-31 15:35] bob76828 commented on #162
@Auggysg Hope This is helpful for you.
https://github.com/mediot-inc/opentok-react-native/commit/68a3e64af491d2ef5318a64bdd0b225db99fc1e0

[2019-03-31 18:10] msach22 commented on #172
@sunweiyang To continue on this, do you think it should be a session level setting (like using a prop for OTSession)? This way we can always make sure they know if it's the publisher or the subscriber?

[2019-04-01 21:34] msach22 commented on #249
@sunweiyang @evillemez Thanks for filing this issue. I'm doing some internal digging for this and will update you soon on the findings :)

[2019-04-02 00:45] sunweiyang commented on #172
@msach22 I think you're right; an OTSession prop for defining the PIP view would make things more explicit, and it's something we would expect as a developer experience.

[2019-04-02 21:05] msach22 commented on #170
This is a duplicate of: https://github.com/opentok/opentok-react-native/issues/170

This issue will be addressed with the v0.9.8 release

[2019-04-02 21:05] #170 closed

[2019-04-02 21:05] msach22 commented on #193
This will be addressed with v0.9.8

[2019-04-02 21:08] msach22 commented on #177
@eashevchenko I'm going to go ahead and close this issue because it's not a native feature that we support. Please let me know if you have any questions.

[2019-04-02 21:08] #177 closed

[2019-04-02 21:08] msach22 commented on #238
This seems to be a repeat of: https://github.com/opentok/opentok-react-native/issues/173

Please let me know if it's not the same.

[2019-04-02 21:08] #238 closed

[2019-04-02 21:13] #227 closed

[2019-04-04 04:19] grovertb opened #253 "Record local session Publisher"
# Feature Request

**Description**

Is there a function that allows me to do it?

**Proposal**
**Links / references**

[2019-04-04 15:01] msach22 commented on #193
This was released with v0.9.8

[2019-04-04 15:01] #193 closed

[2019-04-04 15:01] msach22 commented on #253
@grovertb Thanks for filing an issue. Could you please clarify by what you mean on storing a publisher signal?

[2019-04-04 15:12] grovertb commented on #253
Hi @msach22  thank's for your response, i need to record the user's camera (publisher) on the device that is being used.

[2019-04-04 15:23] msach22 commented on #253
Thanks for sharing. You would have to access the local stream to be able to record it locally. Unfortunately, this is not available in RN and you would have to do it natively. You can find the samples here:

- https://github.com/opentok/opentok-ios-sdk-samples-swift
- https://github.com/opentok/opentok-android-sdk-samples
- https://github.com/opentok/opentok-ios-sdk-samples

[2019-04-04 15:41] grovertb commented on #253
Thank you very much, I have reviewed the archiving examples, but it is not what I am looking for.
You could guide me or indicate how I can access the local stream in such a way that I can natively record it.

[2019-04-05 17:42] msach22 opened #254 "Emit JSErrors via an event instead of console.log"
# Feature Request

**Description**

The current implementation only logs the errors to the console. We should emit them via a custom event so the developer can subscribe to the error event.
**Proposal**
[code]

We would use `otrnError` instead of `error` because those are events that are emitted by the native SDKs.
**Links / references**