[2019-04-07 17:56] daft300punk opened #255 "Crash only in production"
**Current behavior**
Crash in production with ejected expokit 32 project

**Steps to reproduce**
Things are working fine in development. In production app crashes as soon as OTSession gets rendered.

**Relevant logs and/or screenshots**
[code]

Would be happy to share any more info required on the issue.

[2019-04-08 17:00] msach22 commented on #162
We've removed the forcing of the zIndex for the publisher on Android. I'll be working with @ggoldens on this and update you as we make some progress.

[2019-04-09 20:29] evillemez commented on #251
Thanks for submitting this... I overlooked `streamPropertyChanged` because it's not in the docs.

Did you get any extra info on this after posting?  Like, does `changedProperty` and `oldValue` and `newValue` update as expected for you?  It seems like it's updating as expected for me in the Android simulators.

[2019-04-09 22:44] msach22 commented on #251
@sunweiyang @evillemez I'm seeing this work for me. @sunweiyang Could you please share which native SDK version you're using on Android?

[2019-04-09 22:45] msach22 commented on #255
@daft300punk Could you please confirm that you've added valid credentials such as the `apiKey`, `sessionId`, and `token`?

[2019-04-10 00:21] msach22 commented on #174
@sunweiyang @ggoldens We plan on wrapping the `OTSubscriberView` component with a `View` so you should be able to add this then.

We'll update you when it goes out.

[2019-04-10 00:22] msach22 commented on #163
Closing this issue due to inactivity, please re-open if this still persists.

[2019-04-10 00:22] #163 closed

[2019-04-10 00:23] msach22 commented on #212
@codvlpr We've removed the code from Android where the publisher was always on top. We plan on adding releasing an update where you can specify if you'd like the publisher or subscriber on top. For now, you can use `v0.9.8` and you should be able to add views on top of `OTPublisher`.

[2019-04-10 00:23] #212 closed

[2019-04-10 00:24] msach22 commented on #169
Thanks for pointing it out @ConnorBarnhill. This is a duplicate of #162 and we plan on addressing it this week.

[2019-04-10 00:24] #169 closed

[2019-04-10 00:25] msach22 commented on #167
@profburial Apologies for getting to this late. Going to go ahead and close the issue because we're not seeing this happen with the latest release. Please feel free to re-open if this persists.

[2019-04-10 00:25] #167 closed

[2019-04-10 00:30] msach22 commented on #223
Thanks for sharing your update @sunweiyang. Is it possible that `yarn add` was checking a local cached package and pulling from there?

[2019-04-10 09:17] daft300punk commented on #255
Thanks for the reply.

Found the issue was the way I was building for production. I got around it by disabling minifyEnabled property in build.gradle. Will add a solution here with minification enabled if I find it.

Closing it for now.

[2019-04-10 09:17] #255 closed

[2019-04-10 15:28] cagataydagnik opened #260 "Class RTCCVPixelBuffer is implemented in both... error in iOS 12.2"
I have an issue with dependencies included in Class RTCCVPixelBuffer.

I am using OpenTok SDK in my iOS App. My iOS version is 12.2 . When I try to run the app, I get a console full of error like :

Class RTCCVPixelBuffer is implemented in both /System/Library/PrivateFrameworks/WebCore.framework/Frameworks/libwebrtc.dylib (0x1d9f0bf98) and /var/containers/Bundle/Application/2152DE07-01CA-4739-9F7C

[2019-04-12 02:58] evillemez commented on #251
@sunweiyang @msach22 I just updated to `0.9.8`, and look to be having this issue now, or something similar at least.

I disable video on one side, and on the other side where I have connected to RNDebugger, I see `streamPropertyChanged` called with the following:

[code]

The same is happening now for audio as well.  If I toggle the mute on the remote side to stop publishing audio, then on the loc

[2019-04-13 23:44] dlerman2 commented on #255
Had the exact same issue. Disabling minification fixes it, as you suggested.

I might suggest reopening this -- feels like a significant issue that could trip up lots of users?

[2019-04-15 15:49] msach22 commented on #251
@sunweiyang @evillemez Thanks for sharing more details. There weren't any code changes for this feature so I'm thinking it's a native SDK issue. I'm going to run the latest OTRN version with 2.14.x and 2.15.x and see if I can reproduce the issue.

[2019-04-15 16:37] akandaurov commented on #260
Looks like it is needed to update to the latest react-native version
https://github.com/facebook/react-native/pull/24155

[2019-04-15 20:02] sunweiyang commented on #223
@msach22 For reasons specific to my app, I had to create a custom yarn cache, which is highly unusual for most developers. In general, clearing the cache would completely resolve this issue (and most developers will never encounter this).

[2019-04-16 07:31] rajat-np commented on #167
I face the similar issue @msach22. What can we do to subscribe to the latest stream ? I have the similar use case, when the screenshare stream is created, the previous stream should not be displayed.

[2019-04-16 16:10] msach22 commented on #254
This has been released with `v0.10.0`

[2019-04-16 16:10] #254 closed

[2019-04-16 16:10] msach22 commented on #195
This has been released with `v0.10.0`

[2019-04-16 16:10] #195 closed

[2019-04-16 16:11] msach22 commented on #162
This has been released with `v0.10.0`. Thank you all for contributing and helping define the fix. Please check out the docs to see how you can use it: https://github.com/opentok/opentok-react-native/blob/master/docs/OTSession.md#setting-session-options

I'll also work on a sample application for this.

[2019-04-16 16:11] #162 closed

[2019-04-16 16:13] msach22 commented on #260
@cagataydagnik Could you please share which version of the OpenTok iOS SDK you're using? Is this something that you're seeing when using this library?

[2019-04-16 16:26] msach22 commented on #132
We've released an update with `v0.10.0` that allows you to send a signal via the `signal` method of the `OTSession` component or via the `signal` prop. Please see the doc changes for more info:
https://github.com/opentok/opentok-react-native/blob/master/docs/OTSession.md

[2019-04-17 15:24] msach22 commented on #167
@rajat-np Hmm, I'm not sure if this is the same issue. Could you please file a new issue where you only want to subscribe to a specific stream? It's harder to track closed issues and these are not the same 😄

[2019-04-17 15:27] rajat-np commented on #167
@msach22 It's same. I want that as soon screensharing stream is created, it should be visible to the person instead of the camera. The use case of both is same.

[2019-04-17 15:31] msach22 opened #268 "Subscribe to a specific stream"
# Feature Request

**Description**

As of now, all streams are automatically subscribed to when they are created. We want to be able to subscribe to specific streams, not all of them.
**Proposal**

**Links / references**

[2019-04-17 15:31] msach22 commented on #167
This current issue is asking about loading streams in incorrect order whereas you are requesting the ability to subscribe to a specific stream, not load it in order.  I've filed for a feature request here:  https://github.com/opentok/opentok-react-native/issues/268

[2019-04-17 18:43] evillemez opened #269 "iOS - OTSession.streamPropertyChanged not being called"
# Bug Report

**Current behavior**

With version `0.9.8` on iOS the `OTSession.streamPropertyChanged` event handler is not called for locally published streams.

**Steps to reproduce**

* start call on ios
* change value for either `OTPublisher.publishAudio` or `OTPublisher.publishVideo`
* note that a registered event listener for `OTSession.streamPropertyChanged` is not called (on Android it will

[2019-04-18 00:39] msach22 commented on #269
@evillemez Thanks for filing the issue here. In the iOS SDK, there is no `streamPropertyChanged` event for any stream. To emulate the JS event, we attach KVOs to the incoming streams and when those values change, we dispatch the `streamPropertyChanged` event. The Android SDK works a little differently because it has events for when the stream property changes. We can either attach KVOs to the publ

[2019-04-18 00:42] msach22 commented on #180
@evillemez Apologies for missing this. There are two error handlers - one is an event that's dispatched (asynchronous) and another is a synchronous error callback that's triggered if there is any error when publishing.

I've added an event(`otrnError`) with the `v0.10.0` which gets dispatched if there are issues with the synchronization between the native layer and the JS layer. For example, if th

[2019-04-18 08:22] apoorv-1310 commented on #155
This issue is still there.
i cannot create it fresh,
i follow the steps but it gives same error

'OpenTok/OpenTok.h' file not found

@msach22 i need ur help.

[2019-04-18 08:36] smakosh commented on #155
you will have to take the opentok headers and place them inside your headers folder within the pods folder, cocapods doesn't seem to generate the headers when running `pod install`

[2019-04-18 08:45] apoorv-1310 commented on #155
@smakosh can u give a links where i can see the steps ?

[2019-04-18 08:48] apoorv-1310 commented on #155
@smakosh and from where do i get opentok headers ?

[2019-04-18 08:49] rajat-np commented on #167
Is there a workaround to cater this requirement ?

On Wed, Apr 17, 2019 at 9:01 PM Manik Sachdeva <notifications@github.com>
wrote:

[2019-04-18 08:54] smakosh commented on #155
They don't mention this on their docs, use an old version of cocoapods to generatw the headers, store them somewhere online

[2019-04-18 08:59] apoorv-1310 commented on #155
@smakosh can u give me some links ?
i rarely use xcode

[2019-04-18 10:39] smakosh commented on #155
Check his updated question: https://stackoverflow.com/questions/54798789/react-native-opentok-opentok-opentok-h-file-not-found

[2019-04-18 18:24] evillemez commented on #269
@msach22 Hmm, ok, interesting.  I guess my question is, for Android, is it theoretically possible for `Publisher.publishAudio` to be true, and the published streams `stream.hasAudio` to false?  In theory I would assume it shouldn't be possible, but I have no understanding of what's going on internally in the native SDK, so maybe there could be a case where you're trying to publish the audio or vid

[2019-04-19 14:52] evillemez commented on #180
As far as I can tell, the error callbacks work as expected for detecting the publisher/subscriber errors.  Our issue now is dealing with unexpected signals after a reconnection event, but it's a separate issue at this point, so I'll close this.

[2019-04-19 14:52] #180 closed

[2019-04-19 15:09] evillemez opened #271 "Double execution of event listeners after remounting OTSession"
# Bug Report

**Current behavior**

If `OTSession` is remounted, event listeners it receives from the parent component will be called twice for a time.  I believe this is related to #262, but am not 100% sure.

**Steps to reproduce**

* Create a component that wraps `OTSession` and defines event listeners for `connectionCreated`, `streamCreated`, `connectionDestroyed` and `streamDestroyed`.
* This

[2019-04-19 18:08] msach22 commented on #180
Thanks for confirming, @evillemez. Please file an issue with the unexpected signals.

On another note, we fixed a signaling issue with `v0.10.1` where empty signals were being sent even when you didn't specify it.

[2019-04-20 16:03] pompy opened #272 "couldn't find key to in dynamic object"
Error (RED SCREEN):
couldn't find key to in dynamic object

How:
When I run the default BasicVideoChat
ref url
https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat
Passing parameters to  OTSession

Note:
I noticed the session does start and is also recorded in the inspector.
If i ignore the red screen(error) the video does shows up.
Its just that on app load it shows

[2019-04-22 19:16] fpenovi opened #273 "OTSessionManager.initSession got 2 arguments, expected 3 after upgrade to 0.10.x"
# Bug Report

**Current behavior**
After the upgrade from v0.9.8 to v0.10.1 library crashes on both Android and iOS.

**Steps to reproduce**
+ Install library, link, etc.
+ Declare this snippet of code inside a render function:
[code]

**What is the current *bug* behavior?**
App crashes

**What is the expected *correct* behavior?**
Render OTSession without crashing

**Relevant logs and/or screensh

[2019-04-22 19:31] msach22 commented on #273
@fpenovi Thanks for filing the issue - I'm not sure why this is happening because the JS layer is sending three arguments https://github.com/opentok/opentok-react-native/blob/master/src/OTSession.js#L52

Can you please confirm that the OTRN JS node module has been updated?

[2019-04-22 20:12] fpenovi commented on #273
@msach22 Thanks for your quick response and for this great library!
I can confirm that OTRN node modules files are actually up to date with the latest version. I also tried deleting `./node_modules` folder and reinstalling but to no avail.

[2019-04-22 21:17] msach22 commented on #273
@fpenovi Of course. Thanks for verifying. Could you please close your metro bundler and start it again? I'm thinking it could be some sort of cache. Please also clean your native build and build again and let me know what you see.

[2019-04-23 15:14] fpenovi commented on #273
@msach22 Okay this took me longer than I expected, nothing would work until I finally deleted every trace of RN cache.

For anyone having RN cache issues, running the following in your root project folder should clear everything
[code]
**Check the contents of $TMPDIR before running it though**

[2019-04-23 16:00] msach22 commented on #273
Thanks for sharing @fpenovi. I've come across this before and I've noticed it was the cache. I'm glad to hear that your issue has been resolved.

[2019-04-23 16:00] #273 closed

[2019-04-23 16:24] msach22 commented on #155
Hey Folks, this is happening when you use Cocoapods 1.6.0. I have not had the opportunity to explore the fix for this yet, but temporarily, you would have to downgrade Cocopods to make it work.
https://stackoverflow.com/questions/20487849/how-to-downgrade-or-install-an-older-version-of-cocoapods

You can specify version `1.5.0` when installing the OpenTok iOS SDK and it should work.
You can also t

[2019-04-23 17:23] msach22 commented on #272
@pompy This looks like a problem with the samples - could you please file the issue on the samples repo.

Since this is the library repo, we only track the issues for the library here.

[2019-04-23 17:23] #272 closed

[2019-04-24 08:41] mbouxin commented on #260
@msach22 I face the same issue when I try to migrate from xcode 10.1 to xcode 10.2 (it works in xcode 10.1 but fail in 10.2).

My setting is:
RN 0.59.2
Opentok 2.15.3
opentok-react-native 0.9.7

I will try to upgrade and tell here if it solves the issue

[2019-04-24 08:55] mbouxin commented on #260
I tested with upgraded version (RN 0.59.5 and opentok-react-native 0.10.1) and it works

[2019-04-24 17:29] misterpoloy opened #274 "OpenTok don't work with most recent versions in Swift used in < Xcode 10.2"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**Relevant logs and/or screenshots**
<img width="427" alt="Screen Shot 2019-04-24 at 11 58 08 AM" src="https://user-images.githubusercontent.com/22797958/56680161-550ed200-668c-11e9-9c44-38b8d8687aa8.png">

[2019-04-24 23:41] msach22 commented on #271
@evillemez Thanks for filing this. The way I'm reading this, I'm thinking that the events are triggering in the second instance because the first local user has officially disconnected. To verify this, could you please mount the second instance of `OTSession` without any event handlers and see if the first ones are fired?

[2019-04-26 06:59] pompy opened #275 "disconnected event not firing"
disconnected event not firing when subscriber force disconnect (in subscriberEventHandler ). While connected and videonetworkstats event are firing.  I am disconnecting by using back button of android button or developer/took/playground creating a video stream and then disconnecting by clicking unpublish stream

As below
 subscriberEventHandler = {
  StreamDisconnected: (event) => {
      },
  vid

[2019-04-26 07:36] pompy commented on #275
Please close it -- I removed other events but strangely this issue got solved..?

  Is there any way to get count of subscribers from tokbox api directly ?
Also anyway to know if subscriber object is empty or not  ?

[2019-04-26 11:20] andikare commented on #151
i have Bug like that , can anyone help me ? i still don't understand thank you

[2019-04-26 11:28] smakosh commented on #151
1- Revert your cocoapods version back to an older version
2- Run `pod install` once again
3- Check inside `Pods/Headers/Private` and `..../Public` folders if there is the opentok folder that contains the pre-compiled headers to copy them, otherwise, download them from [here](https://drive.google.com/open?id=1WoPWubE8L6jKy49JDvTCJTZrJWF2aYYO)
Everything should be fixed

[2019-04-26 11:30] andikare commented on #151
@smakosh  thank you for fast respond sir , sorry but i using react native android , you have solution ?

[2019-04-26 11:41] smakosh commented on #151
Works fine for Android as long as you have followed the installation instructions on the readme file

[2019-04-26 11:56] andikare commented on #151
@smakosh @msach22  , here is my build grade, i followed but still bug

buildscript {
    ext {
        buildToolsVersion = "27.0.3"
        minSdkVersion = 16
        compileSdkVersion = 27
        targetSdkVersion = 26
        supportLibVersion = "27.1.1"
    }
    repositories {
        jcenter()
        google()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.1.4'

[2019-04-26 14:10] andikare commented on #151
@nuttikung can't you solve this  ? thanks you

[2019-04-26 18:07] evillemez commented on #271
That's what I think is happening too.  I'll try that test as soon as I can, it may be a little tricky to set up.

[2019-04-28 16:00] daft300punk commented on #173
Using InCallManager( https://www.npmjs.com/package/react-native-incall-manager) doesn't work for me. Anyone had any success with it? Is there any other way to route audio through the earpiece rather than the default speaker?

[2019-04-28 18:21] renanpupin commented on #173
Yeah, it does not work with OT.

[2019-04-29 05:01] daft300punk opened #276 "Route audio through earpiece on audio only calls"
Seems this has been asked multiple times, but there isn't any working solution. I tried using InCallManager as mentioned here - https://github.com/opentok/opentok-react-native/issues/173, the audio still came from the main speaker. The person who opened that issue also commented that InCallManager isn't working with OT. Do we have a solution for this? I can share the code I'm using with InCallMana

[2019-04-29 16:15] msach22 commented on #271
Thanks @evillemez - please keep me updated

[2019-04-29 16:25] evillemez commented on #276
We use InCallManager as well, and also have issues.  It seems to mostly be working as expected for Android for us, but iOS is not...

I'm interesting in hearing what others are doing to address this, or if @msach22 has a recommended solution.

[2019-04-29 21:57] msach22 commented on #260
Thanks @mbouxin - It seems like an issue with React Native that's resolved by upgrading to v0.59.3. Is that safe to assume?

[2019-05-03 05:14] Nitheeshsalian opened #277 "How to enable auto focus for publisher video ?"
Camera does not auto focus or manual focus FRONT / BACK

[2019-05-05 01:33] evillemez commented on #150
For what it's worth, I'm still having this issue on iOS in the latest version, but I also still haven't been able to figure out a consistent way to reproduce it.

What I do know is that when this does happen the remote side still thinks the received stream has video.

[2019-05-05 10:43] Rjayone commented on #150
@evillemez
I resolved my issue with black frames. The last steps i've made is add didDrop sampleBuffer: and reconfigure session with another preset.

https://paste.ofcode.org/VhwY9YEmnxqEqFbkepSb2N
CameraController - the object that configure and manages AVCaptureSession

[2019-05-07 21:09] Esbruiz commented on #274
This is also happening to us, we suspect this is algo causing problems with our builds in appcenter. Locally we can build using xcode 10.1, but we can't archieve or make releases because of this. Have any ETA on when this will be fixed? @evillemez  @msach22

[2019-05-07 21:12] msach22 commented on #274
@misterpoloy @Esbruiz Hmm, the latest version uses Swift 4.2

Could you please confirm you're using the latest version of this library?

[2019-05-07 21:13] evillemez commented on #274
@msach22 We're having the same problem with old and new versions of the library.

Our current released branch uses an old version... it built fine a week ago, but breaks now.

One of our development versions uses the latest version, it also built fine a week ago, but breaks now.

[2019-05-07 21:15] evillemez commented on #274
I can get you the build logs from AppCenter for builds using both the old, and a latest lib versions if that would help... ?

[2019-05-07 21:18] msach22 commented on #274
Hmm that's interesting - it shouldn't just break because the SWIFT_VERSION is set to 4.2: https://github.com/opentok/opentok-react-native/blob/master/ios/OpenTokReactNative.xcodeproj/project.pbxproj#L316

Please go ahead and email me the logs :)

[2019-05-07 23:33] msach22 commented on #269
@evillemez Apologies for the delay on this, I just rant the streamPropertyChanged event for iOS and I'm getting the event without any issues.

Here's the sample code that I have for this:

[code]

Please fill in the credentials and add a second participant using the [OpenTok Playground Tool](https://tokbox.com/developer/tools/playground/)

[2019-05-07 23:34] msach22 commented on #277
@Nitheeshsalian Thanks for filing an issue - we would need some more information for this issue.

Could you please share which version of the library you're using? Which platform is this effecting? Is this happening on a specific device?

[2019-05-07 23:37] msach22 commented on #275
@pompy I'm glad to hear that it's working. Did you update the library version?

We don't have a list of # of subscribers, but you can keep a count of streams using the `streamCreated` and `streamDestroyed` events. Could you please explain what you mean by subscriber object is empty or not?

[2019-05-07 23:37] #275 closed

[2019-05-07 23:48] msach22 commented on #155
Thanks for the feedback - the fix has been deployed with `opentok-react-native v0.10.2`

[2019-05-07 23:48] msach22 commented on #235
Thanks for the feedback - the fix has been deployed with `opentok-react-native v0.10.2`

[2019-05-07 23:48] #235 closed

[2019-05-08 00:13] smakosh opened #280 "CocoaPods could not find compatible versions for pod "OpenTok""
Running `pod install` results in this:

[code]

I've ran `yarn add opentok-react-native` and changed to the latest version on my Podfile.

[2019-05-08 00:18] smakosh commented on #280
never mind, worked after running `pod repo update`

[2019-05-08 00:18] #280 closed

[2019-05-08 07:49] nitheeshskiploop commented on #277
@msach22 Here is the detailed information [https://stackoverflow.com/questions/56035926/tokbox-video-video-is-pixelated-with-no-clarity](url)

[2019-05-08 07:55] nitheeshskiploop commented on #277
I am evaluating tokbox for react-native for a support application which has video streaming.

The basic video streaming is working fine, however the clarity on the video is very unclear. It appears that autofocus is not working.

 I am able to reproduce the same issue on the example application provided
@ [https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat](url)

Th

[2019-05-08 07:55] sharathchandramg opened #281 "Video is pixelated"
I am evaluating tokbox for react-native for a support application which has video streaming.

The basic video streaming is working fine, however the clarity on the video is very unclear. It appears that autofocus is not working.

I am able to reproduce the same issue on the example application provided @ https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat

The only c

[2019-05-08 20:11] evillemez commented on #269
Well... that's confusing. I'll retry testing this and see if I uncover anything different.  You were testing on `0.9.8` or `0.10.1`?

[2019-05-08 21:04] msach22 commented on #269
Yea, not sure why that's happening for you. I checked using `v0.10.2`.

[2019-05-08 23:49] evillemez commented on #274
@msach22

An update on the issues I and @Esbruiz commented on: It turns out the iOS SDK version was not specified in our Podfile, so the version that was actually being pulled in during build time was unpredictable.

I'm not sure at this point if our issue was related to the original issue posted here. So, for anyone who comes across this: check that your Podfile is actually specifying the version

[2019-05-09 13:59] evillemez commented on #269
Do you think the update of the native SDKs changed the behavior then?

[2019-05-09 15:15] msach22 commented on #277
Thanks @Nitheeshsalian. For Android, you can add the following:
[code]

to your app and it should make auto focus a requirement. This is because some devices don't support autofocus.

If this still continues, please update me.

[2019-05-09 15:16] msach22 commented on #274
Thanks @evillemez. It's important to lock in an SDK version so you can have consistency in your testing. Are you still seeing this when you lock in an SDK version?

[2019-05-09 15:18] nitheeshskiploop commented on #277
@msach22 I have tried this one problem still exist.

[2019-05-09 16:02] msach22 commented on #269
@evillemez My sincere apologies. In my test, I was only toggling the stream properties for the remote publisher. Please ignore my comment before.

I'm submitting a PR to add this feature.

[2019-05-09 17:49] evillemez commented on #274
@msach22 Yeah, locking in the SDK version in the Podfile fixed our build problems - but I'm not sure if it's the solution to the original issue posted here.

@misterpoloy Have you checked that your Podfile specifies the correct version of the iOS SDK?

[2019-05-10 21:39] msach22 commented on #251
Hi Folks, I ran this with the latest release (using native SDK 2.16.0) and I'm not seeing this issue. Could you folks please check on your end if you're seeing this?

[2019-05-10 23:03] msach22 commented on #108
Hey folks, I'm going to go ahead and close this issue. Please re-open if this persists.

[2019-05-10 23:03] #108 closed

[2019-05-11 07:38] reactdevrocks opened #283 "got this error Type 'OTSubscriberVideoEventReason' has no member 'codecNotSupported' while building in ios xcode is 10.2 and opentok 2.16 mentioned in pod"
[code]

[2019-05-13 11:21] ivorcho opened #284 "NullPointerException crash on Android when disconnecting"
**Current behavior**
App hangs when unmounting the screen containing the `OTSession`, hence when the session is disconnecting.

**Steps to reproduce**
Have two parties in a video call. Unmount the `OTSession` component. It's not happening every single time.

**Example Project**
I am using `"opentok-react-native": "0.10.2"` & `opentok-android-sdk-2.16.0`.
Also I am using react-navigation for app na

[2019-05-13 11:44] ivorcho commented on #277
I had the same issue and setting the `OTSession` option `isCamera2Capable` to `true` seems to enable the autofocus feature.

[2019-05-13 15:47] msach22 commented on #283
@reactdevrocks Thanks for filing the issue. Could you please confirm using the Podfile.lock that you're using the native 2.16.0 SDK?

[2019-05-13 17:48] msach22 commented on #251
Hi folks, I'm following up on this. I've created a patch for https://github.com/opentok/opentok-react-native/issues/269 and will release that soon. Closing this issue, but please let me know if this exists with v0.10.x

[2019-05-13 17:48] #251 closed

[2019-05-13 17:52] msach22 commented on #274
@evillemez Locking in the SDK is very important IMHO (this way you can have consistency across the dev team).

Please note that you need to use v0.9.6 and above for Swift 4.2. Could you confirm that's the version you're using?

[2019-05-14 06:28] nitheeshskiploop commented on #277
@ivorcho i have tried this still no luck

[2019-05-14 06:29] nitheeshskiploop commented on #277
@msach22 problem still exist.

[2019-05-14 10:35] siliconavengers opened #285 "Minimum Android SDK version support"
Hello,

I'm planning to use OpenTok for my project, but my device requires Android version must be 5.1.

I have checked the [build.gradle](https://github.com/opentok/opentok-react-native/blob/master/android/build.gradle) file.

[code]

It looks the library doesn't support Android SDK version below 23. Could you guys let me know more information about it? Am I wrong?

[2019-05-14 19:26] pa-garcia commented on #283
I have experienced this issue too. But my Xcode version is 10.1  and the 'OpenTok' pod version is '2.15.3'

[2019-05-15 18:18] waylon999 commented on #284
I'm also seeing this issue since upgrading to version 0.10.2.

If I join a video call as the only participant, I can exit the call without issue. It only seems to be happening when there are two parties connected.

[2019-05-17 09:35] reactdevrocks commented on #283
@msach22 - OpenTok (2.16.0). Confirmed

[2019-05-17 19:12] Sach-SPF opened #286 "unable to hear subscriber voice"
Hello everyone !!
I'm using the opentok react-native library where my problem is that I'm unable to hear back from a subscriber...though subscriber can see the video and listen to audio from Publisher. I'm having this issue on Android/iOS both.

has anyone had this issue before? whats the solutions?

Thanks
Sachin

[2019-05-22 06:44] nitheeshskiploop commented on #277
@msach22 any word on this issue ?

[2019-05-22 12:52] niraj1997 commented on #286
I am also facing the same issue. For the first time, I connected to stream I able to hear both publisher and subscriber voice but I connected to stream for the second time I am not able to hear the voice of subscriber but can able to hear the voice of the publisher.

Any solutions for it?

@msach22 Please provide the solution if you have any idea on this issue.

Thanks.

[2019-05-22 12:54] niraj1997 commented on #271
I am also facing the same issue.

Is there any update on it?

[2019-05-23 13:19] Pelsin opened #287 "Custom renderer for children in OTSession"
# Feature Request

**Description**
We are trying to add a transition when pressing on one of the subscribers to focus on that person, basically making that subscriber take up the entire screen.
- Currently no way of adding press handlers on the subscribers.
- No way of adding custom styling per subscriber

**Proposal**
Add more control of the way children for OTSession are being rendered, suggesti

[2019-05-23 13:43] og2t commented on #193
Hi Manik,

Thanks for the example above. However, when we try to create a few instances of the `OTSubscriber` in one `OTSession` the following error occurs:

[code]

It seems it would be much easier to pass a custom render method to `OTSubscriber` to display each subscriber, rather than manage subscribers manually by creating multiple `OTSubscriber` components.

The feature is described [in this i

[2019-05-24 04:06] msach22 commented on #274
Closing this issue because this has been resolved for the developer (communicated via email). Seems like there was a mismatch when compiling the OpenTokReactNative library (using older version)

[2019-05-24 04:06] #274 closed

[2019-05-24 04:10] msach22 commented on #285
@siliconavengers The library does supports a minimum of API Level 16. Android 5.1 is API Level 22 so this should be supported. You can check out some basic samples here to run a standalone app and build for Android 5.1:
https://github.com/opentok/opentok-react-native-samples

[2019-05-24 04:10] #285 closed

[2019-05-24 04:33] msach22 commented on #283
Hmm, I'm not seeing this issue. I'm using XCode 10.2.1 and I used the following sample app:
https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat

This new video reason was introduced in the 2.16.0 SDK. Are you able to reproduce this using the sample app?

[2019-05-24 05:44] kibponce commented on #151
Up

[2019-05-24 19:27] tokkozhin commented on #286
Same issue!

[2019-05-25 16:30] Panda-ref commented on #286
Every OT session after first one has no sound on Subscriber with
opentok-react-native 0.10.2 and OpenTok pod 2.16.0/2.16.1 for iOS. First one works just fine. Android doesn't seem to be affected.
Downgrading to 0.10.1 and 2.15.3 pod now.

[2019-05-27 15:41] reactdevrocks commented on #283
@msach22 i have commented and given default case in node_modules and then error has gone.

[2019-05-27 15:41] #283 closed

[2019-05-28 06:21] nagenderpratapqss commented on #150
@Rjayone - Link is broken. Can you share it again.

@msach22 - This issue is still happening. Checking on iPhone and iPad - iOS version- 12.1.4 - XCode 10.2. Any updates for the resolution?

@evillemez - Have you figured out any solution on this?

[2019-05-28 16:06] msach22 opened #289 "New OpenTok React Native API"
This is a proposal for a new API that would allow more control over rendering `OTSubscriber` components. Currently, the library assumes that you want to subscribe to all streams, but this new API would allow you to subscribe and render views individually. The API proposal also includes a sample on how to style, listen to events, and control subscriber audio and video.

[code]

[2019-05-28 16:07] msach22 commented on #289
@ggoldens @evillemez @ArtemSerga Would love your thoughts on this.

[2019-05-28 16:37] misterpoloy commented on #274
@msach22 Thanks! should `0.10.2` has the fix?

[2019-05-28 16:59] msach22 commented on #284
Thanks for pointing this out, I'll investigate this issue and update you folks on a resolution this week.

[2019-05-28 18:32] joelpiccoli opened #291 "handling session destroy"
Hello everyone, I'm facing an issue within our app and would like the help from anyone that can help...

There's anyway to destroy a session by an action from the user? (i.e taping a button "close sessions")

[2019-05-28 18:37] msach22 commented on #269
This has been released with v0.10.3

[2019-05-28 18:37] #269 closed

[2019-05-28 18:37] msach22 commented on #284
This fix has been released with v0.10.3

[2019-05-28 18:37] #284 closed

[2019-05-28 18:38] msach22 commented on #291
@joelpiccoli You should be able to destroy the session by unmounting the `OTSession` component. For more docs, please see: https://github.com/opentok/opentok-react-native/blob/master/docs/OTSession.md

[2019-05-28 18:38] #291 closed

[2019-05-28 18:45] ggoldens commented on #289
LGTM @msach22 !

[2019-05-29 13:15] ArtemSerga commented on #289
In generate API is the same as was, but with some low-level control around `steamid`

1. in `streamCreated` callback we can started manually control subscription per every  `steamid`(`subscriberEventHandlers[event.streamId]`, `subscriberProperties[event.streamId]`).
For me It looks good, understandable and logical.
P.S. `subscribers: state.subscribers.push(event.streamId)` will not work because `p

[2019-05-29 15:20] msach22 commented on #289
@ArtemSerga Thanks for the feedback.
Yes, more granularity is the goal here.

1. Yes, granularity is the goal here. Thanks for pointing out the issue with the array, I fixed it the sample above 😄.
2. We can have a default behavior where when a stream is destroyed, the views are automatically destroyed and the events will also stop, but the application owner would be responsible for freeing up the

[2019-05-29 16:56] ArtemSerga commented on #289
Helper function to hide verbose code

in `streamCreated` callback, i.e:
[code]

and in `streamDestroyed` callback, i.e:
[code]

And then, a developer can decide what to do with already calculated `subscribers`, `subscriberEventHandlers`, `subscriberProperties `. Process with `setState`, `redux` or other state management approach.

[2019-05-31 15:54] knavu2 commented on #289
I'm super excited to hear that you want to expand the API to provide more control and flexibility over how streams are rendered! With that said, I believe that we're mixing concerns here, specifically, session state handling and stream rendering. A consequence of this is also that the API becomes unnecessarily verbose. Instead I would prefer to see this implemented as a render prop component (e.g.

[2019-06-03 11:23] og2t commented on #289
I very much agree with @knavu2's proposal, thanks for considering that approach.

Do you have any timelines when this API proposal will be available to use?

[2019-06-04 12:44] joelpiccoli commented on #286
I'm facing the exactly same issue, but didn't find any solution yet. Anyone had any luck with this?

[2019-06-04 15:15] evillemez commented on #289
@msach22 Thanks for sketching something out and requesting feedback!  Generally I agree with the recommendation here from @knavu2 .  Having one component that can track all of the subscribers in the session, and accept a render prop for configuring/rendering each one, would probably be a little easier to manage.

[2019-06-04 15:21] evillemez commented on #150
@nagenderpratapqss We still don't have a solution, but we also still can't reliably reproduce the problem.  It's odd, when it does happen, it happens consistently, but I still don't know what the initial trigger is.

[2019-06-04 15:28] evillemez commented on #249
@msach22 Did you discover anything related to this?

We still have low audio volume issues in our app (in-call volume is always much lower than in other apps, and user cannot increase it), and haven't been able to determine the root cause.

[2019-06-04 16:05] evillemez commented on #84
I've come back to this because, while our app does a lot of internal state tracking in order to render a custom screen when we detect there is no video, there is still a period of time that goes by between when a user enables their video and the actual frames start being rendered.  During that little gap we get a flash of black screen, and I'm not finding any way to avoid it right now.

It would b

[2019-06-04 16:22] misterpoloy commented on #274
@msach22 what does this means? What are the next steps?
I still getting this error.
`pod 'OpenTok', '2.15.2'`
`"opentok-react-native": "0.9.4",`

[2019-06-05 20:33] joelpiccoli commented on #286
Hello everyone!
I've realized that my problem lies when the ios clients connect first to the Stream, in the log I found this:
[code]

[2019-06-06 15:25] DaltonCastro commented on #155
Hi!
I was facing the same problem when updating cocoapods to the latest one. Downgraded to 1.5.3.

Also, I had to downgrade the opentok-react-native from 0.10.3 to 0.10.1 in order to perform the audio for subscriber on iOS.

Is there an estimative to fix the problem on iOS with the latest opentok-react-native version?
It will be great to keep our projects up-to-date.
Thanx!

[2019-06-07 14:08] ggoldens commented on #198
Confirmed, it's still happening Using the latest version of opentok-react-native and opentok SDK.

[2019-06-07 15:09] ivorcho opened #294 "Android ANR or crash when disconnecting from session"
When unmounting the OTSession component while there are two parties connected to it the app UI hangs and I get ANR. Unfortunately there were no helpful logs what is causing it. Only when I tested on emulator with Android API 28 I got the following crash log:

[code]

This I think is an error in the native android sdk, because I forked this project and downgraded to `com.opentok.android:opentok-and

[2019-06-08 08:28] daft300punk commented on #276
@evillemez This is also a very crucial use case for us. Hoping to get a solution.

[2019-06-08 13:23] scitbiz commented on #294
Same problem!

[2019-06-10 20:00] evillemez commented on #274
@msach22 I don't think my issue was actually the same as @misterpoloy.  It sounded the same at first to me, so I commented here, but it should probably be reopened.

[2019-06-10 20:04] evillemez commented on #294
I think I hit this problem when trying to upgrade to 10.2+ as well, but I'll have to try it again to see if I can get crash logs this time.  An Android crash triggered by unmounting the session was why I downgraded to 10.1 of this lib though.  I didn't have time to look into it more at the time, but I'll come back to it and try to provide more info.

[2019-06-17 13:57] Auggysg commented on #283
@reactdevrocks I'm experiencing the same issue as you, can you please explain what you mean by "commented and given default case in node_modules"?

[2019-06-18 09:16] enricop89 commented on #46
@renanpupin I added some sample code for the Network Test feature. You can check it out here: [https://github.com/nexmo-saleseng/opentok-react-native-samples/tree/feature.network-test-sample/OTNetworkTest](https://github.com/nexmo-saleseng/opentok-react-native-samples/tree/feature.network-test-sample/OTNetworkTest)

[2019-06-18 13:10] renanpupin commented on #46
@pedro-cerdera

[2019-06-18 14:03] og2t commented on #284
It doesn't seem to be fixed, the crash seems caused by the print log in `onDisconnected` function in `OTSessionManager.java` on line 639:
[code]

Thanks!

[2019-06-18 22:09] fernandoatsofia commented on #294
Same problem here and I tried with 0.10.1 as @evillemez , it works but I had bug #286 with that version. So this solution fixes android crash but audio is affected. I would prefer a new release fixing these issues together

[2019-06-19 13:19] og2t commented on #286
Same here. Audio is not heard, restart of the app usually solves it.

[2019-06-19 13:30] og2t opened #302 "Phone gets very hot quickly during the video call"
Apologies for not using the standard bug template, but somewhat this issue seems a bit different:

While testing video calls on various iOS and Android phones, we've noticed the phone gets very hot quickly.

It seems to directly correlate with number of video streams, but it gets very warm already even with 2 participants.

It seems it's much warmer comparing to other video chat apps (Zoom, Skype,

[2019-06-19 14:23] ASerga commented on #271
@msach22, is there any update on it?

[2019-06-19 14:23] ASerga commented on #289
@msach22, do you have any timelines when this API proposal will be available to use?

[2019-06-19 14:24] ASerga commented on #218
@msach22, is there any updates?

[2019-06-19 19:22] mbouxin commented on #286
@msach22 I had the same problem here. It seems that the problem is in 2.16.X SDK. Indeed, I tried using 0.10.3 version with 2.15.3 and the two last lines of Utils.swift erased and It worked

[2019-06-20 07:30] og2t commented on #294
This one seems to be fixed for us with `0.11.1` release.

[2019-06-20 11:44] msach22 commented on #302
@og2t Thanks for filing an issue. Could you please share some of the following information?

- Device & OS version
- SDK version
- OTRN version

[2019-06-21 06:38] Tracklous commented on #294
Facing the same issue, crash while unmounting the OTSession? Any solution yet ?

[2019-06-21 12:20] Tracklous commented on #294
@og2t Already tried "0.11.1" but still crashing on unmounting.

[2019-06-24 10:59] enricop89 commented on #294
@Tracklous can you please share some sample code + steps to reproduce the issue?
I tried to unmount OTSession component with two parties connected but I am not able to reproduce it.

[2019-06-24 11:01] TarunCodiant opened #304 "APP not responding after disconnect the call in Android"
Hello All,
For Android Only:
I am facing issue with opentok audio calling functionality - when i disconnect the call at that moment app goes in hang mode not responding any event and we need kill the app every time.
Could you please help me on this I am facing this issues last 3 days.

Using configrations:
opentok version - 0.11.1
RN version - 0.59.5
implementation 'com.opentok.android:opentok-and

[2019-06-24 15:16] og2t commented on #289
I've created a PR #306 that will allow to render `OTSubscriverView` views individually.

[2019-06-24 20:47] og2t commented on #287
This is now solved with PR #306 :)

[2019-06-25 07:10] og2t commented on #302
Hi Manik, here are the details:

- Device & OS version: `iPhone X/6, iOS 12.3.1`
- SDK version: `2.16.0`
- OTRN version: `0.11.1`

Thanks!
/Tomek

[2019-06-25 07:43] knavu2 commented on #302
This also happens with my Samsung Galaxy S10.

[2019-06-25 07:55] knavu2 commented on #304
We've been having the same issue. In our case the crash is caused by line 644 of the `OTSessionManager.java` file in the native part of the library:

[code]

Could you try commenting out this line to see if it fixes it? This bug was supposed to be fixed in 0.10.3, but apparently it wasn't.

[2019-06-25 08:27] enricop89 commented on #304
I think it's related to #294. As @knavu2 said, the issue is on the `OTSessionManager.java` file.
The problem is from the `2.16.0` Android SDK. I'm working on that.

[2019-06-25 09:07] enricop89 commented on #286
**[Update]**: we found a bug in the native iOS SDK from `2.16.x` so I suggest using the `2.15.3` with the two last lines of `Utils.swift` erased as @mbouxin suggested.

Once we patch the native iOS, I will patch the `react-native` library too.

[2019-06-25 10:29] TarunCodiant commented on #304
Hey @All, Thank you very much for the help!!!
Now I have fixed the issue for both end app hanging. just do simple steps and shoot the target..

Steps:
1. Downgrade the opentok android skd version 2.16.0 to 2.15.3
2. Updgrade the opentoke version -  0.11.1

Cheers!!!

[2019-06-25 10:43] enricop89 commented on #304
Close as depending on native SDK Android. Waiting for patch.

[2019-06-25 10:43] #304 closed

[2019-06-25 13:32] enricop89 commented on #284
See https://github.com/opentok/opentok-react-native/issues/304#issuecomment-505342760

[2019-06-26 08:38] Tracklous commented on #289
@og2t waiting for your PR to get merged so that I can use, That is the only blocker I'm facing right now. I really appreciate your efforts :) :)

[2019-06-26 08:47] enricop89 commented on #294
Look: https://github.com/opentok/opentok-react-native/issues/304#issuecomment-505342760

[2019-07-01 21:23] smakosh commented on #283
Having the same issue

[2019-07-01 21:32] smakosh commented on #283
I confirm that it's fixed on the latest SDK

[2019-07-03 08:43] enricop89 commented on #287
Version `0.11.2` published on NPM  🎉

[2019-07-03 08:43] #287 closed

[2019-07-03 08:44] enricop89 commented on #289
Version 0.11.2 published on NPM 🎉

[2019-07-03 16:50] enricop89 commented on #174
Should be fixed with `0.11.2` version @sunweiyang . Doc here [Custom Rendering Subscriber](https://github.com/opentok/opentok-react-native/blob/master/docs/OTSubscriber.md#custom-rendering-of-streams)

[2019-07-03 16:50] #174 closed

[2019-07-04 12:57] yusuftor commented on #302
I also get this issue, using an iPhone XS and an iPhone 6. I'm just using the iOS SDK version 2.14.2.

[2019-07-05 15:29] julien-meichelbeck commented on #286
Hello @enricop89, do you have an ETA for this bug fix?

We had to downgrade the iOS SDK to `2.15.3` and "opentok-react-native" to `0.10.1` in production just to fix this but now we are not able to rollout a feature that requires the latest version (`subscribeToSelf`).

[2019-07-05 15:37] Playfrog4u opened #308 "Crash when using iOS 13 Beta"
I know iOS 13 is currently still in beta but wanted to bring this up.

I've also updated the project to react-native 0.60
Currently running iOS 13 Beta 3

Even crashed on an older react-native build that currently works on iOS 12

When starting the video chat it immediately crashes..

Below is the last few lines in Xcode 11 beta.
Doesn't really give good direction on what is causing the error..

T

[2019-07-05 22:53] Playfrog4u commented on #308
Even with Metal API Validation disabled in the Scheme, it crashes at Metal GPU Frame Capture Enabled

[2019-07-07 11:35] enricop89 commented on #286
@julien-meichelbeck I will check with the team internally and get back to you as soon as possible.

[2019-07-10 09:48] enricop89 commented on #286
I suggest two workarounds if you need to test the latest version of OT React Native:

1. Install `opentok-react-native: 0.11.2`, downgrade the ios SDK in the Podfile to `2.15.3` and delete the two last lines of `Utils.swift`.

2.  Have a look at this PR: https://github.com/opentok/opentok-react-native/pull/305. Basically, the issue with the `2.16.x` iOS SDK seems linked to the publisher object whi

[2019-07-11 15:14] ggoldens commented on #218
hello @ASerga, we're working on it. I'll post an update soon.

[2019-07-15 05:27] moffly commented on #277
Any update on this? Is Tokbox iOS SDK possible to auto focus or manual focus? Thanks.

[2019-07-16 20:33] smakosh opened #310 "Test suite fails and need help to document how to mock this library"
## Description
My test suite fails to run and returns this error

[code]

It has something to do with `OTPublisher` component.

Related libraries I'm using:

[code]

Any help or documentation about mocking your library is most welcome, thanks

[2019-07-17 12:39] ggoldens commented on #289
Closing this issue since it's already released.

[2019-07-17 12:39] #289 closed

[2019-07-17 12:42] ggoldens commented on #218
@ASerga FYI We're still working on this. We have a good progress, but still trying to resolve an issue related to having more than one publisher.

[2019-07-18 10:28] alexei-sevrukov-topx commented on #276
@evillemez @msach22 it's also blocker for out project because we need this feature to switch between "ear" to "speaker" mode. Could you please tell about progress in solving of this question. Or maybe alternative ways to implement this feature?

[2019-07-18 15:32] evillemez commented on #271
@msach22 I'm still sure this is an issue, not finding any other explanation for the extra disconnect signals.

Is there more information anyone of us, me, or @ASerga or @niraj1997 can provide here?  It's a serious issue for us unfortunately, because we unmount/remount the session in the case of a party losing their network connection, or if the session/publisher/subscriber trigger an error.

[2019-07-18 15:34] evillemez commented on #294
@enricop89 As I understand, this can't be fixed until the native Android SDK is patched yes?  Is there any info on when that's coming?

[2019-07-18 18:03] ggoldens commented on #218
@ASerga would you like to test the PR and provide some feedback? I'll add you as a reviewer.

[2019-07-18 20:21] enricop89 commented on #294
@evillemez I hope to have it fixed in the next few weeks

[2019-07-19 14:07] akandaurov opened #312 "Android androidZOrder and androidOnTop does not cover all possible cases"
You have added 2 settings to override zIndex on on Android. Everything worked fine for me before without those overrides - I could show publisher over subscriber and the opposite.
Now with default settings the subscriber is somewhere behind.
There should be a way to do not force any zOrder and work like it was before that feature, e.g. 'unspecified' state

[2019-07-19 14:11] akandaurov commented on #294
It works fine if I set the OpenTok Android SDK version to 2.15.3 in build.gradle instead of 2.16.1. So you should probably update it to that one. 2.16.1 hangs in 100% cases if i try to disconnect after somebody was subscribed to the stream

[2019-07-19 21:34] Kosal19901015 opened #313 "Audiolevel 0 on ios"
I am building video chat app.
Android has no issue, then ios has issue.
when i enter the chatroom on ios, at first, i can hear the voice.
out of room and enter again, then no voice.
By the way, restart the app, i can hear the voice.
This issue is only from ios, Android works well.
If someone had experience on this issue, please support me.
Thanks

[2019-07-20 06:53] enricop89 commented on #313
Duplicate #286

[2019-07-20 06:54] #313 closed

[2019-07-22 10:47] enricop89 opened #314 "Add subscriber retry logic if subscriber fails to subscribe"
We can introduce a retry prop that when true, would destroy the old subscriber (because it failed), and then create another one.

Something similar to https://github.com/opentok/opentok-react/issues/68

[2019-07-23 14:23] HenriqueMata opened #315 "Hide subscriber view"
I want to hide subscriber view but using `height: 0`, `height: 0.1` or `display: 'none'` video does not disappear. Subscriber still on layout:
![view](https://user-images.githubusercontent.com/35509741/61719768-e77e4a80-ad3b-11e9-8833-e45a18898294.png)

And when I do a conditional to hide in render app crash:
![error](https://user-images.githubusercontent.com/35509741/61719851-109edb00-ad3c-11e9-9

[2019-07-25 19:57] timhuff commented on #304
how exactly do you perform the downgrade?

[2019-07-26 08:50] enricop89 commented on #304
@timhuff you open the project with Android Studio, navigate to the build.gradle file and set the version

[2019-07-26 16:31] julisalis opened #316 "Network test"
Hi, is there something like [opentok-network-test-js](https://github.com/opentok/opentok-network-test-js) for testing connectivity and quality in react-native?

[2019-07-26 17:13] enricop89 commented on #316
@julisalis Hi Juli this one is an example for ReactNative: https://github.com/nexmo-saleseng/opentok-react-native-samples/tree/feature.network-test-sample/OTNetworkTest

[2019-07-26 17:30] julisalis commented on #316
Thanks @enricop89!
Yeah, I saw that example earlier, but I need the same results that opentok-network-test-js returns, specially the mos and error reasons.

[2019-07-26 18:28] timhuff commented on #304
Ah, alright. Thanks. Wasn't sure which opentok you were referring to. This solved my issue, though. Thanks for the tip.

[2019-07-27 16:41] timhuff commented on #294
Is there a way that I can overwrite the opentok-react-native `build.gradle` to ensure my project is using `2.15.3` instead of `2.16.1`? Currently I have to modify it in their build.gradle and then remember to confirm that it hasn't been reverted before building.

[2019-07-27 17:15] timhuff commented on #294
I think I may have figured this out. Could someone confirm that this is correct?
I've added the following to my app-level `build.gradle`, directly above the `dependencies` block:

[code]

This should do this trick, right?

[2019-07-30 19:48] evillemez commented on #314
Duplicate of #68?  Either way, this would be a nice addition.  It would be nice if both publishers and subscribers had the capability for retries without having to mount/unmount the session

[2019-07-31 13:36] hugoh59 commented on #249
Any update on this issue? Thank you.

[2019-07-31 14:26] scitbiz commented on #249
My workaround is using [AppState](https://facebook.github.io/react-native/docs/appstate) to unmount the session if the state is **_inactive_** or **_background_** and remount when the state is **_active_**

[2019-08-01 17:53] ggoldens commented on #315
Thanks @HenriqueMata for reporting. We'll take a look.

[2019-08-02 17:31] akandaurov commented on #294
@timhuff It is easier just to add implementation with the force parameter after the opentok-react-native:
`    implementation project(':opentok-react-native')
    implementation ('com.opentok.android:opentok-android-sdk:2.14.3') {
        force = true
    }`
Note: I used the 2.14 version because the 2.15 has bug with TextureView

[2019-08-05 13:03] tomek29k commented on #315
I suppose this is on Android @HenriqueMata?

We've had the same issue – impossible to hide the subscriber. I've had an idea to wrap the `OTSubscriber` with a `View` and set its style `height: 0; overflow: 'hidden'`, but not sure if this would work either.

[2019-08-05 13:31] ggoldens commented on #218
Closing this one since, it's solved in the PR #311

[2019-08-05 13:31] #218 closed

[2019-08-05 13:32] HenriqueMata commented on #315
Yes, it is. I didn't tried on iOS yet, but i supposed it works.

Im wrapping with a View, but not using these props, I will try using these and reply here

[2019-08-05 13:46] ggoldens commented on #316
@enricop89 @julisalis I think we can close this issue since it's not directly related with this package. You can open a new issue requesting a new feature in https://github.com/nexmo-saleseng/opentok-react-native-samples OR feel free to make a PR and we will review it.
Thanks!!

[2019-08-05 13:46] #316 closed

[2019-08-05 14:01] ggoldens commented on #150
@evillemez Have you check if this issue happens also in a native iOS app using the latest Opentok SDK? Just wondering if it's related to opentok-react-native or it's a bug on the iOS SDK.

[2019-08-05 14:06] tomek29k commented on #312
Same here. It feels like the entire publisher/subscribers/RN-views priority needs to be fixed/rewritten for Android, it doesn't seem to follow the react-native draw order.

[2019-08-05 14:11] ggoldens commented on #312
@akandaurov @tomek29k what are the version of OpenTok SDK that you are using, and which is the configuration of `androidOnTop` and `androidZOrder` ?

[2019-08-05 14:33] ggoldens commented on #302
@og2t
Using the video camera and subscribing streams consumes memory and increases the CPU usage.
Could you confirm if this is happening to you when you run a native iOS sample app using Opentok iOS SDK? You can test the opentok demo app.

[2019-08-05 14:40] ggoldens commented on #294
Closing this one since the main issue is in the native SDK. If the issue continues after the new patch is released, we can re-open it.

[2019-08-05 14:40] #294 closed

[2019-08-05 14:47] HenriqueMata commented on #315
@tomek29k I tried use `height: 0`, `overflow: 'hidden'` but didnt work

[2019-08-05 14:54] ggoldens commented on #286
I'll close this issue since the main reason is a bug on the native SDK, so there's nothing to fix on this package. Please feel free to re-open it in case you reproduce the same issue using the next version of the SDK.

[2019-08-05 14:54] #286 closed

[2019-08-05 15:00] ggoldens commented on #281
@sharathchandramg Were you able to fix this?
Could you please try with the Opentok demo app for Android and see if you can reproduce the same issue? thanks!

[2019-08-05 15:21] akandaurov commented on #312
On Android 7+ those overrides are not needed and everything works fine if just enclose subscriber or publisher in a usual react-native view.
On older android it's better to set useTextureViews to true and everything works like a charm, but need to switch to older SDK (2.14.3) because in 2.15.* TextureViews are incorrectly resized, which is fixed in 2.16.1, but 2.16.* hangs on session disconnect.

[2019-08-05 15:21] ggoldens commented on #281
@sharathchandramg please follow the issue #277 that seems to be about this same problem.

[2019-08-05 15:21] #281 closed

[2019-08-05 15:47] akandaurov commented on #315
I cover the Subscriber in one more view like this and it works fine, but I saw errors like described in this this thread in Crashlytics log.
<View style={{ justifyContent: 'center', ...(hidden ? { width: 0, height: 0 } : { flex: 1 }) }}>

[2019-08-05 15:49] julien-meichelbeck commented on #286
Well, real users are impacted, we had to downgrade our SDKs/RN packages because of this and the roadmap is shifting because this is blocking for us.

How can we keep track of the fix ?

[2019-08-05 18:59] HenriqueMata commented on #315
Hiding and show multiple times sometime the bug in first image happens.

[2019-08-06 14:18] tomek29k commented on #312
@ggoldens Currently, for Android we are using @akandaurov's suggestion (SDK @ 2.14.3) that is working for us (thanks Andrey!), it seem to fix [crash on session disconnect](https://github.com/opentok/opentok-react-native/issues/294) and view drawing order.

For iOS we are using [our own fork](https://github.com/29ki/opentok-react-native/tree/patches) while waiting for the next SDK.

[2019-08-07 04:37] msach22 commented on #260
Closing this issue because it looks like it was resolved with the updated RN version. Please re-open if this still persists.

[2019-08-07 04:37] #260 closed

[2019-08-07 10:41] HayTran94 opened #324 "Android crash app when change streamId for subscriber component"
# Bug Report

**Current behavior**
I want to switch to another subscriber stream but it cause the crash in Android, not in iOS.

**Steps to reproduce**
Build a component with a streamId, after that re-render with another streamId and it crash with the following error: `The specific child already has a parent. You must call removeView() on the child's parent first.`

**Example Project**
I am follow

[2019-08-07 15:03] evillemez commented on #271
@msach22 @ggoldens I saw the PR referencing this - is this potentially fixed in 0.12.0?

[2019-08-07 18:40] JayTokBox commented on #140
Hi @steverob , sorry for the late response.

The phone detects the orientations and we set the orientation mode within the frame. No cropping is done. (https://github.com/opentok/opentok-ios-sdk-samples/blob/master/Custom-Video-Driver/Lets-Build-OTPublisher/TBExampleVideoCapture.m#L768)

[2019-08-08 09:54] sangampandey opened #327 "Any equivalent of OTPublisher.viewScaleBehavior"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2019-08-09 18:29] evillemez commented on #150
@ggoldens I haven't tried this in a native iOS app, so I'm not sure.

We have seen (very rare) cases of this happening on Android also... but it was a while ago, with older versions of the lib, on old Android devices with other issues, so I'm honestly not sure it's relevant.

I wish I could reproduce this issue consistently, but still no luck.

[2019-08-12 17:43] smakosh commented on #310
Managed to solve this by mocking the `NativeEventEmitter` by adding this configuration to my `setup-jest.js` file

[code]

[2019-08-12 17:43] #310 closed

[2019-08-13 18:42] sudhagaramaran commented on #119
I have an issues like this "native module cannot be null".

[2019-08-14 09:49] op opened #328 "Disconnect camera hardware"
# Feature Request

**Description**
Expose a way to disconnect the camera. You can set `publishVideo` to stop the publishing of the video. The camera will still be allocated.

The root issue we're trying to solve is to release the camera when someone locks their phone. This to allow Android users to continue to use eg the iris scanner to unlock their phone.

**Proposal**
You can set `videoTrack` on

[2019-08-14 11:03] op commented on #328
Sorry, this seem to work now as intended. :thinking:

Haven't changed any code but it started working. :tada:

[2019-08-14 12:49] op commented on #328
I played around with removing the `OTPublisher` and adding it back but it didn't work. Giving up now.

It would be amazing to have a way to control the allocation of the hardware too!

[2019-08-16 08:55] ArtyCake opened #329 "undefined:session:sessionDidConnect"
# Bug Report

**Current behavior**
The error appears after successful connection.

Session parameters set on componentDidMount.

after the screen was displayed,  UI was shown for a second and then the error appears (attached below). As it's shown in Tokbox inspector session was connected (attached screenshot)

As I can see in OTSessionManager.swift it emits next event
`self.emitEvent("\(session.se

[2019-08-16 10:51] tomek29k commented on #329
@ArtyCake: Can you check if you're wrapping `<OTSubscriber>` component in a `<View>`? It seems the `sessionId` prop is not getting through.

[2019-08-16 10:55] tomek29k opened #330 "Is OTInstall.swift and bridging header still needed?"
When checking [BasicVideoChat](https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat) example, I noticed OTInstall.swift and bridging header are not needed to compile and run the app?

Could it be the case? Thanks!

[2019-08-16 11:27] tomek29k commented on #330
I fact they're there, my bad.

[2019-08-16 11:27] #330 closed

[2019-08-16 11:34] ArtyCake commented on #329
Interesting
Thank's for advice
I've removed `<View>` wrapper from `<OTPublisher>` and it's working
But what if I need to stylize the call screen and add more views, including wrapper around `<OTPublisher>` and `<OTSubscriber>`?

[2019-08-16 11:45] tomek29k commented on #329
You can use render props to [custom render streams](https://github.com/opentok/opentok-react-native/blob/master/docs/OTSubscriber.md#custom-rendering-of-streams).

However, you might experience weird [z-order bugs on Android](https://github.com/opentok/opentok-react-native/issues/312) with #315 and #324 – please report them if you do 🙏🏻

[2019-08-16 12:13] ArtyCake commented on #329
Thank's a lot
I will

[2019-08-16 18:54] ggoldens commented on #329
Thanks @ArtyCake for reporting this. We'll review this.

[2019-08-16 23:43] sunweiyang commented on #249
@scitbiz Thanks for the suggestion. Unfortunately, our app needs to still persist the session when normally backgrounded by the user (audio is still subscribed and published).

[2019-08-17 17:00] manish-dalal commented on #285
@msach22 on API level 23 I always get a black screen on OTSubscriber view in the sample app
[https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat](https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat)

[2019-08-19 11:31] og2t commented on #294
Hi @ggoldens! Any updates on the native SDK release date for Android yet? Thanks!

[2019-08-19 13:06] BenAllenUK commented on #294
Echoing @og2t question - what is the progress on this?

I have found this crash occurs consistently when between 2 Android devices and 50% of the time when publishing from iOS and subscribing on Android. This is with the most current version opentok-react-native 0.12.0 and the Opentok 2.16.1 as well as opentok-react-native 0.11.3 and the Opentok 2.16.0.

I've extended the sample code which when ru

[2019-08-20 03:14] SteedMonteiro opened #331 "Publish an audio file in a session"
Hello,

I want to publish an mp3 audio file in a session to play like a jingle during a session because when i try to play an audio file during a session the publisher get mute. i'm using https://github.com/react-native-community/react-native-audio-toolkit to play my mp3 files.

Is there any work around for this?

[2019-08-20 09:15] tomek29k commented on #331
I was just about to post the same question @SteedMonteiro :)

We're using [react-native-video](https://github.com/react-native-community/react-native-video) as an audio player and it results in stopping the mic audio as well for iOS.
Muting/unmuting the mic or rejoining the call doesn't help.

I was looking into https://developer.apple.com/documentation/avfoundation/avaudiosessioncategory?language

[2019-08-21 12:34] ggoldens commented on #294
Hi @og2t, sorry for the late response. The new version of Android SDK is going to be released soon, we're close. I'll keep you posted.

[2019-08-21 13:04] apple923 opened #332 "RN 0.6X Autolinking Support"
# Feature Request

**Description**
Add full autolinking support to simplify install process and bypass `react-native link`

**Proposal**
Add Podspec as described in link below

**Links / references**
https://github.com/react-native-community/cli/blob/master/docs/autolinking.md

[2019-08-21 14:34] tomek29k commented on #331
@SteedMonteiro It seems we've managed to fix it by setting `ignoreSilentSwitch={'inherit'}` and `playInBackground={false}` for react-native-video, you might find similar settings for audio-toolkit.

[2019-08-21 15:35] BenAllenUK commented on #324
I also have this issue. Which react native amd opentok Android SDK version are you using?

[2019-08-21 15:46] HayTran94 commented on #324
Hello @BenAllenUK, i use react native v0.60.3 and opentok v0.12.0. I already fixed this bug, please follow the [pull request](https://github.com/opentok/opentok-react-native/pull/326) to temporary pass the issue and wait for official merged version. Hope that will help you guy!

[2019-08-22 15:49] ggoldens commented on #140
Hi @steverob I hope the answer from @JayTokBox was helpful. I'll close this issue, but let us know if you have any other question.
Thanks!

[2019-08-22 15:49] #140 closed

[2019-08-22 15:52] ggoldens commented on #198
Hi @zaidSimajji could you please confirm if it still happening with v0.12.0?

[2019-08-22 15:56] ggoldens commented on #271
Hi @evillemez sorry for the late reply. Yes, it should be fixed in 0.12.0. Could you please confirm if after upgrading it works as expected?
Thanks

[2019-08-22 19:15] ggoldens commented on #324
Hi @HayTran94. Can you provide more info about how to reproduce this error?
Can you show how you're switching streams?

[2019-08-22 19:16] ggoldens commented on #315
@HenriqueMata sorry for the late reply.
I've been testing this. If you follow the recommendation from @akandaurov you should be able to hide the subscriber. Although in my case I was able to do it with display: 'none' in the View that wraps the subscriber.
Could you show how to get the error in your screenshot?

[2019-08-22 20:22] HenriqueMata commented on #315
This is how I got the error:

`const subscriberView = show ? (
    <View
      style={[
        style,
        {
          backgroundColor: 'black',
          justifyContent: 'center'
        }
      ]}

      <OTSubscriberView
        style={{ width: '100%', height: '80%' }}
        streamId={stream.streamId}
      />
    </View>
  ) : null;
  return subscriberView;`

**This text refers to the fi

[2019-08-23 06:09] filipecrosk opened #334 "otk_anvil error, can't find what's causing it"
Hi,  I'm getting this error and can't find what's causing it. I tried to run the sample project and get the same issue. I also create a brand new project and installed and tried to run and got the same errors. Not sure what's happening, but I'm only getting a blank/white screen and those logs on console.

[code]

Current setup:
[code]

Xcode: 10.3 on macOS Mojave (10.14.6)

![Screenshot 2019-08-22

[2019-08-23 15:29] ggoldens commented on #324
@HayTran94 FYI I just approved your PR. Will let you know when it's released.
Thanks for your contribution!

[2019-08-23 15:30] ggoldens commented on #315
thanks @HenriqueMata. I just approved a PR that seems to fix this issue. I'll let you know when it's released.

[2019-08-23 16:00] ggoldens commented on #334
Hi @filipecrosk, Did you try with Opentok SDK 2.16.2?

[2019-08-23 16:22] filipecrosk commented on #334
Nope, but I just tried it and it says `CocoaPods could not find compatible versions for pod "OpenTok":` Do I need to specify a specific branch to load this version?

![image](https://user-images.githubusercontent.com/194257/63607368-298eec00-c587-11e9-80bc-ed176d07d0bb.png)

I'm continue to test and it looks like this error message is because an expired token, so I'm using `tokbox playground` to g

[2019-08-23 16:22] ggoldens commented on #327
Hi @sangampandey currently opentok-react-native doesn't support this option, but seems to be a good idea for a API proposal.

[2019-08-23 16:30] ggoldens commented on #334
You need to update your pod repo this way: "pod repo update".
Then you will be able to do a pod install.

About your screenshot, that's totally normal. The iOS simulator will use that fake video stream. If you test it in a real device you should see the video captured from your real camera.

[2019-08-23 16:37] ggoldens commented on #328
Hi @op, sorry for the late reply.
I just tested it like this:
<OTSession .....>
    {this.state.showPublisher && <OTPublisher style={{ width: 600, height: 480 }} />}
</OTSession/ >
If showPublisher is false, the OTPublisher is not being renderer and the publisher stream is destroyed. If you re-render it again, it will create the publisher.

Can you confirm if you see the same?

[2019-08-23 16:59] HenriqueMata commented on #315
Thanks @ggoldens

[2019-08-23 19:08] ggoldens commented on #334
closing this PR since it was just an issue with an expired token.

[2019-08-23 19:08] #334 closed

[2019-08-26 05:10] HayTran94 opened #335 "Fix componentWillMount() deprecated warning"
componentWillMount is deprecated and will be removed in the next major version. Use componentDidMount instead. As a temporary workaround, you can rename to UNSAFE_componentWillMount.

Please update the following components: OTPublisher, OTSession, OTSubscriber

[2019-08-26 22:13] nawartamawi opened #337 "cannot establish opentok call after first session is ended"
Hello there,
I've installed opentok on my react native app, and on IOS. when I start a session (works fine) with errors in Xcode console) then end the session sometimes app crashes and most of the time I can not establish the session properly again.
here is the error I get once I start the call. I'm not sure if there is some issue in the library or I'm missing out something that causes this error.

[2019-08-27 06:44] op commented on #328
@ggoldens Thanks! That's what I tried but it disconnects the user from the stream. I'm looking for a way to turn the camera off but leave the audio on.

Is there a way to update the `videoTrack` property?

[2019-08-27 09:49] HayTran94 commented on #162
Thank you very much. According your knowledge about surfaceView Z index level, I can implement my use case in conference room where having many subscriber and one publisher. The publisher and minor subscriber is above major subscriber. Once again. Thank you a lots.

[2019-08-28 15:18] SteedMonteiro commented on #331
Thank you @tomek29k  it will help me a lot :)

[2019-08-28 21:23] JayTokBox commented on #277
Hi @nitheeshskiploop

Sorry for replying late. I am not sure what the issue is here, our code or the device in question. One way to figure that out will be to try an android app and check it (https://github.com/opentok/opentok-android-sdk-samples/tree/master/Custom-Video-Driver)
In the android custom video driver code we can check if auto-focus is enabled or not. If not, we can even add code to ch

[2019-08-29 11:25] SteedMonteiro commented on #331
@tomek29k  I found that solution, it worked perfectly :

` [[AVAudioSession sharedInstance] setCategory:AVAudioSessionCategoryMultiRoute error:&error];
`

[2019-08-30 10:03] blind675 opened #338 "Stop listening to a stream?"
Is there a way for a OTSubscriber to stop listening to a stream. My session creates streams at a different random time and I would like the client to always be subscribed to the last stream. What I get now are all the streams for the session.

![Simulator Screen Shot - iPhone X - 2019-08-30 at 12 59 45](https://user-images.githubusercontent.com/2725079/64012464-71cd8180-cb26-11e9-9513-2f5e165f2a90

[2019-08-30 12:48] ggoldens commented on #337
Hi @nawartamawi.
Could you provide the steps to reproduce this error? What version of the opentok SDK and the library are you using? Can you confirm that you see this same error using the Basic VideoChat app?  https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat

[2019-08-30 22:08] Esbruiz opened #342 "Can't stablish a call on 0.12.0"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

 iOS - iOS
Android - Android
iOS - Android

so it's not like a platform interaction not sure if #337 is related to this.

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

logs, and code as it's very hard to read otherwise.)

``{
  "note": "Download Events function

[2019-09-01 09:52] SteedMonteiro opened #343 "Keep session action on background on android"
Hello,

I have issue in keeping my session open when my app is in background. The session stay for somes seconds and the app is killed after.

**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-r

[2019-09-02 17:28] ggoldens commented on #198
This should be fixed in opentok-react-native >= 0.120.

[2019-09-02 17:28] #198 closed

[2019-09-02 17:30] ggoldens commented on #271
This should be fixed in opentok-react-native >= 0.12.0. Closing this issue.

[2019-09-02 17:31] ggoldens commented on #315
Opentok React Native 0.12.1 was released so this issue should be fixed now!

[2019-09-02 17:31] #315 closed

[2019-09-02 17:32] ggoldens commented on #329
This is now fixed in v0.12.1. Closing this issue.

[2019-09-02 17:32] #329 closed

[2019-09-02 17:33] ggoldens commented on #335
This is fixed in v0.12.1. Thanks @HayTran94 !

[2019-09-02 17:33] #335 closed

[2019-09-03 15:14] enricop89 commented on #286
FYI: iOS `2.16.2` is out: https://tokbox.com/developer/sdks/ios/release-notes.html (August 2019)

[2019-09-04 16:14] Sach-SPF opened #346 "do we have any solution for pixelated video and auto focus"
@msach22

I'm having serious trouble with blurry and autofocus issues on Subscriber end especially with moving video. Do let me know for any solution

Thanks
Sachin

[2019-09-04 20:40] sunweiyang opened #347 "iOS Crash: "OpenTokReactNative.OTRN.streamObservers.modify : [Swift.String : [Foundation.NSKeyValueObservation]]""
We've detected this issue multiple times in AppCenter crashlytics, which prompted us to reach out to one user with an iPhone XS (iOS 12.4), who personally experienced it 4 times.

This user's experience each time was:
* A seemingly perfect OpenTok session for ~5-6 minutes
* Without warning, suddenly seeing a frozen subscriber screen and unable to hear any subscribed audio

Our app runs RN 0.59.5,

[2019-09-05 15:33] Rjayone commented on #150
There is a code i used

[CaptureSettings.swift.zip](https://github.com/opentok/opentok-react-native/files/3580027/CaptureSettings.swift.zip)

[2019-09-05 16:38] enricop89 commented on #324
Closing since https://github.com/opentok/opentok-react-native/pull/326 should fix it

[2019-09-05 16:38] #324 closed

[2019-09-06 06:09] lynmije opened #348 "Black screen camera for ios"
It only shows a black screen and the app crashed.

![videoconference](https://user-images.githubusercontent.com/47166455/64404832-c8e7cf00-d0af-11e9-9e9f-9e188d8a8f16.jpg)

---
react-native/issues/new?template=bug.md)

[2019-09-06 06:24] lynmije commented on #308
is this issue been fixed? I have also encountered this in Xcode 11 beta 6

[2019-09-06 06:54] akandaurov commented on #343
You can try react-native-keep-awake

[2019-09-06 09:19] teodorostlund commented on #308
Same here. iOS 13 will be released very soon.
We're not using React Native, but this bug happens for us as well.

[2019-09-06 13:36] enricop89 commented on #348
Hi @lynmije what are we looking for here? Could you please describe better the issue and steps to reproduce?

[2019-09-06 14:43] akandaurov opened #349 "Wrong camera is selected on Samsung S9 when cameraPosition: "back" is set"
# Bug Report

**Current behavior**
Selfie camera is selected on Samsung S9, when I set { cameraPosition: 'back' } in publisher properties.
This is because the device has 3 cameras total (Camera.getNumberOfCameras()) and  the code below
[code]
just switches camera to the 2 instead of 0 (back camera)

**Steps to reproduce**
[code]
on Samsung S9 and probably some others

**What is the current *bug* b

[2019-09-09 06:42] lynmije commented on #348
@enricop89 Opentok publisher camera for ios showing a black screen and the app froze. i have already enable the camera permission and audio

[2019-09-09 06:47] lynmije commented on #348
<img width="775" alt="error" src="https://user-images.githubusercontent.com/47166455/64508713-a99bac80-d310-11e9-8f36-8cdd04a8e8ae.png">

[2019-09-09 07:22] chppatel opened #350 "iOS 13 Compatibility Issue"
We are in the midst of developing an app for iOS 13. When launching the video call after providing Microphone and Camera permissions, the device screen is completely blank.

Can someone check if sample code is working on iOS 13? iOS 13 is going to release soon and this will be a major issue I suspect for many devs.

[2019-09-09 13:15] enricop89 commented on #350
HIi, we're going to release a fix for iOS 13 within two days

[2019-09-09 13:16] enricop89 commented on #308
HIi, we're going to release a fix for iOS 13 within two days

[2019-09-10 04:00] jaredteladoc commented on #308
They aren't allowed to release any code until the Gold Master xCode is released and you wouldn't be able to submit that update anyway.   Thanks @enricop89 for the update and patiently waiting!

[2019-09-10 04:23] teodorostlund commented on #308
All productions apps using the current OpenTok version will crash on the day of iOS 13 release (which might be today). Too bad for the users who don’t have auto update enabled. They should’ve fixed this crash bug months ago  when iOS 13 beta first came out. Twilio works great on iOS 13, which we are migrating to.

[2019-09-10 05:53] chppatel commented on #350
Any chance we may be able to get access to this earlier for internal testing?

[2019-09-11 22:33] msach22 commented on #308
Hi folks, happy to share that we just released iOS 2.16.3 with iOS 13 support. Thanks for your patience.

[2019-09-13 02:36] lheason opened #352 "Image flipped horizontal after switch front/rear camera in iOS"
# Bug Report

**Current behavior**
During video recording, if i implement a camera switching button and try to switch the camera from front to rear (or vice versa), the images will be flipped horizontally.

**Steps to reproduce**
1. Download the example opentok-react-natvie
2. Implement a camera switching button
3. Switch between front/rear camera during broadcast
4. Watch the screen

**What is th

[2019-09-13 13:21] beingshashi opened #353 "Works in debug mode but not in release mode"
This is working great in debug mode, but the app crashes while making release mode.
I am getting the following error -

2019-09-13 18:45:30.855 7602-7652/? A/example: runtime.cc:562]   native: #10 pc 00000000000da6d4  /data/app/com.example--S17ODKUbR4oFH5vNXMxWw==/lib/arm64/libopentok.so (JNI_OnLoad+312)
2019-09-13 18:45:31.374 7792-7792/? A/DEBUG: pid: 7602, tid: 7652, name: mqt_native_modu  >>>

[2019-09-15 21:07] hugoh59 opened #354 "`OTSessionManager.getSessionInfo was called with 1 arguments but expects 2 arguments"
`OTSessionManager.getSessionInfo was called with 1 arguments but expects 2 arguments. If you haven't changed this method yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.`

Error shows up after upgrading opentok-react-native to the latest released version. I've upgraded both the pod and the module t

[2019-09-17 09:24] anantMarkup commented on #159
Even I am unable to do it, anybody got any solution for that? Also, how can I turn-off the proximity  sensor so that when a user is holding the phone near their face during a call it automatically turns off the display to prevent keypad presses and battery consumption from the display?

[2019-09-17 18:57] Sach-SPF commented on #346
I know this works in Android but I'm looking solution for iOS?

[2019-09-18 09:08] hugoh59 opened #355 "Unable to resolve module `./contexts/OTContext`"
Unable to resolve module `./contexts/OTContext`

Getting this error after following all the installations tep using RN 0.60.3

[2019-09-18 09:14] enricop89 commented on #355
Are you using `opentok-react-native: 0.12.1`?

[2019-09-18 20:53] Esbruiz commented on #342
@ggoldens on 0.12.1 it works fine on android, although it crashes when a call is finished. However on iOS the call never connects.
Android <-> Android - Works fine
Android <-> iOS - Doesn't connect
iOS <-> iOS - Doesn't connect.

[2019-09-19 08:08] enricop89 commented on #342
@Esbruiz it crashes when a call is finished. Are you using Opentok Android SDK `2.16.1`? Try to downgrade to `2.15.3` please

[2019-09-19 12:40] evillemez commented on #342
Stay at 0.12.1, but downgrade to 2.15.3 for both iOS and Android, or just
Android?

On Thu, Sep 19, 2019 at 4:08 AM Enrico Portolan <notifications@github.com>
wrote:

--
Sent from a mobile device. Please excuse typos and brevity.

[2019-09-19 12:41] enricop89 commented on #342
Android `2.15.3`
iOS `2.16.3`

[2019-09-19 20:36] Esbruiz commented on #342
@enricop89 Yes, downgrading android to 2.15.3 solves the crash on android. Still the problem with ios remains. I can't connect to calls either Android <-> iOS or iOS <-> iOS. I'll past a complete console log of the events that I see, It seems like some of them aren't triggering at all for iOS specifically the publisher events.

`Forensics.js:20 {event: "session.SessionView.constructor", payload: {

[2019-09-20 13:07] enricop89 commented on #337
@nawartamawi Could you please share you App.js file and steps to reproduce?
I'd like to check how you disconnect and reconnect from a session

[2019-09-20 13:41] enricop89 commented on #354
@hugoh59 Could you please confirm you are using opentok-react-native: `0.12.1`, ios `2.16.3` and android `2.15.3`?

[2019-09-20 14:25] evillemez commented on #342
@enricop89 @ggoldens I just want to clarify one point: the `failure_local` and `failure_remote` things that @Esbruiz mentioned are specific to our app.  If the connection isn't "established" within a certain amount of time (45 seconds, currently), we just kill the attempted call and say it didn't work.  Both sides wait to receive signals from the remote side that they started receiving video data,

[2019-09-20 14:28] evillemez commented on #342
All that said, I remember that `useTextureViews` was a fairly recent addition due to some issue on Android, but I don't remember the details behind it.  Is it possible that iOS has become more sensitive to options it doesn't actively use?

[2019-09-20 21:03] nawartamawi commented on #337
Hello @enricop89 here is my app.js
[code]

[2019-09-23 17:12] ziarno commented on #355
same here; using opentok-react-native: 0.12.1

[2019-09-23 17:19] ziarno commented on #355
restarting the bundler worked for me... :P

[2019-09-24 08:13] enricop89 commented on #355
I close this one. @hugoh59 please check the bundler and restart it as @ziarno suggested

[2019-09-24 08:13] #355 closed

[2019-09-25 12:57] tomek29k commented on #294
Hi @ggoldens, just pinging here to see if there's been any progress. Thanks!

[2019-09-25 13:01] enricop89 commented on #294
Hey @tomek29k, yesterday we released Android `2.16.2` (https://tokbox.com/developer/sdks/android/release-notes.html).

Let me know if you have the chance to try it

[2019-09-25 14:57] ggoldens commented on #337
Hi @nawartamawi. I just tried your code, using iOS SDK 2.16.3 and opentok-react-native 0.12.1
I pressed several times START and END, and I was always able to establish the call.
I do see the warning `OTRN JS: There was an error: {message: "Error destroying publisher. Could not find sessionId"}`, but the call is established, and there's no crash on my end. I think the crash is on your own app.
That

[2019-09-25 16:43] nawartamawi commented on #337
Hello @ggoldens thanks for taking the time to take a look. I think we can on our app, we can "see" the call been established, but it's not ( when subscribing and publishing) client can't hear or speak to other parties of that call. I will keep an eye on the project to see if we can find a solution. many thanks.

[2019-09-26 07:27] tomek29k commented on #294
Great news @enricop89, just in time! 👍🏻 Lot's of bugs seem to be fixed, however there's a few issues left on Android. I will try to isolate them (with sample code) and report as issues.

[2019-09-27 08:33] AideProjet commented on #304
Hello, any news for an update to fix this? Thanks!

[2019-09-27 09:23] enricop89 commented on #304
@AideProjet Yes, Android SDK `2.16.2` is out!!! Please test it and let me know!

[2019-09-27 11:13] AideProjet commented on #304
Thanks man, will check and let you know, appreciate the work!

[2019-10-01 14:31] jameschou-bk commented on #140
Hi @IGitGotIt !

Having an issue related device orientation where the initial orientation mode is set to landscape even if the tablet is in portrait mode and the stream displayed is rotated 90 degrees. Is there a way to customize the initial orientation of the session?

[2019-10-03 12:19] tomek29k opened #357 "Android crash: Exception in native call from JS"
# Bug Report

Android (Galaxy S9):
`opentok-android-sdk@2.16.2`
`opentok-react-native@0.12.1`

**Current behavior**

**Steps to reproduce**

**Relevant logs and/or screenshots**

![Screenshot_20190926-145530_29k dev](https://user-images.githubusercontent.com/52274775/66126009-ae3e4280-e5e8-11e9-8986-de23aa4d2ad3.jpg)

[2019-10-03 21:34] sunweiyang commented on #304
@enricop89 Android SDK 2.16.2 worked great for me! Thanks!

[2019-10-09 20:47] cunninghamzac opened #359 "[feature-request] Android - Add the ability to customize the Publisher"
# Feature Request

**Description**

**Proposal**
Provide a way to hook into the Publisher.Builder to further configure the Publisher as needed.

This is what I ended up doing that fulfilled our requirements: https://github.com/opentok/opentok-react-native/compare/master...cunninghamzac:configure-publisher

I then call
[code]
in the `MainApplication.onCreate()`. The PublisherConfig implementation t

[2019-10-10 11:00] #354 closed

[2019-10-10 20:35] willhoney7 opened #360 "[bug-report] subscriber `connected` eventHandler is called with different arguments for android and iOS"
# Bug Report

**Current behavior**

The `connected` eventHandler of the OTSubscriber component is called with different arguments based on the platform.

**Steps to reproduce**
Add a `connected` eventHandler to the OTSubscriber component and look at the event arguments on android and on iOS.

**Example Project**
I'm hoping this isn't necessary for this specific case. If necessary, I can provide on

[2019-10-11 16:58] th317erd commented on #353
Do you have ProGuard stripping something it shouldn't from the final build?

[2019-10-11 17:02] th317erd commented on #338
This may not be what you actually want, and you might need to figure out how to sort the `streams` array. But this might work for you:

[code]

[2019-10-11 18:36] th317erd commented on #155
I am still having this issue. No solution found here in the issues or on Google help. Using Cocapods 1.5.3, opentok-react-native 0.12.1, RN 0.61, and am NOT using `use_frameworks!` inside Podfile. Help?

[2019-10-11 19:11] sunweiyang opened #362 "Certain users, upon starting a session, are experiencing numerous NetInfo connectionChange events and sessionReconnecting/sessionReconnected events"
Some of our users' logs revealed the following happening multiple times, in quick succession (roughly 20 of these per minute), whenever an OpenTok session is first instantiated:
* NetInfo connectionChange events
* OTSession eventHandler sessionReconnecting events
* OTSession eventHandler sessionReconnected events

Our app uses opentok-react-native 0.12.1 with Android OpenTok SDK 2.16.2 and RN 0.61

[2019-10-15 15:42] sunweiyang commented on #362
Some relevant background: our  app shows information to the user and kicks off important processes whenever NetInfo connectionChange events occur, so this significantly impacts our app.

[2019-10-16 14:21] evillemez commented on #342
@enricop89 @ggoldens Any thoughts on this?  We're stuck at the moment.

[2019-10-17 08:01] HeroSony opened #363 "Blending music audio track into OpenTok stream"
For now I have one-to-one streaming (Publisher & Subscriber). Both sides were enabled audio(mic) and video(camera). Moreover, I want to join another music(not from outside environment) audio track buffer into that stream. Is it possible to do that?

[2019-10-18 17:20] tomek29k commented on #304
Unfortunately the bug is still there in SDK 2.16.2, I've [logged it](https://github.com/opentok/opentok-react-native/issues/357).

[2019-10-21 14:39] #308 closed

[2019-10-22 10:51] sharon-systalent commented on #357
Any updates on this? I am having the same issue.

[2019-10-22 18:07] ASerga commented on #357
I have the same issues with the same RN red-box error and traceback.

It happens ONLY while disconnecting the session that has screen sharing subscriber.
Maybe because I use this branch https://github.com/ggoldens/opentok-react-native/tree/fix-destroy-publisher (current master branch on `opentok-react-natvie` has issues on Android)

On the screenshot - Java row that triggers the crash.

<img width

[2019-10-25 11:32] HeroSony commented on #357
I have the same issue, like @tomek29k mentioned.
`opentok-android-sdk@2.16.2`
`opentok-react-native@0.12.1`

Currently I implemented Live-Room-Video-Chat (one-to-one).
- room (sessionId)
- owner (room owner)
- guest (joining room)

[code]
Above example code disconnect guest session using signal from owner and working fine.
[code]
Above example code, after trying to create a new virtual publisher(a

[2019-10-25 20:35] HenriqueMata opened #364 "Error when try to build with opentok"
I did the initial setup but when I build show this error:

![ErrorSwift](https://user-images.githubusercontent.com/35509741/67602548-3a0d3f80-f74d-11e9-830e-18dcd77792b7.png)

| Name  | Version |
| ------------- | ------------- |
| Xcode  | 11  |
| iOS  | 13.0 |

[2019-10-28 17:33] HenriqueMata commented on #364
Sorry it was my mistake

[2019-10-28 17:33] #364 closed

[2019-10-31 18:53] dennistjahyadi commented on #357
i have the same issues. I try to do gradlew clean in folder reactNativeProject/android
,then i run-android,
and react-native start --reset-cache..
it's working now

[2019-11-02 04:42] dennistjahyadi commented on #357
i have the same issues. Any Updates?

[2019-11-06 11:53] parasdaryanani commented on #353
This might be a bug in your react-native version, specifically if it's < 0.60.5, as ClassNotFoundException was fixed in this release.

See [release notes of RN 0.60.5](https://github.com/facebook/react-native/releases/tag/v0.60.5).

[2019-11-07 04:30] julianoddreis commented on #271
@ggoldens Not fixed yet. I'm using 0.12.1 and still not clearing the event handlers.

[2019-11-07 10:08] aslampr07 commented on #357
As a workaround edit  `node_module/opentok-react-native/andorid/build.gradle`,
and change the line from
`implementation 'com.opentok.android:opentok-android-sdk:2.16.1`  to
`implementation 'com.opentok.android:opentok-android-sdk:2.16.2`

[2019-11-07 10:52] ASerga commented on #357
@aslampr07 I already use `v2.16.2`. Yes, it helps, but still there is a crash while disconnecting the session that has screen sharing subscriber.

[2019-11-07 10:56] aslampr07 commented on #357
@ASerga can you please checkout the branch '0.12.2' of this repository I think they have fixed the issue, but haven't merged with the master branch.

[2019-11-07 11:29] ASerga commented on #357
@aslampr07 I have tried. It didn't help.

[2019-11-08 11:07] ngolapnguyen opened #366 "App not responding or crashing after unmounting OTSession + OTSubscriber"
# Bug Report
Hi everyone!

I'm building a live-streaming app, with 2 different scenes for Publisher and Subscriber. The Publisher scene has OTSession and OTPublisher. The Subscriber scene has OTSession and OTSubsciber.

The Publisher scene disconnects from the session and unmounts normally, but the Subscriber scene will regularly cause the app to hang (or sometime crash) during unmounting.

- OS:

[2019-11-08 19:17] ggoldens commented on #357
Hello guys, apologize for the inconveniences and the delay on this. It looks that there's an issue on the native SDK. I am able to reproduce this issue with a pure android app. I just reported it to the native team. Will keep you posted.

Thanks for reporting!

[2019-11-11 15:44] ggoldens commented on #366
I think this is related to the issue #357
It seems it's an issue on the Android SDK. Will keep you posted. Thanks for reporting!

[2019-11-11 15:53] ggoldens commented on #362
Hi @sunweiyang can you please share logs and the session ID that we can inspect? This might be related to network conditions.

[2019-11-14 16:18] ngo-lap-nguyen commented on #366
It's indeed a SDK-related issue. At the moment I have to downgrade the OpenTok SDK to 2.15.3 as a workaround. The view can unmount without freezing now, but there's still a noticeable delay time until the view is completely unmounted.

[2019-11-15 04:46] sunweiyang commented on #362
@ggoldens Below are a few OpenTok tokens for sessions where this happened. Our first guess was that it was network conditions, but since we started recording analytics of network changes, we only see this strange behavior when OpenTok inits are attempted. Thank you for looking into this.
[code]
[code]
[code]
[code]
[code]

[2019-11-15 05:48] sunweiyang opened #367 "Android crash on Pixel device (original) with Android SDK 29: "s == null" in "parseInt" from "Integer.java""
On a physical Pixel device (original) with Android SDK 29 (RN 0.61.2, opentok-react-native 0.12.1 with Opentok Android SDK manually switched to 2.16.2), I'm getting a crash that's virtually identical to [this one already reported for the OpenTok native Android SDK repo](https://github.com/opentok/opentok-android-sdk-samples/issues/182). This happens as soon as `<OTSession />` instantiates. It happ

[2019-11-15 16:18] sunweiyang commented on #367
It appears that this is related to a known Pixel audio failure issue, which my phone is suffering from:
https://support.google.com/pixelphone/forum/AAAAb4-OgUsKdeLHq3G4PM/?hl=by

However, I've noticed that existing video chat apps fail gracefully without crashing (Messenger, Meet, Zoom). Could OpenTok bubble up an event to be handled in `sessionEventHandlers`, instead of crashing?

[2019-11-25 16:34] JB-CHAUVIN commented on #304
Hello, any workaround to fix this ?

[2019-11-25 16:43] msach22 commented on #304
Hi team, we're working on a patch for this on the Android layer. Will update as soon as we have a patch!

[2019-11-27 11:53] op commented on #357
@ggoldens We seem to experience this problem all the time. Any updates? :pray:

[2019-12-02 13:28] gitpayal opened #368 "Thread 1: EXC_BAD_ACCESS (code=1, address=0x0) IOS"
# Bug Report

**Current behavior**

**Steps to reproduce**

  Xcode : Version 11.1
 react-native : 61.2
 react:16.9

**Example Project**

https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

<img width="942" alt="Screenshot 2019-12-02 at 14 26 17" src="https://user-images.githubuse

[2019-12-02 15:23] ASerga commented on #357
Yes, It's really critical :(
@ggoldens is there an issue in Opentok Android SDK?

[2019-12-04 09:42] ibrahimeraslan commented on #151
ş

[2019-12-04 11:18] podvipodvert commented on #366
Some progress on this?

[2019-12-04 14:54] enricop89 commented on #366
We released today Android SDK `2.16.3` patch.
Please try to update the version on `android/build.gradle` file and test the issue.

[2019-12-04 14:55] enricop89 commented on #357
We released today Android SDK 2.16.3 patch.
Please try to update the version on android/build.gradle file and test the issue.

[2019-12-04 14:59] podvipodvert commented on #366
there are no any versions on android/build.gradle in "react-native": "0.61.5", and on Ios I using 2.16.3 and I getting an error :
OTSessionManager.disconnectSession was called with 1 arguments but expects 2 arguments. If you haven't changed this method yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go awa

[2019-12-04 16:53] podvipodvert commented on #366
in your  opentok/opentok-react-native/android/build.gradle  can you change it to 2.16.3

now it like this

dependencies {
    implementation fileTree(dir: "libs", include: ["*.jar"])
    implementation "com.facebook.react:react-native:${_reactNativeVersion}"  // From node_modules
    implementation 'com.opentok.android:opentok-android-sdk:2.16.1'
}

[2019-12-04 16:56] enricop89 commented on #366
@podvipodvert:  https://github.com/opentok/opentok-react-native/pull/370/files

[2019-12-04 17:00] podvipodvert commented on #366
in branch master, it set as 2.16.1

[2019-12-04 17:32] podvipodvert commented on #366
Anyway with 2.16.3 version application not responding after calling this function OT.disconnectSession()

[2019-12-05 09:22] QuevedoIB commented on #366
Same problem here:

React Native version: 0.59.5
opentok-react-native version: 0.11.2
OpenTok Android SDK version: 2.16.3

Freezes and crashes the app on unmounting the OTSession component whenever there's a subscriber to it.

Downgrading the OpenTok Android SDK version: 2.15.3 also causes this problem so the workaround isn't working for me.

Logcat when app crashes:

A/libc: FORTIFY: pthread_mute

[2019-12-05 09:43] QuevedoIB commented on #357
Tried updating versions, still having problems:

React Native version: 0.59.5
opentok-react-native version: 0.12.1
OpenTok Android SDK version: 2.16.3

Throws an error for OTSession connect expecting 3 arguments and instead receiving 2.

https://github.com/opentok/opentok-react-native/issues/366#issuecomment-562043082

[2019-12-05 14:40] podvipodvert commented on #366
@enricop89 any updates?

[2019-12-06 14:42] ggoldens commented on #366
@QuevedoIB that error is because you're using an old version of the opentok-react-native. The current one is 0.12.1. Can you please test updating the library?
Thanks

[2019-12-06 14:45] ggoldens commented on #357
Can you guys test the branch 0.12.2? If you see it ok I'll push it asap.
Thanks!

[2019-12-06 14:47] ggoldens commented on #366
Can you please test the branch 0.12.2? If you see it working as expected I'll push it ASAP.

[2019-12-06 14:49] andriinegustorov commented on #366
current version 0.12.1 if you released 12.2 so you need to update master branch!

[2019-12-06 16:13] ggoldens commented on #366
Now it's released. Please test it again and let us know. Thanks.

[2019-12-06 16:15] ggoldens commented on #357
FYI v0.12.2 it's released. Please confirm us if you still see the issue. Thanks!

[2019-12-06 16:16] ggoldens commented on #332
Released in v0.12.2.
Closing this issue.

[2019-12-06 16:16] #332 closed

[2019-12-06 16:47] ggoldens commented on #347
Hi @sunweiyang, can you confirm if you could reproduce this issue?

[2019-12-07 00:26] sunweiyang commented on #347
I haven’t seen it appear since the last App Store deployment. Thank you for following up!

[2019-12-07 00:27] #347 closed

[2019-12-09 11:14] podvipodvert commented on #366
not  app responding after disconnectSession() but now this error appears:

OTSessionManager.disconnectSession was called with 1 arguments but expects 2 arguments. If you haven't changed this method yourself, this usually means that your versions of the native code and JavaScript code are out of sync. Updating both should make this error go away.

[2019-12-09 13:09] tomek29k commented on #357
Hi Germán,

It seems SDK 2.16.3 has solved the problem for us, haven't tried v0.12.2
yet but will try today.

Many thanks!
/Tomek

On Fri, Dec 6, 2019 at 5:15 PM Germán Goldenstein <notifications@github.com>
wrote:

[2019-12-09 15:51] ggoldens commented on #366
Please try to reinstall the library (removing node_modules and then a npm install)
Also, can you try to reproduce it in the basic sample app? https://github.com/opentok/opentok-react-native-samples

[2019-12-09 15:51] ggoldens commented on #357
Thanks for the feedback @tomek29k !

[2019-12-09 15:52] ggoldens commented on #357
Will close this issue since it seems to be solved using the latest android SDK.

[2019-12-09 15:52] #357 closed

[2019-12-09 15:54] ggoldens commented on #337
Hey @nawartamawi were you able to fix this issue? If so, please close this issue. Thanks!

[2019-12-09 15:58] ggoldens commented on #138
Hi @snobear this issue seems to be a bit old. Could you please report if you sill have this issue with the latest version? thanks!

[2019-12-10 13:46] snobear commented on #138
I don't think its still an issue. Closing.

[2019-12-10 13:46] #138 closed

[2019-12-10 15:24] podvipodvert commented on #366
The same issue in the basic sample app

[2019-12-10 15:48] drewandre commented on #353
I'm running RN 0.60.5 and seeing this issue. We've had to disable proguard in release mode for now. I tried adding the proguard config as described in [this](https://github.com/opentok/opentok-android-sdk-samples/issues/178#issuecomment-511734152) comment, but it threw some crazy R8 due to the `-dontwarn` line. We removed that, but the app still crashes when starting a video. So no more proguard u

[2019-12-10 16:17] flobady commented on #366
I have the below crash when unmounting the OpenTok component.
"opentok-react-native": "0.12.2"
"react": "16.9.0"
"react-native": "0.61.2"

![Capture d’écran 2019-12-10 à 17 14 36](https://user-images.githubusercontent.com/19803586/70547275-e7f37280-1b70-11ea-86ce-794d1aa78cc9.png)

[2019-12-11 18:05] nawartamawi commented on #337
Sorry, I have not seen the new changes yet, will try it out. thanks

[2019-12-11 18:05] #337 closed

[2019-12-12 09:55] QuevedoIB commented on #366
@ggoldens

React Native version: 0.59.5
opentok-react-native version: 0.12.2
OpenTok Android SDK version: 2.16.3

On unmounting session throws a Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x30342d6363633c

The tombstone in android logcat is:

<img width="1978" alt="Captura de pantalla 2019-12-12 a las 10 42 51" src="https://user-images.githubusercontent.com/45363951/70701675-0ff7e

[2019-12-13 03:55] csguys commented on #277
[code]

works for me

[2019-12-13 14:31] capslock35 commented on #366
any improvements on this ?

[2019-12-16 11:03] andriinegustorov commented on #366
@ggoldens Any updates?

[2019-12-17 14:21] TomasUhrik commented on #271
I can confirm that 0.12.1 still has this issue.

To elaborate a bit: I think that all unmounted sessions still "live" somewhere as @evillemez nicely says it here:

It's not limited to only one session though. Meaning that if you unmount 5 sessions and mount a new one, then any upcoming events get called 6 times.

[2019-12-18 00:36] msach22 commented on #271
@TomasUhrik Are you only seeing this on iOS or on Android as well?

[2019-12-18 00:49] julianoddreis commented on #271
This fork resolves this issue: https://github.com/naveteam/opentok-react-native

[2019-12-18 01:00] msach22 commented on #271
@julianoddreis - looks like the diff is : `nativeEvents.removeAllListeners(eventType);`

I had a different theory on how there might be a memory leak in the native iOS SDK which is why I asked if it was for iOS or Android.

[2019-12-18 05:11] evillemez commented on #271
Thanks @TomasUhrik and @julianoddreis for the extra info.

@msach22 and @ggoldens - can we re-open the issue until we’re more sure it’s fixed?

[2019-12-18 17:05] TomasUhrik commented on #271
@msach22 happens on Android as well.

Thanks for picking up on this so fast 👍

[2019-12-22 09:09] podvipodvert opened #373 "1004 Connection failure error"
After updating my project to react-native version 0.61.5, I receive an error in opentok inspector 1004 Connection failure. Issue not upper in opentok-react-native-samples (it has react-native version 0.59.9)
I've written to support (Ticket #1230769) they just spend a week of my time by checking all my credentials then redirect me in here.
If you create a new project with RN version 0.61.5 you will

[2019-12-23 10:16] Remig9 commented on #151
i am having the same issue on android when building the apk
pls help me out

[2019-12-23 15:38] ggoldens commented on #373
Hi @podvipodvert.
I have tested in both ios and android using react-native 0.61.5 and I'm able to connect, publish, subscribe, etc.
This error is basically that the token could be expired. Have you tried with a new token?
In order to help you better, can you please provide more information: Logs, credentials if possible, and package.json just to see what are the version of your deps.

Thanks.

[2019-12-24 05:20] evillemez commented on #271
@julianoddreis Any chance you could PR your fix to this repo?

[2019-12-24 14:04] ggoldens commented on #271
Reopening this issue. This is going to be revisited.

[2019-12-24 16:30] julianoddreis commented on #271
https://github.com/opentok/opentok-react-native/pull/374

[2019-12-27 17:55] ggoldens commented on #366
We're not able to reproduce it. If you are able to reproduce it on the basic sample app, could you please share your App.js file, and provide more info about the device you're testing?
thanks!

[2019-12-28 07:44] podvipodvert commented on #373
My tokens generated on node js side (opentok 2.9.1) then I receive token on front end side. When I set this token on your sample ( RN version  0.59.9) there is no issue. But on new project issue upper. What credentials you need from me

[2019-12-30 07:59] RanjithkumarPop opened #377 "'React/RCTBridgeModule.h' file not found"
<img width="1131" alt="Screen Shot 2019-12-30 at 1 27 32 PM" src="https://user-images.githubusercontent.com/52271028/71573146-5a1ffd00-2b08-11ea-9d61-79d3e0df0a56.png">
I have updated my react native to 0.61.3 and Xcode to 11.3. So all the libraries are linked through pod instead of manual linking. So the pod for opentok also installed through pod and then got an Nativemodule null error and after

[2019-12-30 12:33] ggoldens commented on #373
Sorry for the confusion, I meant your opentok credentials.

Please note that for Android and RN 0.61.5 you would need to migrate to AndroidX. See this link for more info: https://developer.android.com/jetpack/androidx/migrate
You need also to install jetifier: https://stackoverflow.com/questions/56717351/react-native-migrate-to-androidx
In the case of iOS you don't need further updates.
Could you

[2019-12-31 12:26] plunex commented on #255
This needs to be fixed.

[2020-01-02 18:43] i-suraj007 commented on #151
same issue +1

[2020-01-05 20:42] podvipodvert commented on #373
issue upper in iOS too. I don't understand what is "mainly logs".

  "dependencies": {
    "@react-native-community/async-storage": "^1.6.3",
    "@react-native-community/netinfo": "^4.6.1",
    "card-validator": "^6.2.0",
    "libphonenumber-js": "^1.7.28",
    "lodash": "^4.17.15",
    "moment": "^2.24.0",
    "opentok-react-native": "^0.12.2",
    "payment": "^2.3.0",
    "react": "16.9.0",

[2020-01-05 20:44] podvipodvert commented on #373
And yes I have migration in my project to AndroidX.

[2020-01-07 17:16] #373 closed

[2020-01-07 17:19] podvipodvert commented on #373
the problem was because my opentok account was on pause, lol. Sorry, Thank you for your time

[2020-01-08 02:22] sunweiyang opened #378 "Membership getters for OTSession, OTSubscriber, and OTPublisher?"
There doesn't seem to be a way to get membership session information about an active session. For example, being able to get some variant or subset of these on demand would be useful:
* Number of users in a session (and even better, these users' info too)
* Whether subscriber is active and receiving an active publisher

[2020-01-14 17:23] oalcantar commented on #368
Hello @gitpayal , I'm having this very same error, were you able to fix it? I'm using version 0.12.1, the error only occurs in build mode, in dev mode works fine, thanks in advanced!

[2020-01-23 11:16] saurabhranjan1806 commented on #368
I am facing the same issue. please fix this

[2020-01-26 12:05] t4ngth00 opened #379 "OTPublisher's properties.videoSource does not work properly"
Is anyone getting issue which OTPublisher's properties.videoSource = 'screen' still publish the stream from camera?

I'm testing the feature with:
opentok-react-native: 0.12.2
react-native: 0.61.0
Android version: 10

[2020-01-26 14:51] t4ngth00 commented on #379
I'm so sorry that it's problem from my code. I'm closing this issue now.

[2020-01-26 14:51] #379 closed

[2020-02-03 15:50] Sach-SPF opened #380 "Picture in Picture support ?"
has anyone integrated PIP in iOS/Android with opentok ? Just like WhatsApp...I have a requirement to keep the session active even if the user killed the app(swipe up) being a Publisher...

Any reference or suggestion would be really great

[2020-02-07 21:47] sunweiyang commented on #380
I have an open issue on this topic (#172); I currently have my own native implementation of PIP for my own app.

[2020-02-07 22:55] sunweiyang commented on #377
I've experienced this too. Simply closing/opening Xcode and/or restarting your computer (sometimes a few times) or reinstalling pods usually resolves this for me. It's definitely frustrating, though; does anyone know a more permanent solution?

[2020-02-08 18:58] Sach-SPF commented on #380
Can you guide me or help me with some example or approach to accomplish this? Please help

[2020-02-09 01:13] sunweiyang commented on #380
I created a React Native Android native module based on their docs:
https://facebook.github.io/react-native/docs/native-modules-android

Note that I made this a while ago, so the above docs may show you a better/more recommended way, but my current solution (shown below) still works.

I called my module PipModule. In my MainApplication.java, I add this package to the getPackages() method:
[code]

[2020-02-09 22:13] dwilt opened #381 "iOS incorrect documentation?"
I would've filled out a bug report but it seemed like it would've made this more complicated than useful.

In the [installation instructions for iOS](https://github.com/opentok/opentok-react-native#ios-installation), it seems like there are **2** sets of instructions titled: `For React Native < 0.60`.

![image](https://user-images.githubusercontent.com/1065539/74111037-3a87e580-4b46-11ea-9452-0b6d

[2020-02-10 12:29] enricop89 commented on #381
@dwilt For `React Native 0.60` you need to run a few more instructions, such as `react-native link opentok-react-native`

So, when you see the "**For React Native < 0.60**" section, it means you have to run those extra commands.

Note: RN >0.60 doesn't need manual linking, that's why you can skip the `react-native link opentok-react-native` command.

Thanks

[2020-02-10 12:29] #381 closed

[2020-02-10 12:31] enricop89 commented on #377
closing/opening Xcode solved the issue for me.
I think it's more a problem related to the changes between RN 0.60 versions than to this library, so, unfortunately, I don't have any other solution :(

[2020-02-10 13:37] dwilt commented on #381
@enricop89 why have 2 headers with the same title then?

[2020-02-14 16:04] chppatel opened #382 "iOS Crash When Disconnecting"
On our iOS as soon as we end our call, it crashes. Has anyone experienced this?

[2020-02-14 16:08] chppatel commented on #382
Btw this doesnt happen when we are building our app locally and testing on our devices. However this is happening on the production when published to the app store.

[2020-02-17 11:48] lynmije opened #383 "Ios crashed when session disconnected"
Release app for ios when the session is ended or disconnected the app crash and stocked. We have the latest version of openTok sdk and opentok-react-native

[2020-02-20 17:47] joshuajhun opened #384 "Build breaks on Swift 5.0"
# Bug Report

**Current behavior**

After installing `opentok-react-native` into my project and installing all of the pods my build breaks inside of Xcode. The errors seem to be stemming from **my project being on swift 5.0** [and this project being on swift 4.2](https://github.com/opentok/opentok-react-native/blob/master/ios/OpenTokReactNative.xcodeproj/project.pbxproj#L336)

**Steps to reproduce

[2020-02-22 17:43] simdanonline opened #385 "White screen briefly before session"
On publisher's view, Just before sessionConnected(), there's a white page.
Is there an event for session is connecting or alternative?

**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-na

[2020-02-22 18:06] simdanonline opened #386 "cameraPosition not working"
It still shows front camera, even though it is set to back
[code]
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**

[2020-02-24 09:51] momomojing opened #387 "OTPublisher can't work"
There's no picture of OTPublisher on the screen.but the session is connected.

OTPublisher screen is blocked by OTSubscriber.

            <OTSession
              // eventHandlers={this.sessionEventHandlers}
              ref={this.otSessionRef}
              apiKey={apiKey}
              style={{height: height, width: width}}
              sessionId={sessionId}
              token={videoToken}>

[2020-03-04 02:06] owattenmaker commented on #384
I don't think that your issue is with swift versions. did you follow the install step where you create an empty swift file and a bridging header? you'll get this exact error if you fail to do that

[2020-03-05 12:05] romreed opened #388 "Build error in new version RN"
I try run opentok-react-native at new version rn but got error:

`duplicate symbol '_OpenTokVersionNumber' in:
    /Users/imac/Library/Developer/Xcode/DerivedData/OpenTok-fucgfbgbnihdwmckpmphqzucajhh/Build/Intermediates.noindex/OpenTok.build/Debug-iphonesimulator/OpenTok.build/Objects-normal/x86_64/OpenTok_vers.o
    /Users/imac/WebstormProjects/OpenTok/ios/Pods/OpenTok/OpenTok.framework/OpenTok(O

[2020-03-16 11:43] SaveYourTime commented on #388
Same here!

[2020-03-22 11:56] apoorv-1310 opened #391 "How to manually disconnect call?"
Support parent call to child but due to some reason child disconnects the call.

so there seems no way that parent gets to know that child has hanged up the call.

instead the parent keeps on listing for call to be picked up

how to fix this ?

i am using the following formats

import { OT, OTSession, OTPublisher, OTSubscriber } from "opentok-react-native";

anyhting that can be done ?

[2020-03-22 12:37] enricop89 commented on #391
Listen to onSessionDisconnect event and call a parent function from the child component should work.

[code]

[2020-03-22 12:42] apoorv-1310 commented on #391
no it does't work,
it works when call is picked up and then disconnected.
in my case, call is never picked up.
can you please double chk ?

[2020-03-22 12:45] enricop89 commented on #391
I'm sorry, do you want to pick up or disconnect the call? Can you explain better your issue and indicate us steps to reproduce?

[2020-03-22 12:45] apoorv-1310 commented on #391
just disconnect,
as soon as it rings,
i dont want to pick it up, just disconnect

[2020-03-23 14:31] mayuresh14 commented on #353
any update? am facing same issue

[2020-03-24 00:52] eltoob commented on #384
owattenmaker had the same error .. and bridging header worked

[2020-03-26 14:59] enricop89 commented on #388
@romreed let me know if you fixed. Feel free to reopen the issue if needed

[2020-03-26 14:59] #388 closed

[2020-03-26 15:03] enricop89 commented on #387
I do think you're missing a `View` tag.

[code]

[2020-03-26 15:03] #387 closed

[2020-03-26 15:07] enricop89 commented on #386
The correct options are `facingMode`: "environment" or "user". The former is the back one, the latter is the frontal one.

https://tokbox.com/developer/sdks/js/reference/OT.html#initPublisher

[2020-03-26 15:07] #386 closed

[2020-03-26 15:08] enricop89 commented on #382
Can you try to reproduce it using https://github.com/opentok/opentok-react-native-samples?
Please also let us know which versions of the library and native apps are you usign

[2020-03-26 15:09] enricop89 commented on #383
Duplicate #382 can you comment over there?

[2020-03-26 15:09] #383 closed

[2020-03-26 15:14] enricop89 commented on #366
Hey guys, can you please let us know if you are able to reproduce it?

[2020-03-26 15:16] enricop89 commented on #362
@sunweiyang we need sessionId, not tokens, sorry :) session reconnect events are usually triggered when there is a network change (from 4g to Wi-Fi for example). Is it the case?

[2020-03-26 15:19] enricop89 commented on #348
@lynmije are you still facing this issue? I'll close for now, feel free to reopen if needed.

[2020-03-26 15:19] #348 closed

[2020-03-26 15:21] enricop89 commented on #338
@blind675 did you try to follow @th317erd advice? I think it's a good idea. Let me if it worked!

[2020-03-26 15:22] enricop89 commented on #343
@SteedMonteiro Did you fix this issue using `react-native-keep-awake`? Please let us know.

[2020-03-26 19:43] apoorv-1310 commented on #368
when can we expect this to close ?
i am having same issue in 0.13

[2020-03-27 05:26] varunsdcet opened #393 "How we publish live stream with multiple publisher in React Native"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2020-03-27 20:28] sunweiyang commented on #362
This was a long time ago, so unfortunately the logs were lost. It wasn't accompanied by network changes. I'll report back if we see this issue appear again.

[2020-03-27 20:59] sunweiyang opened #394 "Sudden connectionDestroyed event fired, but the video/audio was working fine both before and after the event fired"
One of our users experienced a `connectionDestroyed` event in `OTSession`'s `eventHandlers` during an OpenTok session containing 2 users. However, users of both devices experienced a properly-working realtime video chat throughout the time both before and after the `connectionDestroyed` event fired.

The session ID of this session is:
[code]

[2020-03-29 21:06] msach22 commented on #368
Hi all, apologies for missing this issue. Unfortunately, we're not able to reproduce it, but it would be great to have reproduction steps. We've used the latest version of the library, v0.13.0 with 2.16.5 iOS SDK. We've run it with a 1:1 use case in debug & release modes.

[2020-03-30 14:39] liveclinic commented on #368
Hello Manik, Thank you so much. Our team has been checking and we will update you with the details soon.

[2020-03-30 18:07] liveclinic commented on #368
The issue is still there.
<img width="1440" alt="Screenshot 2020-03-30 at 11 13 01 PM" src="https://user-images.githubusercontent.com/21110825/77946020-77cf4080-7276-11ea-9971-44c6543d4d5c.png">

when we start connecting streams on opentok, this this error comes up and and gets stuck in this breakpoint.

[2020-03-30 18:21] msach22 commented on #368
@liveclinic We would need a bit more specifics on reproduction steps. Can you share the following:
- iOS Version
- Debug mode or Release Mode
- Version of the SDK used
- Version of OpenTok React Native
- Version of React Native

Are you using the basic video chat and seeing this fail? It looks like you're building on the phone, are you attempting to live reload on the phone?

[2020-03-30 18:44] apoorv-1310 commented on #368
- iOS Version - 13.3.1
   - Debug mode or Release Mode - issue is on both
   - Version of the SDK used -

"opentok-react-native": "^0.13.0",
"react": "16.9.0",
"react-native": "0.61.5",

   - Version of OpenTok React Native
   - Version of React Native

On Mon, Mar 30, 2020 at 11:51 PM Manik Sachdeva <notifications@github.com>
wrote:

[2020-03-30 18:44] apoorv-1310 commented on #368
not using the basic video chat  using kinda same to same.
issue occurs when we try to connect to the stream

On Tue, Mar 31, 2020 at 12:14 AM apoorv mittal <apoorv.mittal92@gmail.com>
wrote:

[2020-03-30 18:59] msach22 commented on #368
@apoorv-1310 Which version of the OpenTok iOS SDK are you using? This should be available in the Podfile.lock Please use the basic sample code so we can isolate code issues or share what your code is doing.

[2020-03-30 19:01] apoorv-1310 commented on #368
in package.json it is

*"opentok-react-native": "^0.13.0",*

in pod file it picks from node_modules
so it is just

*pod 'opentok-react-native', :path =>
'../node_modules/opentok-react-native'*

On Tue, Mar 31, 2020 at 12:29 AM Manik Sachdeva <notifications@github.com>
wrote:

[2020-03-30 19:03] apoorv-1310 commented on #368
i am attaching a js file to this email, that we are using.

On Tue, Mar 31, 2020 at 12:31 AM Apoorv Mittal <notifications@github.com>
wrote:

import React, { Component } from "react";
import {
    Dimensions,
    View,
    Image,
    TouchableWithoutFeedback,
    Platform
} from "react-native";
import Icon from "react-native-vector-icons/Ionicons";

import { connect } from "react-redux";
import {

[2020-03-30 19:46] msach22 commented on #368
@apoorv-1310 Thanks for sharing, this is definitely not basic code as there are other items involved. To isolate the issue with the library and not the your app, can you try with the Basic Video chat? We cannot reproduce using this code.

[2020-03-31 16:07] evillemez commented on #394
This sounds like the behavior we see in certain cases, so wondering if it could be a duplicate of #271  ?

Do you know if there could have been any case shortly before this occurred where the `OTSession` component was remounted?  If so, 271 might be the reason.

[2020-03-31 16:10] evillemez commented on #342
@ggoldens We did successfully update to 0.12.2, so I think we're ok now.  I think this issue is safe to close.

[2020-03-31 16:49] apoorv-1310 commented on #368
Hi,
there is no additional code apart from the opentok,
additional code is only for  camera swap, muting and discoonnect.
nothing different.
please do check..

[2020-03-31 17:17] msach22 commented on #368
@apoorv-1310 It's not possible for us to check with custom code because there can be many state issues, can you try with the Basic Video Chat and update the issue if it can be reproduced?

[2020-03-31 17:39] apoorv-1310 commented on #368
it will be the a big rework for us as we need to integrate push notifications as well.
also i am not sure if it will give me some errors on xcode, that will also require efforts

can you please give it a try ?

[2020-03-31 18:05] msach22 commented on #368
No, unfortunately, not. The issue seems to be application specific. I cannot use your code because it's project specific and contains more than just the API. UI elements, specific application logic, etc. Please update the issue once you've had the chance to try with the Basic sample application.

[2020-04-01 11:51] apoorv-1310 opened #395 "How to check if the stream is connected in other device"
i have 3 devices and all 3 ring togather.

if i pick any one of them, the other 2 should stop ringing, so i need some event in background(during ringing) and stop ringing other 2

i tired using events,

   streamPropertyChanged(event) {
      console.log("streamPropertyChanged", streamPropertyChanged)
    },
    disconnected(event) {
      console.log("disconnected", event);
      PushNotification

[2020-04-02 11:22] apoorv-1310 commented on #155
hi
i am using  pod 'OpenTok', '2.14.0'

but still i am getting error

`OpenTokReactNative-Bridging-Header.h:8:9: error: 'OpenTok/OpenTok.h' file not found`
also i will created symlink for opentok/headers to pods/headers/public/

what can be done in this?

@msach22 FYI

[2020-04-02 13:15] enricop89 commented on #155
Please use the latest version of iOS SDK, which is ` pod 'OpenTok', '2.16.5'`

[2020-04-04 15:17] RahulJain7 opened #396 "Screen sharing not working for react viro components"
I am successfully able to achieve Screen sharing with my publisher on android and a web based subscriber. The issue I am facing is that when in use Viro React native components, I am not able to render the Viro react components (eg. ViroARScene ) on the subscriber side ( it come black ). Although when I use native react component ( eg. View ), it runs perfectly. How can I go about screen sharing t

[2020-04-08 20:57] sunweiyang opened #397 "Android: Video unavailable after another app uses camera, even after other app is closed"
I've verified this issue on opentok-react-native@0.12.2 (Android). When an OpenTok session is running, and then another app uses the camera (such as the default camera app, etc.), session video becomes disabled for my app, even after the the other app is killed. Session audio still works.

This is only an Android issue; iOS sessions seem to recover video after the other app is done with the camera

[2020-04-08 21:00] sunweiyang commented on #394
My codebase does not remount the `OTSession` component after initial instantiation. If it helps, this seems to happen more frequently for longer OpenTok sessions (greater than 30 minutes).

[2020-04-10 10:43] EfteazTE opened #398 "Screen Sharing Not Working. After Few Seconds It not responding."
I am creating an app for screen sharing in react native. Screen sharing is started and after few seconds its not responding even publisher app touch not working.
Code Snippet
this.publisherPropertiesScreen = {
            publishAudio: false,
            publishVideo: true,
            videoSource: 'screen',
        };

publisher session
<OTSession
                    apiKey={this.apiKey}

[2020-04-10 12:09] EfteazTE commented on #23
its not working properly. after few seconds screen sharing stops and publisher app not responding.

[2020-04-10 16:51] msach22 commented on #23
@EfteazTE The team is working on an improved screensharing capturer for iOS so we'll add it to this React Native library once it's complete. cc: @bsrao

[2020-04-13 05:20] EfteazTE commented on #23
@msach22 i am getting this issue in android. when sharing screen after few seconds when i scroll screen publisher app not publishing and app not responding at all. please reply me as soon as possible.

[2020-04-14 05:12] EfteazTE opened #399 "screensharing in android stops in few seconds and app not responding"
i am integrating screen sharing in android. screen sharing starts but after few seconds it stops and publisher app not responding to any touches. please give me a solution as soon as possible as i cannot move forward. thank you

[2020-04-14 20:15] liveclinic commented on #395
@msach22 Hello Manik, Can you please help with the issue above? Thank you.

[2020-04-14 22:07] msach22 commented on #395
This is not an issue with this library. This is application specific logic that is outside the scope of this library.

What you're looking for is to manage a state outside of OpenTok that allows you to see who has picked up the "call". The events that you have listed are not made for that, they are there to dispatch if a stream has been destroyed or a signal has been received, etc.

[2020-04-14 22:10] #395 closed

[2020-04-14 22:11] msach22 commented on #399
This is a duplicate: https://github.com/opentok/opentok-react-native/issues/398

[2020-04-14 22:11] #399 closed

[2020-04-14 22:11] msach22 commented on #398
Have you specified a width and height in the publisher? Are you seeing any errors?

[2020-04-14 22:13] msach22 commented on #393
Thanks for filing an issue. This is possible by simply creating two `OTPublisher` components. Please see the documentation: https://github.com/opentok/opentok-react-native/blob/master/docs/OTPublisher.md

[2020-04-14 22:13] #393 closed

[2020-04-14 22:14] msach22 commented on #338
Thanks for the recommendation @th317erd - this should work!

[2020-04-14 22:14] #338 closed

[2020-04-15 05:06] EfteazTE commented on #398
@msach22 i have not used height and width. even using height and width same issue happens. and i am not getting any errors in console. please help

[2020-04-15 13:24] adaerodriguez commented on #78
Hi guys, this error continue on version "opentok-react-native": "0.13.0". How can I solve this?

Thanks!

[2020-04-15 21:53] Sach-SPF commented on #394
Guys - Any solution on this one?

[2020-04-17 05:20] EfteazTE commented on #23
@msach22 can you please help me out as i am stuck on this problem and i can't move forward with screen sharing on android.

[2020-04-17 05:31] EfteazTE commented on #398
@msach22 can you please help me as i am stuck in screen sharing part.

[2020-04-17 12:09] og2t opened #400 "Bug: Android: video stream not always rendering when streams are updated"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Current workaround**

[code]

[2020-04-20 20:15] kennethlynne commented on #155
Pro-tip for anyone seeing this after upgrading:
![image](https://user-images.githubusercontent.com/390817/79795376-1cafdb80-8354-11ea-90cf-9eebe0ae1bd8.png)

before building.

[2020-04-21 05:28] msach22 commented on #398
@EfteazTE I would recommend adding a width and height to the publisher as that's required for the native view when it's rendered. Unfortunately, we don't have the bandwidth to currently investigate the issue.

[2020-04-21 07:51] EfteazTE commented on #398
@msach22 sir, using width and height to the publisher getting same issue. after few seconds publisher stops in android.

[2020-04-22 07:13] adaerodriguez commented on #394
Please, any change on this issue?

[2020-04-22 07:15] adaerodriguez commented on #271
Please, any change on this issue?

[2020-04-22 23:57] fulfaro commented on #78
Hi adaerodriguez, we have the same error, but we changed function component to a pure component and it's running.

`
class VideoChatScreen extends Component {
  constructor(props) {
    super(props);
  }

  componentDidMount() {
    this.props.createToken();
  }

  render() {
    return (
        <View style={Styles.container}>
          {this.props.token ? (
            <OTSession
              a

[2020-04-23 08:14] adaerodriguez commented on #78
Hi @fulfaro, thanks for your solution 👍

[2020-04-23 20:46] t4ngth00 commented on #400
I'm facing the same issue.

[2020-04-28 17:20] gwendall opened #402 "Keep audio for background app - Android"
Right now, when a connection is established to a stream and the user leaves the app, the audio shuts down. Is there a way to keep it on ?

[2020-04-30 05:18] SaveYourTime commented on #271
Same here, still running into this on `"opentok-react-native": "^0.13.0"`

[2020-05-02 08:05] hotdream1990 commented on #255
@singhabhilash, @plunex  You can fix by following this code.

In **android/app/proguard-rules.pro** file: Add these lines:

-keep class com.opentok.android.v3.** {*;}
-keep class com.opentok.android.v3.*$* {*;}
-keep public class * extends com.opentok.android.v3.OpentokException
-keep class org.webrtc.** {*;}
-keep class org.webrtc.**.** {*;}
-keep @androidx.annotation.Keep class *
-keep @androidx

[2020-05-03 01:05] ami9000 commented on #214
@msach22 Curious, any update/progress on adding the "mirror" options to Publisher? Our use case is also important to have this accurate - especially as it relates to eventually archiving the sessions. This is really "removing" the mirror effect that currently gets added to the streams when front facing. Thanks!

[2020-05-03 22:27] znelson32 commented on #231
@msach22 Is there a technical reason that subscriber volume level isn't supported on mobile but it's supported in JS? We're working on a high profile app and wish we had the ability to set individual volume levels for the participants. As it stands, all we can do is mute them via an audio unsubscribe but it's not sufficient really.

[2020-05-04 04:01] znelson32 commented on #249
I have a similar problem when playing background audio during an OpenTok session using the iOS API. The first time it plays the audio level is good. But on a second play the audio level drops very low. I think it has something to do with the behavior of the AVAudioSession and source ducking but I can't narrow it down.

[2020-05-07 10:40] flobady commented on #157
Hello @msach22, I have the same problem.

**Behaviour**
OpenTok does not fire events when airplane mode is activated on a device, which causes the other device to freeze screen.
Our OTSession listens to all possible events handlers, and none are triggered when the connection is lost due to airplane.
We tried sessionDisconnected, otrnError, sessionReconnecting, sessionReconnected, error.
We also tr

[2020-05-07 12:45] cdreyfus commented on #353
actually I made it work with
`-keep class org.webrtc.** { *; }
-dontwarn com.opentok.**
-keep class com.opentok.** { *; }
-keepclassmembers class com.opentok.{ *; }
`

[2020-05-07 20:53] damianesteban commented on #255
@hotdream1990 do you mean we can use minification if we modify the proguard rules like that?

[2020-05-10 07:25] ankitsdglobal opened #405 "How to add small video on top of full screen background video."
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---
![image](https://user-images.githubusercontent.com/56858237/81493379-76ac1d00-92d2-11e

[2020-05-10 07:41] ankitsdglobal opened #406 "How to add manual disconnect functionality on click of a button?"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2020-05-10 07:42] ankitsdglobal opened #407 "Phone gets locked even when the video streaming is going on. How to keep it enable?"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2020-05-11 02:58] schonfeld commented on #407
You can use a library like [react-native-idle-timer](https://github.com/marcshilling/react-native-idle-timer) to disable the device's idle timer. That should keep the screen on while you're in video.

Something like this should work:

[code]

[2020-05-11 07:17] vincentpham13 commented on #384
Hi @eltoob I had the same error too, could you help me how to solve it?

[2020-05-11 08:04] ankitsdglobal commented on #407
ok thanks i will check

[2020-05-12 02:49] schonfeld commented on #402
I've been able to achieve this simply by adding the Background State: Audio capability to my Info.plist. The rest happens "automagically". There's a useful doc (with instructions) about this on [Tokbox's iOS SDK docs](https://tokbox.com/developer/sdks/ios/background-state.html). The same applies to this React Native wrapper.

[2020-05-12 14:12] eduardoZapata commented on #402
Has anyone found a similar way to enable this for android?

[2020-05-13 05:11] #406 closed

[2020-05-13 05:13] ankitsdglobal commented on #405
I am able to fix this on ios but not working on android with position absolute. I am testing with 2 phones. If i publishes uses android then video is coming over video. But when i open with ios with same session the above video is going in the background

[2020-05-13 07:42] hotdream1990 commented on #255
@damianesteban yes, you can if you follow by that code. My project causes this problem and I found that solution.

[2020-05-14 06:42] joekim opened #409 "Include missing timestamp field for audioStats and videoStats"
# Bug Report

**Current behavior**

subscriberEventHandlers.videoNetworkStats does not return a timestamp object

**Steps to reproduce**

Create OTSubscriber with eventHandler for videoNetworkStats and audioNetworkStats

          <OTSubscriber
            style={{ width: 100, height: 100 }}
            eventHandlers= {{videoNetworkStats: (obj) => {
               assert(obj.timestamp, "Should be

[2020-05-14 06:43] joekim commented on #409
I can make a PR. Two line change.

https://github.com/HappyDojo/opentok-react-native

[2020-05-15 07:02] PitGuy commented on #249
I have the same problem. It was because OpenTok speak by phoneSpeaker, but incomming call swith it to earpice. I fixed it by manual swithing after call finished: audioManager.SpeakerphoneOn = true;

[2020-05-15 13:15] brwinkle opened #410 "Using this library alongside the Nexmo SDK"
# Bug Report

We're trying to use both the OpenTok React Native library and the Nexmo SDK, which we've written a Native Module wrapper over.

**Current behavior**

Both the OpenTok and Nexmo libraries appear to include competing versions of the org.webrtc libraries. When the android build is run we get many instances of errors like this:

[code]

**Steps to reproduce**

Start a React Native projec

[2020-05-15 15:07] msach22 commented on #410
If you upgrade to the latest Android SDK (2.17.0), it should be able to resolve this issue.

[2020-05-15 19:56] brwinkle commented on #410
Thank you, @msach22. So just to be clear, the recommendation is to fork this library to update the underlying dep?

[2020-05-15 20:20] msach22 commented on #410
@brwinkle Please feel free to submit a PR to the main repo to update the native SDKs to 2.17.0. We really appreciate all contributions :)

[2020-05-15 20:59] schonfeld commented on #409
On a related, but also unrelated matter... It'd be great to get avStats for OTPublisher, as well. Any idea why this lib only implements the OTSubscriber side of this?

[2020-05-16 22:39] vncmaciel commented on #353
facing the same issue here with 2.17.0

[2020-05-18 06:15] DhavalRKansara opened #412 "Failed to make complete framebuffer object 8cd6 - While adding Subscriber view into UIView."
Hello,

I am working on conference call of four people and getting below error when I tried to add `SubscribeView` under the `UIView`.

- **Error:**
[code]

- **Code For adding Subscriber into UIView:**

[code]

[2020-05-19 16:33] #412 closed

[2020-05-20 09:57] minhnhatspk commented on #132
@msach22 we can not send the signal to the other client without a connected session.
I got this error message `OTRN JS: There was an error sending the signal [object Object]`.
My main purpose is to close the call UI of the user A if the user B declines the call immediately.
Are there other ways to communicate among these OT clients that don't need a connected session?

[2020-05-20 10:11] enricop89 commented on #132
Hi @minhnhatspk, the signal method requires a connected session as you need WebSocket connection. If you need to send real-time events without a connected session, you can set up a WebSocket connection on your app server or use a 3rd party API

[2020-05-20 10:11] enricop89 commented on #132
Hi @minhnhatspk, the signal method requires a connected session as you need WebSocket connection. If you need to send real-time events without a connected session, you can set up a WebSocket connection on your app server or use a 3rd party API

[2020-05-20 12:59] #342 closed

[2020-05-21 02:35] minhnhatspk commented on #132
Thank you for the answer @enricop89, I ended up this problem by making an API request to my server then use the `signal` method to delete all participants in the current session.

[2020-05-22 06:47] codeMeSid commented on #271
Found this to be a very elegant solution , but to further make sure old session events do not fire, i think it will be better to just disconnect or destroy past session manually  and then immediately initialise a new session

[2020-05-22 13:46] evillemez commented on #271
@codeMeSid Can you describe a little more?  I'm not quite following what the solution is.  In our case we have unmounted the session, then mounted it again.  That's supposed to trigger a disconnect/destroy of the original session, and initialize a new one - but that's not the behavior we're actually getting.

When you say "disconnect or destroy the past session manually" - how exactly are you doin

[2020-05-22 13:56] palmas commented on #353
Facing the same.
OpenTok team, please,  give us correct proguard rules!

[2020-05-22 15:10] codeMeSid commented on #271
[code]

so now even all your existing publisher and subscribers are re-initialised

[2020-05-25 18:20] htuzel opened #413 "React Native ios duplicate publishing and not subscribing issue"
# Bug Report

**Current behavior**

**Steps to reproduce**
I am trying to connect 2 people from browser and phone. I am just trying to simple connection without extra feature.

**Example Project**

[code]

**What is the current *bug* behavior?**

Problem 1:
I am generally seeing multiple videos on web browser. (it is fine on android) (So, it seems react native creating multiple publishers)
Problem

[2020-05-26 15:39] SheereenHamza opened #414 "screen sharing shares app screen only"
publisherProperties: {
                cameraPosition: 'front',
                name: 'Sheereen',
                publishVideo: true,
                publishAudio: false,
                videoSource: 'camera'
            }

The above are my publisher properties. When changing videoSource to 'screen', it shares the app screen only.
![image](https://user-images.githubusercontent.com/41579076/8292064

[2020-05-28 22:46] evillemez commented on #271
@codeMeSid I may have missed something... Where is `session.on()` and `session.off()` coming from?  That looks like usage from the `opentok.js` library.  Our event listeners are wired up by passing event handlers as a property to the Opentok React Native components.

Is there an alternate way for us to register/unregister our event listeners instead of passing props to the `OTSession`, `OTPublishe

[2020-06-02 11:04] palmas commented on #248
I'm also getting this error. In both 2.15.3 and  in the latest 2.16.5 version.
OpenTok team, why do you close this issue when it is not fixed?

It is a very critical issue and we are thinking to stop useing openTok and choose some other framewiork because of this...

[2020-06-02 11:06] palmas commented on #294
I'm also getting this error. In both 2.15.3 and in the latest 2.16.5 version.
OpenTok team, why do you close this issue when it is not fixed?

It is a very critical issue and we are thinking to stop useing openTok and choose some other framewiork because of this...

[2020-06-02 11:07] palmas commented on #284
The promlem still exists(
I'm also getting this error. In both 2.15.3 and in the latest 2.16.5 version.
OpenTok team, why do you close this issue when it is not fixed?

It is a very critical issue and we are thinking to stop using openTok and choose some other framework because of this...

[2020-06-02 11:16] palmas commented on #304
The bug is still there in sdk 2.16.5(((

[2020-06-02 11:16] palmas commented on #304
Any news??

[2020-06-02 11:19] palmas commented on #294
The issue is still here. Please, reopen it!

[2020-06-02 13:40] enricop89 commented on #294
@palmas please make sure to clean the project and build, and if you're still experiencing the issue, feel free to open an issue with steps to repro

[2020-06-02 15:50] slauzinho commented on #150
@ggoldens This issue is still happening for me.
I'm able to reproduce it every time if during a video call on my android phone I force stop the app, the other person will see a blank screen, and even if the original person tries to join the video session they too will see a blank screen.

This is with the latest opentok-react-native version

[2020-06-02 16:15] palmas commented on #294
Tried clean and rebuild, but it did not help.
I use the latest version of native SDK (2.16.5),  so maybe this should be asked in another thread

[2020-06-03 12:54] adaerodriguez opened #415 "No audio with bluetooth device during a video"
Hello guys,

I have a weird issue when I 'm connected in a video from PC(Web) to mobile Android/iOS. If during the video I try to change the audio output to a bluetooth sound device (from mobile) I can't heard anything and the other person in the call doesn't heard me.
When I change the output to the mobile again I can re-establish the sound. There is any possibility to control  the output sound o

[2020-06-03 13:45] adaerodriguez opened #416 "Screen sharing example in docs required"
Hi guys,

Could you share an example of screen sharing? There isn't a clear example about the better way to do this. I am trying to see the screen sharing (OTSubscriber from web) from a OTPublisher on the app. How can I add the code to show the screen sharing on mobile on fullscreen?.

If I put the subscriber to height: '50%' I can see both, but I don't understand how show the screen sharing on to

[2020-06-03 14:49] adaerodriguez commented on #407
Hi @ankitsdglobal I use react-native-keep-awake:

[code]

[2020-06-08 20:11] Matti93GL opened #417 "Audio is not reproducing when the camera don't have permissions on video call"
Hello people! We are facing an issue that is quite difficult to solve, the issue happens when we make a video call and we do not give permission to the camera, the microphone does not reproduce any type of sound, the call remains without sound, however if we give permission to the camera we can listen normally. This issue is only happening to us on Android.
I await your comments!
Thanks!!!!

[2020-06-09 16:18] HarshitPKing commented on #151
Current behavior

I have tried to compile and build for production apk and I got an error shown as
"FAILURE: Build failed with an exception.

What went wrong:
Execution failed for task ':opentok-react-native:verifyReleaseResources'.
com.android.ide.common.process.ProcessException: Failed to execute aapt "

Steps to reproduce

bundle js via react native command.
cd android && ./gradlew assembleRele

[2020-06-10 14:38] Pyroboomka opened #418 "Make OTPublisher usable as a preview component."
# Feature request

**Make OTPublisher usable as a preview component.**

**Description**
Basically, I have this call flow:
User enters a "preparation" room, where he can grant permissions for audio/video, make sure that his camera works okay and so on. After doing that, he taps the "Start call" button, gets session_id/token from backend and joins the real call, ready to subscribe to other people st

[2020-06-10 19:55] DGeoWils opened #419 "Feature Request: Ability to turn on flashlight"
# Feature Request

**Description**

**Proposal**

Either

`this.refs.publisherComponent.setFlashlight(<boolean>)`

or

`<OTPublisher properties={{torchOn: <boolean>}} />`

Thank you!

[2020-06-11 00:46] freddiecabrera commented on #328
Is this not possible? I am trying to add buttons to

- Toggle mute
- Toggle speaker
- Toggle video
- Toggle front-facing camera/back-facing camera

[2020-06-12 17:58] adrian1388 opened #420 "OTSubscriber no audio from background"
# Bug Report

**Current behavior**
In my team, we are developing video calls for Android. When the app is foreground OTSubscriber works correctly, but when the callee accepts a call and the app comes from background, OTSubscriber is not reproducing audio.

**Steps to reproduce**
Basically, this is the code implemented:
[code]

**What is the current *bug* behavior?**
OTSubscriber gives only video b

[2020-06-16 16:25] htuzel commented on #151
same issue +1

[2020-06-17 00:24] freddiecabrera commented on #276
Has there been an update on this?

[2020-06-20 04:13] Abhishek9634 commented on #277
in iOS how we can achieve??

[2020-06-24 21:23] freddiecabrera commented on #405
I am also having this same issue. On Android if a single person is on the call you can see the `OTPublisher` but when someone joins it disappears.

[2020-06-24 21:26] freddiecabrera commented on #276
I had to build a bridge for both ios and android to toggle the speaker on and off. I can share the code if anyone needs it.

[2020-06-25 12:35] enricop89 commented on #276
@freddiecabrera yes, please. You can submit a PR and I'll review it

[2020-07-06 10:58] mbouxin opened #424 "Error not called when publish fails"
# Bug Report

**Current behavior**
Under certain circumstances android publisher does not raise error (otrnerror or error) or success (streamCreated) event.

When this happen, the other users can not subscribe (which indicates clearly that publish did not work). This is a problem as whithout any feedback to users, we sometimes are in a strange situation where two people think that everything is wo

[2020-07-07 00:40] kuasha420 commented on #418
This will be a very useful feature. Please consider it .

[2020-07-08 10:39] aqib1604 commented on #368
I am having an exact same issue. Any solution over here?

[2020-07-09 01:57] sunweiyang commented on #302
This is also an issue with us, and it seems to most deeply impact Android devices. I'll also add that for longer sessions (~20-30+ minutes) some of the client devices would stop the call, and it seems to correlate with temperature (the phone gets difficult to hold).

[2020-07-09 04:00] sunweiyang commented on #302
One thing I am trying is switching from the VP8 codec to the H.264 codec in the TokBox console (https://tokbox.com/account/). It supposedly uses less CPU, especially on iOS (https://tokbox.com/developer/guides/codecs/)? I'll let you all know if it makes a difference, but @og2t @knavu2 @yusuftor you may try too if you wish, and we can share what we find out on this thread.

[2020-07-09 09:27] tomek29k commented on #302
@sunweiyang Interesting with the codec switch, didn't know about that. Please let us know your findings.

[2020-07-09 22:16] msach22 commented on #302
There are several tradeoffs when using H264 v VP8. H264 support on Android devices isn't very great. You also won't be able to leverage TokBox Scalable video with H264.

Some things you can do to improve CPU & battery consumption is:
- If you know the rendering size, do not capture HD qualities since it's very likely that you won't be rendering HD on the subscriber side.
- If it's for multiparty,

[2020-07-10 00:39] sunweiyang commented on #302
@msach22 How do we have subscribers request lower resolution? And what do you mean by "capture HD qualities"? I don't see this documented (but I could have accidentally missed something).

My understanding so far is that OpenTok intelligently selects a video resolution based on the current connection quality of the clients. Is the current built-in logic not performing well for certain low-bandwidt

[2020-07-10 00:52] sunweiyang commented on #397
I'll also add that there are some issues that happen when a phone is participating in an OpenTok session and a regular cellular phone call arrives (even if the user dismisses the call). Perhaps not directly related, but related in that hardware control is temporarily moved away from OpenTok and must be re-established or re-claimed by OpenTok for a smooth session.

[2020-07-10 15:14] msach22 commented on #302
@sunweiyang When you are creating the publisher, you have that ability to specify the resolution - I was suggesting that if you are not going to be rendering in a big view, then you may not need to capture at `1280x720` (HD).

OpenTok does intelligently route different qualities based subscriber, but it gives you the best quality available. Now, if you application is rendering in smaller views, yo

[2020-07-10 21:14] xxsnakerxx commented on #353
for 2.17.x
[code]

for 2.16.x
[code]

[2020-07-11 01:19] janihmels opened #425 "Unable to position multiple subscriber views"
Hi, I'm trying to arrange multiple subscriber streams next to each other. However, it seems that the construction of `<OTSession><View><OTSubscriber /></View></OTSession>` always results in streams that are arranged on top of each other, independently of the styling of either the View or the OTSubscriber component.
Is there a way to control the positioning of individual streams?

[2020-07-11 02:20] #425 closed

[2020-07-14 21:31] pydlv opened #426 "Rendered text won't go away after updating state"
# Bug Report

**Current behavior**

[code]

When I update `this.state.hasLocalStream` from `false` to `true`, the `<Text>` element continues to render on the screen, despite React DevTools no longer showing the `<Text>` element to be a part of the DOM. Also in the devtools, the state is correct.

Changing to the following code results in no text being visible after the state update, which is the c

[2020-07-15 03:27] pydlv commented on #255
@hotdream1990 I love you

[2020-07-15 05:09] anshulsinghla commented on #302
@msach22 Can you please add these props(resolution & frameRate) which aren't supported in this library?

[2020-07-15 15:56] vinoth12594 opened #427 "Publisher not showing"
Once call connected successfully publisher not visible, getting 409 conflict error.
`POST https://api.opntok.com/v2/project/{project-id}/archive resultes in a conflict Response: ("code": 15001, "message": "HTTP 409 conflict ", "description": "HTTP 401 Conflict")`

[2020-07-15 16:09] sunweiyang commented on #302
@anshulsinghla I was able to set the `resolution` and `audioBitrate` props for `OTPublisher`. I don't think I see a way to set frame rate, but I could be wrong.

[2020-07-15 16:20] enricop89 commented on #302
@sunweiyang I'm working on a PR that will add this feature on the Subscriber component 👍

[2020-07-15 16:25] enricop89 commented on #427
Hi, please see documentation https://tokbox.com/developer/rest/#start_archive

[code]

[2020-07-15 16:25] #427 closed

[2020-07-16 11:40] ankitbishtapollo commented on #302
@sunweiyang How did you set the resolution and audioBitrate and does this help you?

[2020-07-16 14:40] sunweiyang commented on #302
@ankitbishtapollo Documentation is here in opentok-react-native's `docs` directory: https://github.com/opentok/opentok-react-native/blob/master/docs/OTPublisher.md
[code]
We're still collecting data, but so far it does suggest at least some improvement.

[2020-07-16 16:06] ankitbishtapollo commented on #302
@sunweiyang Thanks for sharing and also if you find something relevant to this ticket. Please share with us.

[2020-07-16 20:20] sunweiyang opened #429 "Very frequent "Dimensions changed for publisher/subscriber" event logs for sessions, as seen in the web Inspector Tool"
In our RN app, we have very clearly defined widths, heights, and positions for our `OTPublisher` and `OTSubscriber` components, which don't change throughout each session. Despite this, when we go onto the TokBox online Inspector Tool, we see lots of "Dimensions changed for publisher" and "Dimensions changed for subscriber to User" event logs (more than one per minute)

- Is this part of normal op

[2020-07-17 16:35] HarshitPadalia opened #430 "When Video on/off from parter user otsession view shown as black view"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.
[code]

-> VideoSession state is managed using this 2 otsession events
 streamCreated: event => {
        console.log('Stream created!', event);
        this.setState({ VideoSession: event.hasVideo });
      },
streamPropertyChanged: event => {
        conso

[2020-07-20 03:08] vinoth12594 opened #431 "Change Camera to Screen Sharing in video source property"
Currently I'm trying to switch from camera view to screen share on OTPublisher property - videoSource from tokbox in react native.

When updating value of videoSource on state, I don't see screen changes from camera to screen share.

`
      <OTSession
      apiKey={this.state.apiKey}
      sessionId={this.state.sessionId}
      token={this.state.token}
      signal={this.state.signal}
      event

[2020-07-20 05:15] HarshitPadalia commented on #400
I am facing the same issue

[2020-07-20 05:15] HarshitPadalia commented on #397
I am facing same issue in android devices

[2020-07-20 05:17] HarshitPadalia commented on #366
I am facing same issue

[2020-07-20 05:19] HarshitPadalia commented on #84
Yes It's must have option

[2020-07-20 05:27] HarshitPadalia commented on #405
I am also having this same issue. On some  Android devices having android 10

[2020-07-20 13:46] enricop89 commented on #400
@og2t Thanks for filling the issue. Are you able to reproduce it also with the latest version of RN and Android (2.17.1)?

I tried but I wasn't able to repro.

[2020-07-20 18:55] Sach-SPF opened #432 "Toggle camera not working expected when 2 or more camera available on device"
I have an issue on Android especially with a device that has more than 2 cameras like Samsung Note 9/10 etc.  whereas ToggleCamera function is not working as expected with the intention to focus on the rear camera.

[2020-07-21 02:55] sunweiyang commented on #302
@msach22 Even with resolution lowered to `640x480` and audioBitrate lowered to `20000` (2 users per session, using VP8 codec), Android phones are still becoming too hot to hold after around 25 minutes. Are there any other things that we can do?

[2020-07-21 03:43] msach22 commented on #302
@sunweiyang In general, phones can run hot with video chat especially on lower end devices - WebRTC is known to be computationally expensive. In general, I would not lower the audio bitrate because it might lead to poor audio quality especially when there is packet loss. Is there any specific device this is happening on? We can try to profile it internally and see if we can improve some areas.

Fo

[2020-07-21 04:51] sunweiyang commented on #302
@msach22 Thanks for looking into it internally, that's fantastic. We have reports of this happening in the past week, with my specific OTPublisher parameters for both sides, for phones ranging from Samsung Galaxy S8 (released March 2017) to Pixel 4 XL (released October 2019). This using opentok-react-native 0.14 and RN 0.62.2, with OTPublisher at 640x480 resolution, 20000 audioBitrate, 2 users per

[2020-07-21 11:45] ankitbishtapollo commented on #302
Facing same issue.
Using 4G  Jio network with Oneplus 6. Experienced the same issue on the Oneplus 7T. No special app running in the background, normal apps like Whatsapp etc.
Before I started the call with 15% battery.
Battery current: less than ~300 ma
Battery temperature - ~36 C
~3 min into the call -
2 % battery Consumed, the phone was heated up
Battery current: 1065 ma
Battery Temp:  41.4 C

[2020-07-21 12:16] enricop89 commented on #302
`Final question: to clarify, OTPublisher's resolution prop isn't the same as the preferredResolution API you mentioned?`

OTPublisher is the resolution that is acquired by your device and sent to our media server (if you're using Routed Session).

Once the stream is processed by our media server, it has to sent it back to all the subscribers of the session. The media server will send different qua

[2020-07-21 17:54] ankitbishtapollo commented on #302
@enricop89  Can you tell me how to use setPreferredResolution please?

[2020-07-22 06:08] HarshitPadalia commented on #400
@enricop89 I have found 1 issue is that when I change audio from publisher side then stream property changed method called which proper but when I change video from publisher side then stream destroyed called and in this method data is showing has video property to true can you check my implementation?
[code]
this code I have used at both publisher and subscriber side if anything incorrect then te

[2020-07-22 06:10] HarshitPadalia opened #435 "when I change audio from publisher side then stream property changed method called which proper but when I change video from publisher side then stream destroyed called"
I have found 1 issue is that when I change audio from publisher side then stream property changed method called which proper but when I change video from publisher side then stream destroyed called and in this method data is showing has video property to true can you check my implementation?

[code]
this code I have used at both publisher and subscriber side if anything incorrect then tell me than

[2020-07-22 06:14] HarshitPadalia commented on #394
Any solution on this one I am also facing same issue with latest 0.14.0 version?

[2020-07-22 06:15] HarshitPadalia commented on #400
and also send me code changes required if any

[2020-07-22 06:33] HarshitPadalia commented on #84
I've come back to this because, while our app's main feature is video call and in order to render a custom screen when we detect there is no video, there is still a period of time that goes by between when a user enables their video and the actual frames start being rendered. During that little gap we get a flash of black screen, and I'm not finding any way to avoid it right now. I have tried many

[2020-07-22 06:39] HarshitPadalia commented on #84
is there any updated on this feature?

[2020-07-22 06:39] HarshitPadalia commented on #366
any updated on https://github.com/opentok/opentok-react-native/issues/84?

[2020-07-22 06:40] HarshitPadalia commented on #400
any updates on https://github.com/opentok/opentok-react-native/issues/84?

[2020-07-22 07:00] enricop89 commented on #302
@ankitbishtapollo setPreferredResolution is not currently supported.

I'm currently working on a PR to add the option on the `OTSubscriber`.

[2020-07-22 07:03] ankitbishtapollo commented on #302
<OTPublisher
                properties={{
                  resolution: '640x480',
                }}
                eventHandlers={publisherEventHandlers}
              />

I was manually setting resolution like this but I dont see ant changes on the video quality. Not sure, if its a correct ways to lower down the resolution.

[2020-07-22 07:19] TccTeam commented on #366
my problem was that I used disconnectSession without arguments
OT.disconnectSession(1);

this work for me >>>>
OT.disconnectSession(this.props.sessionId, () =>{});

[2020-07-22 17:36] ankitbishtapollo commented on #302
@enricop89  Any early scope of your PR approval?

[2020-07-23 01:09] jauggy opened #436 "How do I do full-screen subscriber with publisher on top (Android)"
My code is below. The issue is that the publisher view appears beneath the subscriber view. I want to have fullscreen subscriber view with publisher on top.

[code]

[2020-07-23 01:23] jauggy commented on #436
Nevermind I had a typo.

``` sessionOptions={sessionOptions}>```
should be
[code]

[2020-07-23 01:23] #436 closed

[2020-07-23 08:00] mbouxin commented on #424
I reproduced and filled an issue with the native SDK examples
https://github.com/opentok/opentok-android-sdk-samples/issues/295

[2020-07-23 08:18] enricop89 commented on #424
@mbouxin Thank you, I'll follow up on the native one 😄

[2020-07-25 15:56] vinoth12594 opened #437 "OT.changeCameraPosition not trigger"
When i use OT.changeCameraPosition(this.state.publisherId, 'back') it's not working as per my expectation.
I get my publisherId in
`this.publisherEventHandlers = {
      streamCreated: event => {event.streamId}`

Anything mistake from my side.

[2020-07-29 18:11] ankitbishtapollo commented on #302
I am publishing with 640x480 resolution but I dont see much impact. There has only been a slight improvement but its still heating.
If anybody has fixed this or has seen much improvement then please let me know.

[2020-07-30 09:47] enricop89 commented on #302
@anandpaithankar1 feel free to test #434

[2020-07-30 15:27] anandpaithankar1 commented on #302
Maybe its for @anand-opentok

[2020-07-30 15:29] enricop89 commented on #302
lol sorry it was for @ankitbishtapollo

[2020-07-30 16:52] ankitbishtapollo commented on #302
Ok @enricop89 Will test and let you know

[2020-07-31 16:04] merovingienne commented on #174
Has anyone been able to add a border radius to the `OTPublisher`?

[2020-08-01 08:00] Ayubbabaxelits opened #438 "Session disconnect using react native hooks"
Hi friends,

while I connect again the session event coming multiple time till I clear it from the recent menu in the mobile I think this issue is because I can't able to disconnect the session properly I am just moving back the screen where I want to go please help me out guys I am trying to figure it from so many days I am using function components and I also used this below method

    otSessio

[2020-08-01 09:45] Ayubbabaxelits commented on #438
when try using this

otSessionRef.current.disconnectSession();

i am getting below error

 There was an error:  {"message": "Error disconnecting from session. Could not find native session instance"}

[2020-08-01 10:21] Ayubbabaxelits opened #439 "screen share stream in zoom in using open tok"
I am using function components in the react-native where I am using opentok for video call and screen sharing for me the screen sharing view is getting zoom in like the image I had attached  also I am giving full width and height of the screen for the subscriber please once check it I am not getting an idea why it's happening like please help me out friends

[Please click on the image it's zooming

[2020-08-01 18:59] Ayubbabaxelits opened #440 "Session unmount in functional component"
Hi guys,

can anybody tell me how to unmount the session for disconnect on the button click below method I tried it's not working because of this I am getting multiple events callbacks any solution for this?

[code]

As well as i tried in the button click as well below code

[code]

[2020-08-11 14:57] hdachrekar commented on #407
can you please provider a resolution for the same when launched from the browser on mobile devices.

[2020-08-13 08:43] ravipulluri commented on #414
can anyone help on this?

[2020-08-17 13:49] menasSawwaf opened #441 "Zoom In and Zoom out for screen sharing in subscriber"
Is there way to zoom in and zoom out  for subscriber view when publisher start screen sharing?

[2020-08-19 19:32] mingyjongo commented on #429
Experiencing the same, would love some insight here

[2020-08-20 02:05] sunweiyang opened #442 "Unpredictable OTSubscriber events for video availability (for video placeholders, etc.)"
We have a 1-to-1 video chat app using opentok-react-native 0.14.0, and are trying to implement a placeholder overlay (partner's profile photo within a `position: 'absolute'` View component) that appears whenever video is unavailable. We have a boolean state `placeholderIsVisible` that changes based on OTSubscriber events:

[code]

Essentially, we want `placeholderIsVisible` to be `false` whenever

[2020-08-20 05:02] sunweiyang commented on #302
@enricop89 Thanks! By the way, I was wondering what the default maximum frame rate(s) are for the OpenTok SDKs (and the maximum supported frame rate)? I'm having trouble finding that information in the iOS and Android SDK docs.

[2020-08-20 09:15] enricop89 commented on #302
@sunweiyang default is 30fps both camera and screen (and should be also the maximum value).
@ankitbishtapollo were you able to test the #434?

[2020-08-20 12:34] enricop89 commented on #429
Hello, those events are about frame rate or resolution change. It's not a problem at all, but I agree that the name could be confusing

[2020-08-21 06:36] msach22 commented on #437
You can change the camera position by updating `cameraPosition` property in  `OTPublisher`:
https://github.com/opentok/opentok-react-native/blob/master/docs/OTPublisher.md

[2020-08-21 06:36] #437 closed

[2020-08-21 06:38] msach22 commented on #431
This is not allowed at this moment. There are many drawbacks to doing this on the fly because we optimize video encoding parameters based on the video source input. Those options cannot be changed on the fly, to switch from a camera to screen or vice versa, I recommend creating a new publisher.

[2020-08-21 08:08] enricop89 commented on #442
@sunweiyang the approach seems ok, but how would you filter by a subscriber (streamId)? Could it be that you are receiving an event that refers to another subscriber?

[2020-08-26 21:52] sunweiyang commented on #442
@enricop89 Ohh are you saying that both users' subscribers are triggering the same set of eventHandlers? If not, please help me understand.

[2020-08-26 21:52] sunweiyang commented on #429
@enricop89 Thank you for clarifying.

[2020-08-26 21:52] #429 closed

[2020-08-31 13:36] jauggy opened #443 "App crashes when permissions dialog comes up on Android"
# Bug Report

**Current behavior**
When I make a video conference call and the permissions dialog comes up and don't do anything eventually the app will crash. Looking at the logs there I see the error:
[code]

Once permissions are enabled and I restart the app everything works fine.

Tested on Android device.

**Steps to reproduce**
Make sure to reset app permissions.
Begin a video conference cal

[2020-09-01 00:16] jauggy opened #444 "Eventhandlers do not trigger when subscriber (other client) disconnects"
# Bug Report

**Current behavior**
Eventhandler for connectionDestoyed and disconnected not getting called.

**Steps to reproduce**
I have a web client and react native client involved in a VC session. When web client disconnects the video on the react native subscriber goes blank but the eventHandler doesn't trigger.

**Example Project**
Don't have project. But have sample code:
[code]

**What is

[2020-09-01 00:19] jauggy commented on #405
That's because it is appearing behind. You need to set sessionOptions correctly.

Here is sample code that I got working:
[code]

and my styles:
[code]

[2020-09-01 09:02] hazemzuhair commented on #420
Please Help Me , same problem !

[2020-09-04 05:45] vishnu-ramineni opened #445 "Audio stops working when there is an interruption in ongoing opentok session"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

[2020-09-11 11:17] ganesh-papola commented on #420
same problem with me, There is no audio on video call. also sometime the subscriber video is empty / black screen only.
no solution yet...

[2020-09-11 11:43] enricop89 commented on #420
Hello, thanks for filling the issue. Could you explain me better the steps to reproduce it please?

`but when the callee accepts a call and the app comes from background, OTSubscriber is not reproducing audio.`

This is not clear to me. What do you mean by accepts a call?

[2020-09-11 11:51] enricop89 commented on #442
@sunweiyang Sorry for the delay in this, I meant the first one you said (I thought that there was more than one subscriber).
In your use case, a simple one-one call, your approach should work.

You are setting `placeholderIsVisible` to true only when you receive the `videoDisabledWarning` event right? If so, it should work as intended.

[2020-09-12 00:57] adrian1388 commented on #420
My bad...
Please imagine a Video Call implementation (I am using [React Native Callkeep](https://github.com/react-native-webrtc/react-native-callkeep)) in which both users share each other the 'apiKey', 'sessionId' and the 'token' properties.

When one of these users receives and tap a push notification, which opens the application, it is supposed to open the OTSession window. But there is when I

[2020-09-15 09:55] nicoladj77 commented on #271
I can still see this on 0.14.0. this is my code:
[code]

showOTSession is a functional component state and can be triggered on and off. I need to do this as I have to reload the session wit different parameters.

[2020-09-16 01:00] sunweiyang commented on #442
@enricop89 I'm also setting `placeholderIsVisible` to true when i receive the `videoDisabled` event. Am I not supposed to? Am I only supposed to do it for `videoDisabledWarning`?

[2020-09-16 08:19] enricop89 commented on #442
@sunweiyang yes, sorry I didn't spot it. I think it's correct as well, so I would try debugging the code and see when the events (videoDisabledWarning and videoDisabled) are triggered but the video is visible.

[2020-09-16 15:24] yunsun330 opened #449 "Typescript issue"
I tried to install this package on my project
This package is not possible for typescript

[2020-09-17 18:00] cantayma commented on #419
Hello, is there any progress on this enhancement? This is a pretty time intensive blocker for our team at the moment. We would love to implement it with the OTPublisher to avoid some pretty nasty bridge code. Much appreciated!

[2020-09-28 14:18] t4ngth00 commented on #312
@akandaurov I can see that using TextureViews will make Android devices hot quicker and drain more battery than keep using the default GLSurfaceView.

[2020-09-28 22:48] t4ngth00 commented on #419
@cantayma I have done that flashlight toggle feature on our private project for both iOS and Android by using custom VideoCapturer with native codes and React native bridge methods. As stated that is not officially supported library, I suggest your team should fork this library and implement your own CustomVideoCapturer for both iOS and Android. By doing that, not only you can easily customize you

[2020-09-28 22:51] t4ngth00 commented on #449
It's related to this PR https://github.com/opentok/opentok-react-native/pull/408

[2020-09-28 23:41] t4ngth00 commented on #302
@sunweiyang are you using TextureView to render the Publisher and Subcribers (using the useTextureView=true in sessionOptions )? I noticed that my Oneplus 7T was getting hot quickly if TextureView was used so I decided to keep the default GLSurfaceView as the renderer for both Publisher and Subsribers. The tradeoff for using GLSurfaceView is the zIndex + borderRadius styles issues :D but the zInde

[2020-09-29 00:01] sunweiyang commented on #302
@t4ngth00 No, we are currently not using TextureView; our implementation of this library is fairly standard.

[2020-09-29 05:51] t4ngth00 commented on #302
Alright, then it's another issue. I remembered that you mentioned in some of your posted issues here you are using 100% native android development for your production now. Did the hot issue happen there?

[2020-09-29 10:25] alexbrazier opened #450 "Not officially supported"
This line has recently been added to the top of the readme in #447:

Are you able to clarify what this means for the repo?
- Does it mean there will be no more updates to the repo, e.g. updating the native sdk to `2.18.x`, or bug fixes;
- or development will just be a bit slower but you will still update it and merge pull requests?

Do we need to fork this repo and maintain it separately or should

[2020-10-14 09:32] jaydenmaddison opened #451 "I need to rotate video pre publish"
I got the following email from Vonage which shows how it would be done in a Swift, does anyone here know how this is best achieved in React Native?

[code]

[2020-10-16 08:24] enricop89 commented on #451
@jaydenmaddison hey, thanks for the question.
For this use case, I think we would need to add a bridge between the JS and native layer, to edit video frame orientation

[2020-10-16 08:28] jaydenmaddison commented on #451
@enricop89 yes it needs a custom video capturer any chance you could help with this?

[2020-10-16 08:30] enricop89 commented on #450
Hi @alexbrazier, although I understand your concerns about the statement, I just wanted to clarify that nothing has changed recently, all of our accelerator sample code and apps are officially community-supported and this has always been the case.

This means it is supported by our user base and also is internal developer relation team on a best effort basis.

[2020-10-16 08:30] #450 closed

[2020-10-16 08:31] enricop89 commented on #449
Closing since related to #408

[2020-10-16 08:31] #449 closed

[2020-10-20 09:29] DanielMenke opened #453 "BasicVideoChat UI is not displayed. "Could not find generated Setter" & "not allowing consideration lib/x86/libopentok.so""
# Bug Report

**Current behavior**
Starting up the example app BasicVideoChat. All credentials provided (Using a publisher token) on Android. Tested on phsyical device and on emulator device

Emulator Device: Pixel 3, API 29
Physical Device: Pixel 3, Androd 11

**Steps to reproduce**
Follow the instructions to start the android app

**Example Project**
BasicVideoChat

**What is the current *bug* b

[2020-10-20 18:24] mzruiz commented on #214
@msach22 Hola! Is there any update on this feature?

[2020-10-21 15:06] spyshower opened #454 "OT.connect() fails, and I see a blank screen."
# Bug Report

**Current behavior**
I see nothing in the screen. The module fails at `OT.connect()` in `OTSession.js`.

**Steps to reproduce**
Add the basic example code provided in the repo alongside with `token`, `sessionId` and `apiKey`.

The following doesn't work:

[code]

[2020-10-21 16:03] enricop89 commented on #454
Did you enable camera permissions? https://github.com/opentok/opentok-react-native#installation Point 9

Are you able to repro with (samples)[https://github.com/opentok/opentok-react-native-samples/tree/master/BasicVideoChat]?

[2020-10-21 16:05] spyshower commented on #454
Forgot to mention that I only tested Android. And yes, I have approved camera permissions.

/BasicVideoChat]?

Will do so and reply back.

[2020-10-22 21:40] irevived1 commented on #414
We also have the same problem.
Is this resolved yet?

[2020-10-26 07:54] vishnu-ramineni opened #455 "Android app with API level 29 crashes - Error while updating property 'streamId' of a view managed by OTSubscriberViewManager"
Android app details
opentok-react-native(v0.14.0)
[code]

<img width="399" alt="Screenshot 2020-10-26 at 1 20 39 PM" src="https://user-images.githubusercontent.com/63717306/97146791-7aebca00-178e-11eb-922a-1108c1a4dcd2.png">

[2020-10-26 09:53] enricop89 commented on #455
Can you please add steps to reproduce?

[2020-10-26 12:01] spyshower commented on #454
@enricop89 The sample project works fine, although it uses RN 0.59.9 and I use 0.63.3. It also uses an older version of this package so I tried installing it too but had no luck.

I also tried linking - still doesn't work.

[2020-10-26 12:03] enricop89 commented on #454
@spyshower https://github.com/enricop89/multiparty-video-react-native try out this one please, it uses the latest RN and Opentok RN

[2020-10-26 13:40] spyshower commented on #454
@enricop89 Turns out if was a token error; got to that conclusion from the logs in the new repo you pointed me at. Thank you for your help 👍

[2020-10-26 15:58] #454 closed

[2020-11-03 13:59] mzruiz commented on #405
Hola,

Here is the solution we are using to show a small video on top of another. Our project is using TS in all places but this component.

**conference.js**
[code]

**styles**
[code]

Which results in a working version for both iOS and Android:
<img width="335" alt="Screen Shot 2020-11-03 at 8 58 32 AM" src="https://user-images.githubusercontent.com/51554976/97993956-c156af80-1db2-11eb-86ea-2449

[2020-11-04 14:23] #451 closed

[2020-11-04 14:24] jaydenmaddison commented on #451
Solved this on a forked repo

[2020-11-05 22:08] rrnara commented on #414
I have the changes in a forked branch to fix this issue:
[https://github.com/opentok/opentok-react-native/compare/master...rrnara:master](Compare repos)

It would be great if someone who owns this branch to review/merge this here

[2020-11-05 22:11] rrnara opened #457 "Android Screen Sharing changes"
I have changes here which allow sharing screen even when outside the app, it would be helpful if it is actually merged here instead. Can anyone review/merge it?

https://github.com/opentok/opentok-react-native/compare/master...rrnara:master

[2020-11-06 08:51] enricop89 commented on #457
@rrnara can you open a Pull Request please?

[2020-11-06 08:51] #457 closed

[2020-11-06 16:37] rrnara commented on #457
I don't seem to have permissions to push to a branch, which is why asking if someone can do it

[2020-11-06 16:47] enricop89 commented on #457
You need to fork the repo and push the branch :) Instructions here: https://github.com/opentok/opentok-react-native/blob/master/CONTRIBUTING.md

[2020-11-06 18:05] rrnara commented on #457
Thanks, created a PR here: https://github.com/opentok/opentok-react-native/pull/458

[2020-11-16 03:00] 0x1bitcrack3r commented on #455
the [fix](https://github.com/opentok/opentok-react-native/pull/456) has been made we can close this issue

[2020-11-16 11:39] RockinGarg opened #459 "Change Audio/Video Subscription for Publisher and Subscriber"
How to update below property on RUNTIME

[code]

I looked at issues but couldn't find any Proper Solution for this.

I tried changing **OTPublisher** _properties_ field and also _streamProperties_ but none worked

I even passed static values to those 4 nothing worked

NOTE: using iOS Simulator

I am not using Any native code all in react-native.

This works well if I pass true/false while initiali

[2020-11-17 16:20] Asalem1 commented on #391
@enricop89 I think I'm running into a similar issue where I'm unable to forceDisconnect (or even disconnect) using the `OTSession`.

[code]

In this case, my expectations would be that the `Session` that's being referenced by the `OTSession`would generate a valid Session object with the `disconnect` property:

https://tokbox.com/developer/sdks/js/reference/Session.html#disconnect

Since it seems l

[2020-11-17 16:31] enricop89 commented on #391
@Asalem1 can you try by calling **disconnectSession** and not disconnect please?

[code]

[2020-11-17 16:32] Asalem1 commented on #391
@enricop89 yup, was just about to comment on this saying that's the trick.

Did some digging in the source to find that out. Any chance we can get an update on the docs to make that explicit? Or at least a link in the docs to somewhere that declares the session props?

[2020-11-17 17:19] enricop89 commented on #459
if the properties are in the React state and you call `setState`, the props are updated.
Please check here a working example: https://github.com/enricop89/multiparty-video-react-native/blob/master/App.js#L112

[code]

[2020-11-18 03:59] RockinGarg commented on #459
I have done same @enricop89

here are my properties
[code]

This is how I toggle
[code]

after setState `Render()` function is called I also added `console.log` statement in `render` function and also verified value of `publishAudio` is changed

I have created different React.component for publisher and subscriber and just call on main screen like below.

[code]

NOTE: `OTPublisherView and OTSubsc

[2020-11-18 04:13] RockinGarg commented on #459
Updating Code Syntax and Formatting in sequence for readability

[2020-11-18 16:21] enricop89 commented on #459
@RockinGarg on your custom OTPublisher, I think you should use the `props.publisherProperties` (passed down by the main file) and not the state of the component.

[code]

[2020-11-19 05:34] RockinGarg commented on #459
Does it means all the subscriber properties including stream properties and all publisher properties need to be controlled from same component where session is created. ?

[2020-11-19 09:06] enricop89 commented on #459
Absolutely not, but this is how React works. If you are changing the state of the parent component, to see the reflected changes in the child component, you need to use the props that you passed from the component.

https://reactjs.org/docs/lifting-state-up.html

[2020-11-19 13:27] RockinGarg commented on #459
Hi
I did passed some property from parent to child but that’s unused from start
I’ve configured and initiated OTPunblisher in child class and called that in parent class.
Parent class has OTSession and child has OTPublisher (setting and all properties are there only)

[2020-11-23 04:34] RockinGarg commented on #459
Adding code for Details

import React from "react";
import { View, TouchableOpacity, Image, StyleSheet } from "react-native";
import PropTypes from 'prop-types';
import { OTSession, OTPublisher, OTSubscriber } from 'opentok-react-native'

const expandImage = require('../assets/images/expandView.png');
const volumeOnImage = require('../assets/images/volumeOn.png');
const volumeOffImage = require('.

[2020-11-23 06:21] RockinGarg commented on #459
I even moved OTPublisher out of my custom class
still I got same output
Audio doesn't get stop publishing

[code]

[2020-11-23 06:25] RockinGarg commented on #459
@enricop89

[2020-11-26 11:32] Lemaro86 opened #460 "Android subscriber wrong video scaling from landscape publisher"
**Current behavior**

**Steps to reproduce**

`
...otherProps,
publisherProps: {
				audioBitrate: 40000,
				audioFallbackEnabled: true,
				audioTrack: true,
				videoTrack: true,
				videoSource: 'camera',
				cameraPosition: 'front',
				frameRate: 30,
				name: '',
				publishAudio: false,
				publishVideo: false,
				resolution: '1280x720',
			},
			subscriberProps: {
				subscribeToAudio: t

[2020-11-30 11:16] Lemaro86 commented on #460
If I'll change resolution to 640*480 it can be fixed, but it's bad idea for me and my project.

[2020-12-19 08:33] deepakverma4 opened #462 "Android crash - Error while updating property 'streamId' of a view managed by OTSubscriberViewManager"
![Screenshot_2020-12-19-13-57-21-00_5db42c1825fa5eb6b46927e4464f44b6](https://user-images.githubusercontent.com/31440793/102684948-ebe5b600-4202-11eb-83c5-16a7e966627b.jpg)

I'm facing this crash randomly when a user who shares screen leaves meeting.  Any idea why is it happening?

[2020-12-19 08:35] deepakverma4 commented on #462
@msach22 Bro any idea why is it happening?

[2020-12-22 17:29] tusharpsychonline commented on #441
Hello mesasSawwaf,

Were you able to get that resolved? I tried and I see cropped screenshare, only the middle section is visible.

[2020-12-29 17:24] dl748 commented on #462
I'm having the same error in a different section of code.

[code]

Looks like mPublisher is NOT null. and getSession() is returning a session, but getSessionId() is returning null.  I'm wondering if there is some disconnection after the publish but before the render.

[2021-01-04 16:17] voxiel commented on #445
I'm facing the same problem. Have you found a solution?

[2021-01-05 09:23] minuitagency commented on #445
Hi, same issue here

[2021-01-05 17:34] voxiel commented on #445
I finally got it! I created a service for the connection and used a custom audio driver. Got the code for custom audio driver here:

https://github.com/opentok/opentok-android-sdk-samples

Hope it helps!

[2021-01-07 09:19] manikandana2z commented on #380
Hi sunweiyang,

     I am Manikandan. Currently, I am working in PIP mode - OpenTok. I have followed your code. But, PIP is not working for me. Can you guide me?

[2021-01-07 10:38] kr1x opened #465 "Give access to Publisher instance"
# Feature Request

**Description**

I am currently trying to make a react-native app with a publisher screen. This screen displays my own camera and of course publishes it to a subscriber. My own camera resolution is 3:4 and therefor, the rest of the screen is black. Now I want to start an interval that fetches the current img data every 3 seconds and puts this as a blurred background image.

With

[2021-01-08 20:59] evillemez commented on #420
So I can't add anything very specific - because the behavior is inconsistent for us.  But, we have had increasing reports from users of our app that they will end up in a call where one side cannot hear audio from the other side, but both are receiving video fine.

In some cases I have also verified via the Tokbox Inspector that both sides were subscribed to each other and receiving both audio and

[2021-01-11 09:05] enricop89 commented on #420
@evillemez thanks for your comment. We are aware of audio issues on iOS 14.2 ([webkit-issue-1](https://bugs.webkit.org/show_bug.cgi?id=218762) and [webkit-issue-2](https://bugs.webkit.org/show_bug.cgi?id=218762).
but they are all related to Safari, not to the native SDK.

Are your users able to connect only using the app or also using Safari?

[2021-01-21 13:10] team3rddigital opened #467 "we have implement voice call using opentok in backend and mobile app both, mobile to mobile and web to web voice call working fine, but in mobile to web voice not heard in web."
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2021-01-25 10:50] smartsatheesh commented on #440
<TouchableOpacity
          style={BTN_ICON_CLOSE}
          onPress={() => session.current.disconnectSession()}>
          <Icon icon='callClose' />
        </TouchableOpacity>

[2021-01-26 18:42] ggoldens commented on #455
Closing this PR since the fix was released in 0.15.0.

[2021-01-26 18:42] #455 closed

[2021-01-29 11:57] Pyroboomka commented on #443
Bumping this one, cause having similar issues.

In our app flow we had this error happing quite frequently based on sentry reports. We tried to move permissions handling to react native side and do not mount session/publisher/subscriber components until permissions are granted. But our case is a little bit different since we allow audio-only calls - so we mount components when we have **at least**

[2021-02-03 13:27] JB-CHAUVIN opened #470 "Crash : HALB_IOBufferManager::GetIOBuffer: the stream index is out of range"
Hello,

With the latest version, my app is not working anymore.

I tried on iOS 12.4.

It was working fine before upgrading open tok.

"opentok-react-native": "0.15.0",
pod 'OpenTok', '2.18.1'

2021-02-03 12:34:26.853337+0100 Docavenue[14484:203232] [AudioHAL_Client] HALB_IOBufferManager.cpp:226:GetIOBuffer:  HALB_IOBufferManager::GetIOBuffer: the stream index is out of range
2021-02-03 12:34:26.8

[2021-02-03 17:06] enricop89 commented on #470
Thanks for filling the issue. Can you try to reproduce it on https://github.com/opentok/opentok-ios-sdk-samples/tree/master/Basic-Video-Chat with `pod 'OpenTok', '2.18.1'` please?

[2021-02-10 09:57] christophby commented on #441
@menasSawwaf @tusharpsychonline did you fix it somehow?

[2021-02-10 10:41] christophby commented on #460
@Lemaro86 did you find another fix?

[2021-02-10 13:15] Lemaro86 commented on #460
No, It hasn't fixed yet

[2021-02-10 19:59] sumeet07 opened #471 "Please update package.josn with new axios version"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

Currently package is dependent on "axios": "^0.19.0" which has high security vulnerability. Please update to version "0.21.1"
---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issue

[2021-02-15 14:24] deermichel opened #472 "Contain whole video in SubscriberView (vs. zoom to fit)"
Is there a way to set the SubscriberView's display mode to contain the whole video (potentially with black bars) rather than zoom it to cover the view area? Currently, we loose content at the edges of the video when publishing a 3:4 stream to a 9:16 subscriber (we use fullscreen views in our application, this is a problem especially when mixing portrait & landscape streams). If this behaviour cann

[2021-02-15 15:18] deermichel commented on #472
Ok, i figured out that the native SDKs for iOS and Android offer a property to change the view scale behavior. I'll try to create a PR with the property passed through to the RN components.

[2021-02-17 11:52] deermichel commented on #472
PR is up: https://github.com/opentok/opentok-react-native/pull/474.

[2021-02-17 11:52] #472 closed

[2021-02-26 10:49] adrienrx commented on #302
Just released a new version of our app using TextureView. If you're doing HD Processing and intensive call use case, NEVER use it. Rolling back To GLSurfaceView

[2021-02-26 16:23] mbouxin opened #475 "Video behaving disturbingly in split screen mode on iPad"
# Feature Request

**Description**
I use opentok-react-native in my application and it works fine.

On iOS when entering background, the sound keeps on being played but the video is not published anymore.
This is specially disturbing when using the split screen mode on iPad because in this case you see the application but the video may not be working if the application is not the active one.

I'd

[2021-03-02 12:32] avinashyalgonde commented on #459
So far I tried this and worked for me.

const handleSetAudio = () => {
    console.log('Audio change', audio);
    setAudio(!audio);
  };

  const handleSetVideo = () => {
    console.log('Video change', video);
    setVideo(!video);
  };

<OTPublisher style={{ width: width, height: height, position: 'relative' }}
                  properties={{
                    audioTrack: audio,

[2021-03-02 12:37] avinashyalgonde commented on #438
@Ayubbabaxelits able to resolve this?

[2021-03-02 12:58] Ayubbabaxelits commented on #438
No

[2021-03-02 13:47] avinashyalgonde commented on #438
@Ayubbabaxelits I tried something and its working for me. Check if can resolve the issue on your side.

const sessionRefr = useRef(null);

Disconnect action - sessionRefr.current.disconnectSession();

<OTSession
        sessionId={sessionID}
        token={token}
        eventHandlers={sessionEvents}
        ref={sessionRefr}
        onError={onError}

[2021-03-02 13:50] avinashyalgonde commented on #391
@enricop89 const sessionRef = useRef(null); and other things worked for me. Thanks man..!

[2021-03-02 14:13] Ayubbabaxelits commented on #438
Ok avinash i will try it

[2021-03-02 15:35] enricop89 commented on #438
https://github.com/opentok/opentok-react-native/issues/391#issuecomment-729045901

[2021-03-05 16:27] sruli opened #476 "Lots of warnings in build for latest OpenTok pod (2.19.0)"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**What is the current *bug* behavior?**

[code]

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

[2021-03-16 01:35] ianebstein opened #477 "Compatibility with React Native 0.64"
# Bug Report

**Current behavior**
Initializing an OpenTok session results in a crash.

**Steps to reproduce**
1. Update your app to React Native 0.64
2. Initialize instance of OpenTok

**What is the current *bug* behavior?**
Full OT.js crash

**What is the expected *correct* behavior?**
Initialization as usual

**Relevant logs and/or screenshots**

[code]
![image](https://user-images.githubuserco

[2021-03-18 17:56] sruli commented on #476
I was asked to include crash reports that may be related. Here are examples:
https://gist.github.com/sruli/c7e66564a39127a074270fdd4696f049
https://gist.github.com/sruli/3989d5550b98c55789032d1399ab821d

[2021-03-22 14:09] xXDeonoXx opened #479 "sometimes camera and microphone don't seem to work when connecting to a session"
when connecting to a Session sometimes this problem happen, the only way to "fix" that is disconnecting and connecting again to the Session, i've implemented the error and otrnerror events in all 3 OT pieces and any of them have caught any error or exception.

in [this video](https://streamable.com/ooajlv) you can see it is already connected but had to go back and reconnect to have functional audi