[2021-03-22 16:07] enricop89 commented on #476
@sruli thank you for filing the issue. The target is to fix it on the next version release 👍

[2021-03-22 16:09] sruli commented on #476
Awesome thank you 🙏

[2021-03-22 16:09] #476 closed

[2021-03-22 16:15] enricop89 commented on #479
@xXDeonoXx is it normal that there are not OTSession or OTPublisher component in the render function? 🤔

Additionally, do you have clear steps to reproduce it? If so, can you try with https://github.com/opentok/opentok-react-native-samples?

[2021-03-22 16:32] xXDeonoXx commented on #479
The OTSession and OTPublusher are in the styles, we use styled components to style the opentok components, you can check they [here](https://pastebin.com/E4yyGA6j) in my pastebin.

Container = OTSession
MyCamera = OTPublisher
Subscriber = OTSubscriber

i wish we had, this problem is a little bit random, when me and my coworkers test it in dev enviroment, 1 in 40 chances of this problem happening,

[2021-03-22 18:16] davibarberini opened #480 "Can't use borderRadius on <OTPublisher> is there a way to do it?"
I'm trying to have a rounded publisher view, but it seems like OT only ignores the style attribute.
Am i missing some kinda of way to do it?

Ty

[2021-03-23 11:01] flogy commented on #477
Receiving the exact same issue. Thanks for the patch!

[2021-03-29 23:12] cristian473 commented on #480
+1

[2021-04-07 14:56] it-bp-msc commented on #462
@dl748, have you found any ways to deal with the issue you encountered? Thanks

[2021-04-07 19:31] dl748 commented on #462
@it-bp-msc we narrowed it down to a permission check on android. If we let OpenTok do the permission check, it executed "twice", once for video, once for audio (each box). When we asked for permission BEFORE we instantiated OpenTok (aka we did it ourselves), the error went away.

[2021-04-08 06:22] it-bp-msc commented on #462
@dl748 , could you please tell me where exactly did you ask for the permissions? Is it somewhere in the native part or inside the JS module? Thanks

[2021-04-09 07:04] it-bp-msc commented on #462
@dl748 , thanks for you insights 👍🏻

[2021-04-09 10:07] Zydus001 opened #483 "Audio shifted from Speaker to Handset automatically"
I received a call during the VD call, declined the call, as soon as I went back to the VD call, the Audio shifted from Speaker to Handset automatically, so I had to leave & re-join the call.

(I was not using earphones during the entire call)

[2021-04-09 10:12] Zydus001 opened #484 "Screen sharing start/stop"
In RN application we are using opentok-react-native": "0.15.0" library.

We are facing issue while we are sharing the screen and stop screen. Same issue reported by many people here: https://github.com/opentok/accelerator-sample-apps-ios/issues/15

[2021-04-10 22:06] nicholasio commented on #462
We were able to fix this issue with this fix: https://github.com/10up/opentok-react-native/pull/2/files

[2021-04-16 16:08] birdwell commented on #477
Any update on when this will be out?

[2021-04-19 04:39] rktalusani commented on #483
@Zydus001 you are testing on iOS/iPad correct?

[2021-04-19 04:44] Zydus001 commented on #483
This is happening in mobile phone (iOS/Android).

On Mon, 19 Apr 2021, 10:09 rajkiran talusani, ***@***.***>
wrote:

[2021-04-23 10:39] enricop89 commented on #483
Close as the customer wasn't using react-native.

[2021-04-23 10:39] #483 closed

[2021-04-23 16:57] mehulTank commented on #286
I am getting the same issue if we are calling from the same platform i.e Android to Android it is working fine but if calling from ios to android then Video is displaying but the audio is not getting audio is lost.

[2021-04-23 16:57] mehulTank commented on #445
I am getting the same issue if we are calling from the same platform i.e Android to Android it is working fine but if calling from ios to android then Video is displaying but the audio is not getting audio is lost.

[2021-04-26 08:45] chaawlaapooja commented on #402
Has someone achieved this on android?

[2021-04-26 08:56] chaawlaapooja commented on #415
@adaerodriguez You'll have to explicitly switch the audio output to `headphones`.

I achieved this with the help of `react-native-switch-audio-output`

Here is the code that you can help you :

if you explicitly want user to switch to headphones by selecting an option :
`RNSwitchAudioOutput.selectAudioOutput(RNSwitchAudioOutput.AUDIO_HEADPHONE)`

if you automatically want to detect it with the hel

[2021-04-27 04:10] smkamranqadri commented on #414
is anyone know how to share other app screen in iOS?

[2021-04-27 04:13] smkamranqadri commented on #23
can we share screen from other app in iOS?

[2021-04-27 05:53] sunweiyang opened #494 "Update native Android and iOS SDKs to 2.19.1?"
This package seems to be using the 2.18.1 Android and iOS SDKs from last October. 2.19.1 includes many significant improvements (performance, memory, and bug fixes), and opentok-react-native can benefit from them. Is it possible to bump the SDKs?

[2021-04-28 10:33] mbouxin commented on #477
A patch actually matching what was node before would be

[code]

[2021-04-28 10:54] surenderkhowal91 opened #496 "iOS 14 Audio Not Working"
We are using opentok in app Android device to Android and iOS to Android everything working fine but when we call from Android to iOS Audio stopped automatically after 4-5 second on both side.

[2021-04-28 11:02] surenderkhowal opened #497 "Audio not working properly"
We are using opentok in app Android device to Android and iOS to Android everything working fine but when we call from Android to iOS Audio stopped automatically after 4-5 second on both side.

[2021-04-28 11:03] #496 closed

[2021-04-30 09:16] abdulajet commented on #477
Thanks for the contribution, solved this issue in 0.17.0

[2021-04-30 09:16] #477 closed

[2021-04-30 09:16] abdulajet commented on #471
Thanks for the contribution, solved this issue in 0.17.0

[2021-04-30 09:16] #471 closed

[2021-05-02 07:45] chaawlaapooja opened #500 "Can we have earpiece option available for audio output source?"
# Feature Request

**Description**

Problem : No support for earpiece option

Goal: I am using opentok-react-native in my project and my goal is to allow the user to use phone(earpiece), speaker and bluetooth options.

Use case: If someone needs to have privacy while streaming for audio-only calls, there can be two things to achieve that - earpiece or headphones. For instance, if the headphones ar

[2021-05-07 18:56] pedrobslisboa commented on #382
@enricop89 I'm facing a similar problem:

Somehow if you have someone in your call it crashes. I'm using this sample https://github.com/enricop89/multiparty-video-react-native/blob/master/App.js

![Kapture 2021-05-07 at 15 51 23](https://user-images.githubusercontent.com/35539594/117495669-55652780-af4c-11eb-9912-34f3df4b4458.gif)
![Kapture 2021-05-07 at 15 53 47](https://user-images.githubusercon

[2021-05-09 18:40] Kunal-KP opened #502 "Subscribers are not able to hear/see the audio/video from a video played while screen sharing"
# Bug Report

**Current behavior**
When the publishers shares their screen which plays a video in a webview, none of the subscribers are able to see the video, nor are they able to hear the audio from the video. The video screen shows a dormant screen. Even the publishers own audio is not audible.

**Steps to reproduce**
1) Start a session containing many participants.
2) Allow the publisher to sh

[2021-05-10 17:28] msach22 commented on #502
Maybe @ggoldens or @enricop89 can help :)

[2021-05-11 12:17] abdulajet commented on #343
Thanks for the issue, since it has been a while since it has been posted, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue. Thanks again

[2021-05-11 12:18] #385 closed

[2021-05-11 12:20] #438 closed

[2021-05-11 12:20] #391 closed

[2021-05-11 12:21] #440 closed

[2021-05-14 12:18] pedrobslisboa opened #503 "'OTSubscriberView' only refers to a type, but is being used as a value here"
# Bug Report

**Current behavior**

- Problem with TS and OTSubscriberView

**Steps to reproduce**

- Install v0.17.0 and import OTSubscriberView anywhere

**What is the current *bug* behavior?**

- TS is poping this error: 'OTSubscriberView' only refers to a type, but is being used as a value here.

**What is the expected *correct* behavior?**

- It should not pop this error since OTSubscriberVie

[2021-05-14 15:07] abdulajet commented on #503
I believe it's `OTSubscriber` you need? https://github.com/opentok/opentok-react-native-samples/blob/c06be49c54fe84715a672aae8e4cff1d118351e8/BasicVideoChat/App.js#L18

[2021-05-17 11:18] abdulajet commented on #502
hey @Kunal-KP can you share a project with the broken behavior so someone can take a look and help

[2021-05-17 11:20] abdulajet commented on #497
Hey can you post a project/follow the issue template please https://github.com/opentok/opentok-react-native/tree/main/.github/ISSUE_TEMPLATE

[2021-05-17 11:20] #497 closed

[2021-05-17 11:21] abdulajet commented on #484
hanks for the issue, since it has been a while since it has been posted, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue. Thanks again

[2021-05-17 11:21] #484 closed

[2021-05-17 11:22] abdulajet commented on #479
Can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue. Thanks

[2021-05-17 11:22] #479 closed

[2021-05-17 11:25] abdulajet commented on #475
Seen to be a limitation from iOS https://developer.apple.com/documentation/avfoundation/avcapturesessioninterruptionreason/avcapturesessioninterruptionreasonvideodevicenotavailablewithmultipleforegroundapps?language=objc

[2021-05-17 11:25] #475 closed

[2021-05-17 11:25] abdulajet commented on #470
Thanks for the issue, since it has been a while since it has been posted, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue. Thanks again

[2021-05-17 11:25] #470 closed

[2021-05-17 11:39] abdulajet commented on #467
Hey can you post a project/follow the issue template please https://github.com/opentok/opentok-react-native/tree/main/.github/ISSUE_TEMPLATE

[2021-05-17 11:39] #467 closed

[2021-05-17 11:44] abdulajet commented on #462
Would someone be up for PRing these changes into main? cc @nicholasio

[2021-05-17 11:47] abdulajet commented on #460
Thanks for the issue, since it has been a while since it has been posted, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 11:47] #460 closed

[2021-05-17 11:47] #459 closed

[2021-05-17 11:49] abdulajet commented on #453
The sample apps have been updated can you test them out and reopen/create a new issue if your problem hasnt been solved. Thanks

[2021-05-17 11:49] #453 closed

[2021-05-17 11:50] abdulajet commented on #445
@mehulTank is your issue to do with call interruptions?

[2021-05-17 11:51] abdulajet commented on #444
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 11:51] #444 closed

[2021-05-17 11:54] abdulajet commented on #443
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue

[2021-05-17 11:54] #443 closed

[2021-05-17 13:17] pedrobslisboa commented on #503
@abdulajet actually I want more than one view at OTSubscriber, so I need OTSubscriberView as a child of OTSubscriber.

OTSubscriber works as well as a render prop returning `subscribers: string[]` so you can have multiple and custom subscribers. Correct if I'm wrong but seems the only way to have it.

[2021-05-17 15:43] abdulajet commented on #414
@rrnara can you create a pull request please?

[2021-05-17 15:46] abdulajet commented on #441
seems like a duplicate of #439

[2021-05-17 15:46] #441 closed

[2021-05-17 15:48] abdulajet commented on #432
Hey can you post a project/follow the issue template please https://github.com/opentok/opentok-react-native/tree/main/.github/ISSUE_TEMPLATE

We have released a new version of the library so try it and see if it helps

[2021-05-17 15:48] #432 closed

[2021-05-17 15:50] #431 closed

[2021-05-17 15:50] #410 closed

[2021-05-17 15:53] abdulajet commented on #426
This seems like a bug with react-native? We have updated the library to the lastest version, try it out and see if it fixed your issue

[2021-05-17 15:53] #426 closed

[2021-05-17 15:53] #424 closed

[2021-05-17 16:01] abdulajet commented on #417
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 16:01] #417 closed

[2021-05-17 16:04] abdulajet commented on #416
Maybe something in #122 can help?

[2021-05-17 16:08] abdulajet commented on #415
Thanks @chaawlaapooja

[2021-05-17 16:08] #415 closed

[2021-05-17 16:10] abdulajet commented on #413
We have update the library, give it a try and see if it fixes your issue https://github.com/opentok/opentok-react-native/releases/tag/v0.17.0

[2021-05-17 16:10] #413 closed

[2021-05-17 16:11] abdulajet commented on #409
@joekim did you make the PR?

[2021-05-17 16:11] #407 closed

[2021-05-17 16:11] abdulajet commented on #405
Thanks folks

[2021-05-17 16:11] #405 closed

[2021-05-17 16:19] abdulajet commented on #398
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 16:19] #398 closed

[2021-05-17 16:23] abdulajet commented on #384
The samples are running swift 5, maybe compare your projects. https://github.com/opentok/opentok-react-native-samples

Double-check you added the bridging header from the install instructions

[2021-05-17 16:23] #384 closed

[2021-05-17 16:24] abdulajet commented on #382
@pedrobslisboa which version if the native library are you running?

[2021-05-17 16:25] #396 closed

[2021-05-17 16:26] abdulajet commented on #397
Can you try the latest version of the library?

[2021-05-17 16:27] abdulajet commented on #380
Thanks @sunweiyang

[2021-05-17 16:27] #380 closed

[2021-05-17 16:28] abdulajet commented on #377
Try a `pod deintegrate` before installing

[2021-05-17 16:28] #377 closed

[2021-05-17 16:29] abdulajet commented on #366
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 16:29] #366 closed

[2021-05-17 16:29] #362 closed

[2021-05-17 16:29] rrnara commented on #414
I created a PR which was rejected: https://github.com/opentok/opentok-react-native/pull/458. I don't have time to go through all validations now

[2021-05-17 16:29] #353 closed

[2021-05-17 16:30] #352 closed

[2021-05-17 16:30] abdulajet commented on #346
Thanks for the issue, can you check out the latest version of the library, and if your issue has not been resolved please reopen/create a new issue.

[2021-05-17 16:30] #346 closed

[2021-05-17 16:32] abdulajet commented on #414
@rrnara cheers, ill get some CI going then ill ping you on there

[2021-05-18 08:07] rktalusani commented on #314
@abdulajet can you please add this item to your list?

[2021-05-18 09:32] enricop89 commented on #503
Hi @pedrobslisboa, thanks for filling the issue. I think the problem is with this [line](https://github.com/opentok/opentok-react-native/blob/main/%40types/index.d.ts#L423).

It should be

[code]

Can you give it a try as well? IF your feedback is positive, I will create a PR.

[2021-05-19 06:23] Shivani12345 commented on #414
how can we share screen outside of application or when app is in background?

[2021-05-19 07:14] Kunal-KP commented on #502
Hi @abdulajet, let me try to explain the scenario with a couple of snippets:

When i am clicking on share screen button i am creating a new <OTPublisher> object:
                    {isScreenShareEnabled
                          ? (
                            <OTPublisher
                              properties={{
                                videoSource: 'screen',

[2021-05-19 19:49] pedrobslisboa commented on #503
@enricop89 I've created an pull request about it https://github.com/opentok/opentok-react-native/pull/505

We can work on it 😁

[2021-05-20 10:05] Shivani12345 commented on #289
can we add multiple publisher or create multiple host just like multiple subscriber added here with react native?

[2021-05-20 15:47] hanishsharma31 commented on #437
I am facing the same issue. Below code is not working

OT.changeCameraPosition(publisherId, publisherProperties.cameraPosition);

I am changing the cameraPosition programatically and passing the updated value to the above code. But when I use OT.publishAudio(publisherId, publisherProperties.publishAudio) or OT.publishVideo(publisherId, publisherProperties.publishVideo) the cameraPosition changes.

[2021-05-21 09:08] adityasingh02 opened #506 "Swift Compiler error with XCode 12.5"
# Bug Report

**Current behavior**

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

The following build commands failed:
        CompileSwift normal x86_64 /../../../app/node_modules/opentok-react-native/ios/OpenTokReactNative/Utils/EventUtils.swift
        CompileSwift normal x86_64 /../../../app/

[2021-05-25 12:09] Alan-Billi commented on #271
Hello,

we're still facing this issue with the last release.
It seems that the OTSubscriber view is not unmounted which result in multiple DOM elements created when a user is disconnecting/reconnecting to a session.

Thanks.

[2021-05-26 09:39] enricop89 commented on #271
Hi all, we have deployed `0.17.1` with the changes from #374.

Please let us know if it fixes the issue. Thanks again to everyone 😀

[2021-05-26 09:39] enricop89 commented on #503
Solved with `0.17.1`. Thanks for the PR @pedrobslisboa !

[2021-05-26 09:39] #503 closed

[2021-05-26 10:02] abdulajet commented on #506
can you try running the sample in xcode 12.5? https://github.com/opentok/opentok-react-native-samples

[2021-05-26 19:31] joekim commented on #409
No. I just have the change in my repro linked above.

[2021-05-27 12:09] abdulajet commented on #409
Can you make a quick PR so I can merge it upstream for everyone

[2021-05-31 09:14] flogy commented on #276
Would be interested in the code as well, @freddiecabrera

[2021-05-31 09:15] flogy commented on #173
Would required this feature as well. Is there any update on this?

[2021-05-31 15:02] JB-CHAUVIN opened #511 "Crash with latest version 17.2 (can't find uuid/v4)"
I can use the latest version because of this error :

error: Error: Unable to resolve module uuid/v4 from XXXX/Maiia/Mobile/maiia-mobile-develop/node_modules/opentok-react-native/src/OTPublisher.js: uuid/v4 could not be found within the project or in these directories:
  node_modules/opentok-react-native/node_modules
  node_modules

If you are sure the module exists, try these steps:
 1. Clear wat

[2021-05-31 15:03] JB-CHAUVIN opened #512 "Crash when starting a publisher"
crypto.getRandomValues() not supported

With latest version 1.17.2...

![image](https://user-images.githubusercontent.com/8957878/120212338-25026780-c232-11eb-8d2e-45ed4a50b02a.png)

[2021-06-02 07:28] RohitDhingra0786 commented on #484
@abdulajet In RN application we are using opentok-react-native": "0.17.2" library.

[2021-06-02 10:25] RohitDhingra0786 opened #513 "Start/Stop Screen Share not working"
opentok-react-native ="^0.17.2"
react-native =  "0.63.4"

Screen sharing is not working, on button press. I'm unable to start/stop screen share on button press.

[2021-06-02 11:41] abdulajet commented on #512
Hey can you share a sample project with this breaking? I haven't been able to reproduce with the sample apps running 0.17.2, same for #511

[2021-06-03 08:43] abdulajet commented on #513
Can you follow the issue template/share a code sample so someone can help you further

[2021-06-04 07:13] RohitDhingra0786 commented on #513
@abdulajet  Sometime stop scree-share app crash on IOS & android

[2021-06-07 05:13] RohitDhingra0786 commented on #513
@abdulajet

[2021-06-07 05:14] RohitDhingra0786 commented on #513
@abdulajet

    <OTSession
          options={
            Platform.OS === 'android'
              ? {
                  androidOnTop: 'publisher', //this one solves the overlap issue issue
                }
              : {}
          }
          apiKey={settings.opentokAppID}
          sessionId={this.sessionId}
          token={this.token}
          eventHandlers={this.sessionHandlers}>

[2021-06-15 18:41] pedrobslisboa opened #514 "OTPublisher always on top"
### Only happening on Android

# Bug Report

**Current behavior**

OTPublisher always on top of every view

**Steps to reproduce**

Try to have it on any Andriod app with a Portal component to check it

**What is the current *bug* behavior?**

OTPublisher always on top of every view

**What is the expected *correct* behavior?**

OTPublisher could be controlled with zIndex of something similar

**R

[2021-06-16 19:41] #514 closed

[2021-06-16 19:42] pedrobslisboa commented on #514
Not necessary, my mistake of not using mediaOverlay on options for zindex

[2021-06-18 05:11] LuuchoRocha commented on #349
I have the same issue with another samsung phone. Is clear where the issue comes from:

`android/src/main/java/com/opentokreactnative/OTSessionManager.java`

[code]

As you can see:
[code]
The initPublisher method doesn't accept the `facingMode` parameter and using `cameraPosition` only triggers a `cycleCamera()` and will fail picking the correct camera if the device has more than two cameras.

[2021-06-18 05:15] LuuchoRocha commented on #386
I have the same issue. Is clear where the issue comes from:

`android/src/main/java/com/opentokreactnative/OTSessionManager.java`

[code]

As you can see:
[code]
### The initPublisher method doesn't accept the `facingMode` parameter.

Using `cameraPosition` only triggers a `cycleCamera()` and will fail picking the correct camera if the device has more than two cameras.
I'm working on a PR

[2021-06-18 19:08] hardikjs commented on #84
Any update on this? We need this badly and i can't make any around if someone has can please put example?

[2021-06-19 22:35] dopplerDistortion opened #517 "require('uuid/v4') throws error while packaging"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `opentok-react-native@0.17.2` for the project I'm working on.

I was getting error below while trying to run plugin

[code]

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/pa

[2021-06-20 17:33] hardikjs opened #518 "Black screen when subscriber turn off video"
# Bug Report

**Current behavior**

- The code i followed is from [here](https://github.com/enricop89/multiparty-video-react-native)
- Version i am using is 0.17.2 of opentok-react-native
- React-Native: 0.63.4

**Steps to reproduce**

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**
(![Screenshot 2021-06-20 220952](https:/

[2021-06-24 06:54] hussainsherwani commented on #150
@ggoldens This is not specific for ios , I am getting this issue on different Android devices  with latest sdk `0.17.2`

[2021-06-25 09:14] enricop89 commented on #512
This is fixed on `0.18.0`

[2021-06-25 09:14] #512 closed

[2021-06-25 09:14] enricop89 commented on #511
This is fixed on `0.18.0`

[2021-06-25 09:14] #511 closed

[2021-06-25 09:15] enricop89 commented on #517
This is fixed on `0.18.0`

[2021-06-25 09:15] #517 closed

[2021-06-25 09:15] enricop89 commented on #494
`0.18.0` has been released and has 2.20.0 on iOS and 2.20.1 on Android.

[2021-06-25 09:15] #494 closed

[2021-06-25 12:50] enricop89 commented on #462
This should be fixed with `0.18.0`

[2021-06-25 12:50] #462 closed

[2021-06-25 13:44] enricop89 commented on #518
@hardikjs you should be able to do it using `onVideoDisabled` on the subscriber object.

[2021-06-27 15:56] hardikjs commented on #518
I am closing this issue as I am able to solve it now with some efforts.

If someone has to do it in future then please refer my below solution because i don't think there is another way to do it.

[code]

[2021-06-27 15:56] #518 closed

[2021-06-28 19:33] hardikjs commented on #182
As per native code the connect has 3 arguments need to be passed

[code]

Also initSession session has 3 arguments need to be passed

Check here https://github.com/opentok/opentok-react-native/blob/f943e1c147b8bcc104fdbfa289e49edf9162f141/android/src/main/java/com/opentokreactnative/OTSessionManager.java#L128

[2021-06-29 12:00] vemir8 opened #523 "Capture image from video stream"
Is it possible to take picture from video stream?

[2021-06-29 19:13] hardikjs commented on #271
@enricop89 It's still happening with me and i am using version `0.17.2`

For me signal events are duplicated so it means event listener called 2 times and i have stored event listener object `sessionEventHandlers` in the constructor like below
[code]

I am remounting OTSession as @nicoladj77 showed above.

[2021-07-06 12:01] Iskander508 opened #524 "Crash in OTSubscriberLayout"
# Crash Report

Reported via Sentry from a user's phone (Samsung Galaxy S10, Android 11). A similar crash report to a previously reported: #462 now in the `OTSubscriberLayout`

[code]

**Relevant logs and/or screenshots**
[code]

[2021-07-06 13:58] enricop89 commented on #524
can you confirm which version of opentok-react-native are you using please?

[2021-07-06 14:05] Iskander508 commented on #524
added in the description

[2021-07-06 14:11] enricop89 commented on #524
Can you please try with the latest: "opentok-react-native": "0.18.0"

[2021-07-06 14:13] Iskander508 commented on #524
The problem is this report comes from a customer's phone. Locally we cannot reproduce this crash even on v0.17.2

[2021-07-08 16:34] hgvansh opened #526 "React native mavel is not forbidden so project not run"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2021-07-09 05:42] hgvansh opened #527 "maven url forbidden"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---
![image](https://user-images.githubusercontent.com/87142443/125028947-7e1db080-e0a6-11eb-9d65-cd0f8580150a.png)

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template

[2021-07-09 07:51] z3eshan commented on #527
Having same issue

[2021-07-09 07:57] enricop89 commented on #526
Duplicate #527

[2021-07-09 07:57] #526 closed

[2021-07-12 11:39] bishoymakkar commented on #527
![image](https://user-images.githubusercontent.com/50754913/125281533-9c89e300-e316-11eb-8635-9db54e1c2ee9.png)

[2021-07-13 05:31] NAVEENCHVSPOP opened #528 "Camera is not working in Android"
# Bug Report

**Current behavior**
When we switch front and back cameras in previous session then it is working fine but in the next session camera is not working in Android.

**Steps to reproduce**
Start session
Turn video on
Flip camera
End session
Start new session
Turn on video(Now video is going blank)
Try to flip the camera(Now video is going blank)

**What is the current *bug* behavior?**
C

[2021-07-13 10:48] theocikos commented on #527
Same issue after jcenter shutdown.

[2021-07-20 04:31] Playfrog4u commented on #527
[https://support.tokbox.com/hc/en-us/articles/360059402811-Android-SDK-available-through-maven-central](url)
Found this, looks like they did move to maven central but documentation hasn't been updated yet.
Latest version I didn't have to add the maven portion

[2021-07-21 11:22] yashukla47 commented on #396
did you find any solution @RahulJain7

[2021-07-22 07:33] thekundankamal commented on #527
Still facing issue anyone get the success to resolve the issue.

[2021-07-22 08:32] Iskander508 commented on #527
For me it works when changing from:
`maven { url 'http://tokbox.bintray.com/maven' }`
to:
`mavenCentral()`

[2021-07-22 08:35] theocikos commented on #527
In my case i was using the 0.13version and i updated to 0.17.2(not to the latest because they bumbed the ios sdk). It seems that on that version they don't depend on bintray.

[2021-07-22 18:51] rohit-32 commented on #459
This is not a bug with opentok but with the way react sets its props, so you will have to set the props using the spread operator `...
`
so your code
[code]

becomes
[code]

[2021-07-23 09:24] enricop89 commented on #527
Hi, thanks for filling the issue. Yes, we removed the `bintray` because of https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

This is how we solved in the sample app: https://github.com/opentok/opentok-react-native-samples/blob/main/BasicVideoChat/android/build.gradle#L31

[2021-07-23 18:36] hardikjs commented on #480
Same here i have given below style to the `OTPublisher` but borderRadius didn't applied to it.

[code]

[2021-07-30 15:26] chrisbruford opened #531 "enableStereoOutput is a required type despite having a default value on OTSessionSessionOptions"
# Bug Report

**Current behavior**

As per title; TypeScript gives type error `Property 'enableStereoOutput' is missing in type '{}' but required in type 'OTSessionSessionOptions'` despite having a default as [per documents here](https://github.com/opentok/opentok-react-native/blob/86ecf2f796ec67819dd133080006ba65fdc1c26c/docs/OTSession.md#setting-session-options)

**Steps to reproduce**

Create a

[2021-08-03 17:50] Alan-Billi opened #532 "On Android audio output doesn't seem to be correctly released after a call."
# Bug Report

**Current behavior**
When disconnecting from a video call we've noticed that on Android the Audio output seems affected.
If we Play some music from an other app right after the call, the overall source seems in a low quality mode.
Like if our app modified the phone global audio behavior.

Does someone already experienced this?

We're running the last version of the module.
No issues

[2021-08-09 08:35] #523 closed

[2021-08-09 08:39] vemir8 opened #533 "How to capture a frame from the publisher video?"
Hi, I was wondering how can I capture a frame from the publisher video?
As I know in the web SDK this is done with getImgData method.
Is this functionality available here?

[2021-08-11 05:00] siddharth9470 opened #534 "Publisher's video stream always shows behind the subscriber's video"
After connecting to a stream subscriber's video shows at the top. Tried to get the publisher's video at the top by setting zIndex using CSS but it's not working as expected.

[2021-08-11 17:49] devevignesh opened #535 "Camera not turning off after the publisher stream is destroyed"
# Bug Report

**Current behavior**
The issue is that after the internet connection is lost and the publisher stream destroyed, the camera is turned on

**Steps to reproduce**
1.  Session connected
2. Publisher stream created
3. Turn of mobile internet
4. Session reconnecting
5. Publisher stream destroyed (Here the microphone is turned off but the camera is *not*)
6. Session error due to a lost int

[2021-08-12 13:08] impe93 opened #536 "OTSession component doesn't update eventHandlers prop natively"
# Bug Report

## Current behavior

In the component `OTSession` the prop `eventHandlers` is updated only during the component init as proved [here](https://github.com/opentok/opentok-react-native/blob/f943e1c147b8bcc104fdbfa289e49edf9162f141/src/OTSession.js#L26) and not when prop update. This can lead to some problems.

In my case, I do some specific logic based on the subscriber `streamId` that

[2021-08-18 08:56] Punit-Vajpeyi commented on #524
I got the same issue with 0.18.0.

[2021-08-23 20:53] sunweiyang opened #537 "Crash reports: com.opentokreactnative.OTSessionManager.disconnectSession -- Attempt to invoke virtual method 'int java.lang.Object.hashCode()' on a null object"
We're seeing a number of reports of Android crashes in production:

[code]

Stack trace:
[code]

I've scanned past opentok-react-native issues, and I've only been able to find #142 from years ago, which is why I'm filing this new issue.

[2021-08-31 05:02] vishalcodiant commented on #537
same issue occured

[2021-08-31 05:09] vishalcodiant commented on #455
it is again reopens this issue occurred to me in v0.18.0
![image](https://user-images.githubusercontent.com/73869553/131445458-7196a3ab-a773-4f66-b1b0-5a108674ba29.png)

[2021-08-31 05:49] vishalcodiant commented on #462
fixed https://github.com/opentok/opentok-react-native/pull/525

[2021-08-31 05:50] vishalcodiant commented on #455
fixed https://github.com/opentok/opentok-react-native/pull/525

[2021-09-01 12:19] t4ngth00 commented on #531
It was a typing issue so you can either set a default value for "enableStereoOutput" key in your implementation of OTSessionSessionOptions object. Another way would be using [patch-package](https://www.npmjs.com/package/patch-package) to create a patch which make [enableStereoOutput]((https://github.com/opentok/opentok-react-native/blob/main/%40types/index.d.ts#L130) optional like that `enableSter

[2021-09-10 11:16] usamatekrowe opened #538 "How to reconnect to session, if session is already ended."
I want to know how to rejoin the call if one user already ends the call intentionally or by any other means.

Actually, when the screen loads the first time it mounts components and joins to the session but I did not find any way to re-join the call.

[2021-09-13 13:23] chrisbruford commented on #531
Indeed - we set to the default (false) to get around this. Would just be nice if the typings didn't force us to put this extrenuous property

[2021-09-16 07:35] hussainsherwani opened #539 "Add audioNetworkStats and videoNetworkStats event for Publisher"
# Feature Request

**Description**
with these two events we can handle the video and and audio call quality with help of packet lost information, I want to convert video call to audio if there packet lost issue at publisher end,  there is already video to audio fallback mechanism, but it convert audio lately in a very low network bandwidth.

**Proposal**
like subscriber we have audio and video net

[2021-09-23 04:45] riteshjha commented on #382
Any Solution i am facing the same problem. It is working perfectly in Simulator but crashes in Device when unmounting OTSession. i am using `"opentok-react-native": "^0.15.0",` and "react-native": "~0.63.4"

[2021-09-23 21:32] moficodes commented on #538
hey @usamatekrowe

If i understand your problem correctly, you want to connect to the same session if you get disconnected.

You can look at this example on how to do that

https://github.com/enricop89/multiparty-video-react-native

Basically you want to connect to the call with same sessionid and you should be able to rejoin.

[2021-09-24 04:40] hanishsharma31 opened #540 "Issues during video call"
Hello Team,

We are facing some issues during video call. Below are the scenarios:

1) When Internet stops working from one end then on the other end no event is received regarding the same.
2) When user mute/unmute the call and turn on/off the video then the screen blink for around 1 second.
3) When the network is slow we want to control the resolution according to the network. Is there any appro

[2021-09-24 04:44] rahult-sdei commented on #540
Hello Opentok team

[2021-09-24 04:44] rahult-sdei commented on #540
Hello Opentok Team,

[2021-09-24 04:45] rahult-sdei commented on #540
Hello Opentok Team,
We are also having similarlar kindly of implementation in our app and facing similar issues.

[2021-09-24 06:15] SwapnilNSDN commented on #540
Hi @msach22,

I am in very critical situation due to these issue like above mentioned, so please help me out if you have any solutions.

1. When Internet stops working from one end then on the other end no event is received regarding the same.
2. When user mute/unmute the call and turn on/off the video then the screen blink for around 1 second.
3. When the network is low then we want to control th

[2021-09-24 10:15] abdulajet commented on #540
Hi folks, yes, are you seeing this behaviour on iOS/Android or both and is it reproducible on the BasicVideoChat demo app we have? https://github.com/opentok/opentok-react-native-samples

[2021-09-30 23:37] mvarie commented on #150
@evillemez Still happening with OpenTok SDK 2.20.1.

[2021-10-05 11:45] enricop89 commented on #531
This will be fixed #542

[2021-10-05 11:45] #531 closed

[2021-10-14 03:49] radjivF opened #549 "back camera option is giving a blackscreen"
if i want to use the back camera the option is not working and give a black screen

[code]

![2021-10-14 at 11 38 AM](https://user-images.githubusercontent.com/5714138/137247708-db32f0b4-e8c2-43a1-b78b-8fd17d7650a2.jpg)

but the docs says and someone ```facingMode: "environment"```

few ticket have been opened already but close without solution

https://github.com/opentok/opentok-react-native/issu

[2021-10-14 10:08] enricop89 commented on #386
Thanks for reporting this. This is currently not supported at the native level so there is nothing we can do. I've already mentioned it to our Engineering team. I will leave this issue open for tracking purposes

[2021-11-01 08:26] p1yu5h commented on #119
I faced the issue "Native module can not be null", on react-native version 0.61.4 (hence, manual linking was not required). I did `cd ios/ && pod install` but it didn't do anything. The solution was to add the following line in my `Podfile` and run `pod install`:
[code]

[2021-11-04 15:32] gonzalormonja opened #551 "OT.connect error RN 0.63.3"
# Bug Report

**Current behavior**
When using the <OTSession> component, the application stops and generates an error that returns on screen: customsServers. In sessionEventHandlers the callback otrnError is triggered with the text "error connecting to session. The native instance of the session could not be found".

**Steps to reproduce**
create a react native application using "npx react-native

[2021-11-04 15:49] enricop89 commented on #551
Is this happening only with RN `0.63.3`? I believe it's something related to the latest release. A quick fix is to downgrade opentok-react-native to `0.18.0`

[2021-11-07 05:50] sunweiyang commented on #537
This crash is still occasionally occuring on opentok-react-native 0.19.0 -- help would be appreciated.

[2021-11-09 06:52] radjivF opened #552 "unable to ear the publish audio from android to web"
Hi, I'm lost I have follow all the step and i can hear from the web version but impossible to ear from the android, permission are all on (microphone and video) but still cannot have any sound

[code]

Really feeling hopeless on this one.

[2021-11-09 10:26] enricop89 commented on #552
You can inspect the session using: https://tokbox.com/developer/tools/inspector/account/all

Can you see the subscriber stream from Android? Are you publishing the audio from the web?

[2021-11-09 13:17] radjivF commented on #552
the android app can receive the sound and video from the web
the permissions is all granted on the android app.
the session doesn't show any error in the inspector and no loss of audio and video
the application web still does not receive the sound

maybe the error is from the client-side and doesn't publish the sound, not sure how to fix it?

[2021-11-10 03:25] radjivF commented on #552
this is my code on the webside

[code]

[2021-11-10 09:45] enricop89 commented on #552
What is OTStreams?

[2021-11-11 10:29] radjivF commented on #552
OTstream Must have a single child component that accepts session and stream props, eg. OTSubscriber
its the equivalent of that

[code]

it looks it's necessary to publish the subscriber

https://github.com/opentok/opentok-react#otstreams-component

I try without it and it doesn't publish anything

[2021-11-12 08:27] gautammukoo commented on #445
Hi Opentok Team,
We are facing the exact same issue in production, can you please take a look at this and fix this in priority!

[2021-11-12 09:52] yashukla47 commented on #302
@enricop89 the #434   is for mentioning the frame rate and resolution on the subscriber side,

I think the heating issue is on the publisher side, because of sharing and rendering

what is the solution for that ?

[2021-11-12 12:41] gonzalormonja commented on #551
I tried but to no avail.

It only happens with version 0.63.3, is the version that I have my apps. Later versions work great.

[2021-11-18 08:19] stanciualex commented on #502
any fix @Kunal-KP ?

[2021-11-18 09:14] stanciualex opened #553 "Publisher audio is cut off when playing a video"
# Bug Report

**Current behavior**
I have a screen that contains a opentok session and a video player. When I play the video, it plays correctly with audio, but other participants cannot hear me anymore.

**Steps to reproduce**
I have a screen that contains:
[code]

For the `VideoPlayer` I am using the `react-native-video` library for playing the video. I have also tried to use a WebView (`react-n

[2021-11-23 10:47] abhinavbussa commented on #445
We are facing the same issue on our app and it's a bug from our production. Can you please look more into this and provide a fix on priority?

[2021-11-23 10:48] gautammukoo commented on #445
@abdulajet I am facing the similar issue but on ios device. If i join a opentok video session from mobile and recieve a VoIP call in between the vonage session, as soon as i disconnect / decline the VoIP call , the audio is lost in vonage session. Whereas i don't see any changes in publisher properties. We are facing this issue in production level and is affectinf our customers, can you please hel

[2021-11-23 12:46] manupou commented on #445
We are facing same issue in production. And its impacting our customers. Can you please look into it on priority?? Thanks!

[2021-11-23 13:04] fabien0102 opened #554 "`SIGABRT` when `OTSubscriberView` is used with `Animated.View`"
# Bug Report

**Current behavior**
Combined with `Animated.View` from `react-native`, I have a `SIGABRT` error on opentok-react-native

This is blocking me to have some feedback animation for the `audioLevel` around of the stream (as in zoom for example)

**Steps to reproduce**
[code]

**What is the current *bug* behavior?**
XCode is crashing

**What is the expected *correct* behavior?**
I’m expec

[2021-11-23 13:13] fabien0102 opened #555 "Incorrect type for `OTPublisherEventHandlers.audioLevel`"
# Bug Report

**Current behavior**
`audioLevel` in `OTPublisherEventHandlers.audioLevel` is a `CallbackWithParam<string>` instead of a `CallbackWithParam<number>`

**What is the current *bug* behavior?**
When I’m printing `audioLevel`, the value is a `number` between 0 and 1, the type say that this is a `string`

**What is the expected *correct* behavior?**
This should be a `number`

**Relevant lo

[2021-11-25 15:49] abdulajet commented on #445
Can everyone share what version on the library they are using and which devices specifically are encountering the issue (so iOS 14 running on iPhone 12 etc) thanks

[2021-11-26 08:26] gautammukoo commented on #445
@abdulajet I am using opentok-react-native 0.19.0
Devices where i am facing this issue : iOS (iPhone 12, 12 mini ,10, SE 2nd gen) , Software Version (15.1, 14.7)

[2021-11-26 09:05] abhinavbussa commented on #445
@abdulajet we are using opentok-react-native  @0.19.0
We are facing on iOS devices and most of them are latest version devices
iOS (iPhone 11, 11 mini, 12, 10), Software Version (15.1, 14.7)

[2021-11-26 13:09] abdulajet commented on #445
So *only* iOS you have the issue or has anyone seen it on Android too?

[2021-11-26 14:10] NileshDeshmukh27 commented on #445
for us, the issue _only_ with IOS @abdulajet

[2021-11-29 05:12] gautammukoo commented on #445
@abdulajet only on iOS, on android its working

[2021-11-30 15:45] gautammukoo commented on #445
@abdulajet any update on this issue ?

[2021-11-30 16:20] enricop89 commented on #445
Just to be clear, does this happen also on the basic iOS app https://github.com/opentok/opentok-ios-sdk-samples-swift/tree/main/Basic-Video-Chat?

[2021-11-30 16:32] gautammukoo commented on #445
@enricop89 We are using opentok-react-native @0.19.0
I tried the similar using BasicVideoChat, it will be helpful if we get a fix for this with current package as we are facing this in production level and is a priority bug
Thanks
 link : https://github.com/opentok/opentok-react-native-samples/tree/main/BasicVideoChat

[2021-12-06 05:36] Piyush-7252 opened #556 "Audio Stops While Calling From Android To IOS"

[2021-12-06 13:46] abdulajet commented on #445
Still trying to figure it out, Can you try setting the audio session to active when your iOS application resumes from the background in the Appdelegate file? https://developer.apple.com/documentation/avfaudio/avaudiosession/1616627-setactive

[2021-12-08 13:02] gautammukoo commented on #445
Hi @abdulajet , i tried setting the AVAudioSession setActive to TRUE when app enters foreground, but still the audio doesn't work . Also to note this, whenever we try to cancel the call, the connectionDestroyed event handler is not being called which leads to my App crash

[2021-12-09 05:55] KiranRadish opened #557 "Bad Gateway (android app crash)"
# Bug Report

**Current behavior**

Not able to run application
App getting crashed on android

**Steps to reproduce**

on android click join call it will crash

**Example Project**

**What is the current *bug* behavior?**

crash

**What is the expected *correct* behavior?**

it should not crash

**Relevant logs and/or screenshots**

logs, and code as it's very hard to read otherwise.)

http://tok

[2021-12-09 06:18] KiranRadish commented on #353
Can you please explain where we need to add these lines in react-native project?

[2021-12-09 07:42] xxsnakerxx commented on #353
`android/app/proguard-rules.pro`

[2021-12-09 09:56] nishanth-saka commented on #557
same issue!

[2021-12-09 14:02] SrinuCape commented on #557
same issue!

[2021-12-10 05:27] 15110011 commented on #557
tokbox server is dead?

[2021-12-10 08:52] nishanth-saka commented on #557
bintray is dead!

[2021-12-10 09:10] enricop89 commented on #557
https://github.com/opentok/opentok-react-native/issues/527

[2021-12-10 09:10] #557 closed

[2021-12-10 09:50] Lexical-Luke commented on #557
Jcenter and bintray are dead. Suggestions appreciated.

![Screenshot 2021-12-10 at 9 53 35 AM](https://user-images.githubusercontent.com/6750242/145553837-d625758b-c22c-4bdf-8a3f-9f37055fd2d6.png)

[2021-12-10 13:10] vijayrit22 commented on #557
i am also having the same issue anyone having solution please update. Thankyou.

[2021-12-10 14:32] enricop89 commented on #557
Which version of `opentok-react-native` are you using?

[2021-12-10 14:36] Lexical-Luke commented on #557
@enricop89, I'm not even using `opentok-react-native`, I have issues with react-native itself due to bintray being down.

``

``

[2021-12-10 14:51] enricop89 commented on #557
https://github.com/facebook/react-native/issues/32734#issue-1076799635

[2021-12-10 15:06] Lexical-Luke commented on #557
@enricop89 https://github.com/facebook/react-native/issues/31165

[2021-12-10 22:20] bryanstevens314 opened #558 "Bintray sunset"
Android installation step 4 in the read me says to add "http://tokbox.bintray.com/maven" as a maven dependency which throws a 502 in the browser & android studio when attempting to build.

https://status.bintray.com states that bintray has been sunset so not sure how to proceed, my existing react native android app no longer builds because of this.

Looking online it sounds like it's possible to m

[2021-12-10 23:52] leah9227-arkus commented on #557
Guys, if you still have the bad gateway issue, you are gonna need to update the url with the new package domain. In my case the issue was related to this package:

https://repo1.maven.org/maven2/com/squareup/okhttp3/okhttp-bom/4.4.1/okhttp-bom-4.4.1.pom

So I updated the url from this:
http://tokbox.bintray.com/maven

to this:
https://repo1.maven.org/maven2

And the issue got corrected. Hopefully

[2021-12-13 06:33] abhinavbussa commented on #445
I tried this on iOS and still has the same issue.

[2021-12-13 07:23] Lexical-Luke commented on #557
@leah9227-arkus, most unfortunately this did not solve it for me.

[2021-12-15 08:26] GualbertoVannini commented on #558
Somebody can share a github repo as a substitute for `http://tokbox.bintray.com/maven`?

Before realising this problem I also deleted all cached elements so I am not able to run a project anymore also in offline mode.

[2021-12-15 08:36] GualbertoVannini commented on #557
OMG MAAAAAN Finally my project works again!

[2021-12-15 20:06] leah9227-arkus commented on #557
@GualbertoVannini I'm happy you solved your issue 👍

[2021-12-23 00:44] bryanstevens314 commented on #558
Replacing http://tokbox.bintray.com/maven with https://repo1.maven.org/maven2 as mentioned in @GualbertoVannini 's link fixed my issue and android builds are now working again. Thank you!

[2021-12-23 05:39] vsk-pvr opened #559 "How to access session capabilities object"
Is there any way to get Capabilities object upon a successfull session creation?

https://tokbox.com/developer/sdks/js/reference/Capabilities.html

[2022-01-06 09:59] rahult-sdei opened #560 "Subscribing to screen shared from web shows croped window not full in potrait mode"
Subscribing to screen shared from web shows croped window not full in potrait mode.
Any solution to get full window in mobile potratit mode

[2022-01-12 15:53] serzmerz opened #561 "Opentok initialization crash on iOS 15"
# Bug Report

**Current behavior**
There is broken behavior upon initializing opentok, using the latest react-native 0.66 and pod version 2.20.2.
We receive a crash when opentok tries to initialize itself.

**Steps to reproduce**
App crashes randomly in production and in e2e tests using detox

**What is the current *bug* behavior?**
Crash when initializing opentok

**What is the expected *correct*

[2022-01-13 08:44] FreshWebCoder commented on #551
I faced same issue, and I had to pass empty array to the `customServers` options.

[code]

[2022-01-13 14:13] #551 closed

[2022-01-13 18:01] tejaspradyumna commented on #255
Thank You for the fix

[2022-01-14 06:18] gautammukoo opened #562 "app audio gets lost after declining an incoming phone call"
Commenting to update the opentok-react-native version compatible to Vonage Video API iOS SDK --> Version 2.21.3

This version fixes an issue where app audio gets lost after declining an incoming phone call.

please refer --> https://tokbox.com/developer/sdks/ios/release-notes.html

[2022-01-14 06:19] gautammukoo commented on #562
@abdulajet

[2022-01-14 06:35] gautammukoo commented on #445
@abdulajet Hi , please refer https://github.com/opentok/opentok-react-native/issues/562 , there is a features update provided by vonage itself . This can solve our problem.
Request to update the package to the latest.
Thankyou

[2022-02-01 17:51] RameshSain opened #573 "Video is not streaming from miui 12.5.1 devices"
Reproduce steps .

Use MIUI 12.5.1  Xiomi android devices and initiate a call .

[2022-02-01 18:54] moficodes commented on #573
Do you get any specific error logs?

[2022-02-02 06:34] RameshSain commented on #573
No Its same as usual no error just black screen

[2022-02-03 14:22] enricop89 commented on #558
I updated the sample app removing jCenter dependencies and adding mavenCentral. You can find [here](https://github.com/opentok/opentok-react-native-samples/blob/main/BasicVideoChat/android/build.gradle) a working example.

I am going to close the issue

[2022-02-03 14:22] #558 closed

[2022-02-03 14:23] enricop89 commented on #561
Can you reproduce it with https://github.com/opentok/opentok-react-native-samples/blob/main/BasicVideoChat please?

[2022-02-03 14:25] enricop89 commented on #556
Thanks for filling the issue. Can you provide more details, please? Also, can you reproduce with sample apps https://github.com/opentok/opentok-react-native-samples/blob/main/BasicVideoChat/android/build.gradle?

[2022-02-03 14:25] #556 closed

[2022-02-03 14:30] enricop89 commented on #555
Thanks, I've created a PR: https://github.com/opentok/opentok-react-native/pull/576

[2022-02-03 14:32] #552 closed

[2022-02-03 14:34] enricop89 commented on #537
@sunweiyang are you still experiencing this issue?

[2022-02-03 14:41] enricop89 commented on #527
I updated the sample app removing jCenter dependencies and adding mavenCentral. You can find [here](https://github.com/opentok/opentok-react-native-samples/blob/main/BasicVideoChat/android/build.gradle) a working example.

I am going to close the issue

[2022-02-03 14:44] enricop89 commented on #524
This should have been fixed with https://github.com/opentok/opentok-react-native/pull/525

[2022-02-03 14:44] #524 closed

[2022-02-03 18:35] sunweiyang commented on #537
This is still happening, but we haven't updated opentok-react-native for our app beyond 0.19.0 yet. Do the new versions fix this issue?

[2022-02-04 16:58] enricop89 commented on #537
Probably, the latest version (0.20.1) has the latest native SDKs for Android and iOS. If you can test and get back to me, it would be very appreciated

[2022-02-04 23:38] impe93 commented on #536
Hi @enricop89 ! `sessionEventHandlers` is updated everytime `onStreamCreated` or `updateStreamsProps` have new references. So `eventHandlers` has a new reference every time `sessionEventHandlers` update (when useMemo is triggered). As I write in the issue, I've noticed that internally doesn't updated the reference to the object passed to eventHandlers, but only update the first time.

[2022-02-09 08:00] billy220 opened #577 "Video is not streaming on IOS"
## Current behavior
I can see my own video, but not the video of anyone else in the session. Android works just fine.

## What is the current bug behavior?
Can't see other people's videos on ios
Subscriber eventhandler videoDataReceived not work
![image](https://user-images.githubusercontent.com/96406881/153154158-77752fa7-199c-45b9-b26c-262dc16a7818.png)

[code]

## What is the expected correct b

[2022-02-09 11:02] enricop89 commented on #536
Thanks, I still don't understand the use case and why you want to update the reference to functions (`onStreamCreated` or `updateStreamsProps`). Can't you just use the following (without passing a function basically):

[code]

[2022-02-09 15:51] impe93 commented on #536
Well, `useMemo` doesn't create a function but returns a value and always returns the same object reference if dependencies (second parameters list) don't update. So is the same thing that you write in your comment but is a bit optimized, you probably want to [read more about useMemo](https://reactjs.org/docs/hooks-reference.html#usememo).

The problem here is that if I want (and before I wanted to

[2022-02-10 03:06] billy220 commented on #577
It was because of the 'react native webrtc' we were using together, so we close the issue.

[2022-02-10 03:06] #577 closed

[2022-02-10 11:26] enricop89 commented on #536
@impe93 thanks for the explanation, I will tag this issue as "feature request" 😀 . Thanks again!

[2022-02-10 21:48] bigethan commented on #58
as it's been 4 years, is this still the case?

[2022-02-15 11:06] RishiSingh1234567890 opened #580 "Stereo Audio"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2022-02-15 11:06] RishiSingh1234567890 commented on #580
How to enable Stereo Audio in openTok ?

[2022-02-15 13:21] enricop89 commented on #580
On the session component, there is a property called `enableStereoOutput ` (https://github.com/opentok/opentok-react-native/blob/main/docs/OTSession.md#setting-session-options). If you set it to true, stereo output is enabled

[2022-02-15 13:21] #580 closed

[2022-02-19 09:40] Molecule666 commented on #527
simple awesome. tanks.

[2022-02-23 16:19] shinnshi commented on #276
only for android.
   I was able to switch between "ear" and "speaker" mode using `InCallManager.presetSpeakerphoneOn(false)` after the call
  is started.

[2022-03-10 13:26] gab07 commented on #402
In our app we use a [Foreground Service](https://developer.android.com/guide/components/foreground-services)

[2022-03-11 21:36] kazama-wip opened #582 "Separate session connection and Publish,Subscribe timing."
# Feature Request

**Description**

We want to mount each item at any given time.
Currently implementation with the code below is not possible and will result in an error.

[code]

The only way to achieve accurate call functionality is to subscribe to the call status on another server or to cancel or terminate the call by specifying the number of seconds.

Also, the current documentation, which do

[2022-03-17 11:38] NAVEENCHVSPOP commented on #386
Any update?

[2022-03-17 12:51] NAVEENCHVSPOP commented on #549
@enricop89  Any update?

[2022-03-23 07:56] KiranRadish opened #583 "What if Permission is denied on android?"
**Please post usage questions or broader discussions on [StackOverflow](https://stackoverflow.com/questions/ask?tags=opentok+react-native)**.

---

For **feature requests**, please fill out the [feature request template](https://github.com/opentok/opentok-react-native/issues/new?template=feature_request.md)

---

For **bug reports**, please fill out the [bug report issue template](https://github.c

[2022-03-23 09:18] #583 closed

[2022-04-04 18:41] relm923 opened #584 "Incompatible with Apple Silicon (arm64)"
# Bug Report

**Current behavior**
Unable to run app on iOS simulator from Mac with Apple Silicon (arm64)

**Steps to reproduce**
https://github.com/opentok/opentok-react-native-samples/issues/89

**Example Project**
https://github.com/opentok/opentok-react-native-samples/issues/89

**What is the current *bug* behavior?**
Fails to build app on simulator

**What is the expected *correct* behavior?*

[2022-04-05 07:06] fi5u opened #585 "`pod install` fails after updating library"
# Bug Report

**Current behavior**
I updated opentok-react-native from 0.19.0 to 0.20.1. I then ran `pod install`. This fails with an incompatibility message.

**Steps to reproduce**
From using a functional 0.19.0 version of opentok-react-native, `npm install` version 0.20.1. Enter the _ios_ directory and run `pod install`.

**What is the current *bug* behavior?**
After auto-linking, the following

[2022-04-05 07:54] fi5u commented on #585
It seems this issue was related to the fact that I am running it on an M1 Mac.

To fix it I followed [these instructions](https://medium.com/@alberto.schiabel/how-to-fix-pod-install-error-in-react-native-on-mac-m1-5d79dc52f7e8). Then updated the pod repo: `arch -x86_64 pod repo update`.

Afterwards, I was able to pod install successfully with `arch -x86_64 pod install`

[2022-04-05 07:54] #585 closed

[2022-04-05 08:06] enricop89 commented on #584
This bug is not related to the opentok-react-native library but to the Opentok iOS SDK.

From Opentok documentation:

https://tokbox.com/developer/sdks/ios/release-notes.html#issues-using-xcode-simulator-to-preview-your-app-on-a-mac-with-an-m1-chip

[2022-04-05 08:06] #584 closed

[2022-04-21 11:46] Panda-ref opened #588 "Fatal Exception: java.lang.RuntimeException: eglCreateWindowSurface: EGL error: 0x3003"
# Bug Report

[code]

**Relevant logs and/or screenshots**
[code]

[code]

[2022-05-12 05:17] krishna8077 opened #590 "Brodcast Stream"
Hi Team  Actually i am facing a issue in samsung s21 ultra when i start event the camera is not open with OTSession ,OTPublisher..
i have set the event id,and all the param in OTSession,OTPublisher Properties...

Please suggest me any solution about it thanks..

[2022-05-14 04:56] Playfrog4u opened #592 "new NativeEventEmitter() was called with a non-null argument without the required"
# Bug Report

**Current behavior**

and `new NativeEventEmitter()` was called with a non-null argument without the required `removeListeners` method yellow box warnings only on android. iOS does not present this issue

**Steps to reproduce**

"react": "17.0.2",
"react-native": "0.65.1"

**Example Project**

**Relevant logs and/or screenshots**

![Screenshot_20220513-232909](https://user-images.git

[2022-05-14 05:39] Playfrog4u opened #593 "ViewPropTypes will be removed from React Native"
# Bug Report

**Current behavior**

**Steps to reproduce**

**Example Project**

**Possible fix**

[react-native 0.68 Changelog](https://github.com/facebook/react-native/blob/66419ed8f5be4e0efca4e0f261d902607408f29c/CHANGELOG.md#changed)

The file that  needs updates is the `/src/OTSession.js` on line 2

**Relevant logs and/or screenshots**

[2022-05-16 09:15] enricop89 commented on #593
Thanks for reporting, I'll have a look soon

[2022-05-16 20:25] Playfrog4u commented on #593
Thank you!

[2022-05-26 06:51] billy220 opened #602 "Cannot attach to new session when sessionId of OTsession is changed"
# Bug Report

**Current behavior**
If the sessionId is changed after the OTSession is mounted, you cannot start a call with a new session. Is this a known issue?

**Steps to reproduce**
Change sessionId after OTsession is mounted

**What is the current *bug* behavior?**
If the sessionId is changed after the OTSession is mounted, you cannot start a call with a new session

**What is the expected *c

[2022-05-26 14:00] ShubhamSharma-iOS commented on #602
I am also getting the same error, after updating from 0.18.0 to 0.20.3. Any ideas on how to resolve this issue?

[2022-05-27 13:48] enricop89 commented on #602
It's not how it is supposed to work. You should unmount the OTSession component and use a new sessionID

[2022-05-27 13:50] enricop89 commented on #590
Can I please try to reproduce with https://github.com/opentok/opentok-react-native-samples/tree/main/BasicVideoChat?

[2022-05-27 13:50] #590 closed

[2022-05-27 13:51] enricop89 commented on #588
Can you provide steps to reproduce please?

[2022-05-27 13:52] enricop89 commented on #582
Why do you need to only connect and not publish or subscribe? Can you elaborate your use case please?

[2022-05-27 13:52] #573 closed

[2022-05-27 13:53] enricop89 commented on #562
It's fixed on the latest version of the library

[2022-05-27 13:53] #562 closed

[2022-05-27 13:54] enricop89 commented on #561
Please feel free to reopen the issue if it's reproducable

[2022-05-27 13:54] #561 closed

[2022-05-27 13:56] enricop89 commented on #560
Can you provide more details please?

[2022-05-27 14:01] enricop89 commented on #55
Unfortunately this is not implemented on Native SDK so not feasible at this point

[2022-05-27 14:04] enricop89 commented on #268
Should be possible with https://github.com/opentok/opentok-react-native/blob/main/docs/OTSubscriber.md#custom-rendering-of-streams

[2022-05-27 14:04] #268 closed

[2022-05-27 14:04] #538 closed

[2022-05-27 14:05] enricop89 commented on #173
Duplicate of #159

[2022-05-27 14:05] #173 closed

[2022-05-27 14:09] #249 closed

[2022-05-27 14:10] #205 closed

[2022-05-27 14:10] #420 closed

[2022-05-27 14:11] #430 closed

[2022-05-27 14:11] #400 closed

[2022-05-27 14:14] enricop89 commented on #500
Duplicate #159

[2022-05-27 14:14] #500 closed

[2022-05-27 14:14] #442 closed

[2022-05-30 13:58] #602 closed

[2022-05-30 14:14] abdulajet commented on #513
Thanks for the issue, can you please try the latest version of the library which includes updates to the underlying Android and iOS native SDKs. If the issue persists please reopen this issue or create a new one.

[2022-05-30 14:14] abdulajet commented on #532
Thanks for the issue, can you please try the latest version of the library which includes updates to the underlying Android and iOS native SDKs. If the issue persists please reopen this issue or create a new one.

[2022-05-30 14:14] #532 closed

[2022-05-30 14:19] abdulajet commented on #534
Thanks for the issue, if the issue persists please reopen this issue or create a new one.

[2022-05-30 14:19] #534 closed

[2022-05-30 14:19] abdulajet commented on #535
Thanks for the issue, can you please try the latest version of the library which includes updates to the underlying Android and iOS native SDKs. If the issue persists please reopen this issue or create a new one.

[2022-05-30 14:19] #535 closed

[2022-05-30 14:20] #537 closed

[2022-05-30 14:28] #553 closed

[2022-05-30 14:28] abdulajet commented on #554
Thanks for the issue, can you please try the latest version of the library which includes updates to the underlying Android and iOS native SDKs. If the issue persists please reopen this issue or create a new one.

[2022-05-30 14:28] #554 closed

[2022-06-03 19:51] relm923 opened #605 "Update native SDKs to 2.22.3"
Latest iOS: [2.22.3](https://cocoapods.org/pods/OpenTok)

Latest Android: [2.22.3](https://search.maven.org/artifact/com.opentok.android/opentok-android-sdk/2.22.3/aar)

[2022-06-06 13:33] #605 closed

[2022-06-08 14:34] rajasekhar911 commented on #577
hi
can you please let us know how this issue was resolved? we are also using the react-native-webrtc for another feature and opentok video stopped working in ios.
thanks

[2022-06-10 11:29] rajasekhar911 opened #607 "Using this library alongside the react-native-webrtc"
# Bug Report

**Current behavior**

**Steps to reproduce**

do pod install
connect to opentok session and observe the videos

**What is the current *bug* behavior?**

**What is the expected *correct* behavior?**

**Relevant logs and/or screenshots**

`Class RTCDefaultVideoDecoderFactory is implemented in both /private/var/containers/Bundle/Application/A53CFF3D-AD4B-434D-8637-36B7CBFAB0B0/care.app/

[2022-06-10 11:56] enricop89 commented on #607
The library is not supposed to be used with another webrtc library (such as `react-native-webrtc`). May I ask why do you need both libraries?

[2022-06-13 06:16] #607 closed

[2022-06-13 13:32] tahagates97 commented on #472
Hey @deermichel I'm facing exact issue on title rn. Can you provide more information about this idk what is PR and how to use it?

[2022-06-17 01:52] evillemez commented on #271
Just curious of anyone is still experiencing this on the most recent versions?

[2022-06-17 15:32] enricop89 commented on #593
@Playfrog4u  would you mind testing #609 ?

[2022-06-19 10:33] TalhaAhsan commented on #445
Latest version of the library fixes this, see #562.

[2022-06-19 10:45] TalhaAhsan commented on #397
Are you still facing this issue?

[2022-06-19 10:45] TalhaAhsan commented on #394
Are you still facing this issue?

[2022-06-19 10:49] TalhaAhsan commented on #368
Are you still facing this issue?

[2022-06-19 10:55] TalhaAhsan commented on #277
Is this still an issue with newer versions of the library?

[2022-06-20 06:43] #445 closed

[2022-06-20 07:07] TalhaAhsan commented on #183
Is this an issue you are still facing with more recent versions of the library?

[2022-06-20 07:15] TalhaAhsan commented on #349
This should be fixed now in the latest version of the library. Release notes mention that the cycleCamera() issue with Samsung phones has been fixed in version 2.21.3. You can see [here](https://tokbox.com/developer/sdks/android/release-notes.html).

[2022-06-20 14:42] colinm commented on #533
I've done it using a react-native-view-shot and react-native-community/cameraroll with custom code. Works well.

[2022-06-21 18:27] #349 closed

[2022-06-22 06:46] TalhaAhsan commented on #409
This seems to have been solved in [this](https://github.com/opentok/opentok-react-native/pull/567) pull request. You can open the issue again if this PR hasn't solved the issue.

[2022-06-22 06:46] #409 closed

[2022-06-22 07:16] TalhaAhsan commented on #402
As already mentioned by gab07, the Android way to handle this would be by using a [Foreground Service](https://developer.android.com/guide/components/foreground-services). Background work is done only when you want to perform some task that is not visible to the user, you can read more about this [here](https://developer.android.com/guide/background)

[2022-06-24 13:00] asmt3 opened #610 "v0.21.0: "error: memory read failed for 0x7391004200""
# Bug Report

**Current behavior**

Since upgrading from
"opentok-react-native": "^0.20.1" to "opentok-react-native": "^0.21.0",

When I try to start a session

I get a runtime error "memory read failed at 0x7...." and the app crashes while debugging via XCode. I haven't tried a release build yet.

Reverting to 0.20.1 makes the crash not happen

iOS only. The crash does not happen on Android.

**S

[2022-06-24 13:48] enricop89 commented on #610
Thanks for filling the issue. Can you reproduce it with https://github.com/opentok/opentok-react-native-samples?

[2022-06-25 08:51] simdanonline commented on #368
I am also facing this issue

[2022-06-27 08:03] enricop89 commented on #368
This issue is two years old. Can you reproduce it with the latest version? If so, can you provide steps to reproduce?
Thanks

[2022-06-28 12:17] prabhat13528 opened #611 "Option to mute microphone of the publisher through a button"
Currently, I can hover over the video and mute the mic but is there any other way to access the function/method to mute the microphone through a button?

I am using the window.OT.initsession to create the session and the below code is used to create the publisher stream:

[code]

I know that the **publishAudio** can be used to mute but once the publisher stream has started, changing the state vari

[2022-06-28 12:21] enricop89 commented on #611
This is part of your implementation. You can see an example here:

1. Button: https://github.com/enricop89/multiparty-video-react-native/blob/master/App.js#L337
2. Action: https://github.com/enricop89/multiparty-video-react-native/blob/master/App.js#L115

[2022-06-28 12:21] #611 closed

[2022-06-28 15:47] prabhat13528 commented on #611
Thank you for the samples and the quick response but I mistakenly posted on the react-native project instead of the node js project. But would the implementation differ for node? Or Should I post it on opentok-node project?

[2022-06-29 04:22] prabhat13528 commented on #611
Correction: Opentok-react(https://github.com/opentok/opentok-react). I am fairly new to this so got confused.

[2022-07-04 14:37] garyThrels commented on #58
@msach22 would be grate to know if this is still the case? or if support is planned?

[2022-07-07 16:29] bahalperin opened #612 "SubscribeToSelf Does Not Work"
# Bug Report

**Current behavior**
The prop `subscribeToSelf` on `OTSubscriber` does not seem to do anything.

**Steps to reproduce**
Pull down [this branch](https://github.com/bahalperin/opentok-react-native-samples/tree/bh/subscribe-to-self-bug) and run the example app.  Join a session and you'll see yourself once (just the publisher).  I would expect to see a second video for the subscriber.  I

[2022-07-09 00:21] dp85 commented on #353
In 2.22.1 I also needed to add:

-keep class com.vonage.** { *; }

[2022-07-18 17:20] #277 closed

[2022-07-18 17:23] TalhaAhsan commented on #394
Closing this issue as is stale now. If required, a new issue can be opened.

[2022-07-18 17:23] #394 closed

[2022-07-18 17:58] TalhaAhsan commented on #271
Closing this issue as it is outdated. You can open a new ticket if this issue still persists.

[2022-07-18 17:58] #271 closed

[2022-07-18 17:59] TalhaAhsan commented on #397
Closing this issue as it is old. If the issue still persists, a new issue can be opened.

[2022-07-18 17:59] #397 closed

[2022-07-18 18:03] TalhaAhsan commented on #402
Closing this issue as there were no further queries made.

[2022-07-18 18:03] #402 closed

[2022-07-19 12:31] TalhaAhsan commented on #368
Closing this issue as we haven't received a response yet. Please open a new issue with further documentation like steps to reproduce if you continue to face this issue.

[2022-07-19 12:31] #368 closed

[2022-07-19 12:43] TalhaAhsan commented on #183
Closing this issue as we haven't received a response yet, please open a new issue if you continue facing this problem.

[2022-07-19 12:43] #183 closed

[2022-07-19 13:01] TalhaAhsan commented on #592
Can you verify if this is still causing an issue for you after the change by @enricop89

[2022-07-19 13:01] #592 closed

[2022-07-19 23:24] TalhaAhsan commented on #560
Seems like a duplicate of #439. Can you provide further information there?

[2022-07-19 23:24] #560 closed

[2022-07-19 23:44] TalhaAhsan commented on #312
Closing this issue as @tomek29k mentioned using useTextureViews resolves this issue here:
https://github.com/opentok/opentok-react-native/pull/259#issuecomment-537904984
As mentioned by @t4ngth00 as well.

[2022-07-19 23:44] #312 closed

[2022-07-20 08:50] wolfej94 commented on #561
This is happening on the iOS SDK also, I'm not sure if it being reproducible is entirely relevant as it's literally crashing on the initialiser in iOS 15.

<img width="966" alt="Screenshot 2022-07-20 at 09 49 40" src="https://user-images.githubusercontent.com/56296015/179939878-f6fa3b4b-f0b0-4e4a-9d4b-826136335186.png">

[2022-07-21 12:44] wolfej94 commented on #561
Yes

[2022-07-21 12:54] enricop89 commented on #561
@wolfej94 can you provide steps to reproduce, please? We are not having any reports from customers about this crash, so if you could provide any pointers it would help a lot

[2022-07-21 12:56] wolfej94 commented on #561
I honestly don't have any steps, it happens intermittently on devices with iOS 15+ and this is the stack at the time of crashing and it throws an unhandled exception.

![](https://user-images.githubusercontent.com/56296015/179939878-f6fa3b4b-f0b0-4e4a-9d4b-826136335186.png)

[2022-07-22 00:28] shinnshi commented on #582
Thanks for the reply.

One of the basic functions of a call is that the party initiating the call may wish to cancel it for some reason.
In such a case, the party receiving the incoming call will receive this information.

[2022-07-22 08:14] wolfej94 commented on #561
@enricop89 can you confirm if someone is looking into this please?

[2022-07-22 08:46] enricop89 commented on #561
@wolfej94 can you open a ticket at support@tokbox.com please?

[2022-07-22 15:20] NicholasBoccuzzi opened #613 "IOS Hard Crash when bumping to 0.21.0. `Thread 30: EXC_BAD_ACCESS (code=EXC_I386_GPFLT)`"
# Bug Report

**Current behavior**
We copy-pasted the `BasicVideoChat` code from the samples into our own codebase. The BasicVideoChat sample currently uses `"^0.20.3"` and works in our code! However, bumping the version to the latest release on npm, `0.21.0` causes an immediate crash using the same code when passing in a `apiKey`, `sessionId` and `token`.

We have tested using the [opentok-react-

[2022-07-25 10:32] abdulajet commented on #613
Thanks for the report! We are taking a look

[2022-07-28 14:15] izbari opened #614 "Cannot read property 'OTSession' of undefined"
opentok-react-native version => ^0.21.0
    react-native  version=> 0.69.1

I am getting an error as below;
I watched the right steps while installing the package. But React Native 0.69 with Auto Linking was removed. Since I could not link manual, I downgrade the react native version and link. I continued to get the same error.
Openok Creadentals Are True i Tested in Playground.

![image](https://

[2022-07-28 14:28] noaholsson commented on #593
@enricop89 I'm experiencing the same problem and #609 fixed the problem for me.
When can I expect it to get released?

[2022-07-28 15:53] enricop89 commented on #593
@noaholsson we are currently having a problem with the 0.21.0 release which crashes on iOS - let me think of a way to cherry-pick #609 and push it to a new 0.20.4

[2022-07-29 16:47] izbari commented on #614
i solved the issue. the issue is OTSession file importing ViewPropTypes but it was deprecated. I produces error instead of warning. I solved the error by importing ViewPropTypes from deprecated-prop-types package.

[2022-08-02 06:33] TalhaAhsan commented on #614
Closing this issue as it was solved.

[2022-08-02 06:33] #614 closed

[2022-08-02 07:52] anshumanburman commented on #414
@Shivani12345  did you get any solution for this?. Bcz I also need the same feature.

[2022-08-05 08:22] enricop89 commented on #593
This should be fixed with the `0.20.4` version: https://www.npmjs.com/package/opentok-react-native

[2022-08-05 08:22] #593 closed

[2022-08-05 08:28] enricop89 commented on #610
Duplicate #613

[2022-08-05 08:28] #610 closed

[2022-08-08 17:22] feliperugai commented on #58
That would be great. Expo gives us great features and is a very good starter.
Now they have a [Config Plugins](https://docs.expo.dev/guides/config-plugins/) feature that enable native features to be "embed" in the build process.
Is this support planned?

[2022-08-17 11:41] izbari opened #616 "Crash immediately when starting video call in release apk"
[code]

any help @abdulajet  ?

[2022-08-17 13:58] izbari commented on #616
i solved the issue with adding list of rules into proguard-rule file of your project.

[code]

Go android/app/build.gradle and  put these config below under the buildTypes/release

[code]

[2022-08-17 13:58] #616 closed

[2022-09-12 20:08] rtmruczek commented on #614
Hello! Was this issue actually solved? It looks like OTSession (and a few other components) are still importing `ViewPropTypes`.

This is going to break on RN versions > `0.69` because the `prop-types` system was removed. Perhaps I can put up a PR for this.

[2022-09-13 08:54] ndlonghi opened #617 "Android crash on startup (Exception java.lang.RuntimeException)"
# Bug Report

**Current behavior**

**Steps to reproduce**

`"react-native": "0.69.4"`
`buildToolsVersion = "31.0.0"`
`minSdkVersion = 21`
`compileSdkVersion = 32`
`targetSdkVersion = 31`
Android version of the devices with crashes: 11, 10, 9

This issue appeared when we upgraded to `"opentok-react-native": "0.20.4"` (this was required to upgrade to react native 0.69). Disappeared when reverted ba

[2022-09-13 13:19] enricop89 commented on #617
Which Android version are you running?

[2022-09-13 13:32] enricop89 commented on #617
Applications targeting API level 31 and above now require permission BLUETOOTH_CONNECT in addition to the other required permissions.Additionally, applications targeting API level 31 and above now require permission BLUETOOTH_CONNECT in addition to the other required permissions.

https://tokbox.com/developer/sdks/android/release-notes.html

[2022-09-13 13:38] enricop89 commented on #613
@NicholasBoccuzzi do you have any updates? I am trying to debug the issue but still no good news

[2022-09-16 14:06] vmeditab commented on #302
Facing same issue... After 15-20 minutes joining the session, phone is getting heat. Using below code,

Publisher.Builder(this)
            .name(getProviderJSONString())
            .resolution(Publisher.CameraCaptureResolution.MEDIUM)
            .frameRate(Publisher.CameraCaptureFrameRate.FPS_1)
            .build()

[2022-09-16 16:51] cesa1995 commented on #577
I still have the same issue, all work fine without react-native-webrtc, any update?

[2022-10-14 10:36] enricop89 commented on #613
I published a new version `0.21.1` that fixes the iOS bug. Let me know!

[2022-10-14 10:36] #613 closed

[2022-10-14 10:36] enricop89 commented on #610
I published a new version `0.21.1` that fixes the iOS bug. Let me know!

[2022-10-14 12:22] asmt3 commented on #610
Thank you. Will test :)

[2022-10-24 08:14] enricop89 commented on #561
This should be fixed with the new version `0.21.1`

[2022-10-27 15:44] vineus commented on #588
hey @enricop89 !

I have the same issue, when the component is umounted:

[code]

package version: `opentok-react-native: 0.20.4`

I have it only when

[code]

if I remove `useTextureViews: true`: no issue

[2022-11-02 09:53] OttoLaitinen opened #624 "Connecting a Bluetooth headset on Android while in a session is broken with Gradle Plugin 4.2.x or higher"
# Bug Report

**Current behavior**

Using Android Gradle Plugin 4.2.x or higher results in problems with Bluetooth on Android.

**Steps to reproduce**

1. Clone BasicVideoChat example [Link](https://github.com/opentok/opentok-react-native-samples)
2. Change Gradle Plugin version to 4.2.2 in `android/build.gradle` (It needs Gradle version 6.7.1 so change that also)
3. Open the App on a physical And

[2022-11-06 06:42] elie-chaaban commented on #518
videoEnabled or videoDisbaled in not workign

const subscriberEventHandlers = {
    connected: () => {
      console.log('[subscriberEventHandlers - connected]');
    },
    disconnected: () => {
      console.log('[subscriberEventHandlers - disconnected]');
    },
    error: (error) => {
      console.log('subscriberEventHandlers error:', error);
    },
    videoEnabled: (ev) => {
      console.l

[2022-11-08 13:32] enricop89 commented on #624
WE are aware of it, it's an issue present also on the Android SDK. The team is working on a fix.

[2022-11-10 08:13] pietgk commented on #624
FYI: we tried a workaround using enableStereoOutput: true option on the session.
with it the inSession bluetooth disconnect connect is working.
but we get an issue that the microphone is set as if we have the phone at your ear mode (not in speaker phone mode) when switching headset - speaker.

[2022-11-10 15:20] enricop89 commented on #624
@OttoLaitinen can you try with opentok-react-native 0.21.1? https://github.com/OttoLaitinen/opentok-react-native-samples-gradle-plugin-issue/blob/main/BasicVideoChat/package.json#L13

[2022-11-14 08:31] flogy commented on #443
@abdulajet Having the same error in version `0.20.4`. It happened on an Android 7.1.1 device after the app was in background and then moved back to foreground again (having a foreground service active).

I am not sure if there also were any permission dialogs coming up as the error occurred on a customer's device and was reported by our error reporting software which does not include logs of permi

[2022-11-14 16:53] vineus commented on #271
I might have found the issue:

when `OTSession` unmounts: https://github.com/opentok/opentok-react-native/blob/main/src/OTSession.js#L57-L59

a `disconnectSession()` function is called: https://github.com/opentok/opentok-react-native/blob/main/src/OTSession.js#L84-L90

when there is an error during the disconnect (eg: "the network is off"), the events are never cleaned up.

Calling the events clea

[2022-11-17 09:03] vineus commented on #271
@enricop89 : I tried the fix, unfortunately this doesn't solve the issue I have (reconnecting after a full disconnection) because the `OTSession` component doesn't seem to unmount at all when there was a disconnection event.

So there might be something else at play here preventing the component to unmount (another condition somewhere ?)

I won't dig more into this as the (ugly) workaround propose

[2022-11-21 12:45] OttoLaitinen commented on #624
Hi! Sorry it took some time to get back to you here on GH but I can confirm the bug can still be reproduced on 0.21.1 if every other version is kept the same as in the original issue description.

[2022-11-21 15:05] pietgk opened #626 "proxyUrl is not available in typescript type OTSessionSessionOptions"
The OTSessionSessionOptions in @types/index.d.ts does not include proxyUrl
OTSessionManager.swift and .java use it:
        settings.proxyURL = Utils.sanitizeStringProperty(sessionOptions["proxyUrl"] as Any);
        final String proxyUrl = sessionOptions.getString("proxyUrl");

i will create a PR to add proxyUrl to the OTSessionSessionOptions type to index.d.ts.

[2022-11-21 16:47] enricop89 commented on #271
@vineus ok so can you share the steps to reproduce, please? Is it just connect to a session, disconnect the network and trigger a reconnect event?

[2022-11-22 14:03] vineus commented on #271
1. connect a session
2. disconnect the network
3. **wait for the session disconnect event** (takes more than 30 second - this is _not_ the "sessiontReconnecting" event this is the "sessionDisconnected")
4. unmount the `OTSession` component (eg: by displaying a loader "you lost your internet connection, attempting to reconnect..." or by navigating out of the current screen)
5. reconnect the network

[2022-11-28 13:54] devwithzachary commented on #588
Thank you for this, have you tested against the latest package version? 0.21.1

[2022-11-28 15:39] EdShel opened #628 "Android 13 video freezes after some time"
# Bug Report

**Current behavior**
On Android 13 after connecting, the video suddenly freezes - the image stays the same forever (both for the current user and other subscribers). The audio still works OK.

**Steps to reproduce**
1. Create and launch Android 13 simulator (API level 33) within Android Studio
2. Clone Github repository with [sample apps](https://github.com/opentok/opentok-react-nati

[2022-11-29 21:37] nicwise opened #629 "Please bump the opentok Android to 2.24.0"
We've been hitting this a lot

https://tokbox.com/developer/sdks/android/release-notes.html

[code]

We are going to patch node_modules for the moment, but it'd be lovely to get this into a proper release.